Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, prettier -c, stylelint

feat: theme switcher addon for Storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: npmPkgJsonLint

feat: output design tokens theme `.denhaag-theme`
  style-dictionary.config.json
Due: none

chore: disable Storybook backgrounds addon
  .storybook/main.js
Due: none

move alert stylelintrc to root stylelintrc
  .stylelintrc.json
  src/components/Alerts/.stylelintrc.json
Due: none

make AlertsProps extend BaseProps
  src/components/Alerts/src/index.tsx
Due: eslint, prettier -c

add line-height
  src/components/Link/src/link.css
Due: stylelint

Added html based variant to storybook
  src/components/Alerts/src/stories/Alerts.stories.mdx
Due: none

converted design tokens to style-dictionary
  src/styles/Components/src/denhaag/alert/block.style-dictionary.json
  src/styles/Components/src/denhaag/alert/buttons.style-dictionary.json
  src/styles/Components/src/denhaag/alert/content.style-dictionary.json
  src/styles/Components/src/denhaag/alert/modifiers.style-dictionary.json
  src/styles/Components/src/tokens-alert.css
Due: stylelint

refactored iconbutton with token overwrites
  src/components/Alerts/src/alert.css
  src/components/Alerts/src/index.tsx
Due: eslint, prettier -c, stylelint

ran prettier
  src/components/Alerts/src/alert.css
Due: stylelint

added optionality to support Icon
  src/components/Alerts/src/index.tsx
  src/components/Alerts/src/stories/Alerts.stories.mdx
Due: eslint, prettier -c

Added iconbutton styling from .MuiButtonBase-root
  src/components/IconButton/src/iconbutton.css
Due: stylelint

fixed import
  src/components/Alerts/src/index.tsx
Due: eslint, prettier -c

replaced css by bem modifiers
  src/components/Alerts/src/alert.css
  src/components/Alerts/src/index.tsx
Due: eslint, prettier -c, stylelint

Feedback processed background-color & bugs
  src/components/Alerts/src/alert.css
  src/styles/Components/src/tokens-alert.css
Due: stylelint

fixed close icon color, alignment of main section
  src/components/Alerts/src/alert.css
  src/components/Alerts/src/index.tsx
  src/styles/Components/src/tokens-alert.css
Due: eslint, prettier -c, stylelint

Refactored optional argument definitions
  src/components/Alerts/src/index.tsx
Due: eslint, prettier -c

removed redudent properties that are already default
  src/components/Alerts/src/index.tsx
Due: eslint, prettier -c

Fixed focusability of Close Icon
  src/components/Alerts/src/alert.css
  src/components/Alerts/src/index.tsx
  src/styles/Components/src/tokens-alert.css
Due: eslint, prettier -c, stylelint

Updated html snippet
  src/components/Alerts/src/stories/Alerts.stories.mdx
Due: none

updated readme and added html code snippet
  src/components/Alerts/README.md
  src/components/Alerts/src/index.tsx
  src/components/Alerts/src/stories/Alerts.stories.mdx
Due: eslint, prettier -c

Added denhaag-icon class to icons to properly allow styling them
  src/components/Icons/src/bem-mapping.ts
  src/components/Icons/src/icon.css
  src/components/Icons/src/index.tsx
Due: eslint, prettier -c, stylelint

Processed feedback
  src/components/Alerts/package.json
  src/components/Alerts/src/alert.css
  src/components/Alerts/src/stories/Alerts.stories.mdx
  src/components/Alerts/tsconfig.json
  src/styles/Components/src/tokens-alert.css
Due: npmPkgJsonLint, stylelint

Alert styling for icon, buttons and typographies
  src/components/Alerts/.stylelintrc.json
  src/components/Alerts/package.json
  src/components/Alerts/src/alert.css
  src/components/Alerts/src/index.tsx
  src/components/Alerts/src/stories/Alerts.stories.mdx
  src/components/Icons/src/index.tsx
  src/components/Icons/src/svg/informational/circle-information.svg
  src/styles/Components/src/tokens-alert.css
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

renamed 'main' bem-mapping
  src/components/Alerts/src/alert.css
  src/components/Alerts/src/index.tsx
Due: eslint, prettier -c, stylelint

refactored alert typography selectors
  src/components/Alerts/.stylelintrc.json
  src/components/Alerts/src/alert.css
  src/components/Typography/src/paragraph.css
Due: stylelint

refactored paragraph selector
  src/components/Alerts/src/alert.css
  src/components/Typography/src/paragraph.css
Due: stylelint

added design token block
  src/components/Alerts/src/stories/Alerts.stories.mdx
  src/styles/Components/src/tokens-alert.css
Due: stylelint

more design-tokens, fixed iconbutton color
  src/components/Alerts/src/alert.css
  src/components/Alerts/src/index.tsx
  src/styles/Components/src/tokens-alert.css
Due: eslint, prettier -c, stylelint

removed unnecessary MUI classes from html snippet
  src/components/Alerts/src/stories/Alerts.stories.mdx
Due: none

refactored button selectors
  src/components/Alerts/src/alert.css
  src/styles/Components/src/tokens-alert.css
Due: stylelint

updated card link in readme
  src/components/Alerts/README.md
Due: none

added icons dependency
  src/components/Alerts/package.json
Due: npmPkgJsonLint

Adjusted HTML story to use proper classes and removed MUI classname leftovers
  src/components/Alerts/src/stories/Alerts.stories.mdx
Due: none

Added html snippet to more complicated alert
  src/components/Alerts/src/stories/Alerts.stories.mdx
Due: none

added component types and storybook stories
  src/components/Alerts/README.md
  src/components/Alerts/package.json
  src/components/Alerts/src/index.tsx
  src/components/Alerts/src/stories/Alerts.stories.mdx
  src/components/Alerts/tsconfig.json
Due: npmPkgJsonLint, eslint, prettier -c

renamed design tokens in alert to avoid ambiguity
  src/components/Alerts/src/alert.css
  src/styles/Components/src/tokens-alert.css
Due: stylelint

Path conditions:
  npmPkgJsonLint: any of: package.json
  eslint: any of: *.{ts,tsx}
  prettier -c: any of: *.{ts,tsx}
  stylelint: any of: *.css
