Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

refactor: instead of having unnecessary props there just attributes
  .storybook/stories/templates/Lopende-zaken-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add Status and ProcessSteps to case request
  .storybook/stories/templates/CaseRequest-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: add case request template
  .storybook/stories/templates/CaseRequest-page.scss
  .storybook/stories/templates/CaseRequest-page.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: the t had to be capitalized for some reason and changed import order
  .storybook/stories/templates/Lopende-zaken-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: changed title so it is not in a folder but has a title
  .storybook/stories/templates/Lopende-zaken-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

perf: removed CaseRequest-page.scss
  .storybook/stories/templates/CaseRequest-page.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: renamed story object and removed unused imports
  .storybook/stories/templates/04-CaseRequest-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: tabsprops now have the missing panelcontent prop
  .storybook/stories/templates/Lopende-zaken-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: the cards now are styled like the figma
  .storybook/stories/templates/Lopende-zaken-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fixed faulty tabs props
  .storybook/stories/templates/Lopende-zaken-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: action component css
  components/Action/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: action component css (#1347)
  components/Action/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(card-calendar): refactor component, html and css
  components/CardCalendar/src/index.scss
  components/CardCalendar/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/calendar.tokens.json
  proprietary/Components/src/denhaag/card-calendar.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(calendar): rename to card
  components/CardCalendar/src/index.scss
  proprietary/Components/src/denhaag/calendar.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: change tab cursor to default arrow cursor
  components/Tab/src/styles/_tab.scss
  proprietary/Components/src/denhaag/tabs.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(calendar): fix token
  proprietary/Components/src/denhaag/calendar.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Feature/gdh 1174 calendar grid (#1349)
  components/CardCalendar/src/index.scss
  components/CardCalendar/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/calendar.tokens.json
  proprietary/Components/src/denhaag/card-calendar.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: create page
  .storybook/stories/templates/Messages-page.stories.mdx
  tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: action component date difference
  components/Action/src/ActionDate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: action component remove fixed bold content
  components/Action/src/ActionContent.tsx
  components/Action/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: add list of messages to template
  .storybook/stories/templates/Messages-page.scss
  .storybook/stories/templates/Messages-page.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: add table header
  .storybook/stories/templates/Messages-page.scss
  .storybook/stories/templates/Messages-page.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: action examples strong 600
  .storybook/stories/templates/CaseDetail-page.stories.mdx
  components/Action/src/ActionContent.tsx
  components/Action/src/index.scss
  components/Action/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/action.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: fix possible issue with specificity
  components/ContactTimeline/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: add templates
  .storybook/stories/templates/02-Overview-page.stories.tsx
  .storybook/stories/templates/04-CaseRequest-page.stories.tsx
  .storybook/stories/templates/04-Current-affairs-page.stories.tsx
  .storybook/stories/templates/05-Case-detail-page.stories.tsx
  components/Icons/src/index.tsx
  components/Icons/src/svg/objects/building.svg
  components/Icons/src/svg/objects/euro.svg
  components/Icons/src/svg/objects/filestorage.svg
  components/Icons/src/svg/objects/house-with-euro.svg
  components/Icons/src/svg/objects/map.svg
  proprietary/Components/src/utrecht/badge-counter.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add aria label to links in card
  components/Card/src/Card/CaseCard.tsx
  components/Card/src/Card/SubjectCard.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: made cursors consistent: for now use pointer
  components/Tab/src/styles/_tab.scss
  proprietary/Components/src/denhaag/tabs.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern
