Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

fix(card): clamp title to two lines
  components/Card/src/Card/card.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@005971d706ecd83fd6729b82d5911ebb7eaf69ca 🚀
  iframe.html
  main.708bb633.iframe.bundle.js
  main.708bb633.iframe.bundle.js.LICENSE.txt
  main.708bb633.iframe.bundle.js.map
  main.a6291ae7.iframe.bundle.js
  main.a6291ae7.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build(components-css): improve build process
  package.json
  packages/components-css/rollup.config.js
  packages/components-css/src/index.scss
  packages/components-css/src/index.tsx
  packages/components-css/tsconfig.json
  tsconfig.json
  tsconfig.storybook.json
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@d7ba32dd8792752ac313781c370234bdb09e42a9 🚀
  iframe.html
  main.708bb633.iframe.bundle.js
  main.708bb633.iframe.bundle.js.map
  main.a0b9bf8e.iframe.bundle.js
  main.a0b9bf8e.iframe.bundle.js.LICENSE.txt
  main.a0b9bf8e.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add timeline component
  components/Timeline/src/StepComponentProps.ts
  components/TimelineSubstatus/README.md
  components/TimelineSubstatus/package.json
  components/TimelineSubstatus/src/index.scss
  components/TimelineSubstatus/src/index.tsx
  components/TimelineSubstatus/src/stories/react.stories.tsx
  components/TimelineSubstatus/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor: rename step-icon to step-marker
  components/Timeline/specs/__snapshots__/Timeline.spec.jsx.snap
  components/Timeline/src/StepIcon.tsx
  components/Timeline/src/index.tsx
  components/Timeline/src/styles/step-icon.scss
  components/Timeline/src/styles/step-marker.scss
  packages/components-css/src/index.scss
  proprietary/Components/src/denhaag/timeline.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor: split into components with new BEM names
  components/TimelineSubstatus/src/Step.scss
  components/TimelineSubstatus/src/Step.tsx
  components/TimelineSubstatus/src/StepHeading.scss
  components/TimelineSubstatus/src/StepHeading.tsx
  components/TimelineSubstatus/src/StepHeadingLabel.scss
  components/TimelineSubstatus/src/StepHeadingLabel.tsx
  components/TimelineSubstatus/src/StepList.tsx
  components/TimelineSubstatus/src/StepMarker.scss
  components/TimelineSubstatus/src/StepMarker.tsx
  components/TimelineSubstatus/src/SubStep.scss
  components/TimelineSubstatus/src/SubStep.tsx
  components/TimelineSubstatus/src/SubStepHeading.scss
  components/TimelineSubstatus/src/SubStepHeading.tsx
  components/TimelineSubstatus/src/SubStepList.scss
  components/TimelineSubstatus/src/SubStepList.tsx
  components/TimelineSubstatus/src/SubStepMarker.scss
  components/TimelineSubstatus/src/SubStepMarker.tsx
  components/TimelineSubstatus/src/index.scss
  components/TimelineSubstatus/src/index.tsx
  components/TimelineSubstatus/src/stories/react.stories.tsx
  proprietary/Components/src/denhaag/timeline.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor: rename `denhaag-timeline` class to process-steps
  components/TimelineSubstatus/src/Step.scss
  components/TimelineSubstatus/src/Step.tsx
  components/TimelineSubstatus/src/StepHeading.scss
  components/TimelineSubstatus/src/StepHeading.tsx
  components/TimelineSubstatus/src/StepHeadingLabel.scss
  components/TimelineSubstatus/src/StepHeadingLabel.tsx
  components/TimelineSubstatus/src/StepList.scss
  components/TimelineSubstatus/src/StepList.tsx
  components/TimelineSubstatus/src/StepMarker.scss
  components/TimelineSubstatus/src/StepMarker.tsx
  components/TimelineSubstatus/src/SubStep.scss
  components/TimelineSubstatus/src/SubStep.tsx
  components/TimelineSubstatus/src/SubStepHeading.scss
  components/TimelineSubstatus/src/SubStepHeading.tsx
  components/TimelineSubstatus/src/SubStepList.scss
  components/TimelineSubstatus/src/SubStepList.tsx
  components/TimelineSubstatus/src/SubStepMarker.scss
  components/TimelineSubstatus/src/SubStepMarker.tsx
  components/TimelineSubstatus/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor: add tokens for process-steps, restore original timeline tokens
  components/TimelineSubstatus/src/Step.scss
  components/TimelineSubstatus/src/StepHeading.scss
  components/TimelineSubstatus/src/StepHeadingLabel.scss
  components/TimelineSubstatus/src/StepList.scss
  components/TimelineSubstatus/src/StepMarker.scss
  components/TimelineSubstatus/src/SubStep.scss
  proprietary/Components/src/denhaag/process-steps.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(process-steps): correct props type
  components/TimelineSubstatus/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fixup! fix(process-steps): correct props type
  components/TimelineSubstatus/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(hero-home): refactor styles with image width
  components/Hero/src/index.scss
  components/Hero/src/stories/bem.stories.mdx
  components/Hero/src/storybook.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(process-steps): style for substep marker
  components/TimelineSubstatus/src/SubStepMarker.scss
  components/TimelineSubstatus/src/SubStepMarker.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(process-steps): add substep-list collapse and expanded styling
  components/TimelineSubstatus/src/SubStepList.scss
Due: prettier --check, stylelint --allow-empty-input

style(hero): reduce duplicate global tokens
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor: remove buttons from story
  components/TimelineSubstatus/src/stories/react.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(steps): added state WIP
  components/TimelineSubstatus/src/Step.tsx
  components/TimelineSubstatus/src/StepHeading.tsx
  components/TimelineSubstatus/src/SubStepList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(progress-steps): default button user-agent style
  components/TimelineSubstatus/src/StepHeading.scss
Due: prettier --check, stylelint --allow-empty-input

fix: fix expanding by actually using state
  components/TimelineSubstatus/src/Step.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(hero-theme-page): refactor so it fits in the grid
  components/Hero/src/index.scss
  components/Hero/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor: rename package to process-step
  components/ProcessStep/README.md
  components/ProcessStep/package.json
  components/ProcessStep/src/Step.scss
  components/ProcessStep/src/Step.tsx
  components/ProcessStep/src/StepHeading.scss
  components/ProcessStep/src/StepHeading.tsx
  components/ProcessStep/src/StepHeadingLabel.scss
  components/ProcessStep/src/StepHeadingLabel.tsx
  components/ProcessStep/src/StepList.scss
  components/ProcessStep/src/StepList.tsx
  components/ProcessStep/src/StepMarker.scss
  components/ProcessStep/src/StepMarker.tsx
  components/ProcessStep/src/SubStep.scss
  components/ProcessStep/src/SubStep.tsx
  components/ProcessStep/src/SubStepHeading.scss
  components/ProcessStep/src/SubStepHeading.tsx
  components/ProcessStep/src/SubStepList.scss
  components/ProcessStep/src/SubStepList.tsx
  components/ProcessStep/src/SubStepMarker.scss
  components/ProcessStep/src/SubStepMarker.tsx
  components/ProcessStep/src/index.scss
  components/ProcessStep/src/index.tsx
  components/ProcessStep/src/stories/react.stories.tsx
  components/ProcessStep/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fixup! refactor: rename package to process-step
  components/ProcessSteps/README.md
  components/ProcessSteps/package.json
  components/ProcessSteps/src/Step.scss
  components/ProcessSteps/src/Step.tsx
  components/ProcessSteps/src/StepHeading.scss
  components/ProcessSteps/src/StepHeading.tsx
  components/ProcessSteps/src/StepHeadingLabel.scss
  components/ProcessSteps/src/StepHeadingLabel.tsx
  components/ProcessSteps/src/StepList.scss
  components/ProcessSteps/src/StepList.tsx
  components/ProcessSteps/src/StepMarker.scss
  components/ProcessSteps/src/StepMarker.tsx
  components/ProcessSteps/src/SubStep.scss
  components/ProcessSteps/src/SubStep.tsx
  components/ProcessSteps/src/SubStepHeading.scss
  components/ProcessSteps/src/SubStepHeading.tsx
  components/ProcessSteps/src/SubStepList.scss
  components/ProcessSteps/src/SubStepList.tsx
  components/ProcessSteps/src/SubStepMarker.scss
  components/ProcessSteps/src/SubStepMarker.tsx
  components/ProcessSteps/src/index.scss
  components/ProcessSteps/src/index.tsx
  components/ProcessSteps/src/stories/react.stories.tsx
  components/ProcessSteps/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor: clear readme
  components/ProcessSteps/README.md
Due: prettier --check

refactor(steps): added nicer typing
  components/TimelineSubstatus/src/Step.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: split into components with new BEM names
  components/TimelineSubstatus/src/Step.scss
  components/TimelineSubstatus/src/Step.tsx
  components/TimelineSubstatus/src/StepHeading.scss
  components/TimelineSubstatus/src/StepHeading.tsx
  components/TimelineSubstatus/src/StepHeadingLabel.scss
  components/TimelineSubstatus/src/StepHeadingLabel.tsx
  components/TimelineSubstatus/src/StepList.scss
  components/TimelineSubstatus/src/StepList.tsx
  components/TimelineSubstatus/src/StepMarker.scss
  components/TimelineSubstatus/src/StepMarker.tsx
  components/TimelineSubstatus/src/SubStep.scss
  components/TimelineSubstatus/src/SubStep.tsx
  components/TimelineSubstatus/src/SubStepHeading.scss
  components/TimelineSubstatus/src/SubStepHeading.tsx
  components/TimelineSubstatus/src/SubStepList.scss
  components/TimelineSubstatus/src/SubStepList.tsx
  components/TimelineSubstatus/src/SubStepMarker.scss
  components/TimelineSubstatus/src/SubStepMarker.tsx
  components/TimelineSubstatus/src/index.scss
  components/TimelineSubstatus/src/index.tsx
  components/TimelineSubstatus/src/stories/react.stories.tsx
  proprietary/Components/src/denhaag/process-steps.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(process-steps): add substep-list collapse and expanded styling
  components/TimelineSubstatus/src/SubStepList.scss
  components/TimelineSubstatus/src/stories/react.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(steps): added expanded state context
  components/TimelineSubstatus/src/Step.tsx
  components/TimelineSubstatus/src/StepHeading.scss
  components/TimelineSubstatus/src/StepHeading.tsx
  components/TimelineSubstatus/src/SubStepList.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor: rename package to process-step
  components/ProcessSteps/README.md
  components/ProcessSteps/package.json
  components/ProcessSteps/src/Step.scss
  components/ProcessSteps/src/Step.tsx
  components/ProcessSteps/src/StepHeading.scss
  components/ProcessSteps/src/StepHeading.tsx
  components/ProcessSteps/src/StepHeadingLabel.scss
  components/ProcessSteps/src/StepHeadingLabel.tsx
  components/ProcessSteps/src/StepList.scss
  components/ProcessSteps/src/StepList.tsx
  components/ProcessSteps/src/StepMarker.scss
  components/ProcessSteps/src/StepMarker.tsx
  components/ProcessSteps/src/SubStep.scss
  components/ProcessSteps/src/SubStep.tsx
  components/ProcessSteps/src/SubStepHeading.scss
  components/ProcessSteps/src/SubStepHeading.tsx
  components/ProcessSteps/src/SubStepList.scss
  components/ProcessSteps/src/SubStepList.tsx
  components/ProcessSteps/src/SubStepMarker.scss
  components/ProcessSteps/src/SubStepMarker.tsx
  components/ProcessSteps/src/index.scss
  components/ProcessSteps/src/index.tsx
  components/ProcessSteps/src/stories/react.stories.tsx
  components/ProcessSteps/tsconfig.json
  components/TimelineSubstatus/README.md
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

style(hero-theme-page): tweak styles
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: add process-steps to components-react and components-css
  components/ProcessSteps/src/StepHeadingLabel.tsx
  components/ProcessSteps/src/StepList.tsx
  components/ProcessSteps/src/StepMarker.tsx
  components/ProcessSteps/src/SubStep.tsx
  components/ProcessSteps/src/SubStepHeading.tsx
  components/ProcessSteps/src/SubStepList.tsx
  components/ProcessSteps/src/SubStepMarker.tsx
  components/ProcessSteps/src/index.tsx
  packages/components-css/src/index.scss
  packages/components-react/src/index.tsx
  tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@ed74ed54c36cc3192948ba9616b81d1358560798 🚀
  iframe.html
  main.64be33b7.iframe.bundle.js
  main.64be33b7.iframe.bundle.js.LICENSE.txt
  main.64be33b7.iframe.bundle.js.map
  main.a0b9bf8e.iframe.bundle.js
  main.a0b9bf8e.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern
