Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

Deploying to gh-pages from @ nl-design-system/denhaag@c2c555650e9472ade93ab32ab03b7211f7a0704d 🚀
  iframe.html
  main.a40a5c3f.iframe.bundle.js
  main.a40a5c3f.iframe.bundle.js.map
  main.d706f9cf.iframe.bundle.js
  main.d706f9cf.iframe.bundle.js.LICENSE.txt
  main.d706f9cf.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(anchor-navigation): remove spacing after link (#858)
  components/AnchorNavigation/src/index.scss
  proprietary/Components/src/denhaag/anchor-navigation.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@fcbf0979e0f707d9a2a48a1d2c8d8a20791e8632 🚀
  iframe.html
  main.85fd78bb.iframe.bundle.js
  main.85fd78bb.iframe.bundle.js.LICENSE.txt
  main.85fd78bb.iframe.bundle.js.map
  main.d706f9cf.iframe.bundle.js
  main.d706f9cf.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(hero): apply feedback
  components/Hero/package.json
  components/Hero/src/index.scss
  components/Hero/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Feature/gdh 79 hero (#853)
  components/Hero/README.md
  components/Hero/package.json
  components/Hero/src/index.scss
  components/Hero/src/index.tsx
  components/Hero/src/stories/bem.stories.mdx
  components/Hero/tsconfig.json
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@31cf232e9000d1f98b3e8394e415b28caac4e487 🚀
  iframe.html
  main.85fd78bb.iframe.bundle.js
  main.85fd78bb.iframe.bundle.js.map
  main.b287d441.iframe.bundle.js
  main.b287d441.iframe.bundle.js.LICENSE.txt
  main.b287d441.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(link-group): add necessary styling + tokens
  components/LinkGroup/src/index.scss
  proprietary/Components/src/denhaag/link-group.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(link-group): additional necessaary styling
  proprietary/Components/src/denhaag/link-group.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(link-group): add style correction icon
  components/LinkGroup/src/index.scss
  proprietary/Components/src/denhaag/link-group.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@4d45f5158b2cf366adee7cfca89750097cad0c83 🚀
  iframe.html
  main.b287d441.iframe.bundle.js
  main.b287d441.iframe.bundle.js.map
  main.c3c5d7c7.iframe.bundle.js
  main.c3c5d7c7.iframe.bundle.js.LICENSE.txt
  main.c3c5d7c7.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(news-card): add bem, css, tokens
  components/CardNews/README.md
  components/CardNews/package.json
  components/CardNews/src/index.scss
  components/CardNews/src/index.tsx
  components/CardNews/src/stories/bem.stories.mdx
  components/CardNews/tsconfig.json
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/card-news.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

style(news-card): refactor css, tokens
  components/CardNews/src/index.scss
  proprietary/Components/src/denhaag/card-news.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(news-card): refactor duplicate css
  components/CardNews/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(news-card): typo correction css
  components/CardNews/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(anchor-navigation-button): tweak styles of the element
  components/AnchorNavigation/src/index.scss
  proprietary/Components/src/denhaag/anchor-navigation.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@07e2ed9445bb0109b76719091f4d01ef3e09ce78 🚀
  iframe.html
  main.c3c5d7c7.iframe.bundle.js
  main.c3c5d7c7.iframe.bundle.js.map
  main.ccdac0bc.iframe.bundle.js
  main.ccdac0bc.iframe.bundle.js.LICENSE.txt
  main.ccdac0bc.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(anchor-navigation-button): tweak styles of the element (#865)
  components/AnchorNavigation/src/index.scss
  proprietary/Components/src/denhaag/anchor-navigation.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@11e8d1905a1ede4dcb9b19b2ae58a4c32bd2e828 🚀
  iframe.html
  main.1a21d276.iframe.bundle.js
  main.1a21d276.iframe.bundle.js.LICENSE.txt
  main.1a21d276.iframe.bundle.js.map
  main.ccdac0bc.iframe.bundle.js
  main.ccdac0bc.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(anchor-navigation): add only link focus on tab key
  components/AnchorNavigation/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(anchor-navigation): add only link focus on tab key (#867)
  components/AnchorNavigation/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@f6d07df33b292ab046055df3fe077b9a9136b10e 🚀
  iframe.html
  main.1a21d276.iframe.bundle.js
  main.1a21d276.iframe.bundle.js.map
  main.e68fdb82.iframe.bundle.js
  main.e68fdb82.iframe.bundle.js.LICENSE.txt
  main.e68fdb82.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: export datepicker css from components-css
  packages/components-css/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern
