Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: convert to dialog
  components/Modal/src/Modal.tsx
  components/Modal/src/_modal.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: disable tab on page
  components/Modal/src/Modal.tsx
  components/Modal/src/_modal.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Reapply "feat: style modal"
  components/Modal/src/Modal.tsx
  components/Modal/src/index.scss
  components/Modal/src/index.tsx
  packages/storybook/src/react/Modal.stories.tsx
  proprietary/Components/src/denhaag/modal.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: separate backdrop
  components/Modal/src/Modal.tsx
  components/Modal/src/ModalBackdrop.tsx
  components/Modal/src/_modal-backdrop.scss
  components/Modal/src/_modal-dialog.scss
  components/Modal/src/_modal.scss
  components/Modal/src/index.scss
  components/Modal/src/index.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Reapply "feat: split component files"
  components/Modal/src/Modal.tsx
  components/Modal/src/ModalClose.tsx
  components/Modal/src/ModalContent.tsx
  components/Modal/src/ModalDialog.tsx
  components/Modal/src/ModalFooter.tsx
  components/Modal/src/ModalHeader.tsx
  components/Modal/src/ModalTitle.tsx
  components/Modal/src/_modal-close.scss
  components/Modal/src/_modal-content.scss
  components/Modal/src/_modal-dialog.scss
  components/Modal/src/_modal-footer.scss
  components/Modal/src/_modal-header.scss
  components/Modal/src/_modal-title.scss
  components/Modal/src/_modal.scss
  components/Modal/src/index.scss
  components/Modal/src/index.tsx
  packages/storybook/src/css/Modal.stories.tsx
  packages/storybook/src/react/Modal.stories.tsx
  proprietary/Components/src/denhaag/modal.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: import denhaag button
  components/Modal/package.json
  components/Modal/src/ModalFooter.tsx
  packages/storybook/src/css/Modal.stories.tsx
  packages/storybook/src/react/Modal.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Reapply "feat: remove old css story"
  components/Modal/src/modal.js
  components/Modal/src/stories.js
  packages/storybook/src/css/Modal.stories.mdx
  packages/storybook/src/css/Modal.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: only use pre-built CSS from Utrecht
  components/BadgeCounter/src/index.scss
  components/ButtonLink/src/index.scss
  components/Checkbox/src/index.scss
  components/FormField/src/index.scss
  components/FormFieldDescription/src/index.scss
  components/FormFieldErrorMessage/src/index.scss
  components/FormFieldSet/src/index.scss
  components/FormLabel/src/index.scss
  components/LinkButton/src/index.scss
  components/RadioButton/src/index.scss
  components/StylesProvider/src/index.tsx
  components/TextInput/src/index.scss
  components/Textarea/src/index.scss
  components/Typography/src/heading.scss
  components/Typography/src/paragraph.scss
  components/UnorderedList/src/index.scss
  packages/keycloak/src/index.scss
  packages/open-forms/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@c53a885e369956669b3910110324ae3fb14bd9f3 🚀
  css-BadgeCounter-stories-mdx.36f5c829.iframe.bundle.js
  css-BadgeCounter-stories-mdx.b54f1fce.iframe.bundle.js
  iframe.html
  main.186b2494.iframe.bundle.js
  main.e1ebfbd9.iframe.bundle.js
  project.json
  runtime~main.0cc1d77e.iframe.bundle.js
  runtime~main.43a22fae.iframe.bundle.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: switch from lerna to changesets for publishing new versions
  .changeset/README.md
  .changeset/config.json
  .github/workflows/cicd.yml
  .prettierignore
  CONTRIBUTING.md
  README.md
  lerna.json
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

ci: require `repository.directory` to be set in package.json files
  .npmpackagejsonlintrc.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: switch from lerna to changesets for publishing new versions
  .changeset/README.md
  .changeset/config.json
  .github/workflows/cicd.yml
  .prettierignore
  lerna.json
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: status badge warning contrast
  proprietary/Common/src/utrecht/feedback-variant.tokens.json
  proprietary/Common/src/utrecht/feedback.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: enhance modal component
  components/Modal/src/Modal.tsx
  packages/storybook/src/css/Modal.stories.tsx
  packages/storybook/src/react/Modal.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Feature/modal (#1548)
  components/Modal/src/Modal.tsx
  packages/storybook/src/css/Modal.stories.tsx
  packages/storybook/src/react/Modal.stories.tsx
  proprietary/Common/src/utrecht/feedback-variant.tokens.json
  proprietary/Common/src/utrecht/feedback.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add pagination to template
  packages/storybook/src/templates/03-Messages-page.stories.tsx
  packages/storybook/src/templates/Messages-page.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: add "new" badge
  packages/storybook/src/templates/03-Messages-page.stories.tsx
  packages/storybook/src/templates/Messages-page.scss
  proprietary/Components/src/utrecht/badge.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: add message detail page
  packages/storybook/src/templates/03-Messages-overview-page.stories.tsx
  packages/storybook/src/templates/04-Messages-detail-page.stories.tsx
  packages/storybook/src/templates/05-Cases-overview-page.stories.tsx
  packages/storybook/src/templates/06-Cases-detail-page.stories.tsx
  packages/storybook/src/templates/Messages-page.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: styling
  packages/storybook/src/templates/Messages-page.scss
Due: prettier --check, stylelint --allow-empty-input

fix: dont use strong
  packages/storybook/src/templates/03-Messages-overview-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add default export
  components/ButtonLink/src/index.tsx
  components/Checkbox/src/index.tsx
  components/FormField/src/index.tsx
  components/FormFieldDescription/src/index.tsx
  components/FormFieldErrorMessage/src/index.tsx
  components/FormFieldSet/src/index.tsx
  components/FormLabel/src/index.tsx
  components/LinkButton/src/index.tsx
  components/OrderedList/src/index.tsx
  components/RadioButton/src/index.tsx
  components/StatusBadge/src/index.tsx
  components/TextInput/src/index.tsx
  components/Textarea/src/index.tsx
  components/UnorderedList/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: update dependencies + fix update issues
  components/BadgeCounter/package.json
  components/ButtonLink/package.json
  components/Checkbox/package.json
  components/Footer/package.json
  components/FormField/package.json
  components/FormFieldDescription/package.json
  components/FormFieldErrorMessage/package.json
  components/FormFieldSet/package.json
  components/FormLabel/package.json
  components/LanguageSwitcher/package.json
  components/LinkButton/package.json
  components/Menu/package.json
  components/OrderedList/package.json
  components/OrderedList/src/index.scss
  components/RadioButton/package.json
  components/StatusBadge/package.json
  components/StatusBadge/src/index.scss
  components/Tab/package.json
  components/TextInput/package.json
  components/Textarea/package.json
  components/Typography/package.json
  components/UnorderedList/package.json
  package.json
  packages/keycloak/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/Components/style-dictionary.config.js
  style-dictionary.config.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
