Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: made aria-labels adjustable through props
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added keyboard controls
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added datepicker styling
  components/Datepicker/package.json
  components/Datepicker/src/datepicker.css
  components/Datepicker/src/index.tsx
  components/Datepicker/src/stories/react.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: allow user ref and inputref
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: ref changes
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: hide calendar instead of removing it on close
  components/Datepicker/src/datepicker.css
  components/Datepicker/src/index.tsx
  components/Datepicker/src/stories/react.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: better error state handling and change calendar month on typed input
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: named cleanup function
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: removed console logging
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added aria, role and abbr attributes
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added design token implementation
  components/Datepicker/src/datepicker.css
  proprietary/Components/src/denhaag/datepicker.tokens.json
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: added proper hover and focus testing classes
  components/Datepicker/src/datepicker.css
Due: prettier --check, stylelint --allow-empty-input

fix: remove disabled attribute from ts interface
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add scope col to table headings
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix outside click listener
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove baseprops as a reference from tsconfiig
  components/Datepicker/tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix story height in docs
  components/Datepicker/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix iOS safari styling issues
  components/Datepicker/src/datepicker.css
  proprietary/Components/src/denhaag/datepicker.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: fix keyboard page keys navigation bugs
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added cross-browser placeholder
  components/Datepicker/src/datepicker.css
  components/Datepicker/src/index.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: fix placeholder positioning
  components/Datepicker/src/datepicker.css
Due: prettier --check, stylelint --allow-empty-input

fix: fix iOS default datepicker showing up when clicking input when already opened
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: hide firefox clear input button
  components/Datepicker/src/datepicker.css
Due: prettier --check, stylelint --allow-empty-input

fix: prettified previous fix
  components/Datepicker/src/datepicker.css
Due: prettier --check, stylelint --allow-empty-input

feat: added support for user-provided onChange
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix datepicker calendar not actually overlaying underlying elements
  components/Datepicker/src/datepicker.css
  proprietary/Components/src/denhaag/datepicker.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: better prop name
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove id which can clash
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: moved aria-selected attribute from button to td (invalid on button)
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added datepicker tests
  components/Datepicker/specs/Datepicker.spec.jsx
  components/Datepicker/specs/__snapshots__/Datepicker.spec.jsx.snap
  cypress/support/commands.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: removed unnecessary eslint-disable rule
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fixed broken opened datepicker image snapshot tests
  components/Datepicker/specs/Datepicker.spec.jsx
  components/Datepicker/specs/__snapshots__/Datepicker.spec.jsx.snap
  cypress/support/commands.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build(tests): update test files
  components/Datepicker/specs/__snapshots__/Datepicker.spec.jsx.snap
Due: none

fix: hopefully last test changes
  components/Datepicker/specs/Datepicker.spec.jsx
  components/Datepicker/specs/__snapshots__/Datepicker.spec.jsx.snap
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: last fixes for real?
  components/Datepicker/specs/Datepicker.spec.jsx
  components/Datepicker/specs/__snapshots__/Datepicker.spec.jsx.snap
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: need some more height for the images
  components/Datepicker/specs/Datepicker.spec.jsx
  components/Datepicker/specs/__snapshots__/Datepicker.spec.jsx.snap
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
