Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

feat(hero home video): wip, add video variant
  components/Hero/src/hero.js
  components/Hero/src/heroThemeImage.js
  components/Hero/src/index.scss
  components/Hero/src/stories/bem.stories.mdx
  components/Hero/src/stories/icons.stories.mdx
  components/Hero/src/storybook.js
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(hero home video): refactor
  components/Hero/src/hero.js
  components/Hero/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

build: fix missing file component import
  packages/components-react/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: description list type
  components/DescriptionList/src/DescriptionList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: description list type (#1320)
  components/DescriptionList/src/DescriptionList.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: setup action component
  components/Action/README.md
  components/Action/package.json
  components/Action/src/index.scss
  components/Action/src/stories/bem.stories.mdx
  components/Action/tsoncifg.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: change in design related to focus/hover state + cleanup some code
  components/Tab/package.json
  components/Tab/src/Tabs.tsx
  components/Tab/src/index.tsx
  components/Tab/src/styles/_tab.scss
  pnpm-lock.yaml
  proprietary/Components/src/denhaag/tabs.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: action link component
  components/Action/src/index.scss
  components/Action/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/action.tokens.json
  proprietary/Proprietary/src/typography.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: add actions
  components/Action/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/action.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: action component mobile opt
  components/Action/src/index.scss
  components/Action/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/action.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: moved types/uuid dependency to devdeps
  components/Tab/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: action component react
  components/Action/package.json
  components/Action/src/Action.tsx
  components/Action/src/ActionActions.tsx
  components/Action/src/ActionDate.tsx
  components/Action/src/ActionLink.tsx
  components/Action/src/index.scss
  components/Action/src/index.tsx
  components/Action/src/stories/bem.stories.mdx
  components/Action/src/stories/react.stories.mdx
  components/Icons/src/index.tsx
  components/Icons/src/svg/informational/alert-triangle-filled.svg
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: action icons
  components/Action/package.json
  components/Action/src/ActionDate.tsx
  components/Action/src/ActionLink.tsx
  components/Icons/src/svg/informational/alert-triangle-filled.svg
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: file icon import
  components/File/package.json
  components/File/src/File.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: add components to package
  components/Action/tsconfig.json
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: add task to template page
  .storybook/stories/templates/CaseDetail-page.scss
  .storybook/stories/templates/CaseDetail-page.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: lint
  components/Action/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: change media query
  components/Action/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: descriptionList media query
  components/DescriptionList/src/DescriptionList.scss
  components/DescriptionList/src/DescriptionListTitle.scss
Due: prettier --check, stylelint --allow-empty-input

fix: reuse existing component
  .storybook/stories/templates/CaseDetail-page.stories.mdx
  components/Action/package.json
  components/Action/src/stories/react.stories.mdx
  pnpm-lock.yaml
  proprietary/Components/src/denhaag/button.tokens.json
  proprietary/Components/src/denhaag/link.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

docs: readme changed so that it tells you to run build
  README.md
Due: prettier --check

feat: refactor in atomic components
  components/Action/src/Action.tsx
  components/Action/src/ActionActions.tsx
  components/Action/src/ActionContent.tsx
  components/Action/src/ActionDetails.tsx
  components/Action/src/ActionLink.tsx
  components/Action/src/ActionMulti.tsx
  components/Action/src/ActionSingle.tsx
  components/Action/src/index.scss
  components/Action/src/index.tsx
  components/Action/src/stories/bem.stories.mdx
  components/Action/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/action.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: used utrecht link button
  .storybook/stories/templates/CaseDetail-page.stories.mdx
  components/Action/src/stories/react.stories.mdx
  proprietary/Components/src/utrecht/button.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: deadline const
  .storybook/stories/templates/CaseDetail-page.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: install patch updates
  components/BadgeCounter/package.json
  components/Footer/package.json
  components/FormControlLabel/package.json
  components/FormField/package.json
  components/LanguageSwitcher/package.json
  components/Menu/package.json
  components/Tab/package.json
  components/TextArea/package.json
  components/TextField/package.json
  components/Typography/package.json
  components/UnorderedList/package.json
  package.json
  packages/keycloak/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor: login template
  .storybook/main.js
  .storybook/stories/templates/Login-page-2.stories.tsx
  .storybook/stories/templates/Login-page.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern
