Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

feat(typography): add bem stories headings + paragraphs + design tokens
  components/Typography/src/index.css
  components/Typography/src/stories/Heading1.stories.tsx
  components/Typography/src/stories/Heading2.stories.tsx
  components/Typography/src/stories/Heading3.stories.tsx
  components/Typography/src/stories/Heading4.stories.tsx
  components/Typography/src/stories/Heading5.stories.tsx
  components/Typography/src/stories/LeadParagraph.stories.tsx
  components/Typography/src/stories/Paragraph.stories.tsx
  components/Typography/src/stories/heading1.bem.stories.mdx
  components/Typography/src/stories/heading2.bem.stories.mdx
  components/Typography/src/stories/heading3.bem.stories.mdx
  components/Typography/src/stories/heading4.bem.stories.mdx
  components/Typography/src/stories/heading5.bem.stories.mdx
  components/Typography/src/stories/paragraph.bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(typography): refactor bem stories, css and remove design tokens
  components/Typography/src/index.css
  components/Typography/src/stories/heading1.bem.stories.mdx
  components/Typography/src/stories/heading2.bem.stories.mdx
  components/Typography/src/stories/heading3.bem.stories.mdx
  components/Typography/src/stories/heading4.bem.stories.mdx
  components/Typography/src/stories/heading5.bem.stories.mdx
  components/Typography/src/stories/paragraph.bem.stories.mdx
  proprietary/Components/src/denhaag/typography.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(typography): add index.css to packages/components-css
  packages/components-css/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(typography): add design tokens
  proprietary/Components/src/denhaag/typography.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(note): start styling and tokens
  components/Note/README.md
  components/Note/package.json
  components/Note/src/note.css
  components/Note/src/note.tsx
  components/Note/src/stories/bem.stories.mdx
  components/Note/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(note): start working, added component folder structure and readme
  components/Note/README.md
  components/Note/package.json
  components/Note/src/note.css
  components/Note/src/note.tsx
  components/Note/src/stories/bem.stories.mdx
  components/Note/src/stories/react.stories.mdx
  components/Note/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(typography): remove unnecessary react components
  components/Typography/src/Heading1.tsx
  components/Typography/src/Heading2.tsx
  components/Typography/src/Heading3.tsx
  components/Typography/src/Heading4.tsx
  components/Typography/src/Heading5.tsx
  components/Typography/src/LeadParagraph.tsx
  components/Typography/src/Paragraph.tsx
  components/Typography/src/heading.css
  components/Typography/src/index.tsx
  components/Typography/src/paragraph.css
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(accordion): refactor accordion toogle script + css
  components/Accordion/src/accordion.js
  components/Accordion/src/index.css
  components/Accordion/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(blockquote): add readme
  components/Blockquote/README.md
  components/Blockquote/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(blockquote): add bem story + css, remove token
  components/Blockquote/src/index.css
  components/Blockquote/src/stories/bem.stories.mdx
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/blockquote.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(blockquote): add initial bem story, css and design tokens
  components/Blockquote/README.md
  components/Blockquote/package.json
  components/Blockquote/src/index.css
  components/Blockquote/src/stories/bem.stories.mdx
  components/Blockquote/tsconfig.json
  proprietary/Components/src/denhaag/blockquote.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(blockquote): add index.tsx + ran a build
  components/Blockquote/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: update patch versions
  components/Breadcrumb/package.json
  components/Pagination/package.json
  package.json
  yarn.lock
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

build: update minor deps
  package.json
  yarn.lock
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(typography): fix build issue + readd changes stories, css
  components/Typography/src/Heading1.tsx
  components/Typography/src/Heading2.tsx
  components/Typography/src/Heading3.tsx
  components/Typography/src/Heading4.tsx
  components/Typography/src/Heading5.tsx
  components/Typography/src/LeadParagraph.tsx
  components/Typography/src/Paragraph.tsx
  components/Typography/src/heading.css
  components/Typography/src/index.css
  components/Typography/src/index.tsx
  components/Typography/src/paragraph.css
  components/Typography/src/stories/Heading1.stories.tsx
  components/Typography/src/stories/Heading2.stories.tsx
  components/Typography/src/stories/Heading3.stories.tsx
  components/Typography/src/stories/Heading4.stories.tsx
  components/Typography/src/stories/Heading5.stories.tsx
  components/Typography/src/stories/LeadParagraph.stories.tsx
  components/Typography/src/stories/Paragraph.stories.tsx
  components/Typography/src/stories/heading1.bem.stories.mdx
  components/Typography/src/stories/heading2.bem.stories.mdx
  components/Typography/src/stories/heading3.bem.stories.mdx
  components/Typography/src/stories/heading4.bem.stories.mdx
  components/Typography/src/stories/heading5.bem.stories.mdx
  components/Typography/src/stories/paragraph.bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(typography): add bem stories, css based on existing denhaag tokens
  components/Typography/src/bem.css
  components/Typography/src/stories/heading1.bem.stories.mdx
  components/Typography/src/stories/heading2.bem.stories.mdx
  components/Typography/src/stories/heading3.bem.stories.mdx
  components/Typography/src/stories/heading4.bem.stories.mdx
  components/Typography/src/stories/heading5.bem.stories.mdx
  components/Typography/src/stories/paragraph.bem.stories.mdx
  packages/components-css/src/index.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

docs(datalist): added the readme
  components/DataList/README.md
Due: prettier --check

docs(datalist): added config and package
  components/DataList/package.json
  components/DataList/tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@801e0dc4950525344dc863dc15d49f5c111ae012 🚀
  iframe.html
  main.b559e7cd.iframe.bundle.js
  main.b559e7cd.iframe.bundle.js.LICENSE.txt
  main.b559e7cd.iframe.bundle.js.map
  main.e6deeaa0.iframe.bundle.js
  main.e6deeaa0.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/Accordion/package.json
  components/Alert/package.json
  components/Avatar/package.json
  components/BadgeCounter/package.json
  components/BaseDataDisplayProps/package.json
  components/BaseProps/package.json
  components/Breadcrumb/package.json
  components/Button/package.json
  components/Card/package.json
  components/Checkbox/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/Link/package.json
  components/List/package.json
  components/Menu/package.json
  components/Pagination/package.json
  components/Pickers/package.json
  components/PickersUtilsProvider/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  components/Typography/package.json
  packages/components-css/package.json
  packages/components-react/package.json
  proprietary/Common/package.json
  proprietary/Components/package.json
  proprietary/Proprietary/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(datalist): added bem story
  components/DataList/src/datalist.css
  components/DataList/src/index.tsx
  components/DataList/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/datalist.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(typography): refactor bem classnames, use of existing css + addition css
  components/Typography/src/bem.css
  components/Typography/src/paragraph.css
  components/Typography/src/stories/heading1.bem.stories.mdx
  components/Typography/src/stories/heading2.bem.stories.mdx
  components/Typography/src/stories/heading3.bem.stories.mdx
  components/Typography/src/stories/heading4.bem.stories.mdx
  components/Typography/src/stories/heading5.bem.stories.mdx
  components/Typography/src/stories/paragraph.bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(datalist): minor tweak
  components/DataList/src/datalist.css
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@575312d2b101c9580d743436d7d68d52626652e7 🚀
  0.0061f0afbc9137555ed4.manager.bundle.js
  0.fb77904f6e1a48549f31.manager.bundle.js
  0.fb77904f6e1a48549f31.manager.bundle.js.LICENSE.txt
  1.a35ea8b7d058366d22f4.manager.bundle.js
  1.d6e35b509b875d41fa79.manager.bundle.js
  5.217eea2cfa7e349cb5eb.manager.bundle.js
  5.7d68e65c6d5b50fd7504.manager.bundle.js
  6.0a2a9a0fcc764b4b6267.manager.bundle.js
  6.3014ebd0ae3ba08e9baa.manager.bundle.js
  6.3014ebd0ae3ba08e9baa.manager.bundle.js.LICENSE.txt
  7.2d2bd9f12f8945cc0f4b.manager.bundle.js
  7.edc6214aa976c55717b9.manager.bundle.js
  8.cb0fc72c920da205ce8e.manager.bundle.js
  8.f28cd463578a53a17d8f.manager.bundle.js
  iframe.html
  index.html
  main.45acea51.iframe.bundle.js
  main.45acea51.iframe.bundle.js.LICENSE.txt
  main.45acea51.iframe.bundle.js.map
  main.b559e7cd.iframe.bundle.js
  main.b559e7cd.iframe.bundle.js.map
  main.bd8bd5725837079f6ff1.manager.bundle.js
  main.ca4a4d67ac32c64c8280.manager.bundle.js
  runtime~main.2f716e722aabbd234f15.manager.bundle.js
  runtime~main.a59d65fbfb4834030c4b.manager.bundle.js
  vendors~main.1fc92e57.iframe.bundle.js
  vendors~main.1fc92e57.iframe.bundle.js.map
  vendors~main.3e252236.iframe.bundle.js
  vendors~main.3e252236.iframe.bundle.js.LICENSE.txt
  vendors~main.3e252236.iframe.bundle.js.map
  vendors~main.7b4feefc4d4bb5fda4ea.manager.bundle.js
  vendors~main.cbda9170e88370e9567b.manager.bundle.js
  vendors~main.cbda9170e88370e9567b.manager.bundle.js.LICENSE.txt
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: omit .value in token reference
  proprietary/Common/src/denhaag/focus.tokens.json
  proprietary/Common/src/utrecht/document.tokens.json
  proprietary/Common/src/utrecht/feedback-variant.tokens.json
  proprietary/Common/src/utrecht/feedback.tokens.json
  proprietary/Common/src/utrecht/focus.tokens.json
  proprietary/Components/src/denhaag/alert.tokens.json
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
  proprietary/Components/src/denhaag/button.tokens.json
  proprietary/Components/src/denhaag/card.tokens.json
  proprietary/Components/src/denhaag/checkbox.tokens.json
  proprietary/Components/src/denhaag/divider.tokens.json
  proprietary/Components/src/denhaag/dot-indicator.tokens.json
  proprietary/Components/src/denhaag/form-control-label.tokens.json
  proprietary/Components/src/denhaag/form-group.tokens.json
  proprietary/Components/src/denhaag/icon-button.tokens.json
  proprietary/Components/src/denhaag/link.tokens.json
  proprietary/Components/src/denhaag/list.tokens.json
  proprietary/Components/src/denhaag/menu-button.tokens.json
  proprietary/Components/src/denhaag/pagination.tokens.json
  proprietary/Components/src/denhaag/tabs.tokens.json
  proprietary/Components/src/denhaag/timeline.tokens.json
  proprietary/Components/src/utrecht/badge-counter.tokens.json
  proprietary/Components/src/utrecht/badge.tokens.json
  proprietary/Components/src/utrecht/breadcrumb.tokens.json
  proprietary/Components/src/utrecht/button.tokens.json
  proprietary/Components/src/utrecht/document.tokens.json
  proprietary/Components/src/utrecht/form-input.tokens.json
  proprietary/Components/src/utrecht/form-label.tokens.json
  proprietary/Components/src/utrecht/heading-1.tokens.json
  proprietary/Components/src/utrecht/heading-2.tokens.json
  proprietary/Components/src/utrecht/heading-3.tokens.json
  proprietary/Components/src/utrecht/heading-4.tokens.json
  proprietary/Components/src/utrecht/heading-5.tokens.json
  proprietary/Components/src/utrecht/heading.tokens.json
  proprietary/Components/src/utrecht/link.tokens.json
  proprietary/Components/src/utrecht/page-footer.tokens.json
  proprietary/Components/src/utrecht/paragraph.tokens.json
  proprietary/Components/src/utrecht/separator.tokens.json
  proprietary/Components/src/utrecht/table.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(blockquote): change package.json, refactor css, add tokens
  components/Blockquote/package.json
  components/Blockquote/src/index.css
  proprietary/Components/src/denhaag/blockquote.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(blockquote): added empty index.tsx into Note fixing storybook build
  components/Note/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern
