Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, stylelint

added cypress packages and dependencies
  package.json
  yarn.lock
Due: npmPkgJsonLint

fixed date-fns issues on pickers
  src/components/Pickers/package.json
  src/components/PickersUtilsProvider/package.json
Due: npmPkgJsonLint

fixed test error
  tsconfig.json
Due: none

testing files to tsx, updated yarn scripts
  package.json
  src/components/Button/specs/Button.spec.tsx
Due: npmPkgJsonLint, eslint

replace material icons with our own in storybook stories
  package.json
  src/components/Accordion/package.json
  src/components/Accordion/src/Accordion.stories.tsx
  src/components/AppBar/package.json
  src/components/AppBar/src/AppBar.stories.tsx
  src/components/Badge/package.json
  src/components/Badge/src/Badge.stories.tsx
  src/components/Card/package.json
  src/components/Card/src/Card.stories.tsx
  src/components/Divider/package.json
  src/components/Divider/src/Divider.stories.tsx
  src/components/GridListTileBar/package.json
  src/components/GridListTileBar/src/GridListTileBar.stories.tsx
  src/components/IconButton/package.json
  src/components/IconButton/src/IconButton.stories.tsx
  src/components/List/package.json
  src/components/List/src/List.stories.tsx
  src/components/Radio/package.json
  src/components/Radio/src/Radio.stories.tsx
Due: npmPkgJsonLint, eslint

replace x with *
  src/components/Accordion/package.json
  src/components/AppBar/package.json
  src/components/Badge/package.json
  src/components/Card/package.json
  src/components/Divider/package.json
  src/components/GridListTileBar/package.json
  src/components/IconButton/package.json
  src/components/List/package.json
  src/components/Radio/package.json
Due: npmPkgJsonLint

remove @material-ui/icons as dependency
  package.json
  yarn.lock
Due: npmPkgJsonLint

Made text darker on hover
  src/components/Card/card.module.css
Due: stylelint

WIP: focus border color title and subtitle
  src/components/Card/Card.tsx
  src/components/Card/bem-mapping.jsx
  src/components/Card/card.module.css
Due: eslint, stylelint

added button click test
  src/components/Button/specs/Button.spec.tsx
Due: eslint

added automated a11y test
  cypress/support/index.js
  package.json
  src/components/Button/specs/Button.spec.tsx
  yarn.lock
Due: npmPkgJsonLint, eslint

added snapshot testing
  cypress.json
  cypress/plugins/index.js
  cypress/support/index.js
  cypress/tsconfig.json
  package.json
  src/components/Button/specs/Button.spec.tsx
  src/components/Button/specs/__snapshots__/Button.spec.tsx.snap
  yarn.lock
Due: npmPkgJsonLint, eslint

added readme testing guidelines
  README.md
Due: none

run prettier
  cypress.json
  cypress/plugins/index.js
  cypress/support/index.js
  cypress/tsconfig.json
Due: none

group list components
  src/components/List/package.json
  src/components/List/src/List.stories.tsx
  src/components/List/src/List.tsx
  src/components/List/src/ListItem.tsx
  src/components/List/src/ListItemAvatar.tsx
  src/components/List/src/ListItemIcon.tsx
  src/components/List/src/ListItemSecondaryAction.tsx
  src/components/List/src/ListItemText.tsx
  src/components/List/src/ListSubheader.tsx
  src/components/List/src/index.ts
  src/components/List/tsconfig.json
  src/components/ListItem/package.json
  src/components/ListItem/tsconfig.json
  src/components/ListItemAvatar/package.json
  src/components/ListItemAvatar/tsconfig.json
  src/components/ListItemIcon/package.json
  src/components/ListItemIcon/tsconfig.json
  src/components/ListItemSecondaryAction/package.json
  src/components/ListItemSecondaryAction/tsconfig.json
  src/components/ListItemText/package.json
  src/components/ListItemText/tsconfig.json
  src/components/ListSubheader/package.json
  src/components/ListSubheader/tsconfig.json
  src/meta-packages/datadisplay/src/index.tsx
  src/meta-packages/datadisplay/tsconfig.json
  yarn.lock
Due: npmPkgJsonLint, eslint

group menu components
  src/components/Menu/package.json
  src/components/Menu/src/Menu.stories.tsx
  src/components/Menu/src/Menu.tsx
  src/components/Menu/src/MenuItem.tsx
  src/components/Menu/src/MenuList.tsx
  src/components/Menu/src/Popover.tsx
  src/components/Menu/src/Popper.tsx
  src/components/Menu/src/index.ts
  src/components/Menu/tsconfig.json
  src/components/MenuItem/package.json
  src/components/MenuItem/src/MenuItem.stories.tsx
  src/components/MenuItem/tsconfig.json
  src/components/MenuList/package.json
  src/components/MenuList/src/MenuList.stories.tsx
  src/components/MenuList/tsconfig.json
  src/components/Popover/package.json
  src/components/Popover/tsconfig.json
  src/components/Popper/package.json
  src/components/Popper/tsconfig.json
  src/components/Select/src/Select.stories.tsx
  src/meta-packages/navigation/package.json
  src/meta-packages/navigation/src/index.ts
  src/meta-packages/navigation/tsconfig.json
Due: npmPkgJsonLint, eslint

group tab components
  src/components/Tab/src/Tab.stories.tsx
  src/components/Tab/src/Tab.tsx
  src/components/Tab/src/TabContext.tsx
  src/components/Tab/src/TabList.tsx
  src/components/Tab/src/TabPanel.tsx
  src/components/Tab/src/TabScrollButton.tsx
  src/components/Tab/src/Tabs.tsx
  src/components/Tab/src/index.ts
  src/components/TabContext/package.json
  src/components/TabContext/tsconfig.json
  src/components/TabList/package.json
  src/components/TabList/tsconfig.json
  src/components/TabPanel/package.json
  src/components/TabPanel/tsconfig.json
  src/components/TabScrollButton/package.json
  src/components/TabScrollButton/tsconfig.json
  src/components/Tabs/package.json
  src/components/Tabs/src/Tabs.stories.tsx
  src/components/Tabs/tsconfig.json
  src/meta-packages/navigation/package.json
  src/meta-packages/navigation/src/index.ts
  src/meta-packages/navigation/tsconfig.json
Due: npmPkgJsonLint, eslint

group avatar components
  .storybook/main.js
  src/components/Avatar/src/Avatar.tsx
  src/components/Avatar/src/AvatarGroup.tsx
  src/components/Avatar/src/index.ts
  src/components/Avatar/src/stories/Avatar.stories.tsx
  src/components/Avatar/src/stories/AvatarGroup.stories.tsx
  src/components/AvatarGroup/package.json
  src/components/AvatarGroup/tsconfig.json
  src/meta-packages/datadisplay/package.json
  src/meta-packages/datadisplay/src/index.tsx
  src/meta-packages/datadisplay/tsconfig.json
Due: npmPkgJsonLint, eslint

group accordion components
  src/components/Accordion/package.json
  src/components/Accordion/src/Accordion.stories.tsx
  src/components/Accordion/src/Accordion.tsx
  src/components/Accordion/src/AccordionActions.tsx
  src/components/Accordion/src/AccordionDetails.tsx
  src/components/Accordion/src/AccordionSummary.tsx
  src/components/Accordion/src/index.ts
  src/components/Accordion/tsconfig.json
  src/components/AccordionActions/package.json
  src/components/AccordionActions/tsconfig.json
  src/components/AccordionDetails/package.json
  src/components/AccordionDetails/tsconfig.json
  src/components/AccordionSummary/package.json
  src/components/AccordionSummary/tsconfig.json
  src/components/Avatar/tsconfig.json
  src/meta-packages/surfaces/package.json
  src/meta-packages/surfaces/src/index.ts
  src/meta-packages/surfaces/tsconfig.json
  yarn.lock
Due: npmPkgJsonLint, eslint

group card components
  src/components/Card/package.json
  src/components/Card/src/BasePaperProps.ts
  src/components/Card/src/Card.tsx
  src/components/Card/src/CardActions.tsx
  src/components/Card/src/CardContent.tsx
  src/components/Card/src/CardHeader.tsx
  src/components/Card/src/Paper.tsx
  src/components/Card/src/index.ts
  src/components/Card/src/stories/Card.stories.tsx
  src/components/Card/src/stories/Paper.stories.tsx
  src/components/Card/tsconfig.json
  src/components/CardActions/package.json
  src/components/CardActions/tsconfig.json
  src/components/CardContent/package.json
  src/components/CardContent/tsconfig.json
  src/components/CardHeader/package.json
  src/components/CardHeader/tsconfig.json
  src/components/Paper/package.json
  src/components/Paper/tsconfig.json
  src/meta-packages/surfaces/package.json
  src/meta-packages/surfaces/src/index.ts
  src/meta-packages/surfaces/tsconfig.json
  yarn.lock
Due: npmPkgJsonLint, eslint

group stepper components
  src/components/MobileStepper/package.json
  src/components/MobileStepper/tsconfig.json
  src/components/Step/package.json
  src/components/Step/tsconfig.json
  src/components/StepButton/package.json
  src/components/StepButton/tsconfig.json
  src/components/StepConnector/package.json
  src/components/StepConnector/tsconfig.json
  src/components/StepContent/package.json
  src/components/StepContent/tsconfig.json
  src/components/StepIcon/package.json
  src/components/StepIcon/tsconfig.json
  src/components/StepLabel/package.json
  src/components/StepLabel/tsconfig.json
  src/components/Stepper/package.json
  src/components/Stepper/src/MobileStepper.tsx
  src/components/Stepper/src/Step.tsx
  src/components/Stepper/src/StepButton.tsx
  src/components/Stepper/src/StepConnector.tsx
  src/components/Stepper/src/StepContent.tsx
  src/components/Stepper/src/StepIcon.tsx
  src/components/Stepper/src/StepLabel.tsx
  src/components/Stepper/src/Stepper.stories.tsx
  src/components/Stepper/src/Stepper.tsx
  src/components/Stepper/src/index.ts
  src/components/Stepper/tsconfig.json
  src/meta-packages/navigation/package.json
  src/meta-packages/navigation/src/index.ts
  src/meta-packages/navigation/tsconfig.json
Due: npmPkgJsonLint, eslint

group gridlist components
  src/components/GridList/package.json
  src/components/GridList/src/GridList.tsx
  src/components/GridList/src/GridListTile.tsx
  src/components/GridList/src/GridListTileBar.tsx
  src/components/GridList/src/index.ts
  src/components/GridList/src/stories/GridList.stories.tsx
  src/components/GridList/src/stories/GridListTile.stories.tsx
  src/components/GridList/src/stories/GridListTileBar.stories.tsx
  src/components/GridList/tsconfig.json
  src/components/GridListTile/package.json
  src/components/GridListTile/tsconfig.json
  src/components/GridListTileBar/package.json
  src/components/GridListTileBar/tsconfig.json
  src/meta-packages/layout/package.json
  src/meta-packages/layout/src/index.ts
  src/meta-packages/layout/tsconfig.json
Due: npmPkgJsonLint, eslint

added test step in github workflow
  .github/workflows/cicd.yml
Due: none

added breaking test, for CI testing
  src/components/Button/specs/Button.spec.tsx
Due: eslint

added cypress pipeline step
  .github/workflows/cicd.yml
Due: none

Fixed test, renamed step
  .github/workflows/cicd.yml
  src/components/Button/specs/Button.spec.tsx
Due: eslint

group radio components
  src/components/Radio/package.json
  src/components/Radio/src/Radio.tsx
  src/components/Radio/src/RadioGroup.tsx
  src/components/Radio/src/index.ts
  src/components/Radio/src/stories/Radio.stories.tsx
  src/components/Radio/src/stories/RadioGroup.stories.tsx
  src/components/Radio/tsconfig.json
  src/components/RadioGroup/package.json
  src/components/RadioGroup/tsconfig.json
  src/meta-packages/input/package.json
  src/meta-packages/input/src/index.tsx
  src/meta-packages/input/tsconfig.json
Due: npmPkgJsonLint, eslint

update directory in package.json
  src/components/Accordion/package.json
  src/components/AppBar/package.json
  src/components/Avatar/package.json
  src/components/Badge/package.json
  src/components/BaseDataDisplayProps/package.json
  src/components/BaseLayoutProps/package.json
  src/components/Box/package.json
  src/components/Button/package.json
  src/components/ButtonGroup/package.json
  src/components/Card/package.json
  src/components/Checkbox/package.json
  src/components/Container/package.json
  src/components/Divider/package.json
  src/components/Drawer/package.json
  src/components/FormControl/package.json
  src/components/FormControlLabel/package.json
  src/components/FormGroup/package.json
  src/components/Grid/package.json
  src/components/GridList/package.json
  src/components/Hidden/package.json
  src/components/IconButton/package.json
  src/components/InputLabel/package.json
  src/components/List/package.json
  src/components/Menu/package.json
  src/components/Pickers/package.json
  src/components/Select/package.json
  src/components/Stepper/package.json
  src/components/SwipeableDrawer/package.json
  src/components/Switch/package.json
  src/components/Tab/package.json
  src/components/TextField/package.json
  src/components/Toolbar/package.json
  src/components/Typography/package.json
Due: npmPkgJsonLint

add wildcard
  .prettierrc
Due: none

update references in tsconfig.json
  src/components/Accordion/tsconfig.json
  src/components/AppBar/tsconfig.json
  src/components/Badge/tsconfig.json
  src/components/Card/tsconfig.json
  src/components/Divider/tsconfig.json
  src/components/GridList/tsconfig.json
  src/components/IconButton/tsconfig.json
  src/components/Icons/tsconfig.json
  src/components/List/tsconfig.json
  src/components/Radio/tsconfig.json
  tsconfig.json
Due: none

Updated storybook with figma design
  src/components/List/src/List.stories.tsx
  src/components/List/src/index.tsx
Due: eslint

add defaults to icon button
  src/components/IconButton/src/index.tsx
Due: eslint

Add css as default export
  src/components/BaseStyles/index.ts
  src/components/BaseStyles/package.json
Due: npmPkgJsonLint, eslint

Update README.md
  README.md
Due: none

Change tsx in basestyles/package.json to ts
  src/components/BaseStyles/package.json
Due: npmPkgJsonLint

Changed hsl values to modern notation also reverted change in stylelint config to change color notation to modern.
  .stylelintrc.json
  src/components/BaseStyles/globals.module.css
Due: stylelint

Fix incorrect HSL value for --denhaag-green-1
  src/components/BaseStyles/globals.module.css
Due: stylelint

Add base styles package
  src/components/BaseStyles/globals.module.css
  src/components/BaseStyles/package.json
Due: npmPkgJsonLint, stylelint

Path conditions:
  npmPkgJsonLint: any of: package.json
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
