Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, prettier -c, stylelint

add design token docs
  src/components/Button/src/stories/Button.stories.mdx
  src/styles/Components/src/tokens-button.css
Due: stylelint

turn PR notice into comment
  .github/pull_request_template.md
Due: none

fixup! turn PR notice into comment
  .github/pull_request_template.md
Due: none

update readme
  src/components/Button/README.md
  src/components/Button/src/stories/Button.stories.mdx
  src/components/Button/src/stories/Button.stories.tsx
Due: eslint, prettier -c

removed module from /brand, /common & /components
  src/styles/Common/src/common.css
  src/styles/Common/src/index.ts
  src/styles/Components/src/components.css
  src/styles/Components/src/index.ts
  src/styles/Proprietary/src/brand.css
  src/styles/Proprietary/src/index.ts
Due: eslint, prettier -c, stylelint

removed .module. from divider css
  src/components/Divider/src/divider.css
  src/components/Divider/src/index.tsx
Due: eslint, prettier -c, stylelint

removing module.css
  src/components/Button/src/button.css
  src/components/Button/src/index.tsx
  src/components/Button/src/mui-override.css
Due: eslint, prettier -c, stylelint

Remove yarn-outdated-formatter dependency
  package.json
  yarn.lock
Due: npmPkgJsonLint

Add touch event to onclick
  src/components/Button/src/index.tsx
  src/components/Menu/src/Menu.stories.tsx
Due: eslint, prettier -c

dont use template/bind for mdx
  src/components/Button/src/stories/Button.stories.mdx
Due: none

add link to link
  src/components/Button/README.md
Due: none

Fix styledictionary overwriting index.js
  src/styles/Proprietary/package.json
  src/styles/Proprietary/src/index.js
  src/styles/Proprietary/src/index.ts
  style-dictionary.config.json
  yarn.lock
Due: npmPkgJsonLint, eslint, prettier -c

added copyfiles command to divider
  src/components/Divider/package.json
Due: npmPkgJsonLint

move tsx story to mdx file
  .storybook/main.js
  src/components/Button/src/stories/Button.stories.mdx
  src/components/Button/src/stories/Button.stories.tsx
  src/components/Button/tsconfig.json
Due: eslint, prettier -c

removed duplicate dependencies
  src/meta-packages/datadisplay/package.json
Due: npmPkgJsonLint

capitalize navigation
  src/components/Timeline/src/stories/Timeline.stories.tsx
Due: eslint, prettier -c

Update storybook dependencies to fix react docgen error
  package.json
  yarn.lock
Due: npmPkgJsonLint

use our own icons in button story
  src/components/Button/package.json
  src/components/Button/src/stories/Button.stories.mdx
  yarn.lock
Due: npmPkgJsonLint

removed animations and hover color for IconButton
  src/components/IconButton/package.json
  src/components/IconButton/src/index.tsx
  src/components/IconButton/src/mui-override.css
  src/components/List/src/ListItem.tsx
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

replaced old import with local import
  src/components/List/src/List.tsx
Due: eslint, prettier -c

add more mui override styles
  src/components/Button/src/mui-override.css
Due: stylelint

add HTML snippet
  src/components/Button/src/stories/Button.stories.mdx
Due: none

add react example to code snippet
  src/components/Button/src/stories/Button.stories.mdx
Due: none

remove unused import
  src/components/Button/src/stories/Button.stories.mdx
Due: none

simplify type of snippet
  src/components/Button/src/stories/Button.stories.mdx
Due: none

Path conditions:
  npmPkgJsonLint: any of: package.json
  eslint: any of: *.{ts,tsx}
  prettier -c: any of: *.{ts,tsx}
  stylelint: any of: *.css
