Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

fix: fix issue with multiple exported link components/types
  components/Breadcrumb/package.json
  components/Breadcrumb/src/BreadcrumbLink.tsx
  components/Card/package.json
  components/Card/src/Card/CardAction.tsx
  components/Link/src/CustomLink.tsx
  components/Link/src/index.tsx
  yarn.lock
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@a2312b32624bd5182c7ca9dfe83be6763b11b739 🚀
  iframe.html
  main.7fd66740.iframe.bundle.js
  main.7fd66740.iframe.bundle.js.LICENSE.txt
  main.a69dcfe5.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@196a136262214db628b38ea4764c1e2118d4de6f 🚀
  iframe.html
  main.7851586c.iframe.bundle.js
  main.7851586c.iframe.bundle.js.LICENSE.txt
  main.7fd66740.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: gdh-1258 | inline carousel swiper
  components/InlineCarousel/package-lock.json
  components/InlineCarousel/package.json
  components/InlineCarousel/src/InlineCarousel.js
  components/InlineCarousel/src/index.scss
  components/InlineCarousel/src/index.tsx
  components/InlineCarousel/src/stories/bem.stories.mdx
  components/InlineCarousel/src/story.js
  components/InlineCarousel/src/storybook.scss
  components/InlineCarousel/tsconfig.json
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: gdh-1259 | basic swiper setup
  components/FullwidthSlider/README.md
  components/FullwidthSlider/package-lock.json
  components/FullwidthSlider/package.json
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/index.tsx
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/scripts/story.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  components/FullwidthSlider/tsconfig.json
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: gdh-1259 | slider controls with autoplay
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  components/FullwidthSlider/src/stories/icons.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | Basic pagination setup
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | fullwidth slider slide slice animation
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | fullwidth swiper
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  components/FullwidthSlider/src/stories/icons.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(illustrated list block): add initial html, css, tokens
  components/IllustratedListBlock/README.md
  components/IllustratedListBlock/package.json
  components/IllustratedListBlock/src/index.scss
  components/IllustratedListBlock/src/index.tsx
  components/IllustratedListBlock/src/stories/bem.stories.mdx
  components/IllustratedListBlock/tsconfig.json
  packages/components-css/src/index.scss
  proprietary/Components/src/denhaag/illustrated-list-block.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(illustrated list block): change css, tokens
  components/IllustratedListBlock/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat(illustrated list block): remove react devdependency
  components/IllustratedListBlock/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(illustrated list block): remove meta parameter
  components/IllustratedListBlock/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(illustrated list block): add css + token
  components/IllustratedListBlock/src/index.scss
  proprietary/Components/src/denhaag/illustrated-list-block.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | pagination animation working
  .stylelintignore
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | fullwidth slider responsive breakpoints
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | a11y and lazy loading
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | dynamic bullets based on slide count
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | Swiper fullwidth variants
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | ready for first test
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  components/FullwidthSlider/src/stories/notification.stories.mdx
  components/FullwidthSlider/src/storybook.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | latest hotfixes
  components/FullwidthSlider/README.md
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | PR feedback
  components/FullwidthSlider/package.json
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/icons.stories.mdx
  packages/components-css/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets
