Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, prettier -c, stylelint

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint",
  "*.{ts,tsx}": ["eslint", "prettier -c"],
  "*.css": "stylelint"
}

update storybook
  src/components/Link/src/Link.stories.mdx
Due: none

remove focus property
  src/components/Link/src/index.tsx
Due: eslint, prettier -c

remove material-ui dependency
  src/components/Link/package.json
  src/components/Link/src/index.tsx
  src/components/Link/src/link.css
  src/styles/Components/src/tokens-link.css
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

add padding top/bottom to link
  src/components/Link/src/link.css
  src/styles/Components/src/tokens-link.css
Due: stylelint

use mdx story instead of tsx
  src/components/Link/README.md
  src/components/Link/src/Link.stories.mdx
  src/components/Link/src/Link.stories.tsx
Due: eslint, prettier -c

migrate to style dictionary
  src/styles/Components/src/denhaag/link/block.style-dictionary.json
  src/styles/Components/src/denhaag/link/element.style-dictionary.json
  src/styles/Components/src/denhaag/link/modifier.style-dictionary.json
  src/styles/Components/src/tokens-link.css
Due: stylelint

add id and tab index props
  src/components/Link/src/index.tsx
Due: eslint, prettier -c

add line-height
  src/components/Link/src/link.css
Due: stylelint

add docs
  src/components/Link/README.md
  src/components/Link/src/Link.stories.mdx
Due: none

update lockfile
  yarn.lock
Due: none

add code snippet
  src/components/Link/src/Link.stories.mdx
Due: none

install clsx globally
  package.json
  src/components/Link/package.json
  yarn.lock
Due: npmPkgJsonLint

update properties
  src/components/Link/src/index.tsx
Due: eslint, prettier -c

add HTML only story
  src/components/Link/src/Link.stories.mdx
Due: none

simplify Link type
  src/components/Link/src/index.tsx
Due: eslint, prettier -c

Add HTML only story to CounterBadge component
  src/components/BadgeCounter/src/stories/BadgeCounter.stories.mdx
Due: none

fixup! Add badge counter readme
  src/components/BadgeCounter/src/index.tsx
Due: eslint, prettier -c

Migrate badge to badge-counter component
  src/components/Badge/src/Badge.stories.tsx
  src/components/Badge/src/index.tsx
  src/components/BadgeCounter/README.md
  src/components/BadgeCounter/package.json
  src/components/BadgeCounter/src/badge-counter.css
  src/components/BadgeCounter/src/index.tsx
  src/components/BadgeCounter/src/stories/BadgeCounter.stories.mdx
  src/components/BadgeCounter/tsconfig.json
  src/meta-packages/datadisplay/tsconfig.json
  src/styles/Components/src/denhaag/badge-counter/block.style-dictionary.json
  tsconfig.json
  tsconfig.storybook.json
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

Add badge counter readme
  src/components/BadgeCounter/README.md
Due: none

fixup! Migrate badge to badge-counter component
  src/components/BadgeCounter/package.json
  src/components/BadgeCounter/src/badge-counter.css
  src/components/BadgeCounter/src/index.tsx
  src/components/BadgeCounter/tsconfig.json
  src/meta-packages/datadisplay/package.json
  src/styles/Components/src/denhaag/badge-counter/block.style-dictionary.json
  src/styles/Components/src/utrecht/badge-counter/block.style-dictionary.json
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

apply badge counter fixes
  src/components/BadgeCounter/package.json
  src/components/BadgeCounter/src/badge-counter.css
  src/components/BadgeCounter/src/index.tsx
  src/components/BadgeCounter/tsconfig.json
  src/meta-packages/datadisplay/package.json
  src/styles/Components/src/denhaag/badge-counter/block.style-dictionary.json
  src/styles/Components/src/utrecht/badge-counter/block.style-dictionary.json
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

Added menu button
  src/components/MenuButton/README.md
  src/components/MenuButton/package.json
  src/components/MenuButton/src/MenuButton.stories.mdx
  src/components/MenuButton/src/index.tsx
  src/components/MenuButton/src/menubutton.css
  src/components/MenuButton/tsconfig.json
  src/styles/Components/src/tokens-menubutton.css
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

Use rollup instead of tsc to build menubutton
  src/components/MenuButton/package.json
Due: npmPkgJsonLint

Fix menubutton dependencies
  src/components/MenuButton/package.json
Due: npmPkgJsonLint

Refactored select to use material-ui variant of menuItem (has been removed from menu)
  src/components/Select/src/Select.stories.tsx
Due: eslint, prettier -c

Move menubutton to menu component
  src/components/Menu/README.md
  src/components/Menu/package.json
  src/components/Menu/src/Menu.stories.tsx
  src/components/Menu/src/Menu.tsx
  src/components/Menu/src/MenuButton.stories.mdx
  src/components/Menu/src/MenuButton.tsx
  src/components/Menu/src/MenuItem.tsx
  src/components/Menu/src/MenuList.tsx
  src/components/Menu/src/Popover.tsx
  src/components/Menu/src/Popper.tsx
  src/components/Menu/src/index.tsx
  src/components/Menu/src/menubutton.css
  src/components/Menu/tsconfig.json
  src/components/MenuButton/package.json
  src/components/MenuButton/tsconfig.json
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

Replace menubutton existing tokens file with style dictionary
  src/styles/Components/src/denhaag/menu-button/block.style-dictionary.json
  src/styles/Components/src/denhaag/menu-button/element.style-dictionary.json
  src/styles/Components/src/tokens-menubutton.css
Due: stylelint

Added compolete HTML variants of menubutton to the story
  src/components/Menu/src/MenuButton.stories.mdx
Due: none

Added id props to menubutton
  src/components/Menu/src/MenuButton.stories.mdx
  src/components/Menu/src/MenuButton.tsx
  src/components/Menu/src/menu.css
Due: eslint, prettier -c, stylelint

Don't add menubutton margin to last component the menu
  src/components/Menu/src/MenuButton.stories.mdx
  src/components/Menu/src/index.tsx
  src/components/Menu/src/menu.css
  src/components/Menu/src/menubutton.css
Due: eslint, prettier -c, stylelint

Fix storybook documentation of menubutton
  src/components/Menu/src/MenuButton.stories.mdx
Due: none

Fixed some documentation issues in menubutton
  src/components/Menu/README.md
Due: none

Omit certain properties from baseprops
  src/components/Menu/src/MenuButton.tsx
Due: eslint, prettier -c

Fix indent menu css file
  src/components/Menu/src/menu.css
Due: stylelint

Create separate style dictionary file to store the menu tokens
  src/components/Menu/src/menu.css
  src/styles/Components/src/denhaag/menu-button/block.style-dictionary.json
  src/styles/Components/src/denhaag/menu/block.style-dictionary.json
Due: stylelint

Rename menu-button css file
  src/components/Menu/src/MenuButton.tsx
  src/components/Menu/src/menu-button.css
Due: eslint, prettier -c, stylelint

Split the menubutton component in MenuButton and MenuButtonExpandable
  src/components/Menu/src/MenuButton.stories.mdx
  src/components/Menu/src/MenuButton.tsx
Due: eslint, prettier -c
