Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: gdh-1259 | UX new pagination feedback
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Feature/gdh 1259 a11y pagination feedback (#1291)
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(components): added multiple exports
  components/CardCalendar/package-lock.json
  components/CardCalendar/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix(components): added multiple exports
  components/CardCalendar/package-lock.json
  components/CardCalendar/package.json
  components/Conditions/package.json
  components/Procedure/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix(packages): fix packages of specific components
  components/Breadcrumb/package.json
  components/Header/package.json
  package-lock.json
  packages/components-react/package.json
  yarn.lock
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

style(shadow): define shadow default shadow tokens
  proprietary/Common/src/denhaag/shadow.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(card-calendar): apply shadow-tokens and reduce unnecassary css variables
  components/CardCalendar/src/index.scss
  proprietary/Components/src/denhaag/card-calendar.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Fix/trying to let it work again (#1292)
  components/Breadcrumb/package.json
  components/CardCalendar/package-lock.json
  components/CardCalendar/package.json
  components/Conditions/package.json
  components/Header/package.json
  components/Procedure/package.json
  package-lock.json
  packages/components-react/package.json
  yarn.lock
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

style(lint): allow padding & margin block and inlines
  .stylelintrc.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(cta-image-content): apply shadow-tokens and reduce css
  components/CtaImageContent/package.json
  components/CtaImageContent/src/index.scss
  components/CtaImageContent/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/cta-image-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

style(card-news): apply shadow-tokens and reduce css-variables
  components/CardNews/src/index.scss
  components/CtaImageContent/src/index.scss
  proprietary/Components/src/denhaag/card-news.tokens.json
  proprietary/Components/src/denhaag/cta-image-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(link-grid/group): reduce css while checking for shadow-tokens
  components/LinkGrid/src/index.scss
  components/LinkGroup/src/index.scss
  proprietary/Components/src/denhaag/link-grid.tokens.json
  proprietary/Components/src/denhaag/link-group.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(shadow-tokens): rename to box-shadow instead of shadow
  components/CardCalendar/src/index.scss
  components/CardNews/src/index.scss
  components/CtaImageContent/src/index.scss
  proprietary/Common/src/denhaag/shadow.tokens.json
  proprietary/Proprietary/src/color.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(dynamic-content): fix broken css token
  proprietary/Components/src/denhaag/dynamic-content.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(floating-contact): add style tweak for weird screen-sizes
  .stylelintrc.json
  components/FloatingContact/src/index.scss
  components/FloatingContact/src/storybook.scss
  proprietary/Components/src/denhaag/floating-contact.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(dynamic-content): token to - instead of a dot
  proprietary/Components/src/denhaag/dynamic-content.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(floating-contact): add style tweak for weird screen-sizes (#1295)
  .stylelintrc.json
  components/FloatingContact/src/index.scss
  components/FloatingContact/src/storybook.scss
  proprietary/Components/src/denhaag/floating-contact.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(dynamic-content): fix broken css token (#1294)
  proprietary/Components/src/denhaag/dynamic-content.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: create new page
  .storybook/stories/templates/CaseDetail-page.stories.mdx
  components/Icons/src/index.tsx
  components/Icons/src/svg/objects/book.svg
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: description-list caption class
  components/DescriptionList/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: description-list, add title color token
  components/DescriptionList/src/index.scss
  proprietary/Components/src/denhaag/description-list.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@abb0153dabea95696a08bc6a71ea4cb8d544667b 🚀
  iframe.html
  main.46c5ce38.iframe.bundle.js
  main.46c5ce38.iframe.bundle.js.LICENSE.txt
  main.7851586c.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@95861989bb7f19e9c9136caa36bc008475fa2002 🚀
  iframe.html
  main.46c5ce38.iframe.bundle.js
  main.ae6551fd.iframe.bundle.js
  main.ae6551fd.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Feature/gdh 1084 shadow tokens (#1293)
  components/CardCalendar/src/index.scss
  components/CardNews/src/index.scss
  components/CtaImageContent/package.json
  components/CtaImageContent/src/index.scss
  components/CtaImageContent/src/stories/bem.stories.mdx
  components/LinkGrid/src/index.scss
  components/LinkGroup/src/index.scss
  proprietary/Common/src/denhaag/shadow.tokens.json
  proprietary/Components/src/denhaag/card-calendar.tokens.json
  proprietary/Components/src/denhaag/card-news.tokens.json
  proprietary/Components/src/denhaag/cta-image-content.tokens.json
  proprietary/Components/src/denhaag/link-grid.tokens.json
  proprietary/Components/src/denhaag/link-group.tokens.json
  proprietary/Proprietary/src/color.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: add react component for Description List
  components/DescriptionList/src/DescriptionList.scss
  components/DescriptionList/src/DescriptionList.tsx
  components/DescriptionList/src/DescriptionListCaption.scss
  components/DescriptionList/src/DescriptionListCaption.tsx
  components/DescriptionList/src/DescriptionListDetail.scss
  components/DescriptionList/src/DescriptionListDetail.tsx
  components/DescriptionList/src/DescriptionListItem.tsx
  components/DescriptionList/src/DescriptionListTitle.scss
  components/DescriptionList/src/DescriptionListTitle.tsx
  components/DescriptionList/src/index.scss
  components/DescriptionList/src/index.tsx
  components/DescriptionList/src/stories/bem.stories.mdx
  components/DescriptionList/src/stories/react.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: unused eslint disable
  components/DescriptionList/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: gdh-1272 | pagination inline carousel update
  components/InlineCarousel/src/index.scss
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1272 | JS refactor from WP site
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/InlineCarousel/src/InlineCarousel.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: gdh-1272 | reinstated try catch for storybook
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/InlineCarousel/src/InlineCarousel.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
