Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, prettier -c, stylelint

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint",
  "*.{ts,tsx}": ["eslint", "prettier -c"],
  "*.css": "stylelint"
}

build(husky): add commit-lint to enforce conventional commits
  .husky/commit-msg
  commitlint.config.js
  package.json
  yarn.lock
Due: npmPkgJsonLint

ci: add automated versioning and release
  .github/workflows/cicd.yml
  package.json
Due: npmPkgJsonLint

build: add master to allowed publish branches
  lerna.json
Due: none

ci: temporarily disable steps to test faster
  .github/workflows/cicd.yml
Due: none

fix: use npm run publish instead of yarn publish
  .github/workflows/cicd.yml
Due: none

Update cicd.yml
  .github/workflows/cicd.yml
Due: none

fix: revert removed cicd steps
  .github/workflows/cicd.yml
Due: none

feat(checkbox): add checkbox design
  .husky/commit-msg
  src/components/Checkbox/README.md
  src/components/Checkbox/package.json
  src/components/Checkbox/src/Checkbox.stories.tsx
  src/components/Checkbox/src/checkbox.css
  src/components/Checkbox/src/index.tsx
  src/components/Checkbox/src/stories/Checkbox.stories.mdx
  src/components/FormControlLabel/README.md
  src/components/FormControlLabel/package.json
  src/components/FormControlLabel/src/FormControlLabel.stories.tsx
  src/components/FormControlLabel/src/bem-mapping.ts
  src/components/FormControlLabel/src/formcontrollabel.css
  src/components/FormControlLabel/src/index.tsx
  src/components/FormControlLabel/src/mui-override.css
  src/components/FormControlLabel/src/stories/FormControlLabel.stories.mdx
  src/components/FormGroup/README.md
  src/components/FormGroup/package.json
  src/components/FormGroup/src/FormGroup.stories.tsx
  src/components/FormGroup/src/formgroup.css
  src/components/FormGroup/src/index.tsx
  src/components/FormGroup/src/stories/FormGroup.stories.mdx
  src/components/Icons/src/index.tsx
  src/components/Icons/src/svg/functional/checked.svg
  src/components/Icons/src/svg/functional/uncheckedbox.svg
  src/styles/Components/src/denhaag/checkbox/block.style-dictionary.json
  src/styles/Components/src/denhaag/formcontrollabel/style-dictionary.json
  src/styles/Components/src/denhaag/formgroup/style-dictionary.json
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

fix(ci): stop commit hooks from running on lerna version
  package.json
Due: npmPkgJsonLint

fix(badge-counter): remove old references to badge
  src/components/BadgeCounter/package.json
  src/meta-packages/datadisplay/src/index.tsx
Due: npmPkgJsonLint, eslint, prettier -c

feat(testing): added custom mount command to include StylesProvider and DH Design Tokens
  cypress/support/commands.jsx
Due: none

feat(design-tokens): add utrecht design tokens for button and text box
  src/styles/Common/src/utrecht/focus.style-dictionary.json
  src/styles/Components/src/utrecht/button/block.style-dictionary.json
  src/styles/Components/src/utrecht/button/modifier-state.style-dictionary.json
  src/styles/Components/src/utrecht/button/modifier.style-dictionary.json
  src/styles/Components/src/utrecht/button/state.style-dictionary.json
  src/styles/Components/src/utrecht/focus.style-dictionary.json
  src/styles/Components/src/utrecht/textbox/block.style-dictionary.json
  src/styles/Components/src/utrecht/textbox/modifier.style-dictionary.json
Due: none

fix(design-tokens): set real padding for button with default line-height
  src/styles/Components/src/utrecht/button/block.style-dictionary.json
Due: none

feat(design-tokens): more design tokens for Utrecht component library
  src/styles/Common/src/utrecht/feedback-variant.style-dictionary.json
  src/styles/Common/src/utrecht/feedback.style-dictionary.json
  src/styles/Common/src/utrecht/space.style-dictionary.json
  src/styles/Components/src/utrecht/badge-status/block.style-dictionary.json
  src/styles/Components/src/utrecht/badge/block.style-dictionary.json
  src/styles/Components/src/utrecht/breadcrumb/block.style-dictionary.json
  src/styles/Components/src/utrecht/breadcrumb/element-modifier.style-dictionary.json
  src/styles/Components/src/utrecht/breadcrumb/element.style-dictionary.json
  src/styles/Components/src/utrecht/button/block.style-dictionary.json
  src/styles/Components/src/utrecht/form-label/block.style-dictionary.json
  src/styles/Components/src/utrecht/form-label/modifier.style-dictionary.json
  src/styles/Components/src/utrecht/link/block.style-dictionary.json
  src/styles/Components/src/utrecht/link/modifier.style-dictionary.json
  src/styles/Components/src/utrecht/logo/block.style-dictionary.json
  src/styles/Components/src/utrecht/page-footer/block.style-dictionary.json
  src/styles/Components/src/utrecht/separator/block.style-dictionary.json
  src/styles/Components/src/utrecht/unordered-list/block.style-dictionary.json
  src/styles/Components/src/utrecht/unordered-list/element.style-dictionary.json
Due: none

feat(design-tokens): styling Utrecht textarea/select/table
  src/styles/Components/src/utrecht/form-input/block.style-dictionary.json
  src/styles/Components/src/utrecht/form-input/element.style-dictionary.json
  src/styles/Components/src/utrecht/form-input/modifier.style-dictionary.json
  src/styles/Components/src/utrecht/table/block.style-dictionary.json
  src/styles/Components/src/utrecht/table/element-modifier.style-dictionary.json
  src/styles/Components/src/utrecht/table/element.style-dictionary.json
Due: none

fix(radio): add pseudo classes to radio.css
  src/components/Radio/src/radio.css
  src/styles/Components/src/denhaag/radio/block.style-dictionary.json
Due: stylelint
