Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix(procedure): change distances + refactor
  components/Procedure/src/StepList.scss
  components/Procedure/src/index.scss
  components/Procedure/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/procedure.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-968 | readpeaker dialog turning into div, needs a fix
  components/ReadSpeaker/src/index.scss
  components/ReadSpeaker/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-968 | Apply dialog styles to readspeaker fullscreen div
  components/ReadSpeaker/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix(procedure): move css variables refactor
  components/Procedure/src/StepList.scss
  components/Procedure/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

build(image banner): add image banner package to index
  packages/components-css/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

build(link grid): add link grid package to index
  packages/components-css/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: added custom link and button options for language switcher
  .storybook/stories/templates/Overview-page.stories.mdx
  components/LanguageSwitcher/package.json
  components/LanguageSwitcher/src/LanguageSwitcherLink.tsx
  components/LanguageSwitcher/src/index.tsx
  package.json
  yarn.lock
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: fixed issue with mobile backbutton in breadcrumbs
  components/Breadcrumb/src/BreadcrumbListItem.tsx
  components/Breadcrumb/src/index.scss
  components/Breadcrumb/src/index.tsx
  components/Breadcrumb/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: implement custom link in header navigation, close sheet on navigate/lang switch
  components/Header/src/HeaderLogic.tsx
  components/Menu/src/mobile/MobileMenu.tsx
  components/Menu/src/mobile/MobileMenuLink.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: updated design: last breadcrumb item is the previous instead of current page
  .storybook/stories/templates/Login-page.stories.mdx
  .storybook/stories/templates/Overview-page.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: changed propnames from url to href
  .storybook/stories/templates/Login-page.stories.mdx
  .storybook/stories/templates/Overview-page.stories.mdx
  components/Footer/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added linkbutton styling for language switcher
  components/LanguageSwitcher/src/index.scss
  components/LanguageSwitcher/src/index.tsx
  proprietary/Components/src/denhaag/language-switcher.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(image banner): fixes also for wordpress + refactor
  components/ImageBanner/src/index.scss
  proprietary/Components/src/denhaag/image-banner.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@f81832a1d5b003fa28729f634c32da13b7855589 🚀
  iframe.html
  main.ba9bd998.iframe.bundle.js
  main.e67832e9.iframe.bundle.js
  main.e67832e9.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: gdh-968 | readspeaker token styling
  components/ReadSpeaker/src/index.scss
  components/ReadSpeaker/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/readspeaker.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-968 | readspeaker token styling
  components/ReadSpeaker/src/index.scss
  proprietary/Components/src/denhaag/readspeaker.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-968 | readspeaker styling to tokens
  components/ReadSpeaker/src/index.scss
  proprietary/Components/src/denhaag/readspeaker.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-968 | readspeaker replaced icons and improved responsive styling
  components/ReadSpeaker/src/index.scss
  components/ReadSpeaker/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/readspeaker.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-968 | updated fontsizes and close button text version
  components/ReadSpeaker/src/index.scss
  proprietary/Components/src/denhaag/readspeaker.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-968 | added expand icon
  components/ReadSpeaker/src/index.scss
  components/ReadSpeaker/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/readspeaker.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

build(procedure): fix package version
  components/Procedure/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
