Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: fix markup
  .storybook/stories/Introduction.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: avoid `React.FC`
  components/ProcessSteps/src/SubStepHeading.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: stop using `mdx-embed`
  .storybook/stories/Border.stories.mdx
  .storybook/stories/BorderRadius.stories.mdx
  .storybook/stories/Breakpoints.stories.mdx
  .storybook/stories/Colors.stories.mdx
  .storybook/stories/Icons.stories.mdx
  .storybook/stories/Size.stories.mdx
  .storybook/stories/Size.stories.mdx_
  .storybook/stories/Typography.stories.mdx
  .storybook/stories/ZIndex.stories.mdx
  components/Link/src/stories/bem.stories.mdx_
  components/UnorderedList/src/stories/bem.stories.mdx_
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove design token tables (already broken anyway)
  components/Action/src/stories/bem.stories.mdx
  components/Action/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove empty `.mdx` files
  components/LanguageSwitcher/src/stories/react.stories.mdx
  components/Pagination/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: use ES Modules for rollup config
  rollup.config.mjs
Due: none

feat: added the util import to the overview page
  .storybook/stories/templates/overview-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: deleted old mdx story
  .storybook/stories/templates/Overview-page.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: changed file name
  .storybook/stories/templates/Login-page-2.stories.tsx
  .storybook/stories/templates/Login-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: renamed file
  .storybook/stories/templates/overview-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: rewritten page to TSX
  .storybook/stories/templates/overview-page-2.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: deleted uitgecommented code
  .storybook/stories/templates/CaseDetail-page-2.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

FIXED HeaderLogic en Status
  .storybook/stories/templates/CaseDetail-page-2.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

WIP mdx to tsx draft
  .storybook/stories/templates/CaseDetail-page-2.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

uitcommented alleen niet Steps data
  .storybook/stories/templates/CaseDetail-page-2.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: linkData copyright added to caseD
  .storybook/stories/templates/CaseDetail-page-2.stories.tsx
  .storybook/stories/templates/util.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

WIP ln 156 new Date fix date not seen as string
  .storybook/stories/templates/CaseDetail-page-2.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: linkData import added
  .storybook/stories/templates/CaseDetail-page-2.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: remove material-ui dependency from avatar
  components/Avatar/package.json
  components/Avatar/src/Avatar.tsx
  components/Avatar/src/index.scss
  components/Avatar/src/index.tsx
  components/Avatar/tsconfig.json
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

build: update major versions, except Babel/React/Storybook/TypeScript
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: format using new Prettier version
  .eslintrc.react.json
  components/Button/src/index.scss
  components/CtaDownload/src/index.scss
  components/CtaEvent/src/index.scss
  components/CtaLink/src/index.scss
  components/ProcessSteps/src/stories/bem.stories.mdx
  components/StepMarker/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

docs: avoid `mdx-embed`
  .storybook/stories/Border.stories.mdx
  .storybook/stories/BorderRadius.stories.mdx
  .storybook/stories/Breakpoints.stories.mdx
  .storybook/stories/Colors.stories.mdx
  .storybook/stories/Icons.stories.mdx
  .storybook/stories/Size.stories.mdx
  .storybook/stories/Typography.stories.mdx
  .storybook/stories/ZIndex.stories.mdx
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

ci: remove deprecated stylelint rules
  .stylelintrc.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: disable buggy ESLint rule
  .eslintrc.react.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
