Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix(css-package): import new list.scss in css-package
  packages/components-css/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(mui-removal): fixed sizing of ListItem when using SecondaryAction
  components/List/src/list-item-secondary-action.scss
Due: prettier --check, stylelint --allow-empty-input

build(tests): update test files
  components/List/specs/__snapshots__/List.spec.jsx.snap
Due: none

fix(focus): cleaned up focus and active state design tokens
  components/List/src/list-item.scss
  proprietary/Components/src/denhaag/list.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(secondary-action): fixed secondary action focus to be inline with design
  components/IconButton/src/index.scss
  components/List/src/list-item-secondary-action.scss
  components/List/src/list-item-text.scss
  proprietary/Components/src/denhaag/list.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(tests): fixed List hover and focus image snapshots
  components/List/specs/List.spec.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update proprietary/Components/src/denhaag/cta-image-content.tokens.json
  proprietary/Components/src/denhaag/cta-image-content.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added small variant to cta-image-content component
  components/CtaImageContent/src/index.scss
  components/CtaImageContent/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/cta-image-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: correct use of lineheight and fontsize from typo tokens
  components/CtaImageContent/src/index.scss
  proprietary/Components/src/denhaag/cta-image-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: list css imports
  components/List/src/List.tsx
  components/List/src/ListItem.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(mui-removal): reworked List component
  components/List/package.json
  components/List/specs/List.spec.jsx
  components/List/specs/__snapshots__/List.spec.jsx.snap
  components/List/src/List.tsx
  components/List/src/ListItem.tsx
  components/List/src/ListItemIcon.tsx
  components/List/src/ListItemSecondaryAction.tsx
  components/List/src/ListItemText.tsx
  components/List/src/ListSubheader.tsx
  components/List/src/bem-mapping.ts
  components/List/src/list-item-icon.scss
  components/List/src/list-item-secondary-action.scss
  components/List/src/list-item-text.scss
  components/List/src/list-item.scss
  components/List/src/list-subheader.scss
  components/List/src/list.scss
  components/List/src/mui-override.scss
  components/List/src/react.stories.tsx
  components/List/src/stories/bem.stories.mdx
  components/List/src/stories/react.stories.mdx
  components/List/tsconfig.json
  proprietary/Components/src/denhaag/list.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(remove-mui): small improvements to css import
  components/List/src/List.tsx
  components/List/src/ListItem.tsx
  components/List/src/ListItemIcon.tsx
  components/List/src/ListItemSecondaryAction.tsx
  components/List/src/ListItemText.tsx
  components/List/src/ListSubheader.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@2b58cefa19fdde7ba495ce64a2a05ebbbd1f97d2 🚀
  iframe.html
  main.2b73a140.iframe.bundle.js
  main.2b73a140.iframe.bundle.js.map
  main.cda7816f.iframe.bundle.js
  main.cda7816f.iframe.bundle.js.LICENSE.txt
  main.cda7816f.iframe.bundle.js.map
  vendors~main.b16c65a6.iframe.bundle.js
  vendors~main.b16c65a6.iframe.bundle.js.LICENSE.txt
  vendors~main.b16c65a6.iframe.bundle.js.map
  vendors~main.f846fad2.iframe.bundle.js
  vendors~main.f846fad2.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(blockquote): add style corrections
  components/Blockquote/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(cta-download): add style corrections
  components/CtaDownload/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat(ordered-list): add ordered list html, css
  components/OrderedList/README.md
  components/OrderedList/package.json
  components/OrderedList/src/index.scss
  components/OrderedList/src/index.tsx
  components/OrderedList/src/stories/bem.stories.mdx
  components/OrderedList/tsconfig.json
  packages/components-css/src/index.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore(ordered-list): change description package.json
  components/OrderedList/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor(ordered-list): style import extends from unordered list, rm unnecessary css
  components/OrderedList/package.json
  components/OrderedList/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@a3b1e642a6d97cdabfea2b2016f1a03993093e95 🚀
  iframe.html
  main.694179f3.iframe.bundle.js
  main.694179f3.iframe.bundle.js.LICENSE.txt
  main.694179f3.iframe.bundle.js.map
  main.cda7816f.iframe.bundle.js
  main.cda7816f.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(cta-link): add style corrections
  components/CtaLink/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@aee53890e29793524b454f21b00505858d977347 🚀
  iframe.html
  main.694179f3.iframe.bundle.js
  main.694179f3.iframe.bundle.js.map
  main.c70d7259.iframe.bundle.js
  main.c70d7259.iframe.bundle.js.LICENSE.txt
  main.c70d7259.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added filled variant to CtaImageContent component
  components/CtaImageContent/src/index.scss
  components/CtaImageContent/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/cta-image-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: linter paths on windows
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
