Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix(dynamic-content-title): word-break and hyphens issue
  components/DynamicContent/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix(dynamic-content-title): apply breack-word instead of break-all
  components/DynamicContent/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@7d3bc6ff79a77337f276a50e4770b164cec61225 🚀
  iframe.html
  main.70a3a419.iframe.bundle.js
  main.f495ad0c.iframe.bundle.js
  main.f495ad0c.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@803be8cc633c0e400fdfa30b3e7a93059784623f 🚀
  iframe.html
  main.7f7059b1.iframe.bundle.js
  main.7f7059b1.iframe.bundle.js.LICENSE.txt
  main.f495ad0c.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add distanced and optional spacing to card-group
  components/CardGroup/src/_mixin.scss
  components/CardGroup/src/index.scss
  components/CardGroup/src/story-template.tsx
  proprietary/Components/src/denhaag/card-group.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

build: add card-authentication dependencies for _mixin
  components/CardAuthentication/package.json
  components/CardGroup/package.json
  components/CardGroup/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: removed grid from page component
  components/Page/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

docs: add login-page template with card-authentication and card-group
  .storybook/stories/templates/Login-page.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: add header-logo dependency to header
  components/Header/package.json
  tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: added responsive content wrapper component
  components/ResponsiveContent/package.json
  components/ResponsiveContent/src/index.scss
  components/ResponsiveContent/src/index.tsx
  components/ResponsiveContent/src/stories/bem.stories.mdx
  components/ResponsiveContent/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: added header and page components for login page
  .storybook/stories/templates/Login-page.stories.mdx
  .storybook/stories/templates/story-login.css
  components/Header/package.json
  components/Header/src/index.scss
  components/Header/src/index.tsx
  components/Header/src/stories/bem.stories.mdx
  components/Header/tsconfig.json
  components/HeaderLogo/package.json
  components/HeaderLogo/src/index.tsx
  components/HeaderLogo/tsconfig.json
  components/Page/package.json
  components/Page/src/index.scss
  components/Page/src/index.tsx
  components/Page/src/stories/bem.stories.mdx
  components/Page/tsconfig.json
  proprietary/Components/src/denhaag/header.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: added responsive content component in header
  components/Header/src/index.scss
  components/Header/src/index.tsx
  components/Header/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: added login page template, updated CtaCard to get along with cards without images
  .storybook/main.js
  .storybook/stories/assets/digid_logo.png
  .storybook/stories/assets/eherkenning_logo.png
  .storybook/stories/templates/Login-page.stories.mdx
  .storybook/stories/templates/story-login.css
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: added Breadcrumb React component, added responsive content component to breadcrumbs
  components/Breadcrumb/package.json
  components/Breadcrumb/src/index.scss
  components/Breadcrumb/src/index.tsx
  components/Breadcrumb/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: login template name
  .storybook/stories/templates/Login-page.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: responsive content max-width should be 67.5 rem
  components/ResponsiveContent/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: remove storybook padding for login template
  .storybook/stories/templates/story-login.css
Due: prettier --check, stylelint --allow-empty-input

feat: moved some css values to design tokens
  components/Header/src/index.scss
  components/Page/src/index.scss
  components/ResponsiveContent/src/index.scss
  proprietary/Components/src/denhaag/header.tokens.json
  proprietary/Components/src/denhaag/page.tokens.json
  proprietary/Components/src/denhaag/responsive-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: added responsive content and breadcrumb to login page template
  .storybook/stories/templates/Login-page.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: apply some proposed improvements
  components/Header/src/index.scss
  components/Header/src/index.tsx
  components/Header/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/header.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: added breadcrumbs-container to prevent breaking changes, removed incorrect collapse css logic
  components/Breadcrumb/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: convert card group flex to grid to fix alignment issue
  components/CardAuthentication/src/_mixin.scss
  components/CardGroup/src/_mixin.scss
  components/CardGroup/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: removed calc from Style Dictionary design tokens, because its not supported outside css
  components/ResponsiveContent/src/index.scss
  proprietary/Components/src/denhaag/responsive-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: show 2 authentication cards next to each other on 768px/tablets
  components/CardGroup/src/_mixin.scss
  components/CardGroup/src/index.scss
  proprietary/Components/src/denhaag/card-group.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

ci: add chromatic viewport size
  .storybook/preview.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
