Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, stylelint

yarn lock update
  yarn.lock
Due: none

Removed padding from cardcontent
  src/components/Card/Card.module.css
  src/components/Card/Card.tsx
  src/components/Card/bem-mapping.jsx
  src/components/Card/card.module.css
  src/components/CardContent/CardContent.tsx
  src/components/CardContent/bem-mapping.jsx
  src/components/CardContent/mui-override.module.css
Due: eslint, stylelint

Moved cards story to reflect the way cards are represented in the designs
  src/stories/cards/Card.stories.tsx
Due: eslint

Defined custom code in separate variable to fix indentation
  src/stories/datadisplay/Divider.stories.tsx
  src/stories/datadisplay/List.stories.tsx
Due: eslint

Defined custom code in separate variable to fix indentation for input components.
  src/stories/input/Checkbox.stories.tsx
  src/stories/input/DatePicker.stories.tsx
  src/stories/input/FormControlLabel.stories.tsx
  src/stories/input/IconButton.stories.tsx
  src/stories/input/KeyBoardDatePicker.stories.tsx
  src/stories/input/Radio.stories.tsx
Due: eslint

fix textfield import
  src/components/TextField/src/TextField.stories.tsx
Due: eslint

Defined custom code in separate variable to fix indentation for navigation components.
  src/stories/layout/GridListTileBar.stories.tsx
Due: eslint

Defined custom code in separate variable to fix indentation for navigation (yes, twice) components.
  src/stories/navigation/Drawer.stories.tsx
  src/stories/navigation/Menu.stories.tsx
  src/stories/navigation/Tab.stories.tsx
Due: eslint

Defined custom code in separate variable to fix indentation for surface components.
  src/stories/surfaces/Accordion.stories.tsx
  src/stories/surfaces/AppBar.stories.tsx
  src/stories/surfaces/Card.stories.tsx
Due: eslint

remove src from imports
  src/components/Paper/src/BasePaperProps.ts
  src/components/TextField/src/BaseTextFieldProps.ts
  src/meta-packages/denhaag-component-library/src/index.ts
Due: eslint

Fixed indendation for surfaces.. Again...
  src/stories/surfaces/Accordion.stories.tsx
  src/stories/surfaces/AppBar.stories.tsx
  src/stories/surfaces/Card.stories.tsx
Due: eslint

Fixed indendation for navigation.. Again...
  src/stories/navigation/Drawer.stories.tsx
  src/stories/navigation/Menu.stories.tsx
  src/stories/navigation/Tab.stories.tsx
Due: eslint

Fixed indendation for layout.. Again...
  src/stories/layout/GridListTileBar.stories.tsx
Due: eslint

Update README.md
  README.md
Due: none

Fixed indendation for input.. Again...
  src/stories/input/DatePicker.stories.tsx
  src/stories/input/FormControlLabel.stories.tsx
  src/stories/input/IconButton.stories.tsx
  src/stories/input/KeyBoardDatePicker.stories.tsx
  src/stories/input/Radio.stories.tsx
Due: eslint

Fixed indendation for datadisplay.. Again...
  src/stories/datadisplay/Divider.stories.tsx
  src/stories/datadisplay/List.stories.tsx
Due: eslint

Prettifier go brrr
  src/stories/datadisplay/Avatar.stories.tsx
  src/stories/datadisplay/AvatarGroup.stories.tsx
  src/stories/datadisplay/Badge.stories.tsx
  src/stories/datadisplay/Divider.stories.tsx
  src/stories/datadisplay/List.stories.tsx
  src/stories/datadisplay/Typography.stories.tsx
  src/stories/input/ButtonGroup.stories.tsx
  src/stories/input/Checkbox.stories.tsx
  src/stories/input/DatePicker.stories.tsx
  src/stories/input/FormControlLabel.stories.tsx
  src/stories/input/FormGroup.stories.tsx
  src/stories/input/IconButton.stories.tsx
  src/stories/input/KeyBoardDatePicker.stories.tsx
  src/stories/input/Radio.stories.tsx
  src/stories/input/RadioGroup.stories.tsx
  src/stories/input/Select.stories.tsx
  src/stories/input/Switch.stories.tsx
  src/stories/input/TextField.stories.tsx
  src/stories/layout/Box.stories.tsx
  src/stories/layout/Container.stories.tsx
  src/stories/layout/Grid.stories.tsx
  src/stories/layout/GridList.stories.tsx
  src/stories/layout/GridListTile.stories.tsx
  src/stories/layout/GridListTileBar.stories.tsx
  src/stories/layout/Hidden.stories.tsx
  src/stories/navigation/Drawer.stories.tsx
  src/stories/navigation/Link.stories.tsx
  src/stories/navigation/Menu.stories.tsx
  src/stories/navigation/MenuItem.stories.tsx
  src/stories/navigation/MenuList.stories.tsx
  src/stories/navigation/Stepper.stories.tsx
  src/stories/navigation/SwipeableDrawer.stories.tsx
  src/stories/navigation/Tab.stories.tsx
  src/stories/navigation/Tabs.stories.tsx
  src/stories/surfaces/Accordion.stories.tsx
  src/stories/surfaces/AppBar.stories.tsx
  src/stories/surfaces/Card.stories.tsx
  src/stories/surfaces/Paper.stories.tsx
Due: eslint

Prettifier go brrr and also fixed indentation again because Checkboxes decided to be selfish pricks.
  src/stories/input/Button.stories.tsx
  src/stories/input/Checkbox.stories.tsx
Due: eslint

Storybook show code fix (#117)
  .storybook/preview.js
  src/stories/datadisplay/Avatar.stories.tsx
  src/stories/datadisplay/AvatarGroup.stories.tsx
  src/stories/datadisplay/Badge.stories.tsx
  src/stories/datadisplay/Divider.stories.tsx
  src/stories/datadisplay/List.stories.tsx
  src/stories/datadisplay/Typography.stories.tsx
  src/stories/input/Button.stories.tsx
  src/stories/input/ButtonGroup.stories.tsx
  src/stories/input/Checkbox.stories.tsx
  src/stories/input/DatePicker.stories.tsx
  src/stories/input/FormControlLabel.stories.tsx
  src/stories/input/FormGroup.stories.tsx
  src/stories/input/IconButton.stories.tsx
  src/stories/input/KeyBoardDatePicker.stories.tsx
  src/stories/input/Radio.stories.tsx
  src/stories/input/RadioGroup.stories.tsx
  src/stories/input/Select.stories.tsx
  src/stories/input/Switch.stories.tsx
  src/stories/input/TextField.stories.tsx
  src/stories/layout/Box.stories.tsx
  src/stories/layout/Container.stories.tsx
  src/stories/layout/Grid.stories.tsx
  src/stories/layout/GridList.stories.tsx
  src/stories/layout/GridListTile.stories.tsx
  src/stories/layout/GridListTileBar.stories.tsx
  src/stories/layout/Hidden.stories.tsx
  src/stories/navigation/Drawer.stories.tsx
  src/stories/navigation/Link.stories.tsx
  src/stories/navigation/Menu.stories.tsx
  src/stories/navigation/MenuItem.stories.tsx
  src/stories/navigation/MenuList.stories.tsx
  src/stories/navigation/Stepper.stories.tsx
  src/stories/navigation/SwipeableDrawer.stories.tsx
  src/stories/navigation/Tab.stories.tsx
  src/stories/navigation/Tabs.stories.tsx
  src/stories/surfaces/Accordion.stories.tsx
  src/stories/surfaces/AppBar.stories.tsx
  src/stories/surfaces/Card.stories.tsx
  src/stories/surfaces/Paper.stories.tsx
Due: eslint

Added a Jest snapshot test environment
  babel.config.js
  package.json
  src/components/Button/Button.test.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
  yarn.lock
Due: npmPkgJsonLint, eslint

Defined prettifier scripts which run in specified directories only
  prettify_components.sh
  prettify_stories.sh
Due: none

Fixed arrow position and text color
  src/components/Card/Card.tsx
  src/components/Card/bem-mapping.jsx
  src/components/Card/card.module.css
Due: eslint, stylelint

Fixed typos in prettier script. Shell Script runner in WebStorm opens file, will fix soon&#8482.
  prettify_components.sh
  prettify_stories.sh
Due: none

add doc for install packages locally to contributing.md
  CONTRIBUTING.md
Due: none

Fixed border of Case / card Added font weight to title and subtitle Sorted css file by property / design token names
  src/components/Card/card.module.css
Due: stylelint

Added paper svg file to case / card
  src/components/Card/bem-mapping.jsx
  src/components/Card/card.module.css
  src/components/Card/paper.svg
Due: stylelint

remove commented code
  .storybook/main.js
  lerna.json
  src/components/List/src/index.tsx
  src/components/Pickers/src/index.tsx
  src/components/StepLabel/src/index.tsx
Due: eslint

Remove merge conflicts and reduce amount of design tokesn for Button
  src/components/BaseStyles/globals.module.css
  src/components/Button/button.module.css
  src/stories/input/Button.stories.tsx
Due: eslint, stylelint

Remove border width from button design tokens
  src/components/Button/button.module.css
Due: stylelint

simple enzyme example test
  enzyme.setup.js
  jest.config.ts
  package.json
  src/components/Button/Button.test.tsx
  src/components/Button/Foo.js
  src/components/Button/__tests__/Button.test.tsx
  src/components/Button/__tests__/__snapshots__/Button.test.tsx.snap
Due: npmPkgJsonLint, eslint

Merge conflicts (#148)
  lerna.json
Due: none

Added title, subtitle and date properties to card
  src/components/Card/Card.tsx
  src/stories/cards/Card.stories.tsx
Due: eslint

Correctly padded date on left side
  src/components/Card/card.module.css
  src/components/CardActions/CardActions.tsx
  src/components/CardActions/bem-mapping.jsx
  src/components/CardActions/card-actions.module.css
  src/components/CardActions/mui-override.module.css
Due: eslint, stylelint

fix incorrect git merge in IconButton
  src/components/IconButton/src/IconButton.stories.tsx
Due: eslint

add compiler options for root tsconfig.json
  tsconfig.json
Due: none

add boilerplate project
  src/components/Icons/README.md
  src/components/Icons/package.json
  src/components/Icons/src/Icons.stories.tsx
  src/components/Icons/src/index.tsx
  src/components/Icons/tsconfig.json
Due: npmPkgJsonLint, eslint

Path conditions:
  npmPkgJsonLint: any of: package.json
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
