Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix(puplish-date): fix random line (#922)
  components/PublicationDate/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@1ec471343c9b64ded0e07a8ba0dab13333c9c54e 🚀
  iframe.html
  main.3adc68bf.iframe.bundle.js
  main.3adc68bf.iframe.bundle.js.LICENSE.txt
  main.3adc68bf.iframe.bundle.js.map
  main.79af42fd.iframe.bundle.js
  main.79af42fd.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@20aeec92276ef6b59e192b8d3b774935c5d74dcf 🚀
  iframe.html
  main.3adc68bf.iframe.bundle.js
  main.3adc68bf.iframe.bundle.js.map
  main.d45376ff.iframe.bundle.js
  main.d45376ff.iframe.bundle.js.LICENSE.txt
  main.d45376ff.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(various-components): wip
  components/Image/src/index.scss
  components/Table/src/index.scss
  components/Typography/src/heading.scss
  proprietary/Components/src/denhaag/heading.tokens.json
  proprietary/Components/src/denhaag/image.tokens.json
  proprietary/Components/src/denhaag/table.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style: various-components style iterations
  components/Accordion/src/index.scss
  components/Pagination/src/index.scss
  proprietary/Components/src/denhaag/accordion.tokens.json
  proprietary/Components/src/denhaag/pagination.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(various-components): remove unused css selectors
  components/Accordion/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@1f2cb89571dc641f766f69dc8bb0a94f0ff0a399 🚀
  iframe.html
  main.d45376ff.iframe.bundle.js
  main.d45376ff.iframe.bundle.js.map
  main.d82971b1.iframe.bundle.js
  main.d82971b1.iframe.bundle.js.LICENSE.txt
  main.d82971b1.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@eda14db26ed18332fbb47d078600a44cbed4be51 🚀
  iframe.html
  main.47b04146.iframe.bundle.js
  main.47b04146.iframe.bundle.js.LICENSE.txt
  main.47b04146.iframe.bundle.js.map
  main.d82971b1.iframe.bundle.js
  main.d82971b1.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@e810f605501a23c5bc556f9a2973e74f4295fd6c 🚀
  iframe.html
  main.47b04146.iframe.bundle.js
  main.47b04146.iframe.bundle.js.map
  main.e5f64d40.iframe.bundle.js
  main.e5f64d40.iframe.bundle.js.LICENSE.txt
  main.e5f64d40.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(hero): rebase padding reset
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(hero): rebase padding reset (#931)
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@55f929a6f4f30729181bbdce4febd221e0659a7a 🚀
  iframe.html
  main.963e77dd.iframe.bundle.js
  main.963e77dd.iframe.bundle.js.LICENSE.txt
  main.963e77dd.iframe.bundle.js.map
  main.e5f64d40.iframe.bundle.js
  main.e5f64d40.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(highlighted-links): add style correction
  components/HighlightedLinks/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

build: add missing `tsconfig.json` files for `composite` flag
  components/AuthenticationBlock/tsconfig.json
  components/CtaImageContent/tsconfig.json
  components/PageButtons/tsconfig.json
  components/Pagination/tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: provide CommonJS exports in addition to ES Modules
  components/ProcessSteps/package.json
  rollup.config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

build: only provide CommonJS exports for ProcessSteps
  components/ProcessSteps/package.json
  components/ProcessSteps/rollup.config.js
  rollup.config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

style(link-group): change link focus border color
  components/LinkGroup/src/index.scss
  proprietary/Components/src/denhaag/link-group.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@85cd8a7ccffe0467b497e30a22ff7c1435465a2a 🚀
  iframe.html
  main.963e77dd.iframe.bundle.js
  main.963e77dd.iframe.bundle.js.map
  main.dee79276.iframe.bundle.js
  main.dee79276.iframe.bundle.js.LICENSE.txt
  main.dee79276.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(link-group): change link focus border color (#934)
  components/LinkGroup/src/index.scss
  proprietary/Components/src/denhaag/link-group.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@8419f46bbb706c2d86e70dc0053caea198759bcc 🚀
  iframe.html
  main.36ff410d.iframe.bundle.js
  main.36ff410d.iframe.bundle.js.LICENSE.txt
  main.36ff410d.iframe.bundle.js.map
  main.dee79276.iframe.bundle.js
  main.dee79276.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@9c30d7f414a34c5e471e34d5819063b0e8566640 🚀
  iframe.html
  main.36ff410d.iframe.bundle.js
  main.36ff410d.iframe.bundle.js.map
  main.a4529521.iframe.bundle.js
  main.a4529521.iframe.bundle.js.LICENSE.txt
  main.a4529521.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: separate build target for component CSS
  rollup.config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@7634050981f77b8d5374c5c4263d0b9440e9d345 🚀
  iframe.html
  main.39e33ebb.iframe.bundle.js
  main.39e33ebb.iframe.bundle.js.LICENSE.txt
  main.39e33ebb.iframe.bundle.js.map
  main.a4529521.iframe.bundle.js
  main.a4529521.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
