Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, prettier -c, stylelint

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint",
  "*.{ts,tsx}": ["eslint", "prettier -c"],
  "*.css": "stylelint"
}

fix: use ThemeDecorator manually to force correct css order
  .storybook/preview.js
Due: none

fix: add utrecht-document--surface class to stylesprovider
  src/components/StylesProvider/src/index.tsx
Due: eslint, prettier -c

feat: add utrecht-document bem class to StylesProvider
  .npmpackagejsonlintrc.json
  package.json
  rollup.config.js
  src/components/StylesProvider/src/index.tsx
  yarn.lock
Due: npmPkgJsonLint, eslint, prettier -c

feat(design-tokens): add utrecht-document design tokens
  src/styles/Common/src/utrecht/document.tokens.json
Due: none

fix: disable visual regression tests to bypass CI
  .github/workflows/cicd.yml
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@4f44fed449c24126172d6ad4626a6226a92dc42c 🚀
  0.949b066b.iframe.bundle.js
  0.f1e4a8ae.iframe.bundle.js
  4.70bccaad.iframe.bundle.js
  4.70bccaad.iframe.bundle.js.LICENSE.txt
  4.70bccaad.iframe.bundle.js.map
  4.9244caf1.iframe.bundle.js
  4.9244caf1.iframe.bundle.js.map
  5.ad4ddef5.iframe.bundle.js
  5.f5ebde8b.iframe.bundle.js
  6.65ef04c5.iframe.bundle.js
  6.65ef04c5.iframe.bundle.js.LICENSE.txt
  6.65ef04c5.iframe.bundle.js.map
  6.bacf447d.iframe.bundle.js
  6.bacf447d.iframe.bundle.js.map
  7.2e411fb3.iframe.bundle.js
  7.d9d5c0c5.iframe.bundle.js
  iframe.html
  main.671dcfdd.iframe.bundle.js
  main.671dcfdd.iframe.bundle.js.map
  main.a08abe16.iframe.bundle.js
  main.a08abe16.iframe.bundle.js.LICENSE.txt
  main.a08abe16.iframe.bundle.js.map
  runtime~main.2a6dd9bd.iframe.bundle.js
  runtime~main.d2458058.iframe.bundle.js
  vendors~main.88e676cc.iframe.bundle.js
  vendors~main.88e676cc.iframe.bundle.js.map
  vendors~main.f38b66d7.iframe.bundle.js
  vendors~main.f38b66d7.iframe.bundle.js.LICENSE.txt
  vendors~main.f38b66d7.iframe.bundle.js.map
Due: none

fix: enable visual regression tests
  .github/workflows/cicd.yml
Due: none

feat(icons): add download icon
  src/components/Icons/src/index.tsx
  src/components/Icons/src/svg/functional/download.svg
Due: eslint, prettier -c

fix: use utrecht bem css instead of scss to fix tests
  package.json
  rollup.config.js
  src/components/StylesProvider/src/index.tsx
  yarn.lock
Due: npmPkgJsonLint, eslint, prettier -c

Deploying to gh-pages from @ nl-design-system/denhaag@0a5810a62f3253747cbe5dccda5d1b7041c548c1 🚀
  0.6aa11595.iframe.bundle.js
  0.949b066b.iframe.bundle.js
  4.70bccaad.iframe.bundle.js
  4.70bccaad.iframe.bundle.js.map
  4.75425888.iframe.bundle.js
  4.75425888.iframe.bundle.js.LICENSE.txt
  4.75425888.iframe.bundle.js.map
  5.680dd0ba.iframe.bundle.js
  5.f5ebde8b.iframe.bundle.js
  6.65ef04c5.iframe.bundle.js
  6.65ef04c5.iframe.bundle.js.map
  6.cfb3f139.iframe.bundle.js
  6.cfb3f139.iframe.bundle.js.LICENSE.txt
  6.cfb3f139.iframe.bundle.js.map
  7.2e411fb3.iframe.bundle.js
  7.7a518061.iframe.bundle.js
  iframe.html
  main.a08abe16.iframe.bundle.js
  main.a08abe16.iframe.bundle.js.map
  main.d9050deb.iframe.bundle.js
  main.d9050deb.iframe.bundle.js.LICENSE.txt
  main.d9050deb.iframe.bundle.js.map
  runtime~main.d2458058.iframe.bundle.js
  runtime~main.dc8d689e.iframe.bundle.js
  vendors~main.0dfec74d.iframe.bundle.js
  vendors~main.0dfec74d.iframe.bundle.js.LICENSE.txt
  vendors~main.0dfec74d.iframe.bundle.js.map
  vendors~main.f38b66d7.iframe.bundle.js
  vendors~main.f38b66d7.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@0b0735906507b563e8c98766ecc51aa2ba6032e0 🚀
  iframe.html
  main.c47fd71b.iframe.bundle.js
  main.c47fd71b.iframe.bundle.js.LICENSE.txt
  main.c47fd71b.iframe.bundle.js.map
  main.d9050deb.iframe.bundle.js
  main.d9050deb.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@fca86ddee59289c5e15b3db17acf4b3354b83382 🚀
  iframe.html
  main.7ff438d6.iframe.bundle.js
  main.7ff438d6.iframe.bundle.js.LICENSE.txt
  main.7ff438d6.iframe.bundle.js.map
  main.c47fd71b.iframe.bundle.js
  main.c47fd71b.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@7ed19bd0d0ff599edc642539b022ba1186a64065 🚀
  iframe.html
  index.html
  main.44fb7dbb.iframe.bundle.js
  main.44fb7dbb.iframe.bundle.js.LICENSE.txt
  main.44fb7dbb.iframe.bundle.js.map
  main.7ff438d6.iframe.bundle.js
  main.7ff438d6.iframe.bundle.js.map
  vendors~main.0dfec74d.iframe.bundle.js
  vendors~main.0dfec74d.iframe.bundle.js.map
  vendors~main.29959100.iframe.bundle.js
  vendors~main.29959100.iframe.bundle.js.LICENSE.txt
  vendors~main.29959100.iframe.bundle.js.map
  vendors~main.7a9c21f423331f516b5a.manager.bundle.js
  vendors~main.f7ce562cb566f5f09833.manager.bundle.js
  vendors~main.f7ce562cb566f5f09833.manager.bundle.js.LICENSE.txt
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@15ed2cb19ade6ab04e0c6bbecae36257cf2ab842 🚀
  iframe.html
  main.29cdc9a8.iframe.bundle.js
  main.29cdc9a8.iframe.bundle.js.LICENSE.txt
  main.29cdc9a8.iframe.bundle.js.map
  main.44fb7dbb.iframe.bundle.js
  main.44fb7dbb.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@66d5e862c95b6a7a49547e675dd7f6bda9bd8b4c 🚀
  iframe.html
  main.29cdc9a8.iframe.bundle.js
  main.29cdc9a8.iframe.bundle.js.map
  main.5033d517.iframe.bundle.js
  main.5033d517.iframe.bundle.js.LICENSE.txt
  main.5033d517.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@8e2e3ccc4d809535be12d688ebcad8838b1b135f 🚀
  iframe.html
  main.5033d517.iframe.bundle.js
  main.5033d517.iframe.bundle.js.map
  main.8f6ecce9.iframe.bundle.js
  main.8f6ecce9.iframe.bundle.js.LICENSE.txt
  main.8f6ecce9.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@a6c9da1d1ea9eaef4de68262e5177d0c31a14704 🚀
  iframe.html
  main.56439687.iframe.bundle.js
  main.56439687.iframe.bundle.js.LICENSE.txt
  main.56439687.iframe.bundle.js.map
  main.8f6ecce9.iframe.bundle.js
  main.8f6ecce9.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@80426932a1389634c1d71eda9b5f9ef256d67851 🚀
  0.2fb70ecd.iframe.bundle.js
  0.6aa11595.iframe.bundle.js
  4.75425888.iframe.bundle.js
  4.75425888.iframe.bundle.js.map
  4.b599cd3a.iframe.bundle.js
  4.b599cd3a.iframe.bundle.js.LICENSE.txt
  4.b599cd3a.iframe.bundle.js.map
  5.2ca676c8.iframe.bundle.js
  5.680dd0ba.iframe.bundle.js
  6.7a53e058.iframe.bundle.js
  6.7a53e058.iframe.bundle.js.LICENSE.txt
  6.7a53e058.iframe.bundle.js.map
  6.cfb3f139.iframe.bundle.js
  6.cfb3f139.iframe.bundle.js.map
  7.3895b864.iframe.bundle.js
  7.7a518061.iframe.bundle.js
  iframe.html
  index.html
  main.0c51ad85.iframe.bundle.js
  main.0c51ad85.iframe.bundle.js.LICENSE.txt
  main.0c51ad85.iframe.bundle.js.map
  main.56439687.iframe.bundle.js
  main.56439687.iframe.bundle.js.map
  runtime~main.224917e1.iframe.bundle.js
  runtime~main.dc8d689e.iframe.bundle.js
  vendors~main.1486ffc9e7a49b0b465c.manager.bundle.js
  vendors~main.1486ffc9e7a49b0b465c.manager.bundle.js.LICENSE.txt
  vendors~main.29959100.iframe.bundle.js
  vendors~main.29959100.iframe.bundle.js.map
  vendors~main.a51c89e1.iframe.bundle.js
  vendors~main.a51c89e1.iframe.bundle.js.LICENSE.txt
  vendors~main.a51c89e1.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@6be75b0a81981d738997bbb6a79dd5ad5695ec06 🚀
  iframe.html
  main.0c51ad85.iframe.bundle.js
  main.0c51ad85.iframe.bundle.js.map
  main.9b8090eb.iframe.bundle.js
  main.9b8090eb.iframe.bundle.js.LICENSE.txt
  main.9b8090eb.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@e707932a8e13d83b801b4d85cb74d5c3c1bae5a4 🚀
  iframe.html
  main.906e076c.iframe.bundle.js
  main.906e076c.iframe.bundle.js.LICENSE.txt
  main.906e076c.iframe.bundle.js.map
  main.9b8090eb.iframe.bundle.js
  main.9b8090eb.iframe.bundle.js.map
  vendors~main.a51c89e1.iframe.bundle.js
  vendors~main.a51c89e1.iframe.bundle.js.map
  vendors~main.d8028d36.iframe.bundle.js
  vendors~main.d8028d36.iframe.bundle.js.LICENSE.txt
  vendors~main.d8028d36.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@72165eb76b438783583dad1bcef4ff01b0c5ab13 🚀
  iframe.html
  main.7319a60d.iframe.bundle.js
  main.7319a60d.iframe.bundle.js.LICENSE.txt
  main.7319a60d.iframe.bundle.js.map
  main.906e076c.iframe.bundle.js
  main.906e076c.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@17b62402d38970cd54694267b227f8cd1ea4e3fa 🚀
  iframe.html
  main.7319a60d.iframe.bundle.js
  main.7319a60d.iframe.bundle.js.map
  main.e5161693.iframe.bundle.js
  main.e5161693.iframe.bundle.js.LICENSE.txt
  main.e5161693.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@5cba87b0c7b7c1ac9e0bb81bc6c1080f8394da19 🚀
  iframe.html
  main.99a9c938.iframe.bundle.js
  main.99a9c938.iframe.bundle.js.LICENSE.txt
  main.99a9c938.iframe.bundle.js.map
  main.e5161693.iframe.bundle.js
  main.e5161693.iframe.bundle.js.map
Due: none

docs: update accordion stories
  src/components/Accordion/src/Accordion.stories.tsx
Due: eslint, prettier -c

refactor: remove AccordionActions component
  src/components/Accordion/src/Accordion.tsx
  src/components/Accordion/src/AccordionActions.tsx
  src/components/Accordion/src/index.tsx
Due: eslint, prettier -c
