Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

feat: renamed component library (#567)
  .storybook/stories/Introduction.stories.mdx
  CONTRIBUTING.md
  LICENSE.md
  README.md
  components/Alert/package.json
  components/Link/src/Link.stories.mdx
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/components-react/tsconfig.json
  tsconfig.json
  tsconfig.storybook.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@6ac82c3ce46e5d64003bf6870586c97a8a80d53e 🚀
  iframe.html
  main.3b5720b6.iframe.bundle.js
  main.3b5720b6.iframe.bundle.js.LICENSE.txt
  main.3b5720b6.iframe.bundle.js.map
  main.8f813a03.iframe.bundle.js
  main.8f813a03.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/Accordion/package.json
  components/Alert/package.json
  components/Avatar/package.json
  components/BadgeCounter/package.json
  components/BaseDataDisplayProps/package.json
  components/BaseProps/package.json
  components/Button/package.json
  components/Card/package.json
  components/Checkbox/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/Link/package.json
  components/List/package.json
  components/Menu/package.json
  components/Pickers/package.json
  components/PickersUtilsProvider/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  components/Typography/package.json
  packages/components-css/package.json
  packages/components-react/package.json
  proprietary/Common/package.json
  proprietary/Components/package.json
  proprietary/Proprietary/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

test: extend link stories with plain html examples
  components/Link/src/Link.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

test: extend storybrook Link component
  components/Link/src/Link.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(link): rename files, using same naming conventions as Utrecht
  components/Link/src/bem.stories.mdx
  components/Link/src/link.css
  components/Link/src/react.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

test: rename labels
  components/Link/src/css.stories.mdx
  components/Link/src/link.css
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

test: split link components
  components/Link/src/Link.stories.mdx
  components/Link/src/css.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(merge-conflict): fix merge conflict with main branch
  components/Link/src/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(link): rebasing stories into own direction
  components/Link/src/stories/bem.stories.mdx
  components/Link/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add missing dependency
  components/Tab/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor(link): set fallback link styles with default token
  components/Link/src/link.css
Due: prettier --check, stylelint --allow-empty-input

fix: add missing dependency (#570)
  components/Tab/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@ce0727e5105ff6f06b9e0a86b8d03632c9bec426 🚀
  iframe.html
  main.3b5720b6.iframe.bundle.js
  main.3b5720b6.iframe.bundle.js.map
  main.fd9126e4.iframe.bundle.js
  main.fd9126e4.iframe.bundle.js.LICENSE.txt
  main.fd9126e4.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(button): fix button preview, removing linting exclude message
  components/Button/src/stories/button.bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(link): rebase from components to react components
  components/Link/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(button): rename button files
  components/Button/src/index.css
  components/Button/src/index.tsx
  components/Button/src/stories/bem.stories.mdx
  components/Button/src/stories/react.stories.mdx
  packages/components-css/src/index.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@f3a12656cf171c1857475e664ec95d1392c87b87 🚀
  iframe.html
  main.b8ea307d.iframe.bundle.js
  main.b8ea307d.iframe.bundle.js.LICENSE.txt
  main.b8ea307d.iframe.bundle.js.map
  main.fd9126e4.iframe.bundle.js
  main.fd9126e4.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(breadcrumb): extend documentation with figma link
  components/Breadcrumb/README.md
Due: prettier --check

feat(breadcrumb): start working on the component
  components/Breadcrumb/src/breadcrumb.css
  components/Breadcrumb/src/index.tsx
  components/Breadcrumb/src/stories/breadcrumb.bem.stories.mdx
  components/Breadcrumb/src/stories/breadcrumb.react.stories.mdx
  components/Breadcrumb/tsconfig.json
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

docs(link): remove react in bem stories
  components/Link/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(breadcrumb): check breadcrumb documentation
  components/Breadcrumb/README.md
  components/Breadcrumb/package.json
  components/Breadcrumb/src/stories/breadcrumb.bem.stories.mdx
  components/Breadcrumb/src/stories/breadcrumb.react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(breadcrumb): remove duplicate styles
  components/Breadcrumb/src/breadcrumb.css
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@137f91e826b2ffceb0ad121b93e3f4581ae9da58 🚀
  iframe.html
  main.350611bb.iframe.bundle.js
  main.350611bb.iframe.bundle.js.LICENSE.txt
  main.350611bb.iframe.bundle.js.map
  main.b8ea307d.iframe.bundle.js
  main.b8ea307d.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@7ee960039ef81c72a35da8df04c24c1d0de29c78 🚀
  iframe.html
  main.24d107fb.iframe.bundle.js
  main.24d107fb.iframe.bundle.js.LICENSE.txt
  main.24d107fb.iframe.bundle.js.map
  main.350611bb.iframe.bundle.js
  main.350611bb.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern
