Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

fix: update readme with correct ci workflow name
  README.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@db848e1d8631878fbfbbcb69ef2cb0237f0f19b5 🚀
  iframe.html
  main.6a2c05a4.iframe.bundle.js
  main.6a2c05a4.iframe.bundle.js.map
  main.e6914aa8.iframe.bundle.js
  main.e6914aa8.iframe.bundle.js.LICENSE.txt
  main.e6914aa8.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@c0e11f6e48b8c1918fb2b628f81ba1aaaa4d71ba 🚀
  iframe.html
  main.81afd272.iframe.bundle.js
  main.81afd272.iframe.bundle.js.LICENSE.txt
  main.81afd272.iframe.bundle.js.map
  main.e6914aa8.iframe.bundle.js
  main.e6914aa8.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/Accordion/package.json
  components/Alert/package.json
  components/Avatar/package.json
  components/BadgeCounter/package.json
  components/BaseDataDisplayProps/package.json
  components/BaseProps/package.json
  components/Button/package.json
  components/Card/package.json
  components/Checkbox/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/Link/package.json
  components/List/package.json
  components/Menu/package.json
  components/Pickers/package.json
  components/PickersUtilsProvider/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  components/Typography/package.json
  packages/components-css/package.json
  packages/components-react/package.json
  proprietary/Common/package.json
  proprietary/Components/package.json
  proprietary/Proprietary/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(pagination): yarn install & test css after merge main
  components/Pagination/src/pagination.css
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input

feat(breadcrumb): add tokens
  components/Breadcrumb/src/breadcrumb.css
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(breadcrumb): apply feedback
  components/Breadcrumb/src/stories/breadcrumb.bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(breadcrumb): added missing radius token
  components/Breadcrumb/src/breadcrumb.css
  components/Breadcrumb/src/stories/breadcrumb.bem.stories.mdx
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(breadcrumb): feedback -> remove transition
  components/Breadcrumb/src/breadcrumb.css
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(breadcrumb): apply border-radius fallback as css variable
  components/Breadcrumb/src/breadcrumb.css
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@72b63400431a55d980f3a17e5c96e877a555bc28 🚀
  iframe.html
  main.81afd272.iframe.bundle.js
  main.81afd272.iframe.bundle.js.map
  main.fba00fc7.iframe.bundle.js
  main.fba00fc7.iframe.bundle.js.LICENSE.txt
  main.fba00fc7.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@0c3c883164a124bd83aaaf25a3a1ce73f6a56479 🚀
  iframe.html
  main.8a5b6e7e.iframe.bundle.js
  main.8a5b6e7e.iframe.bundle.js.LICENSE.txt
  main.8a5b6e7e.iframe.bundle.js.map
  main.fba00fc7.iframe.bundle.js
  main.fba00fc7.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(breadcrumb): apply feedback
  components/Breadcrumb/src/stories/breadcrumb.react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(breadcrumb): applied feedback to the versioning and package status
  components/Breadcrumb/package.json
  components/Breadcrumb/src/stories/breadcrumb.bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(breadcrumb): set token to other token instead of value
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(pagination): apply same feedback as in breadcrumbs
  components/Pagination/package.json
  components/Pagination/src/stories/pagination.bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(breadcrumbs): replace all fallbacks to hard-values if no global options available
  components/Breadcrumb/src/breadcrumb.css
Due: prettier --check, stylelint --allow-empty-input

feat(pagination): add aria
  components/Pagination/src/pagination.css
  components/Pagination/src/stories/pagination.bem.stories.mdx
  proprietary/Components/src/denhaag/pagination.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(pagination): rename stories
  components/Pagination/src/stories/bem.stories.mdx
  components/Pagination/src/stories/pagination.react.stories.mdx
  components/Pagination/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(pagination): set tokens to rem and variables instead of pixels and variables
  proprietary/Components/src/denhaag/pagination.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(pagination): extend description
  components/Pagination/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(accordion): add accordion bem story + design tokens
  components/Accordion/src/accordion.css
  components/Accordion/src/index.tsx
  components/Accordion/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(pagination): remove disable state from numbers
  components/Pagination/README.md
  components/Pagination/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(pagination): remove fallback of font-weight
  components/Pagination/src/pagination.css
Due: prettier --check, stylelint --allow-empty-input

docs(pagination): update documentation with alignment options
  components/Pagination/README.md
Due: prettier --check

feat(table): add react components for all table elements
  components/Table/package.json
  components/Table/src/Table.tsx
  components/Table/src/TableBody.tsx
  components/Table/src/TableCaption.tsx
  components/Table/src/TableCell.tsx
  components/Table/src/TableCol.tsx
  components/Table/src/TableColGroup.tsx
  components/Table/src/TableFoot.tsx
  components/Table/src/TableHead.tsx
  components/Table/src/TableHeader.tsx
  components/Table/src/TableRow.tsx
  components/Table/src/index.css
  components/Table/src/index.tsx
  components/Table/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

docs(table): add jsdocs for table components
  components/Table/src/Table.tsx
  components/Table/src/TableBody.tsx
  components/Table/src/TableCell.tsx
  components/Table/src/TableCol.tsx
  components/Table/src/TableColGroup.tsx
  components/Table/src/TableHead.tsx
  components/Table/src/TableHeader.tsx
  components/Table/src/TableRow.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fixup! feat(table): add react components for all table elements
  components/Table/src/TableHeader.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(table): add react.stories.mdx
  components/Table/src/index.tsx
  components/Table/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(accordion): refactor bem story, css, tokens
  components/Accordion/src/Accordion.stories.tsx
  components/Accordion/src/index.css
  components/Accordion/src/index.tsx
  components/Accordion/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@bb8bbb8dfcc9649778417520e5e263809aee8348 🚀
  iframe.html
  main.2d2cd16d.iframe.bundle.js
  main.2d2cd16d.iframe.bundle.js.LICENSE.txt
  main.2d2cd16d.iframe.bundle.js.map
  main.8a5b6e7e.iframe.bundle.js
  main.8a5b6e7e.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(note): start styling and tokens
  components/Note/README.md
  components/Note/package.json
  components/Note/src/note.css
  components/Note/src/note.tsx
  components/Note/src/stories/bem.stories.mdx
  components/Note/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(note): start working, added component folder structure and readme
  components/Note/README.md
  components/Note/package.json
  components/Note/src/note.css
  components/Note/src/note.tsx
  components/Note/src/stories/bem.stories.mdx
  components/Note/src/stories/react.stories.mdx
  components/Note/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(accordion): add AccordionScripts based on ModalScripts for toggling
  components/Accordion/src/accordion.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(breadcrumb): apply feedback, removing react and added aria
  components/Breadcrumb/src/breadcrumb.css
  components/Breadcrumb/src/index.tsx
  components/Breadcrumb/src/stories/breadcrumb.bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

docs(breadcrumb): remove dependencies from package
  components/Breadcrumb/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(pagination): applied feedback + feedback from breadcrumbs
  components/Pagination/package.json
  components/Pagination/src/pagination.css
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(accordion): refactor AccordionScripts
  components/Accordion/src/accordion.js
  components/Accordion/src/index.css
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(pagination): apply in components-css
  packages/components-css/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern
