Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

fix(hero-overflow): remove overflow properties, since they're redundant
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@7dd916e3afdffed06b24fdc1e9a2330f2055e6e4 🚀
  iframe.html
  main.37e31033.iframe.bundle.js
  main.37e31033.iframe.bundle.js.map
  main.5603081e.iframe.bundle.js
  main.5603081e.iframe.bundle.js.LICENSE.txt
  main.5603081e.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@0b158dd46e2ac1bb78381f58c52991f5b2b76f20 🚀
  iframe.html
  main.5603081e.iframe.bundle.js
  main.5603081e.iframe.bundle.js.map
  main.84ddda90.iframe.bundle.js
  main.84ddda90.iframe.bundle.js.LICENSE.txt
  main.84ddda90.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(button): add styling correction
  proprietary/Components/src/denhaag/button.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(button): token units from px to space token refs
  proprietary/Components/src/denhaag/button.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@edbf3ea968967d7e9c334ac302d01aacfd95a1d6 🚀
  iframe.html
  main.13ec58f3.iframe.bundle.js
  main.13ec58f3.iframe.bundle.js.LICENSE.txt
  main.13ec58f3.iframe.bundle.js.map
  main.84ddda90.iframe.bundle.js
  main.84ddda90.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@7dfb8b97c67fabbf2235890af90a47427a7b50c5 🚀
  iframe.html
  main.13ec58f3.iframe.bundle.js
  main.13ec58f3.iframe.bundle.js.map
  main.5b7b833e.iframe.bundle.js
  main.5b7b833e.iframe.bundle.js.LICENSE.txt
  main.5b7b833e.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(download): apply aria-labels to downloadable links
  components/CtaDownload/src/stories/bem.stories.mdx
  components/Image/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(cta): apply new style
  components/CtaDownload/src/index.scss
  components/CtaEvent/src/index.scss
  components/CtaLink/src/index.scss
  proprietary/Components/src/denhaag/cta-download.tokens.json
  proprietary/Components/src/denhaag/cta-event.tokens.json
  proprietary/Components/src/denhaag/cta-link.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: change colors of dotted border
  components/ProcessSteps/src/StepList.scss
Due: prettier --check, stylelint --allow-empty-input

feat: fixed line but hella hacky tho
  components/ProcessSteps/src/Step.scss
  components/ProcessSteps/src/StepList.scss
  components/ProcessSteps/src/SubStep.scss
Due: prettier --check, stylelint --allow-empty-input

fix: duplicate export
  components/ProcessSteps/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: some more tweaks to line
  components/ProcessSteps/src/StepHeading.scss
  components/ProcessSteps/src/SubStep.scss
Due: prettier --check, stylelint --allow-empty-input

style(cta): apply new style (#919)
  components/CtaDownload/src/index.scss
  components/CtaEvent/src/index.scss
  components/CtaLink/src/index.scss
  proprietary/Components/src/denhaag/cta-download.tokens.json
  proprietary/Components/src/denhaag/cta-event.tokens.json
  proprietary/Components/src/denhaag/cta-link.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@1de0693080329180d20c1f37bba7ddc93b51a63b 🚀
  iframe.html
  main.13226d22.iframe.bundle.js
  main.13226d22.iframe.bundle.js.LICENSE.txt
  main.13226d22.iframe.bundle.js.map
  main.5b7b833e.iframe.bundle.js
  main.5b7b833e.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(hero-home): add offset for image width
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(hero): remove padding when above specific screensize
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Feature/hero home styles (#921)
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(puplish-date): fix random line
  components/PublicationDate/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@e8452b0268eeef06748126eaef054582935e046d 🚀
  iframe.html
  main.13226d22.iframe.bundle.js
  main.13226d22.iframe.bundle.js.map
  main.a7ba0e81.iframe.bundle.js
  main.a7ba0e81.iframe.bundle.js.LICENSE.txt
  main.a7ba0e81.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(download): apply aria-labels to downloadable links (#917)
  components/CtaDownload/src/stories/bem.stories.mdx
  components/Image/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@ce1c99436556680698eafbf4f78800e3b88cebbb 🚀
  iframe.html
  main.a7ba0e81.iframe.bundle.js
  main.a7ba0e81.iframe.bundle.js.map
  main.b4643d03.iframe.bundle.js
  main.b4643d03.iframe.bundle.js.LICENSE.txt
  main.b4643d03.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(sidenav): add sidenav component
  components/HighlightedLinks/package.json
  components/Subnavigation/README.md
  components/Subnavigation/package.json
  components/Subnavigation/src/Sidenav.tsx
  components/Subnavigation/src/SidenavItem.tsx
  components/Subnavigation/src/SidenavLink.tsx
  components/Subnavigation/src/SidenavList.tsx
  components/Subnavigation/src/index.scss
  components/Subnavigation/src/index.tsx
  components/Subnavigation/src/stories/bem.stories.mdx
  components/Subnavigation/src/stories/react.stories.mdx
  components/Subnavigation/tsconfig.json
  proprietary/Components/src/denhaag/sidenav.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(sidenav): add aria-current=page if current prop is provided
  components/Subnavigation/src/SidenavLink.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(sidenav): add href to sidenav links in storybook to allow focus
  components/Subnavigation/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@d72dfe9ad2d6fa00bf736a8ec2ce13c9bf7c5c93 🚀
  iframe.html
  main.79af42fd.iframe.bundle.js
  main.79af42fd.iframe.bundle.js.LICENSE.txt
  main.79af42fd.iframe.bundle.js.map
  main.b4643d03.iframe.bundle.js
  main.b4643d03.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: rename subnavigation package to sidenav, add to components-{css, react} packages
  components/Sidenav/README.md
  components/Sidenav/package.json
  components/Sidenav/src/Sidenav.tsx
  components/Sidenav/src/SidenavItem.tsx
  components/Sidenav/src/SidenavLink.tsx
  components/Sidenav/src/SidenavList.tsx
  components/Sidenav/src/index.scss
  components/Sidenav/src/index.tsx
  components/Sidenav/src/stories/bem.stories.mdx
  components/Sidenav/src/stories/react.stories.mdx
  components/Sidenav/tsconfig.json
  packages/components-css/src/index.scss
  packages/components-react/src/index.tsx
  packages/components-react/tsconfig.json
  tsconfig.json
  tsconfig.storybook.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets
