Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: remove lodash package (#1370)
  package.json
  pnpm-lock.yaml
  rollup.config.mjs
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: removed BadgeStatus
  components/BadgeStatus/README.md
  proprietary/Components/src/utrecht/badge-status.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: removed CardProduct
  components/CardProduct/README.md
Due: prettier --check

feat: removed CardSubject
  components/CardSubject/README.md
Due: prettier --check

feat: removed CardTheme
  components/CardTheme/README.md
Due: prettier --check

feat: removed CardCase
  components/CardCase/README.md
Due: prettier --check

feat: removed CardGuide
  components/CardGuide/README.md
Due: prettier --check

feat: removed Chat
  components/Chat/README.md
Due: prettier --check

feat: removed Avatar
  components/Avatar/package.json
  components/Avatar/src/Avatar.tsx
  components/Avatar/src/index.scss
  components/Avatar/src/index.tsx
  components/Avatar/src/stories/react.stories.tsx
  components/Avatar/tsconfig.json
  components/Card/package.json
  components/DotIndicator/package.json
  components/DotIndicator/src/stories/react.stories.mdx
  package.json
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: made labels prop in formatDate and Action mandatory
  components/Action/src/Action.tsx
  components/Action/src/ActionDate.tsx
  components/Action/src/ActionDetails.tsx
  components/Utils/src/formatDate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: removed DatePicker
  components/Datepicker/README.md
  components/Datepicker/package.json
  components/Datepicker/src/index.scss
  components/Datepicker/src/index.tsx
  components/Datepicker/src/locale/index.ts
  components/Datepicker/src/stories/react.stories.mdx
  components/Datepicker/tsconfig.json
  package.json
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  proprietary/Components/src/denhaag/datepicker.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: removed DotIndicator
  components/BadgeCounter/package.json
  components/BadgeCounter/src/index.tsx
  components/BadgeCounter/tsconfig.json
  components/DotIndicator/README.md
  components/DotIndicator/package.json
  components/DotIndicator/src/index.scss
  components/DotIndicator/src/index.tsx
  components/DotIndicator/src/stories/react.stories.mdx
  components/DotIndicator/tsconfig.json
  packages/components-css/package.json
  packages/components-css/src/index.scss
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: removed Timeline
  components/Timeline/README.md
  components/Timeline/package.json
  components/Timeline/src/StepComponentProps.ts
  components/Timeline/src/StepContent.tsx
  components/Timeline/src/StepIcon.tsx
  components/Timeline/src/StepLabel.tsx
  components/Timeline/src/Timeline.tsx
  components/Timeline/src/TimelineStep.tsx
  components/Timeline/src/index.scss
  components/Timeline/src/index.tsx
  components/Timeline/src/stories/react.stories.tsx
  components/Timeline/src/styles/_mui-override.scss
  components/Timeline/src/styles/_step-content.scss
  components/Timeline/src/styles/_step-icon.scss
  components/Timeline/src/styles/_step-label.scss
  components/Timeline/src/styles/_step.scss
  components/Timeline/src/styles/_timeline.scss
  components/Timeline/tsconfig.json
  package.json
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/components-react/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.storybook.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: removed Textarea
  components/TextArea/README.md
  components/TextArea/package.json
  components/TextArea/src/index.scss
  components/TextArea/src/index.tsx
  components/TextArea/src/stories/react.stories.mdx
  components/TextArea/tsconfig.json
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/open-forms/src/index.scss
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: removed Switch
  components/Switch/README.md
  components/Switch/package.json
  components/Switch/src/index.tsx
  components/Switch/src/react.stories.tsx
  components/Switch/tsconfig.json
  package.json
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/components-react/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.storybook.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: removed Select
  components/Select/README.md
  components/Select/package.json
  components/Select/src/index.tsx
  components/Select/tsconfig.json
  package.json
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/components-react/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.storybook.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: removed PosttypeLabel
  components/PosttypeLabel/README.md
  components/PosttypeLabel/package.json
  components/PosttypeLabel/src/index.scss
  components/PosttypeLabel/src/index.tsx
  components/PosttypeLabel/src/stories/bem.stories.mdx
  components/PosttypeLabel/src/stories/react.stories.mdx
  components/PosttypeLabel/tsconfig.json
  package.json
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: removed InputLabel
  components/InputLabel/package.json
  components/InputLabel/src/index.tsx
  components/InputLabel/tsconfig.json
  package.json
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/components-react/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.storybook.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: removed FormNavigation
  components/FormNavigation/README.md
Due: prettier --check

feat: removed FormControl
  components/FormControl/package.json
  components/FormControl/src/index.tsx
  components/FormControl/tsconfig.json
  package.json
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/components-react/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.storybook.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: build
  packages/components-react/tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: use the differenceInCalendarDays, so time is not included in the calculation
  components/Utils/src/formatDate.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: build
  tsconfig.json
  tsconfig.storybook.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Revert "feat: removed DotIndicator"
  components/BadgeCounter/src/index.tsx
  components/DotIndicator/README.md
  components/DotIndicator/package.json
  components/DotIndicator/src/index.scss
  components/DotIndicator/src/index.tsx
  components/DotIndicator/src/stories/react.stories.mdx
  components/DotIndicator/tsconfig.json
  packages/components-css/package.json
  packages/components-css/src/index.scss
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: pnpm lock
  pnpm-lock.yaml
Due: prettier --check

fix: moved ContactTimelineList to separate file
  components/ContactTimeline/src/ContactTimeline.tsx
  components/ContactTimeline/src/ContactTimelineList.tsx
  components/ContactTimeline/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

WIP contact timeline refactor
  components/ContactTimeline/src/index.scss
  components/ContactTimeline/src/index.tsx
  components/ProcessSteps/src/Step.tsx
  components/ProcessSteps/src/StepDetails.tsx
  proprietary/Components/src/denhaag/contact-timeline.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: finished first version of refactored contact timelines, converted react story to tsx, added component to casedetail template
  .storybook/@types/icons.d.ts
  .storybook/stories/templates/05-Case-detail-page.stories.tsx
  components/ContactTimeline/README.md
  components/ContactTimeline/package.json
  components/ContactTimeline/src/ContactTimeline.tsx
  components/ContactTimeline/src/_ContactTimelineHeader.scss
  components/ContactTimeline/src/_ContactTimelineItemSender.scss
  components/ContactTimeline/src/_ContactTimelineMetaSeparator.scss
  components/ContactTimeline/src/_ContactTimelineStep.scss
  components/ContactTimeline/src/_ContactTimelineStepMarkerConnector.scss
  components/ContactTimeline/src/stories/react.stories.mdx
  components/ContactTimeline/src/stories/react.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

WIP contact timeline refactor, added story variants, started with file variant
  components/ContactTimeline/src/ContactTimelineMetaMarker.tsx
  components/ContactTimeline/src/ContactTimelineMetaSeparator.tsx
  components/ContactTimeline/src/ContactTimelineSender.tsx
  components/ContactTimeline/src/index.scss
  components/ContactTimeline/src/index.tsx
  components/ContactTimeline/src/stories/bem.stories.mdx
  components/ContactTimeline/src/stories/react.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: added more generic Den Haag formatData, improved multi language support of Action component
  .storybook/stories/templates/05-Case-detail-page.stories.tsx
  .storybook/stories/templates/Messages-page.stories.tsx
  .storybook/stories/templates/util.tsx
  components/Action/package.json
  components/Action/src/Action.tsx
  components/Action/src/ActionDate.tsx
  components/Action/src/ActionDetails.tsx
  components/Action/src/ActionMulti.tsx
  components/Action/src/ActionSingle.tsx
  components/Action/src/stories/react.stories.mdx
  components/Utils/src/formatDate.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: created Utils package with generic formatDate
  .storybook/stories/templates/05-Case-detail-page.stories.tsx
  components/ContactTimeline/package.json
  components/ContactTimeline/src/ContactTimeline.tsx
  components/ContactTimeline/src/stories/bem.stories.tsx
  components/ContactTimeline/src/stories/react.stories.tsx
  components/Utils/package.json
  components/Utils/src/formatDate.tsx
  components/Utils/src/index.tsx
  components/Utils/tsconfig.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

WIP contact timeline desktop
  components/ContactTimeline/package.json
  components/ContactTimeline/src/ContactTimelineHeaderContent.tsx
  components/ContactTimeline/src/ContactTimelineMeta.tsx
  components/ContactTimeline/src/ContactTimelineMetaItem.tsx
  components/ContactTimeline/src/ContactTimelineMetaMarker.tsx
  components/ContactTimeline/src/ContactTimelineMetaTimeItem.tsx
  components/ContactTimeline/src/index.scss
  components/ContactTimeline/src/index.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: use correct html element in HTMLAttributes
  components/ContactTimeline/src/ContactTimelineHeaderChannel.tsx
  components/ContactTimeline/src/ContactTimelineHeaderContent.tsx
  components/ContactTimeline/src/ContactTimelineHeaderDate.tsx
  components/ContactTimeline/src/ContactTimelineItemFile.tsx
  components/ContactTimeline/src/ContactTimelineItemSender.tsx
  components/ContactTimeline/src/ContactTimelineMeta.tsx
  components/ContactTimeline/src/ContactTimelineMetaItem.tsx
  components/ContactTimeline/src/ContactTimelineMetaSeparator.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

WIP refactor contact timeline
  components/ContactTimeline/src/ContactTimelineItemFile.tsx
  components/ContactTimeline/src/ContactTimelineItemSender.tsx
  components/ContactTimeline/src/ContactTimelineSender.tsx
  components/ContactTimeline/src/index.scss
  components/ContactTimeline/src/index.tsx
  components/ContactTimeline/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/contact-timeline.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
