Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@af40ed817d8971aee51332508b7505f3d752b5be 🚀
  iframe.html
  main.11fe3edc.iframe.bundle.js
  main.11fe3edc.iframe.bundle.js.LICENSE.txt
  main.94fffd70.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: wip summary page template
  .storybook/main.js
  .storybook/stories/templates/Summary-page.stories.mdx
  .storybook/stories/templates/story-summary.css
  components/SummaryHeader/package.json
  components/SummaryHeader/src/index.scss
  components/SummaryHeader/src/index.tsx
  components/SummaryHeader/tsconfig.json
  components/Typography/src/Heading.tsx
  components/Typography/src/index.tsx
  proprietary/Components/src/denhaag/summary-header.tokens.json
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

style(button): additional bem
  components/Button/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(button): refactor, rm <br />, add button group containers
  components/Button/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(focus styles): apply focus styles only for accessibility a.k.a :focus-visible
  components/Breadcrumb/src/index.scss
  components/CtaDownload/src/index.scss
  components/CtaEvent/src/index.scss
  components/CtaLink/src/index.scss
  components/IconButton/src/index.scss
  components/Modal/src/index.scss
  components/Pagination/src/index.scss
  components/Sidenav/src/index.scss
  components/Timeline/src/styles/step.scss
Due: prettier --check, stylelint --allow-empty-input

style(focus style): add link focus refactor
  components/Link/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(focus styles): additional refactor
  components/AuthenticationBlock/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(anchor collapse): style corrections
  components/AnchorCollapse/src/index.scss
  proprietary/Components/src/denhaag/anchor-collapse.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@c87e55e387c11731e806b3adbfe7bff1b7f9f512 🚀
  iframe.html
  main.11fe3edc.iframe.bundle.js
  main.cfcc4668.iframe.bundle.js
  main.cfcc4668.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@a1a474052effd7c3e698c4a765f8d80d811e44a3 🚀
  iframe.html
  main.754b0652.iframe.bundle.js
  main.754b0652.iframe.bundle.js.LICENSE.txt
  main.cfcc4668.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(heading): set color for heading and remove unset tokens (#1057)
  components/Hero/src/index.scss
  components/Typography/src/heading.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@f3422ed3303404a2720bd881a7fd60f6cb7324d5 🚀
  iframe.html
  main.2cf85fa7.iframe.bundle.js
  main.2cf85fa7.iframe.bundle.js.LICENSE.txt
  main.754b0652.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@847e5a39a93ba96188a307399147d529b1d6f431 🚀
  iframe.html
  main.2cf85fa7.iframe.bundle.js
  main.7d38929d.iframe.bundle.js
  main.7d38929d.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(dynamic-content): fix for text breaking layout
  components/DynamicContent/src/index.scss
  proprietary/Components/src/denhaag/dynamic-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(dynamic-content): fix for text breaking layout (#1072)
  components/DynamicContent/src/index.scss
  proprietary/Components/src/denhaag/dynamic-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@3f79126c7b8565497c7b6d9ad15c7ac9d8cd27f0 🚀
  iframe.html
  main.7d38929d.iframe.bundle.js
  main.fd95c866.iframe.bundle.js
  main.fd95c866.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(dynamic-content): remove flex-wrap
  components/DynamicContent/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@f19ba0f8bf05443914d09d569134cdcaa4a51698 🚀
  iframe.html
  main.9da77895.iframe.bundle.js
  main.9da77895.iframe.bundle.js.LICENSE.txt
  main.fd95c866.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(ol and ul): corrections + additional bem
  components/OrderedList/src/index.scss
  components/OrderedList/src/stories/bem.stories.mdx
  components/UnorderedList/src/index.scss
  components/UnorderedList/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/unordered-list.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(ol ul): undo fallback css
  components/UnorderedList/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(ol ul): rm token
  proprietary/Components/src/denhaag/unordered-list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(ol ul): remove fallback css
  components/OrderedList/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(image): remove uppercase img caption
  components/Image/src/index.scss
  proprietary/Components/src/denhaag/image.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(accordion-item): fix click action on icon
  components/Accordion/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@ddc88ff412969014c5ed5e636d3b5d30f91e99a1 🚀
  iframe.html
  main.31358aba.iframe.bundle.js
  main.31358aba.iframe.bundle.js.LICENSE.txt
  main.9da77895.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(accordion-item): fix click action on icon (#1077)
  components/Accordion/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
