Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, prettier -c, stylelint

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint",
  "*.{ts,tsx}": ["eslint", "prettier -c"],
  "*.css": "stylelint"
}

docs: documentation for updating npm packages
  CONTRIBUTING.md
Due: none

refactor: configure `main` as default branch
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/workflows/cicd.yml
  CONTRIBUTING.md
  README.md
  components/Alert/README.md
  components/BadgeCounter/README.md
  components/Button/README.md
  components/Checkbox/README.md
  components/DotIndicator/README.md
  components/FormControlLabel/README.md
  components/FormGroup/README.md
  components/Link/README.md
  components/Menu/README.md
  lerna.json
Due: none

docs: update repo location in readme build status
  components/Alert/README.md
  components/BadgeCounter/README.md
  components/Checkbox/README.md
  components/FormControlLabel/README.md
  components/FormGroup/README.md
  components/Link/README.md
  components/Menu/README.md
Due: none

fix: cicd incorrect branch rename
  .github/workflows/cicd.yml
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@7ae473e6fe75e42f06239b7c03cff5a0674154c7 🚀
  iframe.html
  main.00e0ae05.iframe.bundle.js
  main.00e0ae05.iframe.bundle.js.LICENSE.txt
  main.00e0ae05.iframe.bundle.js.map
  main.65eb2bf2.iframe.bundle.js
  main.65eb2bf2.iframe.bundle.js.map
Due: none

Publish
  components/Accordion/package.json
  components/Alert/package.json
  components/Avatar/package.json
  components/BadgeCounter/package.json
  components/BaseDataDisplayProps/package.json
  components/BaseProps/package.json
  components/Button/package.json
  components/Card/package.json
  components/Checkbox/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/Link/package.json
  components/List/package.json
  components/Menu/package.json
  components/Pickers/package.json
  components/PickersUtilsProvider/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  components/Typography/package.json
  packages/components-css/package.json
  packages/denhaag-component-library/package.json
  proprietary/Common/package.json
  proprietary/Components/package.json
  proprietary/Proprietary/package.json
Due: npmPkgJsonLint

fix: update branch name and typos in contributing.md
  CONTRIBUTING.md
Due: none

ci: remove unused travis.yml
  .travis.yml
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@0baaee90b396005e41a4612ce91f91eb02055d06 🚀
  iframe.html
  main.00e0ae05.iframe.bundle.js
  main.00e0ae05.iframe.bundle.js.map
  main.4031285b.iframe.bundle.js
  main.4031285b.iframe.bundle.js.LICENSE.txt
  main.4031285b.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@0718b435cf57f2c4e59bac1117c7e27465e9ec97 🚀
  iframe.html
  main.4031285b.iframe.bundle.js
  main.4031285b.iframe.bundle.js.map
  main.d34611f2.iframe.bundle.js
  main.d34611f2.iframe.bundle.js.LICENSE.txt
  main.d34611f2.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@cd0a81d4d5bd3f35820e1b8ea664772dd64d046d 🚀
  iframe.html
  main.87b22914.iframe.bundle.js
  main.87b22914.iframe.bundle.js.LICENSE.txt
  main.87b22914.iframe.bundle.js.map
  main.d34611f2.iframe.bundle.js
  main.d34611f2.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@0330eb9f47df0e3ff28aa6e786a9e6d4d0d04415 🚀
  iframe.html
  main.87b22914.iframe.bundle.js
  main.87b22914.iframe.bundle.js.map
  main.ca4ba614.iframe.bundle.js
  main.ca4ba614.iframe.bundle.js.LICENSE.txt
  main.ca4ba614.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@fe550b376644d387dda3566df56245b2d7e945c7 🚀
  iframe.html
  main.4550348e.iframe.bundle.js
  main.4550348e.iframe.bundle.js.LICENSE.txt
  main.4550348e.iframe.bundle.js.map
  main.ca4ba614.iframe.bundle.js
  main.ca4ba614.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@5263c10df3d7061c9071933f1c3408045489fc27 🚀
  iframe.html
  main.4550348e.iframe.bundle.js
  main.4550348e.iframe.bundle.js.map
  main.8d0ea55f.iframe.bundle.js
  main.8d0ea55f.iframe.bundle.js.LICENSE.txt
  main.8d0ea55f.iframe.bundle.js.map
Due: none

fix: remove typescript ignore from npm-check-updates
  .ncurc.minor.js
Due: none

ci: add npm-check-updates
  .ncurc.major.js
  .ncurc.minor.js
  .ncurc.patch.js
  package.json
  yarn.lock
Due: npmPkgJsonLint

refactor: remove mui from button
  components/Button/src/bem-mapping.ts
  components/Button/src/button.css
  components/Button/src/index.tsx
  components/Button/src/mui-override.css
  components/Button/src/stories/Button.stories.mdx
Due: eslint, prettier -c, stylelint

refactor: remove button--primary-action modifier and use as default
  components/Button/src/button.css
  components/Button/src/index.tsx
  components/Button/src/stories/button.bem.stories.mdx
  components/Button/src/stories/button.react.stories.mdx
Due: eslint, prettier -c, stylelint

fix: button--large icon size
  components/Button/src/button.css
Due: stylelint

docs: change button.react.stories.mdx title to react components
  components/Button/src/stories/button.react.stories.mdx
Due: none

build: switch to fixed npm dependencies
  .npmrc
  components/Accordion/package.json
  components/Alert/package.json
  components/Avatar/package.json
  components/BadgeCounter/package.json
  components/BaseDataDisplayProps/package.json
  components/BaseProps/package.json
  components/Button/package.json
  components/Card/package.json
  components/Checkbox/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/Link/package.json
  components/List/package.json
  components/Menu/package.json
  components/Pickers/package.json
  components/PickersUtilsProvider/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  components/Typography/package.json
  package-lock.json
  package.json
  packages/denhaag-component-library/package.json
  proprietary/Common/package.json
  proprietary/Components/package.json
  yarn.lock
Due: npmPkgJsonLint

docs: add bem stories for button
  components/Button/src/stories/button.bem.stories.mdx
Due: none

fix: add denhaag-button__label element back to button component
  components/Button/src/index.tsx
Due: eslint, prettier -c

ci: remove outdated {alert,button,card,dot-indicator} snapshots
  components/Alert/specs/__snapshots__/Alert.spec.jsx.snap
  components/Button/specs/__snapshots__/Button.spec.jsx.snap
  components/Card/specs/__snapshots__/Card.spec.jsx.snap
  components/DotIndicator/specs/__snapshots__/DotIndicator.spec.jsx.snap
Due: none

ci: add updated snapshots for {alert,button,card,dot-indicator}
  components/Alert/specs/__snapshots__/Alert.spec.jsx.snap
  components/Button/specs/__snapshots__/Button.spec.jsx.snap
  components/Card/specs/__snapshots__/Card.spec.jsx.snap
  components/DotIndicator/specs/__snapshots__/DotIndicator.spec.jsx.snap
Due: none

test: extend storybrook Link component
  components/Link/src/Link.stories.mdx
Due: none

test: extend link stories with plain html examples
  components/Link/src/Link.stories.mdx
Due: none
