Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, prettier -c, stylelint

Add Accordion component documentation readme
  src/components/Accordion/README.md
Due: none

Add Select component documentation readme
  src/components/Select/README.md
Due: none

Add Subnavigation component documentation readme
  src/components/Subnavigation/README.md
Due: none

Add Tabs component documentation readme
  src/components/Tab/README.md
Due: none

Add Theme card component documentation readme
  src/components/CardTheme/README.md
Due: none

Add Modal component documentation readme
  src/components/Modal/README.md
Due: none

Add File download component documentation readme
  src/components/FileDownload/README.md
Due: none

Add Table component documentation readme
  src/components/Table/README.md
Due: none

Add Datepicker component documentation readme
  src/components/Datepicker/README.md
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@f3e6bc86a3c913e792400326a16790520fed38b8 🚀
  iframe.html
  main.c00fb720.iframe.bundle.js
  main.c00fb720.iframe.bundle.js.map
  main.ee35ceec.iframe.bundle.js
  main.ee35ceec.iframe.bundle.js.LICENSE.txt
  main.ee35ceec.iframe.bundle.js.map
Due: none

fix: changed datetime to iso date string to prevent locale differences in snapshot testing
  src/components/Card/specs/__snapshots__/Card.spec.jsx.snap
  src/components/Card/src/Card/Card.tsx
Due: eslint, prettier -c

fix: renamed alert spec to correspond to new package name
  src/components/Alert/specs/Alert.spec.jsx
  src/components/Alert/specs/__snapshots__/Alert.spec.jsx.snap
Due: none

fix: renamed alert spec to correspond to new package name (#438)
  src/components/Alert/specs/Alert.spec.jsx
  src/components/Alert/specs/__snapshots__/Alert.spec.jsx.snap
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@3ed3251948645c56bbcfc517709e7a661e94ca39 🚀
  0.53e6ded5.iframe.bundle.js
  0.c6f098a2.iframe.bundle.js
  4.265961aa.iframe.bundle.js
  4.265961aa.iframe.bundle.js.LICENSE.txt
  4.265961aa.iframe.bundle.js.map
  4.519806b5.iframe.bundle.js
  4.519806b5.iframe.bundle.js.map
  5.7c69c28c.iframe.bundle.js
  5.bda57e3d.iframe.bundle.js
  6.2b179799.iframe.bundle.js
  6.2b179799.iframe.bundle.js.map
  6.eec1c8cc.iframe.bundle.js
  6.eec1c8cc.iframe.bundle.js.LICENSE.txt
  6.eec1c8cc.iframe.bundle.js.map
  7.0530a144.iframe.bundle.js
  7.f42408dc.iframe.bundle.js
  iframe.html
  main.6e180539.iframe.bundle.js
  main.6e180539.iframe.bundle.js.LICENSE.txt
  main.6e180539.iframe.bundle.js.map
  main.ee35ceec.iframe.bundle.js
  main.ee35ceec.iframe.bundle.js.map
  runtime~main.21b99080.iframe.bundle.js
  runtime~main.4f31cd9b.iframe.bundle.js
  vendors~main.00b7f024.iframe.bundle.js
  vendors~main.00b7f024.iframe.bundle.js.map
  vendors~main.cc1237d0.iframe.bundle.js
  vendors~main.cc1237d0.iframe.bundle.js.LICENSE.txt
  vendors~main.cc1237d0.iframe.bundle.js.map
Due: none

fix: add link package as dependency to navigation package
  src/meta-packages/navigation/package.json
Due: npmPkgJsonLint

fix: make icon actually usable
  src/components/Link/src/index.tsx
Due: eslint, prettier -c

feat: added RouterLink component
  src/components/Link/package.json
  src/components/Link/src/index.tsx
Due: npmPkgJsonLint, eslint, prettier -c

fix: changes to link component to support component prop
  src/components/BaseProps/src/index.tsx
  src/components/Link/src/index.tsx
Due: eslint, prettier -c

fix: rewrote unnecessary ternary statement
  src/components/Link/src/index.tsx
Due: eslint, prettier -c

feat: added usage documentation
  src/components/Link/src/Link.stories.mdx
Due: none

Fix/#386 link issues (#440)
  src/components/BaseProps/src/index.tsx
  src/components/Link/package.json
  src/components/Link/src/Link.stories.mdx
  src/components/Link/src/index.tsx
  src/meta-packages/navigation/package.json
Due: npmPkgJsonLint, eslint, prettier -c

Deploying to gh-pages from @ nl-design-system/denhaag@f603cd44677805cb5ffa8961ee393508ae1f1063 🚀
  iframe.html
  main.6e180539.iframe.bundle.js
  main.6e180539.iframe.bundle.js.map
  main.ba01bb4b.iframe.bundle.js
  main.ba01bb4b.iframe.bundle.js.LICENSE.txt
  main.ba01bb4b.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@8f472015c96f5ad44aa31d6d21e3b101b7a2906f 🚀
  iframe.html
  index.html
  main.8530fe8f.iframe.bundle.js
  main.8530fe8f.iframe.bundle.js.LICENSE.txt
  main.8530fe8f.iframe.bundle.js.map
  main.ba01bb4b.iframe.bundle.js
  main.ba01bb4b.iframe.bundle.js.map
  vendors~main.0c8b8cbbf0de63b23e57.manager.bundle.js
  vendors~main.c1880f0e9d13e56b6c65.manager.bundle.js
  vendors~main.c1880f0e9d13e56b6c65.manager.bundle.js.LICENSE.txt
  vendors~main.cc1237d0.iframe.bundle.js.map
  vendors~main.f4ec3724.iframe.bundle.js
  vendors~main.f4ec3724.iframe.bundle.js.LICENSE.txt
  vendors~main.f4ec3724.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@c44c1174418bd6fe0eb83a10f0ee968b809f39bf 🚀
  iframe.html
  index.html
  main.8530fe8f.iframe.bundle.js
  main.8530fe8f.iframe.bundle.js.map
  main.d46411d5.iframe.bundle.js
  main.d46411d5.iframe.bundle.js.LICENSE.txt
  main.d46411d5.iframe.bundle.js.map
  vendors~main.0c8b8cbbf0de63b23e57.manager.bundle.js
  vendors~main.0c8b8cbbf0de63b23e57.manager.bundle.js.LICENSE.txt
  vendors~main.c1880f0e9d13e56b6c65.manager.bundle.js
  vendors~main.cc1237d0.iframe.bundle.js
  vendors~main.cc1237d0.iframe.bundle.js.LICENSE.txt
  vendors~main.cc1237d0.iframe.bundle.js.map
  vendors~main.f4ec3724.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@876c29f2ec271128edfb78585334994c26c9a3f2 🚀
  0.0b4a514ec315fd4bd3d1.manager.bundle.js
  0.d7f25283ffe89cc0ebeb.manager.bundle.js
  4.3d9bbcb28034741197ed.manager.bundle.js
  4.3d9bbcb28034741197ed.manager.bundle.js.LICENSE.txt
  4.bbc1b6991b0233a0eb88.manager.bundle.js
  5.8b83e82f7b7d1ed548a5.manager.bundle.js
  5.a2badb7a3f2c9a221388.manager.bundle.js
  6.90c343075fe2f238e832.manager.bundle.js
  6.90c343075fe2f238e832.manager.bundle.js.LICENSE.txt
  6.b7dbdce92e286d9d936a.manager.bundle.js
  iframe.html
  index.html
  main.2737a137.iframe.bundle.js
  main.2737a137.iframe.bundle.js.LICENSE.txt
  main.2737a137.iframe.bundle.js.map
  main.d46411d5.iframe.bundle.js
  main.d46411d5.iframe.bundle.js.map
  runtime~main.2a5574133b2255908da7.manager.bundle.js
  runtime~main.d3dc44a9f93b563d3667.manager.bundle.js
  vendors~main.0c8b8cbbf0de63b23e57.manager.bundle.js
  vendors~main.595b738127c484cdc1c4.manager.bundle.js
  vendors~main.595b738127c484cdc1c4.manager.bundle.js.LICENSE.txt
  vendors~main.cc1237d0.iframe.bundle.js.map
  vendors~main.d936934d.iframe.bundle.js
  vendors~main.d936934d.iframe.bundle.js.LICENSE.txt
  vendors~main.d936934d.iframe.bundle.js.map
Due: none

feat(icons): add chevron left icon
  src/components/Icons/src/index.tsx
  src/components/Icons/src/svg/arrows/chevron-left.svg
Due: eslint, prettier -c

Deploying to gh-pages from @ nl-design-system/denhaag@f047ae04bcc20b3af01f15008480f06f02dbffdb 🚀
  0.53e6ded5.iframe.bundle.js
  0.f1e4a8ae.iframe.bundle.js
  4.265961aa.iframe.bundle.js
  4.265961aa.iframe.bundle.js.map
  4.9244caf1.iframe.bundle.js
  4.9244caf1.iframe.bundle.js.LICENSE.txt
  4.9244caf1.iframe.bundle.js.map
  5.7c69c28c.iframe.bundle.js
  5.ad4ddef5.iframe.bundle.js
  6.bacf447d.iframe.bundle.js
  6.bacf447d.iframe.bundle.js.LICENSE.txt
  6.bacf447d.iframe.bundle.js.map
  6.eec1c8cc.iframe.bundle.js
  6.eec1c8cc.iframe.bundle.js.map
  7.0530a144.iframe.bundle.js
  7.d9d5c0c5.iframe.bundle.js
  iframe.html
  main.2737a137.iframe.bundle.js
  main.2737a137.iframe.bundle.js.map
  main.eb31e13a.iframe.bundle.js
  main.eb31e13a.iframe.bundle.js.LICENSE.txt
  main.eb31e13a.iframe.bundle.js.map
  runtime~main.21b99080.iframe.bundle.js
  runtime~main.2a6dd9bd.iframe.bundle.js
  vendors~main.867a903f.iframe.bundle.js
  vendors~main.867a903f.iframe.bundle.js.LICENSE.txt
  vendors~main.867a903f.iframe.bundle.js.map
  vendors~main.d936934d.iframe.bundle.js
  vendors~main.d936934d.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@8a4e0e9d1b4e527486c06893054edd9660fb88a3 🚀
  iframe.html
  index.html
  main.6b955e16.iframe.bundle.js
  main.6b955e16.iframe.bundle.js.LICENSE.txt
  main.6b955e16.iframe.bundle.js.map
  main.eb31e13a.iframe.bundle.js
  main.eb31e13a.iframe.bundle.js.map
  vendors~main.7a9c21f423331f516b5a.manager.bundle.js
  vendors~main.7a9c21f423331f516b5a.manager.bundle.js.LICENSE.txt
  vendors~main.867a903f.iframe.bundle.js.map
  vendors~main.88e676cc.iframe.bundle.js
  vendors~main.88e676cc.iframe.bundle.js.LICENSE.txt
  vendors~main.88e676cc.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@236073ad1d464eacbf466dc1a50f629b3109ca77 🚀
  iframe.html
  main.6b955e16.iframe.bundle.js
  main.6b955e16.iframe.bundle.js.map
  main.a6c65f17.iframe.bundle.js
  main.a6c65f17.iframe.bundle.js.LICENSE.txt
  main.a6c65f17.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@db8f9f9de4726f89a1662f329b397c320af8eb21 🚀
  iframe.html
  main.671dcfdd.iframe.bundle.js
  main.671dcfdd.iframe.bundle.js.LICENSE.txt
  main.671dcfdd.iframe.bundle.js.map
  main.a6c65f17.iframe.bundle.js
  main.a6c65f17.iframe.bundle.js.map
Due: none

feat(design-tokens): add utrecht-document design tokens
  src/styles/Common/src/utrecht/document.tokens.json
Due: none

Path conditions:
  npmPkgJsonLint: any of: package.json
  eslint: any of: *.{ts,tsx}
  prettier -c: any of: *.{ts,tsx}
  stylelint: any of: *.css
