Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

feat: add open-forms-textfield
  packages/storybook/src/open-forms/OpenFormsExample.stories.tsx
  packages/storybook/src/open-forms/bsn.stories.tsx
  packages/storybook/src/open-forms/story-util.tsx
  packages/storybook/src/open-forms/textfield.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add open-forms-checkbox stories
  packages/storybook/src/open-forms/checkbox.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: move react-formio to devDependencies
  packages/storybook/package.json
  packages/storybook/src/open-forms/BSN.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: add open forms component util
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/open-forms/OpenFormsExample.stories.tsx
  packages/storybook/src/open-forms/story-util.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: add open-forms-cosign and -columns stories
  packages/storybook/src/open-forms/columns.stories.tsx
  packages/storybook/src/open-forms/cosign.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: move formio configuration to StoryUtil.tsx
  packages/storybook/config/preview.tsx
  packages/storybook/src/open-forms/StoryUtil.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add more open forms components and use correct casing
  packages/storybook/src/@types/index.d.ts
  packages/storybook/src/open-forms/BSN.stories.tsx
  packages/storybook/src/open-forms/Checkbox.stories.tsx
  packages/storybook/src/open-forms/Columns.stories.tsx
  packages/storybook/src/open-forms/Content.stories.tsx
  packages/storybook/src/open-forms/Cosign.stories.tsx
  packages/storybook/src/open-forms/Currency.stories.tsx
  packages/storybook/src/open-forms/DateField.stories.tsx
  packages/storybook/src/open-forms/DateTimeField.stories.tsx
  packages/storybook/src/open-forms/EditGrid.stories.tsx
  packages/storybook/src/open-forms/Email.stories.tsx
  packages/storybook/src/open-forms/Fieldset.stories.tsx
  packages/storybook/src/open-forms/IBANField.stories.tsx
  packages/storybook/src/open-forms/LicensePlate.stories.tsx
  packages/storybook/src/open-forms/Number.stories.tsx
  packages/storybook/src/open-forms/PhoneNumberField.stories.tsx
  packages/storybook/src/open-forms/PostcodeField.stories.tsx
  packages/storybook/src/open-forms/Radio.stories.tsx
  packages/storybook/src/open-forms/Select.stories.tsx
  packages/storybook/src/open-forms/Selectboxes.stories.tsx
  packages/storybook/src/open-forms/Signature.stories.tsx
  packages/storybook/src/open-forms/StoryUtil.tsx
  packages/storybook/src/open-forms/Textarea.stories.tsx
  packages/storybook/src/open-forms/Textfield.stories.tsx
  packages/storybook/src/open-forms/TimeField.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: wip: started with stories for utrecht form components and try to export them from denhaag packages
  components/Textbox/README.md
  components/Textbox/package.json
  components/Textbox/src/index.scss
  components/Textbox/src/index.tsx
  components/Textbox/tsconfig.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/storybook/src/react/Textarea.stories.tsx
  packages/storybook/src/react/Textbox.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: added design tokens for some utrecht form components
  proprietary/Components/src/utrecht/form-fieldset.json
  proprietary/Components/src/utrecht/radio-button.tokens.json
  proprietary/Components/src/utrecht/textarea.tokens.json
  proprietary/Components/src/utrecht/textbox.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

WIP: switch to utrecht form components
  components/Radio/package.json
  components/Radio/src/index.scss
  components/Radio/src/index.tsx
  components/Textarea/README.md
  components/Textarea/package.json
  components/Textarea/src/index.scss
  components/Textarea/src/index.tsx
  components/Textarea/tsconfig.json
  components/Textbox/src/index.tsx
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/storybook/src/react/Radio2.stories.tsx
  packages/storybook/src/react/Textarea.stories.tsx
  pnpm-lock.yaml
  proprietary/Components/src/utrecht/focus.style-dictionary.json
  proprietary/Components/src/utrecht/radio-button.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

WIP: switch to utrecht form components
  components/Checkbox/README.md
  components/FormField/package.json
  components/FormField/src/index.scss
  components/FormField/src/index.tsx
  components/FormLabel/README.md
  components/FormLabel/package.json
  components/FormLabel/src/index.scss
  components/FormLabel/src/index.tsx
  components/FormLabel/tsconfig.json
  packages/storybook/package.json
  packages/storybook/src/css/Checkbox.stories.mdx
  packages/storybook/src/css/Checkbox.stories.tsx
  packages/storybook/src/react/FormField.stories.tsx
  packages/storybook/src/react/FormLabel.stories.tsx
  pnpm-lock.yaml
  proprietary/Common/src/utrecht/form-control.tokens.json
  proprietary/Components/src/utrecht/checkbox.tokens.json
  proprietary/Components/src/utrecht/form-field-description.tokens.json
  proprietary/Components/src/utrecht/form-field-error-message.tokens.json
  proprietary/Components/src/utrecht/form-label.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

WIP: switch to utrecht form components (radio, checkbox, etc)
  components/Checkbox/src/index.scss
  components/Checkbox/src/index.tsx
  components/FormFieldDescription/README.md
  components/FormFieldDescription/package.json
  components/FormFieldDescription/src/index.scss
  components/FormFieldDescription/src/index.tsx
  components/FormFieldDescription/tsconfig.json
  components/FormFieldErrorMessage/README.md
  components/FormFieldErrorMessage/package.json
  components/FormFieldErrorMessage/src/index.scss
  components/FormFieldErrorMessage/src/index.tsx
  components/FormFieldErrorMessage/tsconfig.json
  components/FormFieldUtrecht/README.md
  components/FormFieldUtrecht/package.json
  components/FormFieldUtrecht/src/index.scss
  components/FormFieldUtrecht/src/index.tsx
  components/FormFieldUtrecht/tsconfig.json
  components/Radio/src/index.scss
  components/Radio/src/index.tsx
  packages/storybook/package.json
  packages/storybook/src/css/FormFieldDescription.stories.tsx
  packages/storybook/src/css/FormFieldErrorMessage.stories.tsx
  packages/storybook/src/react/Checkbox.stories.tsx
  packages/storybook/src/react/FormFieldDescription.stories.tsx
  packages/storybook/src/react/FormFieldErrorMessage.stories.tsx
  packages/storybook/src/react/FormFieldUtrecht.stories.tsx
  packages/storybook/src/react/Radio.stories.tsx
  packages/storybook/src/react/Radio2.stories.tsx
  pnpm-lock.yaml
  proprietary/Common/src/denhaag/focus.tokens.json
  proprietary/Common/src/utrecht/document.tokens.json
  proprietary/Common/src/utrecht/focus.tokens.json
  proprietary/Common/src/utrecht/form-control.tokens.json
  proprietary/Components/src/utrecht/checkbox.tokens.json
  proprietary/Components/src/utrecht/focus.style-dictionary.json
  proprietary/Components/src/utrecht/form-field-description.tokens.json
  proprietary/Components/src/utrecht/form-field-error-message.tokens.json
  proprietary/Components/src/utrecht/paragraph.tokens.json
  proprietary/Components/src/utrecht/radio-button.tokens.json
  proprietary/Proprietary/src/size.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: update version numbers due to significant changes
  components/Checkbox/package.json
  components/FormField/package.json
  components/FormFieldDescription/package.json
  components/FormFieldSet/package.json
  components/FormLabel/package.json
  components/Radio/package.json
  components/TextField/package.json
  components/Textarea/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: added new variants to the formfield story + added css component + fix issue with snippet code
  packages/storybook/src/css/FormField.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: moved most of the corresponding styling to the utrecht form-control tokens + minor fixes
  proprietary/Common/src/utrecht/form-control.tokens.json
  proprietary/Components/src/utrecht/checkbox.tokens.json
  proprietary/Components/src/utrecht/radio-button.tokens.json
  proprietary/Components/src/utrecht/textarea.tokens.json
  proprietary/Components/src/utrecht/textbox.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added formfieldset
  components/FormFieldSet/README.md
  components/FormFieldSet/src/index.scss
  components/FormFieldSet/src/index.tsx
  components/FormFieldSet/tsconfig.json
  proprietary/Components/src/utrecht/form-fieldset.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: added checkbox invalid story
  packages/storybook/src/css/Checkbox.stories.tsx
  packages/storybook/src/react/Checkbox.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: replaced old textfield with utrecht textbox
  components/TextField/src/index.scss
  components/TextField/src/index.tsx
  components/Textbox/README.md
  components/Textbox/package.json
  components/Textbox/src/index.scss
  components/Textbox/src/index.tsx
  components/Textbox/tsconfig.json
  packages/storybook/src/react/TextField.stories.tsx
  packages/storybook/src/react/Textbox.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: added radio button css stories
  packages/storybook/src/css/Radio.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: mostly cleaning up and removing old packages
  components/Checkbox/README.md
  components/Checkbox/tsconfig.json
  components/FormControlLabel/README.md
  components/FormControlLabel/package.json
  components/FormControlLabel/src/index.scss
  components/FormControlLabel/src/index.tsx
  components/FormControlLabel/tsconfig.json
  components/FormFieldDescription/src/index.tsx
  components/FormFieldErrorMessage/package.json
  components/FormFieldErrorMessage/src/index.tsx
  components/FormFieldUtrecht/README.md
  components/FormFieldUtrecht/package.json
  components/FormFieldUtrecht/src/index.scss
  components/FormFieldUtrecht/src/index.tsx
  components/FormFieldUtrecht/tsconfig.json
  components/FormGroup/README.md
  components/FormGroup/package.json
  components/FormGroup/src/index.scss
  components/FormGroup/src/index.tsx
  components/FormGroup/tsconfig.json
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/components-react/tsconfig.json
  packages/storybook/package.json
  packages/storybook/src/css/Radio.stories.mdx
  packages/storybook/src/react/FormControlLabel.stories.tsx
  packages/storybook/src/react/FormFieldUtrecht.stories.tsx
  packages/storybook/src/react/FormGroup.stories.tsx
  packages/storybook/tsconfig.json
  pnpm-lock.yaml
  proprietary/Components/src/utrecht/form-fieldset.json
  tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: incorrect breadcrumb paddings
  components/Breadcrumb/src/index.scss
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: use different uuid for each formfield
  packages/storybook/src/css/FormField.stories.tsx
  packages/storybook/src/react/FormField.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: updated form components documentation to new nlds library documentation
  components/Checkbox/README.md
  components/FormField/README.md
  components/FormFieldDescription/README.md
  components/FormFieldSet/README.md
  components/FormLabel/README.md
  components/Radio/README.md
  components/TextField/README.md
  components/Textarea/README.md
Due: prettier --check

fix: lint issues
  packages/storybook/src/css/FormFieldDescription.stories.tsx
  packages/storybook/src/react/FormFieldDescription.stories.tsx
  packages/storybook/src/react/FormLabel.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: typecheck
  components/Radio/tsconfig.json
  packages/components-react/tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: typecheck error
  packages/storybook/src/css/FormField.stories.tsx
  packages/storybook/src/react/FormField.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: update all utrecht dependencies to the 3.0.0 version
  components/BadgeCounter/package.json
  components/Footer/package.json
  components/LanguageSwitcher/package.json
  components/Menu/package.json
  components/Typography/package.json
  components/UnorderedList/package.json
  package.json
  packages/keycloak/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: align copyright part of the footer with the legal links
  components/Footer/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: backwards compatibility issue with full width button on mobile in dh button group and action components
  components/Action/src/index.scss
  components/ButtonGroup/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: aligning of mobile button after upgrading to latest utrecht dependencies
  components/Menu/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: fix checkbox margin by using the correct component structure and classes
  components/Checkbox/src/index.scss
  packages/storybook/src/react/FormField.stories.tsx
  proprietary/Components/src/utrecht/checkbox.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: checkbox margin also the css story
  packages/storybook/src/css/FormField.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: align component names with nlds library names
  components/RadioButton/README.md
  components/RadioButton/package.json
  components/RadioButton/src/index.scss
  components/RadioButton/src/index.tsx
  components/RadioButton/tsconfig.json
  components/TextField/src/index.tsx
  components/TextInput/README.md
  components/TextInput/package.json
  components/TextInput/src/index.scss
  components/TextInput/src/index.tsx
  components/TextInput/tsconfig.json
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/components-react/tsconfig.json
  packages/storybook/package.json
  packages/storybook/src/css/FormField.stories.tsx
  packages/storybook/src/css/Radio.stories.tsx
  packages/storybook/src/react/FormField.stories.tsx
  packages/storybook/src/react/Radio.stories.tsx
  packages/storybook/src/react/TextField.stories.tsx
  packages/storybook/src/react/Textarea.stories.tsx
  packages/storybook/tsconfig.json
  pnpm-lock.yaml
  proprietary/Components/src/utrecht/text-input.tokens.json
  tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: rename stories files, added textarea and text input css stories
  packages/storybook/src/css/RadioButton.stories.tsx
  packages/storybook/src/css/TextInput.stories.tsx
  packages/storybook/src/css/Textarea.stories.tsx
  packages/storybook/src/react/RadioButton.stories.tsx
  packages/storybook/src/react/TextInput.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: try to fix weird chromatic bug
  components/ContactTimeline/src/_ContactTimelineHeaderContent.scss
Due: prettier --check, stylelint --allow-empty-input

fix: contact timeline description margin
  proprietary/Components/src/denhaag/contact-timeline.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: use same list text color as paragraph color
  proprietary/Components/src/denhaag/list.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern
