Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@696eaf8b89cafe8c212a8d3191b7fe0f41421877 🚀
  iframe.html
  main.01ea5d07.iframe.bundle.js
  main.01ea5d07.iframe.bundle.js.map
  main.4e2294bc.iframe.bundle.js
  main.4e2294bc.iframe.bundle.js.LICENSE.txt
  main.4e2294bc.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@cfe8f62bd15f4eff695b21c3c074c79741b7789f 🚀
  iframe.html
  main.3cfe0397.iframe.bundle.js
  main.3cfe0397.iframe.bundle.js.LICENSE.txt
  main.3cfe0397.iframe.bundle.js.map
  main.4e2294bc.iframe.bundle.js
  main.4e2294bc.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/Accordion/package.json
  components/Alert/package.json
  components/Avatar/package.json
  components/BadgeCounter/package.json
  components/BaseDataDisplayProps/package.json
  components/BaseProps/package.json
  components/Breadcrumb/package.json
  components/Button/package.json
  components/Card/package.json
  components/Checkbox/package.json
  components/Datepicker/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/Link/package.json
  components/List/package.json
  components/Menu/package.json
  components/Modal/package.json
  components/Pagination/package.json
  components/PosttypeLabel/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  components/Typography/package.json
  packages/components-css/package.json
  packages/components-react/package.json
  proprietary/Common/package.json
  proprietary/Components/package.json
  proprietary/Proprietary/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@0fa6a1e32074f462c3f623e8628e17596b9384e7 🚀
  iframe.html
  main.33b35c46.iframe.bundle.js
  main.33b35c46.iframe.bundle.js.LICENSE.txt
  main.33b35c46.iframe.bundle.js.map
  main.3cfe0397.iframe.bundle.js
  main.3cfe0397.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@696eaf8b89cafe8c212a8d3191b7fe0f41421877 🚀
  iframe.html
  main.33b35c46.iframe.bundle.js
  main.33b35c46.iframe.bundle.js.map
  main.737950f0.iframe.bundle.js
  main.737950f0.iframe.bundle.js.LICENSE.txt
  main.737950f0.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Update index.tsx
  packages/components-css/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(event-date): add new event date bem, css (based on posttype label)
  components/EventDate/README.md
  components/EventDate/package.json
  components/EventDate/src/index.css
  components/EventDate/src/index.tsx
  components/EventDate/src/stories/eventDate.bem.stories.mdx
  components/EventDate/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(event-date): refactor story, css + add tokens
  components/EventDate/src/index.css
  components/EventDate/src/stories/eventDate.bem.stories.mdx
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/eventdate.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@da3681a3741cd49dd97d2f61eafff5e15ab10264 🚀
  iframe.html
  main.737950f0.iframe.bundle.js
  main.737950f0.iframe.bundle.js.map
  main.8660d034.iframe.bundle.js
  main.8660d034.iframe.bundle.js.LICENSE.txt
  main.8660d034.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/Accordion/package.json
  components/Alert/package.json
  components/Avatar/package.json
  components/BadgeCounter/package.json
  components/BaseDataDisplayProps/package.json
  components/BaseProps/package.json
  components/Breadcrumb/package.json
  components/Button/package.json
  components/Card/package.json
  components/Checkbox/package.json
  components/Datepicker/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/EventDate/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/Link/package.json
  components/List/package.json
  components/Menu/package.json
  components/Modal/package.json
  components/Pagination/package.json
  components/PosttypeLabel/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  components/Typography/package.json
  packages/components-css/package.json
  packages/components-react/package.json
  proprietary/Common/package.json
  proprietary/Components/package.json
  proprietary/Proprietary/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor: rename to page-button and removed audio button example and updated readme
  components/Button/src/index.css
  components/PageButtons/README.md
  components/PageButtons/package.json
  components/PageButtons/src/index.css
  components/PageButtons/src/index.tsx
  components/PageButtons/src/pageButtonsScripts.js
  components/PageButtons/src/stories.js
  components/PageButtons/src/stories/bem.stories.mdx
  components/ShareButton/README.md
  components/ShareButton/src/index.css
  components/ShareButton/src/index.tsx
  components/ShareButton/src/stories.js
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/button.tokens.json
  proprietary/Components/src/denhaag/page-buttons.tokens.json
  proprietary/Components/src/denhaag/share-button.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: classnames sharebutton and run prettier
  components/Button/src/index.css
  components/ShareButton/README.md
  components/ShareButton/package.json
  components/ShareButton/src/index.css
  components/ShareButton/src/index.tsx
  components/ShareButton/src/shareButtonScripts.js
  components/ShareButton/src/stories.js
  components/ShareButton/src/stories/bem.stories.mdx
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/button.tokens.json
  proprietary/Components/src/denhaag/share-button.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: removed share-button from project
  components/ShareButton/README.md
  components/ShareButton/package.json
  components/ShareButton/src/index.css
  components/ShareButton/src/index.tsx
  components/ShareButton/src/shareButtonScripts.js
  components/ShareButton/src/stories.js
  components/ShareButton/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/share-button.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(publication-date): add story, css, tokens (#662)
  components/PublicationDate/README.md
  components/PublicationDate/package.json
  components/PublicationDate/src/index.css
  components/PublicationDate/src/index.tsx
  components/PublicationDate/src/stories/bem.stories.mdx
  components/PublicationDate/tsconfig.json
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/publication-date.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@95bca75d2f5a0150b60b930d816be4afc4f12546 🚀
  iframe.html
  main.224b99e3.iframe.bundle.js
  main.224b99e3.iframe.bundle.js.LICENSE.txt
  main.224b99e3.iframe.bundle.js.map
  main.8660d034.iframe.bundle.js
  main.8660d034.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/Accordion/package.json
  components/Alert/package.json
  components/Avatar/package.json
  components/BadgeCounter/package.json
  components/BaseDataDisplayProps/package.json
  components/BaseProps/package.json
  components/Breadcrumb/package.json
  components/Button/package.json
  components/Card/package.json
  components/Checkbox/package.json
  components/Datepicker/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/EventDate/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/Link/package.json
  components/List/package.json
  components/Menu/package.json
  components/Modal/package.json
  components/Pagination/package.json
  components/PosttypeLabel/package.json
  components/PublicationDate/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  components/Typography/package.json
  packages/components-css/package.json
  packages/components-react/package.json
  proprietary/Common/package.json
  proprietary/Components/package.json
  proprietary/Proprietary/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Feature/609 cta link (#615)
  components/CtaLink/README.md
  components/CtaLink/package.json
  components/CtaLink/src/index.css
  components/CtaLink/src/index.tsx
  components/CtaLink/src/stories/bem.stories.mdx
  components/CtaLink/tsconfig.json
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/cta-link.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@c684a471039f5d2a0116db7dbd14828061bc7c99 🚀
  iframe.html
  main.224b99e3.iframe.bundle.js
  main.224b99e3.iframe.bundle.js.map
  main.b9bd3380.iframe.bundle.js
  main.b9bd3380.iframe.bundle.js.LICENSE.txt
  main.b9bd3380.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Feature/612 cta event (#616)
  components/CtaEvent/README.md
  components/CtaEvent/package.json
  components/CtaEvent/src/cta-event.css
  components/CtaEvent/src/index.tsx
  components/CtaEvent/src/stories/bem.stories.mdx
  components/CtaEvent/tsconfig.json
  components/CtaLink/src/cta-link.css
  components/CtaLink/src/index.tsx
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/cta-event.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@666dee78f5884e8b567fc9fd276e09b36b1311ff 🚀
  iframe.html
  main.b9bd3380.iframe.bundle.js
  main.b9bd3380.iframe.bundle.js.map
  main.e41f3e5f.iframe.bundle.js
  main.e41f3e5f.iframe.bundle.js.LICENSE.txt
  main.e41f3e5f.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(note): edit readme
  components/Note/README.md
Due: prettier --check

feat(note): added accessibility and added tokens
  components/Note/src/note.css
  components/Note/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(note): edit tokens based on new documentations
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(note): start working, added component folder structure and readme
  components/Note/README.md
  components/Note/package.json
  components/Note/src/note.css
  components/Note/src/note.tsx
  components/Note/src/stories/bem.stories.mdx
  components/Note/src/stories/react.stories.mdx
  components/Note/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

docs(notes): added usage to readme
  components/Note/README.md
Due: prettier --check

feat(note): start styling and tokens
  components/Note/README.md
  components/Note/package.json
  components/Note/src/note.css
  components/Note/src/note.tsx
  components/Note/src/stories/bem.stories.mdx
  components/Note/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(note): fix typo -> gray to grey
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(note): renmae tsx file
  components/Note/src/index.tsx
  components/Note/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(html-note): story, css, tokens, package, tsconfig
  components/Note/package.json
  components/Note/src/index.css
  components/Note/src/index.tsx
  components/Note/src/note.css
  components/Note/src/stories/bem.stories.mdx
  components/Note/src/stories/react.stories.mdx
  components/Note/tsconfig.json
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(note): apply in components-css
  packages/components-css/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(note): remove .value from tokens
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(608-html-note): re-add styling to css
  components/Note/src/index.css
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(html-note): add color token to svg
  components/Note/src/index.css
Due: prettier --check, stylelint --allow-empty-input

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
