Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, prettier -c, stylelint

Divider is pretty now.
  src/components/Divider/divider.module.css
  src/components/Divider/src/Divider.stories.tsx
  src/components/Divider/src/index.tsx
Due: eslint, prettier -c, stylelint

Removed redundant CSS variable.
  src/components/Divider/divider.module.css
Due: stylelint

Moved tokens to base style package and renamed to specific margin type tokens.
  src/components/Divider/divider.module.css
  src/components/Divider/package.json
  src/components/Divider/src/index.tsx
  src/styles/BaseStyles/src/globals.module.css
  src/styles/Common/src/tokens-divider.css
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

Split margin-{block,inline} into margin-{block,inline}-{end,start} and defined respective design tokens.
  src/components/Divider/divider.module.css
  src/styles/BaseStyles/src/tokens-divider.css
Due: stylelint

Vertical divider demo now uses images.
  src/components/Divider/src/Divider.stories.tsx
Due: eslint, prettier -c

Set role of inner Divider component to "presentation" for a11y purposes
  src/components/Divider/src/index.tsx
Due: eslint, prettier -c

Remove old basestyles import
  src/components/Divider/src/index.tsx
Due: eslint, prettier -c

Moved divider design tokens to new package.
  src/components/Divider/package.json
  src/styles/Common/src/tokens-divider.css
  src/styles/Components/src/components.module.css
  src/styles/Components/src/tokens-divider.css
Due: npmPkgJsonLint, stylelint

merge of package.json
  package.json
  tsconfig.storybook.json
Due: npmPkgJsonLint

button property reverted
  src/components/List/src/ListItem.tsx
  tsconfig.storybook.json
Due: eslint, prettier -c

type fixes in storybook files
  src/components/FormControlLabel/src/FormControlLabel.stories.tsx
  src/components/Menu/src/Menu.stories.tsx
  src/components/Pickers/src/BaseDatePickerProps/BaseDatePickerProps.tsx
  src/components/Pickers/src/DatePicker.stories.tsx
  src/components/Pickers/src/KeyBoardDatePicker.stories.tsx
  src/components/Pickers/src/KeyboardDatePicker/KeyboardDatePicker.tsx
  src/components/Select/src/Select.stories.tsx
  src/components/Tab/src/Tab.stories.tsx
Due: eslint, prettier -c

newline to gitattributes
  .gitattributes
Due: none

Added CI step, fixed comment
  .github/workflows/cicd.yml
  src/components/Select/src/Select.stories.tsx
Due: eslint, prettier -c

Reverted button prop in ListItem
  .gitattributes
  src/components/Tab/src/Tab.stories.tsx
  tsconfig.storybook.json
Due: eslint, prettier -c

Remove unused gh-pages dependency
  package.json
  yarn.lock
Due: npmPkgJsonLint

removed mui core, mui related docs & added clsx
  src/components/Typography/package.json
  src/components/Typography/src/index.tsx
  yarn.lock
Due: npmPkgJsonLint, eslint, prettier -c

Fixed Storybook, f'ing finally...
  src/components/Divider/divider.module.css
  src/styles/BaseStyles/src/globals.module.css
  src/styles/BaseStyles/src/tokens-divider.css
Due: stylelint

To hell with Husky and Prettier, f them
  src/components/Divider/src/index.tsx
Due: eslint, prettier -c

Remove ...props
  src/components/Divider/src/index.tsx
Due: eslint, prettier -c

Fix linter... Hopefully
  src/components/Divider/src/Divider.stories.tsx
Due: eslint, prettier -c

Moved CSS to src folder
  src/components/Divider/src/Divider.stories.tsx
  src/components/Divider/src/divider.module.css
  src/components/Divider/src/index.tsx
Due: eslint, prettier -c, stylelint

Added components for heading and paragraph
  src/components/Accordion/src/Accordion.stories.tsx
  src/components/AppBar/package.json
  src/components/AppBar/src/AppBar.stories.tsx
  src/components/Card/package.json
  src/components/Card/src/CardHeader.tsx
  src/components/Card/src/stories/Card.stories.tsx
  src/components/Card/src/stories/Paper.stories.tsx
  src/components/Typography/src/Heading1.tsx
  src/components/Typography/src/Heading2.tsx
  src/components/Typography/src/Heading3.tsx
  src/components/Typography/src/Heading4.tsx
  src/components/Typography/src/Heading5.tsx
  src/components/Typography/src/Paragraph.tsx
  src/components/Typography/src/Typography.stories.tsx
  src/components/Typography/src/index.tsx
  src/components/Typography/src/stories/Heading1.stories.tsx
  src/components/Typography/src/stories/Heading2.stories.tsx
  src/components/Typography/src/stories/Heading3.stories.tsx
  src/components/Typography/src/stories/Heading4.stories.tsx
  src/components/Typography/src/stories/Heading5.stories.tsx
  src/components/Typography/src/stories/Paragraph.stories.tsx
  src/components/Typography/tsconfig.json
Due: npmPkgJsonLint, eslint, prettier -c

paragraph storybook fix
  src/components/Typography/src/stories/Paragraph.stories.tsx
Due: eslint, prettier -c

Implemented design for Divider component. (#172)
  src/components/Divider/package.json
  src/components/Divider/src/Divider.stories.tsx
  src/components/Divider/src/divider.module.css
  src/components/Divider/src/index.tsx
  src/styles/Components/src/components.module.css
  src/styles/Components/src/tokens-divider.css
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

write out props
  src/components/Timeline/src/Step.tsx
  src/components/Timeline/src/StepContent.tsx
  src/components/Timeline/src/StepIcon.tsx
  src/components/Timeline/src/StepLabel.tsx
  src/components/Timeline/src/Timeline.tsx
  src/components/Timeline/src/stories/Timeline.stories.tsx
Due: eslint, prettier -c

update style names
  src/components/Timeline/src/StepIcon.tsx
  src/components/Timeline/src/StepLabel.tsx
  src/components/Timeline/src/bem-mapping.ts
  src/components/Timeline/src/styles/step-label.css
  src/components/Timeline/src/styles/step.css
Due: eslint, prettier -c, stylelint

added design tokens for each header
  src/components/Typography/package.json
  src/components/Typography/src/Heading1.tsx
  src/components/Typography/src/Heading2.tsx
  src/components/Typography/src/Heading3.tsx
  src/components/Typography/src/Heading4.tsx
  src/components/Typography/src/Heading5.tsx
  src/components/Typography/src/Paragraph.tsx
  src/components/Typography/src/stories/Heading2.stories.tsx
  src/components/Typography/src/stories/Heading3.stories.tsx
  src/components/Typography/src/stories/Heading4.stories.tsx
  src/components/Typography/src/stories/Heading5.stories.tsx
  src/components/Typography/src/stories/Paragraph.stories.tsx
  src/components/Typography/src/typography.module.css
  src/styles/Components/src/components.module.css
  src/styles/Components/src/tokens-typography.css
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

move stylings
  src/components/Timeline/src/Step.tsx
  src/components/Timeline/src/StepComponentProps.ts
  src/components/Timeline/src/StepContent.tsx
  src/components/Timeline/src/StepIcon.tsx
  src/components/Timeline/src/StepLabel.tsx
  src/components/Timeline/src/styles/mui-override.css
  src/components/Timeline/src/styles/step-content.css
  src/components/Timeline/src/styles/step-icon.css
  src/components/Timeline/src/styles/step-label.css
Due: eslint, prettier -c, stylelint

reset line-height, added letter-spacing tokens
  src/components/Typography/src/typography.module.css
  src/styles/Components/src/tokens-typography.css
Due: stylelint

added paragraph tokens, renamed css selectors
  src/components/Typography/src/Heading1.tsx
  src/components/Typography/src/Heading2.tsx
  src/components/Typography/src/Heading3.tsx
  src/components/Typography/src/Heading4.tsx
  src/components/Typography/src/Heading5.tsx
  src/components/Typography/src/Paragraph.tsx
  src/components/Typography/src/typography.module.css
  src/styles/Components/src/tokens-typography.css
Due: eslint, prettier -c, stylelint

onClick type added touchEvent
  src/components/IconButton/src/index.tsx
  src/components/List/src/ListItem.tsx
Due: eslint, prettier -c

newlines, unused dependency & import fixes
  .gitattributes
  src/components/List/package.json
  src/components/List/src/List.stories.tsx
  src/components/List/src/List.tsx
Due: npmPkgJsonLint, eslint, prettier -c

Path conditions:
  npmPkgJsonLint: any of: package.json
  eslint: any of: *.{ts,tsx}
  prettier -c: any of: *.{ts,tsx}
  stylelint: any of: *.css
