Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  components/Accordion/package.json
  components/Alert/package.json
  components/Avatar/package.json
  components/BadgeCounter/package.json
  components/BaseDataDisplayProps/package.json
  components/BaseProps/package.json
  components/Button/package.json
  components/Card/package.json
  components/Checkbox/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/Link/package.json
  components/List/package.json
  components/Menu/package.json
  components/Pickers/package.json
  components/PickersUtilsProvider/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  components/Typography/package.json
  packages/components-css/package.json
  packages/components-react/package.json
  proprietary/Common/package.json
  proprietary/Components/package.json
  proprietary/Proprietary/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

docs(breadcrumb): walk through Figma documentation and edit readme
  components/Breadcrumb/README.md
Due: prettier --check

feat(breadcrumbs): add tokens (still wip)
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(breadcrums): wip, added styling
  components/Breadcrumb/src/breadcrumb.css
  components/Breadcrumb/src/index.tsx
  components/Breadcrumb/src/stories/breadcrumb.bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(breadcrumb): add html and styles (wip)
  components/Breadcrumb/src/breadcrumb.css
  components/Breadcrumb/src/stories/breadcrumb.bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(breadcrumb): add css class
  components/Breadcrumb/src/stories/breadcrumb.bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(button): use react button props
  components/Button/specs/__snapshots__/Button.spec.jsx.snap
  components/Button/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: update snapshots for {alert,button,dot-indicator}
  components/Alert/specs/__snapshots__/Alert.spec.jsx.snap
  components/Button/specs/__snapshots__/Button.spec.jsx.snap
  components/DotIndicator/specs/__snapshots__/DotIndicator.spec.jsx.snap
Due: none

feat(breadcrumb): added split stories + add css variables
  components/Breadcrumb/src/breadcrumb.css
  components/Breadcrumb/src/stories/breadcrumb.bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(breadcrumb): added rtl story
  components/Breadcrumb/src/stories/breadcrumb.bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@4a1d3057733675962cf6e5efa904f4a215a59bdd 🚀
  iframe.html
  main.24d107fb.iframe.bundle.js
  main.24d107fb.iframe.bundle.js.map
  main.67d2bc05.iframe.bundle.js
  main.67d2bc05.iframe.bundle.js.LICENSE.txt
  main.67d2bc05.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(pagination): start to work
  components/Pagination/package.json
  components/Pagination/src/index.tsx
  components/Pagination/src/pagination.css
  components/Pagination/src/stories/pagination.bem.stories.mdx
  components/Pagination/src/stories/pagination.react.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(breadcrumbs): remove unnecessary tokens.json
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: remove material-ui/core from button dependencies
  components/Button/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

build: fix update scripts in package.json to use yarn install
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

build: update patch versions
  package.json
  yarn.lock
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

build: update minor versions
  package.json
  yarn.lock
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

ci: rename github workflow
  .github/workflows/cicd.yml
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@0be1379dda7fbff661a77dc9c09fed9dacb3ac03 🚀
  0.0061f0afbc9137555ed4.manager.bundle.js
  0.0061f0afbc9137555ed4.manager.bundle.js.LICENSE.txt
  0.dd7ff10c6743265e2a8f.manager.bundle.js
  1.b929178925288e25ddf9.manager.bundle.js
  1.d6e35b509b875d41fa79.manager.bundle.js
  5.5432f206e40c0f99427e.manager.bundle.js
  5.7d68e65c6d5b50fd7504.manager.bundle.js
  iframe.html
  index.html
  main.275ce30b.iframe.bundle.js
  main.275ce30b.iframe.bundle.js.LICENSE.txt
  main.275ce30b.iframe.bundle.js.map
  main.67d2bc05.iframe.bundle.js
  main.67d2bc05.iframe.bundle.js.map
  runtime~main.2f716e722aabbd234f15.manager.bundle.js
  runtime~main.47b4d9c0018a446710c9.manager.bundle.js
  vendors~main.1d3c38cd3360807d8582.manager.bundle.js
  vendors~main.424db160.iframe.bundle.js
  vendors~main.424db160.iframe.bundle.js.map
  vendors~main.7b4feefc4d4bb5fda4ea.manager.bundle.js
  vendors~main.7b4feefc4d4bb5fda4ea.manager.bundle.js.LICENSE.txt
  vendors~main.c0e1e73c.iframe.bundle.js
  vendors~main.c0e1e73c.iframe.bundle.js.LICENSE.txt
  vendors~main.c0e1e73c.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@5fc4ef53bbac01f1793f73fe724ef9105552c05f 🚀
  iframe.html
  main.275ce30b.iframe.bundle.js
  main.275ce30b.iframe.bundle.js.map
  main.5669e1a3.iframe.bundle.js
  main.5669e1a3.iframe.bundle.js.LICENSE.txt
  main.5669e1a3.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(alert): splitting stories into bem + react mdx files
  .gitignore
  components/Alert/src/stories/Alert.stories.mdx
  components/Alert/src/stories/alert.bem.stories.mdx
  components/Alert/src/stories/alert.react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(icons): add edit icon
  components/Icons/src/Icons.stories.tsx
  components/Icons/src/index.tsx
  components/Icons/src/svg/functional/edit.svg
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@5eadc47602f10245907107992c21e337e5ebf1cb 🚀
  iframe.html
  main.5669e1a3.iframe.bundle.js
  main.5669e1a3.iframe.bundle.js.map
  main.71cc24ad.iframe.bundle.js
  main.71cc24ad.iframe.bundle.js.LICENSE.txt
  main.71cc24ad.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@4bf544523ffbee9851d02bab1625716e900d8b5d 🚀
  iframe.html
  main.6a2c05a4.iframe.bundle.js
  main.6a2c05a4.iframe.bundle.js.LICENSE.txt
  main.6a2c05a4.iframe.bundle.js.map
  main.71cc24ad.iframe.bundle.js
  main.71cc24ad.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(pagination): add bem stories
  components/Pagination/src/stories/pagination.bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(pagination): add link to figma
  components/Pagination/README.md
Due: prettier --check

feat(pagination): add styles
  components/Pagination/src/pagination.css
Due: prettier --check, stylelint --allow-empty-input

feat(pagination): add styles from tokens
  components/Pagination/src/pagination.css
  proprietary/Components/src/denhaag/pagination.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(build): storybook watchers not working
  .storybook/preview.js
  proprietary/Common/package.json
  proprietary/Components/package.json
  proprietary/Proprietary/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
