Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, prettier -c, stylelint

feat(radio-button): added design tokens to radio
  src/components/Radio/package.json
  src/components/Radio/src/Radio.tsx
  src/components/Radio/src/bem-mapping.ts
  src/components/Radio/src/mui-override.css
  src/components/Radio/src/radio.css
  src/components/Radio/src/stories/Radio.stories.tsx
  src/components/Radio/src/stories/RadioGroup.stories.tsx
  src/styles/Components/src/denhaag/radio-button/block.style-dictionary.json
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

fixup! feat(radio-button): added design tokens to radio
  src/styles/Components/src/denhaag/radio-button/block.style-dictionary.json
Due: none

Added radio icons
  src/components/Icons/src/index.tsx
  src/components/Icons/src/svg/functional/active-radio.svg
  src/components/Icons/src/svg/functional/inactive-radio.svg
Due: eslint, prettier -c

feat(radio): pass input props to native input
  src/components/Radio/src/Radio.tsx
  src/components/Radio/src/stories/Radio.stories.mdx
Due: eslint, prettier -c

docs(radio-button): add radio story
  src/components/Radio/README.md
  src/components/Radio/src/stories/Radio.stories.mdx
  src/components/Radio/src/stories/Radio.stories.tsx
  src/components/Radio/src/stories/RadioGroup.stories.tsx
Due: eslint, prettier -c

fix: radio button without material ui
  src/components/Radio/package.json
  src/components/Radio/src/Radio.tsx
  src/components/Radio/src/bem-mapping.ts
  src/components/Radio/src/mui-override.css
  src/components/Radio/src/stories/Radio.stories.mdx
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

feat(radio): add onChange and render icon
  src/components/Radio/src/Radio.tsx
  src/components/Radio/src/stories/Radio.stories.mdx
Due: eslint, prettier -c

feat(radio): only render label if present
  src/components/Radio/src/Radio.tsx
Due: eslint, prettier -c

feat(testing): added custom multimount and snapshots cypress commands
  cypress/support/commands.jsx
Due: none

fix(icons): icon typing fix to make it usable with cypress
  src/components/Icons/src/@types/index.d.ts
Due: eslint, prettier -c

feat(testing): added button tests
  src/components/Button/specs/Button.spec.jsx
  src/components/Button/specs/Button.spec.tsx
  src/components/Button/specs/__image_snapshots__/Button #0.png
  src/components/Button/specs/__image_snapshots__/Button--focus #0.png
  src/components/Button/specs/__image_snapshots__/Button--hover #0.png
  src/components/Button/specs/__snapshots__/Button.spec.jsx.snap
  src/components/Button/specs/__snapshots__/Button.spec.tsx.snap
Due: eslint, prettier -c

fix(card): fixed card css hover and focus classes
  src/components/Card/src/Card/card.css
Due: stylelint

feat(testing): added Card tests (a11y contrast issue..)
  src/components/Card/specs/Card.spec.jsx
  src/components/Card/specs/Card.spec.tsx
  src/components/Card/specs/__image_snapshots__/Card #0.png
  src/components/Card/specs/__image_snapshots__/Card--focus #0.png
  src/components/Card/specs/__image_snapshots__/Card--hover #0.png
  src/components/Card/specs/__snapshots__/Card.spec.jsx.snap
Due: eslint, prettier -c

feat(testing): remove example comments from commands.js
  cypress/support/commands.jsx
Due: none

feat: add spacing tokens
  src/styles/Common/src/denhaag/border-radius.style-dictionary.json
  src/styles/Common/src/denhaag/focus.style-dictionary.json
  src/styles/Common/src/denhaag/space.style-dictionary.json
Due: none

docs: add space token docs with tokens
  .storybook/stories/Space.stories.mdx
  .storybook/stories/components/DesignTokensTable.jsx
  .storybook/stories/components/SpaceTokensTable.jsx
  package.json
  src/styles/Common/src/denhaag/space.style-dictionary.json
Due: npmPkgJsonLint

feat: add space tokens meta-data
  src/styles/Common/src/denhaag/space/space-meta.style-dictionary.json
  src/styles/Common/src/denhaag/space/space.style-dictionary.json
Due: none

fix(card): remove duplicate index file from card package
  src/components/Card/src/index.ts
Due: eslint, prettier -c

fix(design-tokens): remove unused components.module.css
  src/styles/Components/src/components.module.css
Due: stylelint

fix: fixed prettier issue in cypress commands
  cypress/support/commands.jsx
Due: none

feat: keyboard operation of Card test
  cypress/support/commands.jsx
Due: none

feat: actual keyboard operation test this one, last one was a stylelint issue
  src/components/Card/specs/Card.spec.jsx
Due: none

feat: added cypress eslint plugin
  .eslintrc
  package.json
  yarn.lock
Due: npmPkgJsonLint

fix: added key to fix react console errors
  cypress/support/commands.jsx
Due: none

feat: added known issue functionality to tests
  cypress/plugins/index.js
  cypress/support/commands.jsx
  src/components/Card/specs/Card.spec.jsx
Due: none

feat: prettified known issue warning
  cypress/support/commands.jsx
Due: none

fix: trying to fix GH Actions chokidar errors
  .github/workflows/cicd.yml
Due: none

fix: second try for fixing chokidar errors
  .github/workflows/cicd.yml
Due: none

feat: optimize GH actions warnings
  .github/workflows/cicd.yml
Due: none

feat: actually use the CYPRESS_CICD env var
  cypress/support/commands.jsx
Due: none

feat: testing CICD tests
  .github/workflows/cicd.yml
  cypress/support/commands.jsx
Due: none

fix: fixed env var usage for ubuntu
  .github/workflows/cicd.yml
Due: none

fix: still some issues with GH actions
  .github/workflows/cicd.yml
Due: none

Path conditions:
  npmPkgJsonLint: any of: package.json
  eslint: any of: *.{ts,tsx}
  prettier -c: any of: *.{ts,tsx}
  stylelint: any of: *.css
