Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

style(hero-theme-page): refactor bem, css + tokens
  components/Hero/src/index.scss
  components/Hero/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(hero-theme-page): rm responsive font-sizes tokens + css
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(hero-theme-page): refactor css + tokens
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(hero-theme-page): change order css properties
  components/Hero/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@b4848dab0b8872d20f6efb4f91ca964fc215b5a1 🚀
  iframe.html
  main.9db6dabd.iframe.bundle.js
  main.9db6dabd.iframe.bundle.js.map
  main.bd0c26fc.iframe.bundle.js
  main.bd0c26fc.iframe.bundle.js.LICENSE.txt
  main.bd0c26fc.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(link-group-extended): additional style
  components/LinkGroup/src/index.scss
  components/LinkGroup/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/link-group.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@066b721324705a482bceb069cc29a5809505371e 🚀
  iframe.html
  main.6b4acc38.iframe.bundle.js
  main.6b4acc38.iframe.bundle.js.LICENSE.txt
  main.6b4acc38.iframe.bundle.js.map
  main.bd0c26fc.iframe.bundle.js
  main.bd0c26fc.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(headings): apply element + heading margin formula
  components/Typography/src/heading.scss
Due: prettier --check, stylelint --allow-empty-input

style(anchors): apply feedback from design
  components/AnchorNavigation/src/index.scss
  proprietary/Components/src/denhaag/anchor-collapse.tokens.json
  proprietary/Components/src/denhaag/anchor-navigation.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(anchors): apply feedback from design (#890)
  components/AnchorNavigation/src/index.scss
  proprietary/Components/src/denhaag/anchor-collapse.tokens.json
  proprietary/Components/src/denhaag/anchor-navigation.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@b285dd8aa73b9321fe488c124c42bd65443e6be7 🚀
  iframe.html
  main.2b4e2c3d.iframe.bundle.js
  main.2b4e2c3d.iframe.bundle.js.LICENSE.txt
  main.2b4e2c3d.iframe.bundle.js.map
  main.6b4acc38.iframe.bundle.js
  main.6b4acc38.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Feature/gdh 261 typography spacing (#889)
  components/Typography/src/heading.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@964ddb0ea493b3a51ce3274d599b49bb76eed269 🚀
  iframe.html
  main.2b4e2c3d.iframe.bundle.js
  main.2b4e2c3d.iframe.bundle.js.map
  main.abdd53f7.iframe.bundle.js
  main.abdd53f7.iframe.bundle.js.LICENSE.txt
  main.abdd53f7.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@40a9e953b1c6189e0144db8725fe038229cc6a84 🚀
  iframe.html
  main.abdd53f7.iframe.bundle.js
  main.abdd53f7.iframe.bundle.js.map
  main.f91559a4.iframe.bundle.js
  main.f91559a4.iframe.bundle.js.LICENSE.txt
  main.f91559a4.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@69edb41d5e42066452e9e210e2a11e51e1fc9997 🚀
  iframe.html
  main.b3d3eb47.iframe.bundle.js
  main.b3d3eb47.iframe.bundle.js.LICENSE.txt
  main.b3d3eb47.iframe.bundle.js.map
  main.f91559a4.iframe.bundle.js
  main.f91559a4.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@8744df5881e80cbbf016ae93ea673f56f9265d83 🚀
  iframe.html
  main.af75f800.iframe.bundle.js
  main.af75f800.iframe.bundle.js.LICENSE.txt
  main.af75f800.iframe.bundle.js.map
  main.b3d3eb47.iframe.bundle.js
  main.b3d3eb47.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@48db400ef551e3392f40405128872d7b8fc0c2c9 🚀
  iframe.html
  main.38c46f48.iframe.bundle.js
  main.38c46f48.iframe.bundle.js.LICENSE.txt
  main.38c46f48.iframe.bundle.js.map
  main.af75f800.iframe.bundle.js
  main.af75f800.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@72ca37e5d5d345765d5e8db9888f824b0d822171 🚀
  iframe.html
  main.38c46f48.iframe.bundle.js
  main.38c46f48.iframe.bundle.js.map
  main.b3ba5367.iframe.bundle.js
  main.b3ba5367.iframe.bundle.js.LICENSE.txt
  main.b3ba5367.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs: update issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@7d21a9a1865a6b84a2027e8839006f969ffedcd8 🚀
  iframe.html
  main.b3ba5367.iframe.bundle.js
  main.b3ba5367.iframe.bundle.js.map
  main.bc40580e.iframe.bundle.js
  main.bc40580e.iframe.bundle.js.LICENSE.txt
  main.bc40580e.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(hero): set hero styles to the export
  packages/components-css/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(hero-theme-page): additional styling
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(hero): set hero styles to the export (#894)
  packages/components-css/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@391ec13b5007e6245fd8a511c6e7969754fc76b7 🚀
  iframe.html
  main.65add079.iframe.bundle.js
  main.65add079.iframe.bundle.js.LICENSE.txt
  main.65add079.iframe.bundle.js.map
  main.bc40580e.iframe.bundle.js
  main.bc40580e.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@c6d0f40ae7b47eb728ed093eeda2de1b65275500 🚀
  iframe.html
  main.65add079.iframe.bundle.js
  main.65add079.iframe.bundle.js.map
  main.b9679bcc.iframe.bundle.js
  main.b9679bcc.iframe.bundle.js.LICENSE.txt
  main.b9679bcc.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(datepicker): variable multiplied by negative number breaks create-react-app
  components/Datepicker/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@58313524b737c75e2275520b8053c7f482d7ac7b 🚀
  iframe.html
  main.a6291ae7.iframe.bundle.js
  main.a6291ae7.iframe.bundle.js.LICENSE.txt
  main.a6291ae7.iframe.bundle.js.map
  main.b9679bcc.iframe.bundle.js
  main.b9679bcc.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(hero-home): fix layout
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern
