Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: correct export path for ProcessSteps css
  components/ProcessSteps/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@56b8d8f6d01be5e46a53e4c002d5fa376457befc 🚀
  iframe.html
  main.39e33ebb.iframe.bundle.js
  main.39e33ebb.iframe.bundle.js.map
  main.89d4e767.iframe.bundle.js
  main.89d4e767.iframe.bundle.js.LICENSE.txt
  main.89d4e767.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(accordion): change bem, css, tokens for better accessibility
  components/Accordion/package.json
  components/Accordion/src/accordionScripts.js
  components/Accordion/src/index.scss
  components/Accordion/src/index.tsx
  components/Accordion/src/stories.js
  components/Accordion/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor: change bem title
  components/Accordion/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(button): apply feedback
  components/Button/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(link-button): accessibility sr-only to button and link
  components/Button/src/index.scss
  components/Button/src/stories/bem.stories.mdx
  components/Link/src/index.scss
  components/Link/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(button): remove react thingy in bem story
  components/Button/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(button): set cursor
  components/Button/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@b40080c17b02a505c72f81b67ab70aade4824412 🚀
  iframe.html
  main.777b7910.iframe.bundle.js
  main.777b7910.iframe.bundle.js.LICENSE.txt
  main.777b7910.iframe.bundle.js.map
  main.89d4e767.iframe.bundle.js
  main.89d4e767.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: improve design tokens for Process Steps component
  components/ProcessSteps/src/Step.scss
  components/ProcessSteps/src/StepHeading.scss
  components/ProcessSteps/src/StepList.scss
  components/ProcessSteps/src/StepMarker.scss
  components/ProcessSteps/src/SubStep.scss
  components/ProcessSteps/src/SubStepList.scss
  components/ProcessSteps/src/SubStepMarker.scss
  components/ProcessSteps/src/SubStepMarker.tsx
  proprietary/Components/src/denhaag/process-steps.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: duplicate export
  components/ProcessSteps/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fixup! feat: improve design tokens for Process Steps component
  components/ProcessSteps/src/Step.scss
Due: prettier --check, stylelint --allow-empty-input

feat: more design tokens for Process Steps component (#939)
  components/ProcessSteps/src/Step.scss
  components/ProcessSteps/src/StepHeading.scss
  components/ProcessSteps/src/StepList.scss
  components/ProcessSteps/src/StepMarker.scss
  components/ProcessSteps/src/SubStep.scss
  components/ProcessSteps/src/SubStepList.scss
  components/ProcessSteps/src/SubStepMarker.scss
  components/ProcessSteps/src/SubStepMarker.tsx
  components/ProcessSteps/src/index.tsx
  proprietary/Components/src/denhaag/process-steps.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@f048f368065b406336053f653438bfe32a027735 🚀
  iframe.html
  main.04bcf44d.iframe.bundle.js
  main.04bcf44d.iframe.bundle.js.LICENSE.txt
  main.04bcf44d.iframe.bundle.js.map
  main.777b7910.iframe.bundle.js
  main.777b7910.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(GDH-407): re-add tokens for headings
  components/Typography/src/stories/heading2.bem.stories.mdx
  components/Typography/src/stories/heading3.bem.stories.mdx
  components/Typography/src/stories/heading4.bem.stories.mdx
  components/Typography/src/stories/heading5.bem.stories.mdx
  proprietary/Components/src/utrecht/heading-2.tokens.json
  proprietary/Components/src/utrecht/heading-3.tokens.json
  proprietary/Components/src/utrecht/heading-4.tokens.json
  proprietary/Components/src/utrecht/heading-5.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@b26173bd3e6cb0c5fd18683282b68d0f1a58ca45 🚀
  iframe.html
  main.04bcf44d.iframe.bundle.js
  main.04bcf44d.iframe.bundle.js.map
  main.39491198.iframe.bundle.js
  main.39491198.iframe.bundle.js.LICENSE.txt
  main.39491198.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(accordion): change bem, css, tokens for better accessibility (#938)
  components/Accordion/package.json
  components/Accordion/src/accordionScripts.js
  components/Accordion/src/index.scss
  components/Accordion/src/index.tsx
  components/Accordion/src/stories.js
  components/Accordion/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@03df579a1aed496431148562e8af65fc6c7ae9e4 🚀
  iframe.html
  main.39491198.iframe.bundle.js
  main.39491198.iframe.bundle.js.map
  main.5ba1eb3e.iframe.bundle.js
  main.5ba1eb3e.iframe.bundle.js.LICENSE.txt
  main.5ba1eb3e.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(accordion): style correction accordion heading
  components/Accordion/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@38209a245d087f3fdfc941c70d3b3519858f7754 🚀
  iframe.html
  main.00a4541f.iframe.bundle.js
  main.00a4541f.iframe.bundle.js.LICENSE.txt
  main.00a4541f.iframe.bundle.js.map
  main.5ba1eb3e.iframe.bundle.js
  main.5ba1eb3e.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(accordion): add safari specific css, remove marker
  components/Accordion/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@40acf85a29bed2f13a48e5b73d17810ae7bdce65 🚀
  iframe.html
  main.00a4541f.iframe.bundle.js
  main.00a4541f.iframe.bundle.js.map
  main.cf0b75ac.iframe.bundle.js
  main.cf0b75ac.iframe.bundle.js.LICENSE.txt
  main.cf0b75ac.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(cta-content-image): fix accessibility issue with button style
  components/CtaImageContent/src/index.scss
  proprietary/Components/src/denhaag/cta-image-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(cta-content-image): fix accessibility issue with button style (#948)
  components/CtaImageContent/src/index.scss
  proprietary/Components/src/denhaag/cta-image-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@f0372e3c98fa338ce2847de7f773b774c71ce4c2 🚀
  iframe.html
  main.6262d046.iframe.bundle.js
  main.6262d046.iframe.bundle.js.LICENSE.txt
  main.6262d046.iframe.bundle.js.map
  main.cf0b75ac.iframe.bundle.js
  main.cf0b75ac.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
