Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, prettier -c, stylelint

use flexbox 💪
  src/components/Menu/src/menu.css
Due: stylelint

apply prettier to storybook
  src/components/Menu/src/MenuButton.stories.mdx
Due: none

make cursor a pointer for menu button
  src/components/Menu/src/menu-button.css
Due: stylelint

add more props for menu button
  src/components/Menu/src/MenuButton.tsx
Due: eslint, prettier -c

add href to menu button in storybook
  src/components/Menu/src/MenuButton.stories.mdx
Due: none

Fix for text bolding on active state changing width of menu button (would like to discuss this solution)
  src/components/Menu/src/MenuButton.stories.mdx
  src/components/Menu/src/MenuButton.tsx
  src/components/Menu/src/menu-button.css
Due: eslint, prettier -c, stylelint

Fixed issue when menu button is not in flex container
  src/components/Menu/src/menu-button.css
Due: stylelint

add active property
  src/components/Menu/src/MenuButton.tsx
Due: eslint, prettier -c

build: remove husky .gitignore
  .husky/.gitignore
Due: none

Wrapping a single stylesprovider for every story
  .storybook/preview.js
  src/components/IconButton/src/index.tsx
  src/components/List/src/List.tsx
Due: eslint, prettier -c

Added own StylesProvider component wrapper to avoid end-users needing a MUI dependency
  .storybook/preview.js
  src/components/StylesProvider/package.json
  src/components/StylesProvider/src/index.tsx
  src/components/StylesProvider/tsconfig.json
  src/meta-packages/denhaag-component-library/package.json
  src/meta-packages/denhaag-component-library/src/index.tsx
Due: npmPkgJsonLint, eslint, prettier -c

Removed StylesProvider from individual components
  src/components/Button/src/index.tsx
  src/components/Card/src/Card/Card.tsx
  src/components/Divider/src/index.tsx
  src/components/Timeline/src/StepContent.tsx
  src/components/Timeline/src/StepIcon.tsx
Due: eslint, prettier -c

Refactored select to use material-ui variant of menuItem (has been removed from menu)
  src/components/Select/src/Select.stories.tsx
Due: eslint, prettier -c

Don't add menubutton margin to last component the menu
  src/components/Menu/src/MenuButton.stories.mdx
  src/components/Menu/src/index.tsx
  src/components/Menu/src/menu.css
  src/components/Menu/src/menubutton.css
Due: eslint, prettier -c, stylelint

Move menubutton to menu component
  src/components/Menu/README.md
  src/components/Menu/package.json
  src/components/Menu/src/Menu.stories.tsx
  src/components/Menu/src/Menu.tsx
  src/components/Menu/src/MenuButton.stories.mdx
  src/components/Menu/src/MenuButton.tsx
  src/components/Menu/src/MenuItem.tsx
  src/components/Menu/src/MenuList.tsx
  src/components/Menu/src/Popover.tsx
  src/components/Menu/src/Popper.tsx
  src/components/Menu/src/index.tsx
  src/components/Menu/src/menubutton.css
  src/components/Menu/tsconfig.json
  src/components/MenuButton/package.json
  src/components/MenuButton/tsconfig.json
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

Fixed some documentation issues in menubutton
  src/components/Menu/README.md
Due: none

Added id props to menubutton
  src/components/Menu/src/MenuButton.stories.mdx
  src/components/Menu/src/MenuButton.tsx
  src/components/Menu/src/menu.css
Due: eslint, prettier -c, stylelint

Added menu button
  src/components/MenuButton/README.md
  src/components/MenuButton/package.json
  src/components/MenuButton/src/MenuButton.stories.mdx
  src/components/MenuButton/src/index.tsx
  src/components/MenuButton/src/menubutton.css
  src/components/MenuButton/tsconfig.json
  src/styles/Components/src/tokens-menubutton.css
Due: npmPkgJsonLint, eslint, prettier -c, stylelint

Fix menubutton dependencies
  src/components/MenuButton/package.json
Due: npmPkgJsonLint

Fix storybook documentation of menubutton
  src/components/Menu/src/MenuButton.stories.mdx
Due: none

Omit certain properties from baseprops
  src/components/Menu/src/MenuButton.tsx
Due: eslint, prettier -c

Rename menu-button css file
  src/components/Menu/src/MenuButton.tsx
  src/components/Menu/src/menu-button.css
Due: eslint, prettier -c, stylelint

Replace menubutton existing tokens file with style dictionary
  src/styles/Components/src/denhaag/menu-button/block.style-dictionary.json
  src/styles/Components/src/denhaag/menu-button/element.style-dictionary.json
  src/styles/Components/src/tokens-menubutton.css
Due: stylelint

Create separate style dictionary file to store the menu tokens
  src/components/Menu/src/menu.css
  src/styles/Components/src/denhaag/menu-button/block.style-dictionary.json
  src/styles/Components/src/denhaag/menu/block.style-dictionary.json
Due: stylelint

Fix indent menu css file
  src/components/Menu/src/menu.css
Due: stylelint

Added compolete HTML variants of menubutton to the story
  src/components/Menu/src/MenuButton.stories.mdx
Due: none

Use rollup instead of tsc to build menubutton
  src/components/MenuButton/package.json
Due: npmPkgJsonLint

Split the menubutton component in MenuButton and MenuButtonExpandable
  src/components/Menu/src/MenuButton.stories.mdx
  src/components/Menu/src/MenuButton.tsx
Due: eslint, prettier -c

Path conditions:
  npmPkgJsonLint: any of: package.json
  eslint: any of: *.{ts,tsx}
  prettier -c: any of: *.{ts,tsx}
  stylelint: any of: *.css
