Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

docs(notes): added usage to readme
  components/Note/README.md
Due: prettier --check

docs(note): edit readme
  components/Note/README.md
Due: prettier --check

feat(note): start styling and tokens
  components/Note/README.md
  components/Note/package.json
  components/Note/src/note.css
  components/Note/src/note.tsx
  components/Note/src/stories/bem.stories.mdx
  components/Note/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(note): renmae tsx file
  components/Note/src/index.tsx
  components/Note/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(html-note): add color token to svg
  components/Note/src/index.css
Due: prettier --check, stylelint --allow-empty-input

feat(note): apply in components-css
  packages/components-css/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(html-note): story, css, tokens, package, tsconfig
  components/Note/package.json
  components/Note/src/index.css
  components/Note/src/index.tsx
  components/Note/src/note.css
  components/Note/src/stories/bem.stories.mdx
  components/Note/src/stories/react.stories.mdx
  components/Note/tsconfig.json
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(note): fix typo -> gray to grey
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(note): added accessibility and added tokens
  components/Note/src/note.css
  components/Note/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(note): start working, added component folder structure and readme
  components/Note/README.md
  components/Note/package.json
  components/Note/src/note.css
  components/Note/src/note.tsx
  components/Note/src/stories/bem.stories.mdx
  components/Note/src/stories/react.stories.mdx
  components/Note/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor(608-html-note): re-add styling to css
  components/Note/src/index.css
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@2c76cfd99f1a91d94eaef8fbc098f0285d9b41c1 🚀
  iframe.html
  main.e41f3e5f.iframe.bundle.js
  main.e41f3e5f.iframe.bundle.js.map
  main.e87086be.iframe.bundle.js
  main.e87086be.iframe.bundle.js.LICENSE.txt
  main.e87086be.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(cta-download): add documentation
  components/CtaDownload/README.md
  components/CtaDownload/src/cta-download.css
Due: prettier --check, stylelint --allow-empty-input

feat(cta-download): add cta-download
  components/CtaDownload/README.md
  components/CtaDownload/package.json
  components/CtaDownload/src/cta-download.css
  components/CtaDownload/src/index.tsx
  components/CtaDownload/src/stories/bem.stories.mdx
  components/CtaDownload/tsconfig.json
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/cta-download.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(cta-download): apply best-practices
  components/CtaDownload/src/cta-download.css
  components/CtaDownload/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/cta-download.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(cta-download): rename cta-download.css to index.css
  components/CtaDownload/src/index.css
  components/CtaDownload/src/index.tsx
  packages/components-css/src/index.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(cta-download): change css import, rm docs from story, rm tsconfig Baseprops ref
  components/CtaDownload/src/index.tsx
  components/CtaDownload/src/stories/bem.stories.mdx
  components/CtaDownload/tsconfig.json
  proprietary/Components/src/denhaag/cta-download.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@db5f00ff4dda6114645ea1b2228a7c2dbc46c4cc 🚀
  iframe.html
  main.af338a13.iframe.bundle.js
  main.af338a13.iframe.bundle.js.LICENSE.txt
  main.af338a13.iframe.bundle.js.map
  main.e87086be.iframe.bundle.js
  main.e87086be.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(blockquote): add story, css, tokens
  components/Blockquote/README.md
  components/Blockquote/package.json
  components/Blockquote/src/index.css
  components/Blockquote/src/index.tsx
  components/Blockquote/src/stories/bem.stories.mdx
  components/Blockquote/tsconfig.json
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/blockquote.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor(blockquote): rm fallback colors, change font-size, rm unused ref tsconfig
  components/Blockquote/src/index.css
  components/Blockquote/tsconfig.json
  proprietary/Components/src/denhaag/blockquote.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(blockquote): remove redundant inherit fallback on font-family style
  components/Blockquote/src/index.css
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@cbb7a78c316c9c8659f14c4861205a585b35b156 🚀
  iframe.html
  main.59313c9d.iframe.bundle.js
  main.59313c9d.iframe.bundle.js.LICENSE.txt
  main.59313c9d.iframe.bundle.js.map
  main.af338a13.iframe.bundle.js
  main.af338a13.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(image): add story, css, tokens, readme
  components/Image/README.md
  components/Image/package.json
  components/Image/src/index.css
  components/Image/src/index.tsx
  components/Image/src/stories/bem.stories.mdx
  components/Image/tsconfig.json
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/image.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@a22a67439f3b7d83199b03a3c2093e9851d85f2f 🚀
  iframe.html
  main.019391ad.iframe.bundle.js
  main.019391ad.iframe.bundle.js.LICENSE.txt
  main.019391ad.iframe.bundle.js.map
  main.59313c9d.iframe.bundle.js
  main.59313c9d.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: deprecate mui accordion
  components/Accordion/src/Accordion.stories.tsx
  components/Accordion/src/Accordion.tsx
  components/Accordion/src/AccordionActions.tsx
  components/Accordion/src/AccordionDetails.tsx
  components/Accordion/src/AccordionSummary.tsx
  components/Accordion/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: rename styles to index.css
  components/Alert/src/index.css
  components/Alert/src/index.tsx
  components/BadgeCounter/src/index.css
  components/BadgeCounter/src/index.tsx
  components/Breadcrumb/src/index.css
  components/Breadcrumb/src/index.tsx
  components/Checkbox/src/index.css
  components/Checkbox/src/index.tsx
  components/CtaEvent/src/index.css
  components/CtaEvent/src/index.tsx
  components/CtaLink/src/cta-link.css
  components/CtaLink/src/index.tsx
  components/Datepicker/src/index.css
  components/Datepicker/src/index.tsx
  components/DotIndicator/src/index.css
  components/DotIndicator/src/index.tsx
  components/FormControlLabel/src/index.css
  components/FormControlLabel/src/index.tsx
  components/FormGroup/src/index.css
  components/FormGroup/src/index.tsx
  components/IconButton/src/index.css
  components/IconButton/src/index.tsx
  components/Icons/src/index.css
  components/Icons/src/index.tsx
  components/Link/src/index.css
  components/Link/src/index.tsx
  components/Modal/src/index.css
  components/Modal/src/index.tsx
  components/Modal/src/stories/bem.stories.mdx
  components/Pagination/src/index.css
  components/Pagination/src/index.tsx
  packages/components-css/src/index.tsx
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern
