Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, stylelint

added design tokens
  src/components/List/src/ListItem.tsx
  src/components/List/src/listitem.module.css
  src/components/List/src/listitemsecondaryaction.module.css
Due: eslint, stylelint

updated List api's
  src/components/List/src/List.tsx
  src/components/List/src/ListItem.tsx
  src/components/List/src/ListItemText.tsx
Due: eslint

Add fallback/default token values and remove exposed api
  src/components/Button/src/index.tsx
  src/styles/Components/package.json
  src/styles/Components/src/tokens-button.css
Due: npmPkgJsonLint, eslint, stylelint

Add disabled selector to button css
  src/components/Button/src/button.module.css
Due: stylelint

Remove duplicate design token plugin
  package.json
Due: npmPkgJsonLint

move stories
  src/components/Stepper/src/stories/Step.stories.tsx
  src/components/Stepper/src/stories/Stepper.stories.tsx
  src/components/Stepper/tsconfig.json
Due: eslint

add collapsible content for step
  src/components/Stepper/package.json
  src/components/Stepper/src/Step.tsx
  src/components/Stepper/src/stories/Stepper.stories.tsx
Due: npmPkgJsonLint, eslint

add custom icons to StepIcon
  src/components/Stepper/package.json
  src/components/Stepper/src/Step.tsx
  src/components/Stepper/src/StepIcon.tsx
  src/components/Stepper/src/Stepper.tsx
  src/components/Stepper/src/stories/Step.stories.tsx
  src/components/Stepper/src/stories/Stepper.stories.tsx
Due: npmPkgJsonLint, eslint

add styling template
  src/components/Stepper/package.json
  src/components/Stepper/src/Step.tsx
  src/components/Stepper/src/StepContent.tsx
  src/components/Stepper/src/stories/Stepper.stories.tsx
  src/components/Stepper/src/styles/bem-mapping.ts
  src/components/Stepper/src/styles/mui-override.module.css
  src/components/Stepper/src/styles/stepper.module.css
Due: npmPkgJsonLint, eslint, stylelint

update stepper icons
  src/components/Stepper/package.json
  src/components/Stepper/src/Step.tsx
  src/components/Stepper/src/StepIcon.tsx
  src/components/Stepper/src/styles/bem-mapping.ts
  src/components/Stepper/src/styles/stepper.module.css
  yarn.lock
Due: npmPkgJsonLint, eslint, stylelint

fix icons
  src/components/Stepper/src/StepIcon.tsx
  src/components/Stepper/src/styles/stepper.module.css
  yarn.lock
Due: eslint, stylelint

move stories
  src/components/Stepper/src/stories/Stepper.stories.tsx
Due: eslint

add collapsible content for step
  src/components/Stepper/src/Step.tsx
  src/components/Stepper/src/stories/Stepper.stories.tsx
Due: eslint

add custom icons to StepIcon
  src/components/Stepper/src/Step.tsx
  src/components/Stepper/src/stories/Stepper.stories.tsx
Due: eslint

add styling template
  src/components/Stepper/src/stories/Stepper.stories.tsx
Due: eslint

update styles
  src/components/Stepper/src/Step.tsx
  src/components/Stepper/src/StepLabel.tsx
  src/components/Stepper/src/index.ts
  src/components/Stepper/src/styles/bem-mapping.ts
  src/components/Stepper/src/styles/stepper.module.css
Due: eslint, stylelint

moved design tokens to components package
  src/components/List/package.json
  src/components/List/src/List.tsx
  src/components/List/src/ListItem.tsx
  src/components/List/src/ListItemAvatar.tsx
  src/components/List/src/ListItemSecondaryAction.tsx
  src/components/List/src/ListItemText.tsx
  src/components/List/src/ListSubheader.tsx
  src/components/List/src/index.ts
  src/components/List/src/list.module.css
  src/components/List/src/listitem.module.css
  src/components/List/src/listitemicon.module.css
  src/components/List/src/listitemsecondaryaction.module.css
  src/components/List/src/listitemtext.module.css
  src/components/List/src/listsubheader.module.css
  src/styles/Components/src/components.module.css
  src/styles/Components/src/tokens-list.css
Due: npmPkgJsonLint, eslint, stylelint

design token reference fix
  src/components/List/src/listitem.module.css
Due: stylelint

use new style packages
  src/components/Stepper/package.json
  src/components/Stepper/src/Step.tsx
  src/components/Stepper/src/StepContent.tsx
  src/components/Stepper/src/index.ts
  src/components/Stepper/src/styles/stepper.module.css
Due: npmPkgJsonLint, eslint, stylelint

Add fallback values in component css
  src/components/Button/src/button.module.css
Due: stylelint

fix icon type
  src/components/Stepper/src/StepLabel.tsx
  src/components/Stepper/src/styles/stepper.module.css
Due: eslint, stylelint

list item with secondary padding fix
  src/components/List/src/listitem.module.css
  src/components/List/src/listitemtext.module.css
  src/styles/Components/src/tokens-list.css
Due: stylelint

design token fix
  src/components/List/src/listitemsecondaryaction.module.css
Due: stylelint

update step to be focusable
  src/components/Stepper/src/Step.tsx
Due: eslint

added onclick method
  src/components/List/src/ListItem.tsx
Due: eslint

Updated the Card because of new styling packages
  src/components/Card/src/Card/Card.tsx
  src/components/Card/src/stories/Card.stories.tsx
  src/styles/Components/src/components.module.css
  src/styles/Components/src/tokens-card.css
Due: eslint, stylelint

updated yarn.lock
  yarn.lock
Due: none

updated yarn.lock and snapshot test button
  src/components/Button/specs/__snapshots__/Button.spec.tsx.snap
  yarn.lock
Due: none

fixed onClick for ListItem (action/nav) & updated storybook
  src/components/List/src/List.stories.tsx
  src/components/List/src/ListItem.tsx
Due: eslint

Added onClick prop to IconButton
  src/components/IconButton/src/index.tsx
Due: eslint

Added the tabindex property to IconButton
  src/components/IconButton/src/index.tsx
Due: eslint

Updated onClick type
  src/components/IconButton/src/index.tsx
Due: eslint

Reworked type to make usage clear
  src/components/IconButton/src/index.tsx
Due: eslint

Reproducible builds using exact version from Yarn lockfile
  .github/workflows/cicd.yml
  .husky/post-merge
  README.md
Due: none

fix babel warning
  .storybook/main.js
  fix.patch
Due: none

fix babel warning
  .storybook/main.js
Due: none

updated onClick type
  src/components/List/src/ListItem.tsx
Due: eslint

Move css to .css files instead of .module.css to fix clean react project issues
  src/components/Card/src/Card/Card.tsx
  src/components/Card/src/Card/card.css
  src/components/Card/src/Card/mui-override.css
  src/components/Card/src/CardActions/CardAction.tsx
  src/components/Card/src/CardActions/card-actions.css
  src/components/Card/src/CardActions/mui-override.css
  src/components/Card/src/CardContent/CardContent.tsx
  src/components/Card/src/CardContent/mui-override.css
  src/components/Card/src/CardHeader/CardHeader.tsx
  src/components/Card/src/CardHeader/card-header.css
  src/components/Card/src/CardHeader/mui-override.css
Due: eslint, stylelint

fixed storybook console warnings
  src/components/List/src/ListItem.tsx
  src/components/List/src/listitem.module.css
Due: eslint, stylelint

change css variable names to adhere correct naming scheme
  src/components/Card/src/Card/card.css
  src/components/Card/src/tokens-card.css
Due: stylelint

Path conditions:
  npmPkgJsonLint: any of: package.json
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
