Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(typography): remove css ref from components-css, buildfix: add index to Note
  components/Note/src/index.tsx
  packages/components-css/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(note): start styling and tokens
  components/Note/README.md
  components/Note/package.json
  components/Note/src/note.css
  components/Note/src/note.tsx
  components/Note/src/stories/bem.stories.mdx
  components/Note/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/note.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

docs(release): design system packages
  components/Accordion/package.json
  components/Alert/package.json
  components/Avatar/package.json
  components/BadgeCounter/package.json
  components/BaseDataDisplayProps/package.json
  components/BaseProps/package.json
  components/Breadcrumb/package.json
  components/Button/package.json
  components/Card/package.json
  components/Checkbox/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/Link/package.json
  components/List/package.json
  components/Menu/package.json
  components/Pagination/package.json
  components/Pickers/package.json
  components/PickersUtilsProvider/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  components/Typography/package.json
  packages/components-css/package.json
  packages/components-react/package.json
  proprietary/Common/package.json
  proprietary/Components/package.json
  proprietary/Proprietary/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(note): start working, added component folder structure and readme
  components/Note/README.md
  components/Note/package.json
  components/Note/src/note.css
  components/Note/src/note.tsx
  components/Note/src/stories/bem.stories.mdx
  components/Note/src/stories/react.stories.mdx
  components/Note/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

build: update minor deps
  package.json
  yarn.lock
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(posttype-label): add posttype label html + css, buildfix Note
  components/Note/src/index.tsx
  components/PosttypeLabel/README.md
  components/PosttypeLabel/package.json
  components/PosttypeLabel/src/index.css
  components/PosttypeLabel/src/index.tsx
  components/PosttypeLabel/src/stories/posttypeLabel.bem.stories.mdx
  components/PosttypeLabel/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor: omit .value in token reference
  proprietary/Common/src/denhaag/focus.tokens.json
  proprietary/Common/src/utrecht/document.tokens.json
  proprietary/Common/src/utrecht/feedback-variant.tokens.json
  proprietary/Common/src/utrecht/feedback.tokens.json
  proprietary/Common/src/utrecht/focus.tokens.json
  proprietary/Components/src/denhaag/alert.tokens.json
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
  proprietary/Components/src/denhaag/button.tokens.json
  proprietary/Components/src/denhaag/card.tokens.json
  proprietary/Components/src/denhaag/checkbox.tokens.json
  proprietary/Components/src/denhaag/divider.tokens.json
  proprietary/Components/src/denhaag/dot-indicator.tokens.json
  proprietary/Components/src/denhaag/form-control-label.tokens.json
  proprietary/Components/src/denhaag/form-group.tokens.json
  proprietary/Components/src/denhaag/icon-button.tokens.json
  proprietary/Components/src/denhaag/link.tokens.json
  proprietary/Components/src/denhaag/list.tokens.json
  proprietary/Components/src/denhaag/menu-button.tokens.json
  proprietary/Components/src/denhaag/pagination.tokens.json
  proprietary/Components/src/denhaag/tabs.tokens.json
  proprietary/Components/src/denhaag/timeline.tokens.json
  proprietary/Components/src/utrecht/badge-counter.tokens.json
  proprietary/Components/src/utrecht/badge.tokens.json
  proprietary/Components/src/utrecht/breadcrumb.tokens.json
  proprietary/Components/src/utrecht/button.tokens.json
  proprietary/Components/src/utrecht/document.tokens.json
  proprietary/Components/src/utrecht/form-input.tokens.json
  proprietary/Components/src/utrecht/form-label.tokens.json
  proprietary/Components/src/utrecht/heading-1.tokens.json
  proprietary/Components/src/utrecht/heading-2.tokens.json
  proprietary/Components/src/utrecht/heading-3.tokens.json
  proprietary/Components/src/utrecht/heading-4.tokens.json
  proprietary/Components/src/utrecht/heading-5.tokens.json
  proprietary/Components/src/utrecht/heading.tokens.json
  proprietary/Components/src/utrecht/link.tokens.json
  proprietary/Components/src/utrecht/page-footer.tokens.json
  proprietary/Components/src/utrecht/paragraph.tokens.json
  proprietary/Components/src/utrecht/separator.tokens.json
  proprietary/Components/src/utrecht/table.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@681e4e9be2899c038165914eefc5e2f0e96e1f14 🚀
  iframe.html
  main.45acea51.iframe.bundle.js
  main.45acea51.iframe.bundle.js.map
  main.bc4ccaf1.iframe.bundle.js
  main.bc4ccaf1.iframe.bundle.js.LICENSE.txt
  main.bc4ccaf1.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(event-date): add new event date bem, css (based on posttype label)
  components/EventDate/README.md
  components/EventDate/package.json
  components/EventDate/src/index.css
  components/EventDate/src/index.tsx
  components/EventDate/src/stories/eventDate.bem.stories.mdx
  components/EventDate/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(event-date): refactor story, css + add tokens
  components/EventDate/src/index.css
  components/EventDate/src/stories/eventDate.bem.stories.mdx
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/eventdate.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(descriptionlist): rename datalist to descriptionlist, refactor css + tokens + tsconfig
  components/DataList/src/datalist.css
  components/DataList/src/index.tsx
  components/DataList/src/stories/bem.stories.mdx
  components/DescriptionList/README.md
  components/DescriptionList/package.json
  components/DescriptionList/src/descriptionlist.css
  components/DescriptionList/src/index.tsx
  components/DescriptionList/src/stories/bem.stories.mdx
  components/DescriptionList/tsconfig.json
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/description.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

build: update patch versions
  components/Breadcrumb/package.json
  components/Pagination/package.json
  package.json
  yarn.lock
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(descriptionlist): change DescriptionList component css file name
  packages/components-css/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@d476124d11a5a2b50edb5ce6da2c3cbe09af2322 🚀
  iframe.html
  main.3796ea46.iframe.bundle.js
  main.3796ea46.iframe.bundle.js.LICENSE.txt
  main.3796ea46.iframe.bundle.js.map
  main.bc4ccaf1.iframe.bundle.js
  main.bc4ccaf1.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: classnames sharebutton and run prettier
  components/Button/src/index.css
  components/ShareButton/README.md
  components/ShareButton/package.json
  components/ShareButton/src/index.css
  components/ShareButton/src/index.tsx
  components/ShareButton/src/shareButtonScripts.js
  components/ShareButton/src/stories.js
  components/ShareButton/src/stories/bem.stories.mdx
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/button.tokens.json
  proprietary/Components/src/denhaag/share-button.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor(blockquote): story, css
  components/Blockquote/src/index.css
  components/Blockquote/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(blockquote): add initial bem story, css and design tokens
  components/Blockquote/README.md
  components/Blockquote/package.json
  components/Blockquote/src/index.css
  components/Blockquote/src/stories/bem.stories.mdx
  components/Blockquote/tsconfig.json
  proprietary/Components/src/denhaag/blockquote.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(blockquote): add index.tsx + ran a build
  components/Blockquote/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(blockquote): add bem story + css, remove token
  components/Blockquote/src/index.css
  components/Blockquote/src/stories/bem.stories.mdx
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/blockquote.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(blockquote): add readme
  components/Blockquote/README.md
  components/Blockquote/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(blockquote): change package.json, refactor css, add tokens
  components/Blockquote/package.json
  components/Blockquote/src/index.css
  proprietary/Components/src/denhaag/blockquote.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(blockquote): added empty index.tsx into Note fixing storybook build
  components/Note/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(blockquote): position of closing tag
  components/Blockquote/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(posttypelabel): add story, css, tokens
  components/PosttypeLabel/README.md
  components/PosttypeLabel/package.json
  components/PosttypeLabel/src/index.css
  components/PosttypeLabel/src/index.tsx
  components/PosttypeLabel/src/stories/posttypeLabel.bem.stories.mdx
  components/PosttypeLabel/tsconfig.json
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/posttypelabel.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(descriptionlist): add story, css, tokens
  components/DescriptionList/README.md
  components/DescriptionList/package.json
  components/DescriptionList/src/index.css
  components/DescriptionList/src/index.tsx
  components/DescriptionList/src/stories/bem.stories.mdx
  components/DescriptionList/tsconfig.json
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/descriptionlist.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(typography): add stories, modify css
  components/Typography/package.json
  components/Typography/src/paragraph.css
  components/Typography/src/stories/heading1.bem.stories.mdx
  components/Typography/src/stories/heading2.bem.stories.mdx
  components/Typography/src/stories/heading3.bem.stories.mdx
  components/Typography/src/stories/heading4.bem.stories.mdx
  components/Typography/src/stories/heading5.bem.stories.mdx
  components/Typography/src/stories/paragraph.bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(publication-date): add story, css, tokens
  components/PublicationDate/README.md
  components/PublicationDate/package.json
  components/PublicationDate/src/index.css
  components/PublicationDate/src/index.tsx
  components/PublicationDate/src/stories/publicationDate.bem.stories.mdx
  components/PublicationDate/tsconfig.json
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/publication-date.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor(publication-date): rename story
  components/PublicationDate/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(html-divider): setup stories for html divider, and extend css with the mui-styles
  components/Divider/src/divider.css
  components/Divider/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(html-divider): classname to class
  components/Divider/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
