Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, prettier -c, stylelint

feat(swipeable-drawer): add className to SwipeableDrawer component
  src/components/SwipeableDrawer/src/index.tsx
Due: eslint, prettier -c

fix(card): onClick is preferred if passed
  src/components/Card/src/Card/Card.tsx
  src/components/Card/src/stories/Card.stories.tsx
Due: eslint, prettier -c

fix(card): stop propagation if custom onClick is passed
  src/components/Card/src/Card/Card.tsx
Due: eslint, prettier -c

feat(tabs): disable MaterialUI transition and add correc tpositioning and colors
  src/components/Tab/src/Tab.tsx
  src/components/Tab/src/Tabs.tsx
  src/components/Tab/src/styles/mui-override.css
  src/components/Tab/src/styles/tabs.css
Due: eslint, prettier -c, stylelint

feat(tab): add den haag colors to tab indicator
  src/components/Tab/src/Tab.tsx
  src/components/Tab/src/Tabs.tsx
  src/components/Tab/src/styles/tab.css
  src/components/Tab/src/styles/tabs.css
Due: eslint, prettier -c, stylelint

feat(tab): apply padding and font size
  src/components/Tab/src/Tab.tsx
  src/components/Tab/src/Tabs.tsx
  src/components/Tab/src/styles/mui-override.css
  src/components/Tab/src/styles/tab.css
  src/components/Tab/src/styles/tabs.css
Due: eslint, prettier -c, stylelint

feat(tabs): add design font color and weight
  src/components/Tab/src/Tab.tsx
  src/components/Tab/src/styles/mui-override.css
  src/components/Tab/src/styles/tab.css
Due: eslint, prettier -c, stylelint

feat(tabs): add design tokens
  src/components/Tab/src/Tab.tsx
  src/components/Tab/src/Tabs.tsx
  src/components/Tab/src/styles/tab.css
  src/components/Tab/src/styles/tabs.css
  src/styles/Components/src/denhaag/tab/style-dictionary.json
Due: eslint, prettier -c, stylelint

fix(tabs): remove material-ui text opacity
  src/components/Tab/src/styles/mui-override.css
Due: stylelint

fix(tabs): remove material-ui padding
  src/components/Tab/src/TabPanel.tsx
  src/components/Tab/src/styles/mui-override.css
Due: eslint, prettier -c, stylelint

feat(tabs): add focus for tabs
  src/components/Tab/src/styles/tab.css
Due: stylelint

fix: fixed alignment of icon for link component
  src/components/Link/src/index.tsx
  src/components/Link/src/link.css
Due: eslint, prettier -c, stylelint

feat(tabs): add bem modifier for tab focus state
  src/components/Tab/src/styles/tab.css
Due: stylelint

feat(tabs): add padding tokens for tab-panel component
  src/components/Tab/src/TabPanel.tsx
  src/components/Tab/src/styles/tab-panel.css
  src/styles/Components/src/denhaag/tab/style-dictionary.json
Due: eslint, prettier -c, stylelint

fix(link): add new link icon class to html only story
  src/components/Link/src/Link.stories.mdx
Due: none

fix: fixed alignment of icon for link component (#389)
  src/components/Link/src/Link.stories.mdx
  src/components/Link/src/index.tsx
  src/components/Link/src/link.css
Due: eslint, prettier -c, stylelint

ci: update deployment to use github pages
  .github/workflows/cicd.yml
Due: none

fix(ci): add actions/checkout@v2 to deploy step
  .github/workflows/cicd.yml
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@130125e6ccf7d6cfb66b06ea9008338c7586ded8 🚀
  0.c828efe3.iframe.bundle.js
  0.ef1aaf5482a3faa2ef11.manager.bundle.js
  4.ad23034f6008b8277237.manager.bundle.js
  4.ad23034f6008b8277237.manager.bundle.js.LICENSE.txt
  4.b3f287f5.iframe.bundle.js
  4.b3f287f5.iframe.bundle.js.LICENSE.txt
  4.b3f287f5.iframe.bundle.js.map
  5.a2db4568933bf2c98b7e.manager.bundle.js
  5.a7a18db2.iframe.bundle.js
  6.8d58653ddcd8f382c182.manager.bundle.js
  6.8d58653ddcd8f382c182.manager.bundle.js.LICENSE.txt
  6.ee4ba8da.iframe.bundle.js
  6.ee4ba8da.iframe.bundle.js.LICENSE.txt
  6.ee4ba8da.iframe.bundle.js.map
  7.47c9ba09.iframe.bundle.js
  7.b0adfc2cb1d866937544.manager.bundle.js
  8.45a9acab5d9b53f45954.manager.bundle.js
  code-brackets.svg
  colors.svg
  comments.svg
  direction.svg
  favicon.ico
  flow.svg
  iframe.html
  index.html
  logo.svg
  main.37234640.iframe.bundle.js
  main.37234640.iframe.bundle.js.LICENSE.txt
  main.37234640.iframe.bundle.js.map
  main.d7b28114ee018778b5d9.manager.bundle.js
  plugin.svg
  repo.svg
  runtime~main.2cef096f.iframe.bundle.js
  runtime~main.9960b5a049829adf59cf.manager.bundle.js
  stackalt.svg
  vendors~main.7415ea69.iframe.bundle.js
  vendors~main.7415ea69.iframe.bundle.js.LICENSE.txt
  vendors~main.7415ea69.iframe.bundle.js.map
  vendors~main.9070b01bbf0a28f328e6.manager.bundle.js
  vendors~main.9070b01bbf0a28f328e6.manager.bundle.js.LICENSE.txt
Due: none

fix(card): contrast issue on case card text
  src/styles/Components/src/denhaag/card/element-modifier.style-dictionary.json
  src/styles/Components/src/denhaag/card/element.style-dictionary.json
Due: none

fix(card): remove unnecessary preventDefault on card click
  src/components/Card/src/Card/Card.tsx
Due: eslint, prettier -c

Path conditions:
  npmPkgJsonLint: any of: package.json
  eslint: any of: *.{ts,tsx}
  prettier -c: any of: *.{ts,tsx}
  stylelint: any of: *.css
