Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: added aria, role and abbr attributes
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: prettified previous fix
  components/Datepicker/src/datepicker.css
Due: prettier --check, stylelint --allow-empty-input

fix: moved aria-selected attribute from button to td (invalid on button)
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove disabled attribute from ts interface
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix iOS safari styling issues
  components/Datepicker/src/datepicker.css
  proprietary/Components/src/denhaag/datepicker.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: removed logging
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added keyboard controls
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@9123f85e9b893b3e9b13dc8cef83b7a9097c5f40 🚀
  iframe.html
  main.059a3cd1.iframe.bundle.js
  main.059a3cd1.iframe.bundle.js.map
  main.7b698039.iframe.bundle.js
  main.7b698039.iframe.bundle.js.LICENSE.txt
  main.7b698039.iframe.bundle.js.map
  vendors~main.2f6c70ae.iframe.bundle.js
  vendors~main.2f6c70ae.iframe.bundle.js.LICENSE.txt
  vendors~main.2f6c70ae.iframe.bundle.js.map
  vendors~main.3e252236.iframe.bundle.js
  vendors~main.3e252236.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(release): design system packages
  components/Accordion/package.json
  components/Alert/package.json
  components/Avatar/package.json
  components/BadgeCounter/package.json
  components/BaseDataDisplayProps/package.json
  components/BaseProps/package.json
  components/Breadcrumb/package.json
  components/Button/package.json
  components/Card/package.json
  components/Checkbox/package.json
  components/Datepicker/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/Link/package.json
  components/List/package.json
  components/Menu/package.json
  components/Pagination/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  components/Typography/package.json
  packages/components-css/package.json
  packages/components-react/package.json
  proprietary/Common/package.json
  proprietary/Components/package.json
  proprietary/Proprietary/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: removed alert component a11y check disables
  components/Alert/specs/Alert.spec.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@47e1b8e8cf0170c9ff50ddb0a65cf9028c1ee07c 🚀
  iframe.html
  main.7b698039.iframe.bundle.js
  main.7b698039.iframe.bundle.js.map
  main.b18354fd.iframe.bundle.js
  main.b18354fd.iframe.bundle.js.LICENSE.txt
  main.b18354fd.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(descriptionlist): add aria attribute to dl with caption
  components/DescriptionList/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(descriptionlist): rename bem class
  components/DescriptionList/src/index.css
  components/DescriptionList/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(descriptionlist): replace box-shadow with border-bottom
  components/DescriptionList/src/index.css
Due: prettier --check, stylelint --allow-empty-input

feat(modal): edit pointer-event to visible-paint
  components/Modal/src/modal.css
Due: prettier --check, stylelint --allow-empty-input

docs(modal): add figma link
  components/Modal/README.md
Due: prettier --check

build(html-modal): move imports index.tsx to story
  components/Modal/src/index.tsx
  components/Modal/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build(html-modal): rebase with main + re-added modal.css to packages
  packages/components-css/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(modal): start modal
  components/Modal/package.json
  components/Modal/src/index.tsx
  components/Modal/src/modal.css
  components/Modal/src/stories/modal.bem.stories.mdx
  components/Modal/src/stories/modal.react.stories.mdx
  components/Modal/tsconfig.json
  proprietary/Components/src/denhaag/modal.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(modal): applied feedback
  components/Modal/src/modal.css
  proprietary/Components/src/denhaag/modal.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(modal): add modal js
  components/Modal/src/index.tsx
  components/Modal/src/modal.js
  components/Modal/src/stories.js
  components/Modal/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/modal.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(modal): replace figma reference
  components/Modal/README.md
Due: prettier --check

docs(modal): add example script to the readme
  components/Modal/README.md
Due: prettier --check

docs(modal): set package version correct
  components/Modal/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(modal): remove semicolumn (build failed)
  components/Modal/src/modal.css
Due: prettier --check, stylelint --allow-empty-input

feat(modal): apply same feedback as in breadcrumbs
  components/Modal/package.json
  components/Modal/src/index.tsx
  components/Modal/src/modal.css
  components/Modal/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(modal): wip tokens
  components/Modal/src/modal.css
  components/Modal/src/stories/bem.stories.mdx
  components/Modal/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/modal.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(modal): remove css variable fallbacks"
  components/Modal/src/modal.css
Due: prettier --check, stylelint --allow-empty-input

feat(modal): fix console warning"
  components/Modal/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(modal): remove react story since it breaks the pipeline and is empty
  components/Modal/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(modal): check tokens and fix issue, also split story styles from component styles
  components/Modal/src/index.tsx
  components/Modal/src/modal.css
  components/Modal/src/stories.css
  proprietary/Components/src/denhaag/modal.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

docs(modal): check docs since design was updated
  components/Modal/README.md
  components/Modal/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(modal): add minor fallbacks
  components/Modal/src/modal.css
Due: prettier --check, stylelint --allow-empty-input

feat(posttypelabel): add story, css, tokens
  components/PosttypeLabel/README.md
  components/PosttypeLabel/package.json
  components/PosttypeLabel/src/index.css
  components/PosttypeLabel/src/index.tsx
  components/PosttypeLabel/src/stories/posttypeLabel.bem.stories.mdx
  components/PosttypeLabel/tsconfig.json
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/posttypelabel.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(accordion): add bem story, togglescript, css + tokens
  components/Accordion/src/accordionScripts.js
  components/Accordion/src/index.css
  components/Accordion/src/index.tsx
  components/Accordion/src/stories.js
  components/Accordion/src/stories/bem.stories.mdx
  packages/components-css/src/index.tsx
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(accordion): rm css comments, replaced imports, rm .value from tokens
  components/Accordion/src/index.css
  components/Accordion/src/index.tsx
  components/Accordion/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@0fa6a1e32074f462c3f623e8628e17596b9384e7 🚀
  iframe.html
  main.01ea5d07.iframe.bundle.js
  main.01ea5d07.iframe.bundle.js.LICENSE.txt
  main.01ea5d07.iframe.bundle.js.map
  main.b18354fd.iframe.bundle.js
  main.b18354fd.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
