Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

WIP contact timeline: transformed to one responsive component + collapsible
  components/ContactTimeline/src/ContactTimelineHeaderChannel.tsx
  components/ContactTimeline/src/ContactTimelineHeaderContent.tsx
  components/ContactTimeline/src/ContactTimelineHeaderDate.tsx
  components/ContactTimeline/src/index.scss
  components/ContactTimeline/src/index.tsx
  components/ContactTimeline/src/stories/react.stories.mdx
  components/ProcessSteps/src/index.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: changed breakpoint from 768 to 1024px
  components/ContactTimeline/src/_ContactTimelineHeaderChannel.scss
  components/ContactTimeline/src/_ContactTimelineHeaderContent.scss
  components/ContactTimeline/src/_ContactTimelineHeaderDate.scss
  components/ContactTimeline/src/_ContactTimelineItemFile.scss
  components/ContactTimeline/src/_ContactTimelineMeta.scss
  components/ContactTimeline/src/_ContactTimelineStepDetails.scss
  components/ContactTimeline/src/_ContactTimelineStepMarkerConnector.scss
Due: prettier --check, stylelint --allow-empty-input

fix: fixed issue in storybook story with unexpected export
  .storybook/stories/templates/05-Case-detail-page.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

WIP refactor contact timeline
  components/ContactTimeline/src/ContactTimeline.tsx
  components/ContactTimeline/src/_ContactTimeline.scss
  components/ContactTimeline/src/_ContactTimelineHeader.scss
  components/ContactTimeline/src/_ContactTimelineHeaderChannel.scss
  components/ContactTimeline/src/_ContactTimelineHeaderContent.scss
  components/ContactTimeline/src/_ContactTimelineHeaderDate.scss
  components/ContactTimeline/src/_ContactTimelineHeaderToggle.scss
  components/ContactTimeline/src/_ContactTimelineItemFile.scss
  components/ContactTimeline/src/_ContactTimelineItemSender.scss
  components/ContactTimeline/src/_ContactTimelineMeta.scss
  components/ContactTimeline/src/_ContactTimelineMetaSeparator.scss
  components/ContactTimeline/src/_ContactTimelineStep.scss
  components/ContactTimeline/src/_ContactTimelineStepDetails.scss
  components/ContactTimeline/src/_ContactTimelineStepMarkerConnector.scss
  components/ContactTimeline/src/index.scss
  components/ContactTimeline/src/index.tsx
  components/ContactTimeline/src/stories/bem.stories.mdx
  components/ContactTimeline/src/stories/react.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

WIP first working contact timeline desktop before refactor
  components/ContactTimeline/src/index.scss
  components/ContactTimeline/src/index.tsx
  components/ContactTimeline/src/stories/react.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

chore: converted contact timeline bem story to tsx
  components/ContactTimeline/src/stories/bem.stories.mdx
  components/ContactTimeline/src/stories/bem.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fixed bug with code snippets which used prettier.format
  components/ProcessSteps/src/stories/bem.stories.mdx
  components/StepMarker/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: converted UnorderedList from mdx to tsx
  components/UnorderedList/src/stories/bem.stories.mdx
  components/UnorderedList/src/stories/bem.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: converted Typography from mdx to tsx
  components/Typography/src/stories/heading1.bem.stories.mdx
  components/Typography/src/stories/heading1.bem.stories.tsx
  components/Typography/src/stories/heading2.bem.stories.mdx
  components/Typography/src/stories/heading2.bem.stories.tsx
  components/Typography/src/stories/heading3.bem.stories.mdx
  components/Typography/src/stories/heading3.bem.stories.tsx
  components/Typography/src/stories/heading4.bem.stories.mdx
  components/Typography/src/stories/heading4.bem.stories.tsx
  components/Typography/src/stories/heading5.bem.stories.mdx
  components/Typography/src/stories/heading5.bem.stories.tsx
  components/Typography/src/stories/paragraph.bem.stories.mdx
  components/Typography/src/stories/paragraph.bem.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: converted TextField from mdx to tsx
  components/TextField/src/stories/react.stories.mdx
  components/TextField/src/stories/react.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: removed Material UI
  CONTRIBUTING.md
  components/Divider/package.json
  components/Divider/src/index.scss
  components/Divider/src/index.tsx
  components/FormGroup/package.json
  components/StylesProvider/package.json
  components/StylesProvider/src/index.tsx
  package.json
  pnpm-lock.yaml
  proprietary/Components/src/denhaag/divider.tokens.json
  rollup.config.mjs
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: divider margin
  proprietary/Components/src/denhaag/divider.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: divider margin
  components/Divider/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: lint issue
  packages/storybook/babel.config.mjs
Due: none

feat: removed BaseProps
  components/Alert/package.json
  components/Alert/src/index.tsx
  components/BaseDataDisplayProps/package.json
  components/BaseDataDisplayProps/src/index.tsx
  components/BaseProps/src/index.tsx
  components/BaseProps/tsconfig.json
  components/Breadcrumb/src/index.tsx
  components/Button/package.json
  components/Divider/package.json
  components/Divider/src/index.tsx
  components/DotIndicator/package.json
  components/DotIndicator/src/index.tsx
  components/Footer/package.json
  components/Footer/src/index.tsx
  components/FormGroup/src/index.tsx
  components/Header/package.json
  components/Link/package.json
  components/Link/src/index.tsx
  components/Menu/package.json
  components/Menu/src/MenuButton.tsx
  components/Menu/src/index.tsx
  components/ProcessSteps/package.json
  components/ResponsiveContent/package.json
  components/ResponsiveContent/src/index.tsx
  package.json
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: removed BaseDataDisplay
  components/BaseDataDisplayProps/src/index.tsx
  components/BaseDataDisplayProps/tsconfig.json
  components/Divider/package.json
  components/Typography/package.json
  components/Typography/src/Heading1.tsx
  components/Typography/src/Heading2.tsx
  components/Typography/src/Heading3.tsx
  components/Typography/src/Heading4.tsx
  components/Typography/src/Heading5.tsx
  components/Typography/src/LeadParagraph.tsx
  components/Typography/src/Paragraph.tsx
  components/Typography/src/index.tsx
  components/Typography/src/stories/Heading1.react.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: build
  components/Accordion/tsconfig.json
  components/Action/tsconfig.json
  components/Alert/tsconfig.json
  components/BadgeCounter/tsconfig.json
  components/Breadcrumb/tsconfig.json
  components/Button/tsconfig.json
  components/ButtonGroup/tsconfig.json
  components/Card/tsconfig.json
  components/Checkbox/tsconfig.json
  components/CtaEvent/tsconfig.json
  components/Divider/tsconfig.json
  components/DynamicContent/tsconfig.json
  components/FormControlLabel/tsconfig.json
  components/FormGroup/tsconfig.json
  components/IconButton/tsconfig.json
  components/Link/tsconfig.json
  components/Menu/tsconfig.json
  components/Modal/tsconfig.json
  components/ProcessSteps/tsconfig.json
  components/StepMarker/tsconfig.json
  components/Tab/tsconfig.json
  components/TextField/tsconfig.json
  components/Typography/tsconfig.json
  packages/components-react/tsconfig.json
  tsconfig.json
  tsconfig.storybook.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: build issues
  components/FormGroup/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: build
  pnpm-lock.yaml
Due: prettier --check

fix: build
  components/BaseDataDisplayProps/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: build
  components/BaseProps/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: issue with glob patterns with rimraf
  packages/components-css/package.json
  packages/keycloak/package.json
  packages/open-forms/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: weird issue with --parallel combined with rimraf
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: build issue and include contact timeline to components css/react
  components/ProcessSteps/package.json
  components/ProcessSteps/tsconfig.json
  packages/components-css/src/index.scss
  packages/components-react/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: svg errors
  packages/storybook/config/main.ts
Due: prettier --check, eslint --no-error-on-unmatched-pattern
