Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor: remove context from ProcessSteps
  components/ProcessSteps/src/Step.scss
  components/ProcessSteps/src/Step.tsx
  components/ProcessSteps/src/StepBody.scss
  components/ProcessSteps/src/StepBody.tsx
  components/ProcessSteps/src/StepDetails.tsx
  components/ProcessSteps/src/StepExpandedIcon.tsx
  components/ProcessSteps/src/StepHeader.scss
  components/ProcessSteps/src/StepHeader.tsx
  components/ProcessSteps/src/StepHeading.scss
  components/ProcessSteps/src/StepHeading.tsx
  components/ProcessSteps/src/StepHeadingLabel.scss
  components/ProcessSteps/src/StepHeadingLabel.tsx
  components/ProcessSteps/src/StepLine.scss
  components/ProcessSteps/src/StepLine.tsx
  components/ProcessSteps/src/StepMarker.tsx
  components/ProcessSteps/src/SubStep.scss
  components/ProcessSteps/src/SubStep.tsx
  components/ProcessSteps/src/SubStepMarker.scss
  components/ProcessSteps/src/SubStepMarker.tsx
  components/ProcessSteps/src/index.scss
  components/ProcessSteps/src/index.tsx
  proprietary/Components/src/denhaag/process-steps.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: add warning and error status to ProcessSteps
  components/Link/src/index.tsx
  components/ProcessSteps/src/StepHeader.tsx
  components/ProcessSteps/src/StepHeading.scss
  components/ProcessSteps/src/StepLine.scss
  components/ProcessSteps/src/StepMarker.scss
  components/ProcessSteps/src/StepMarker.tsx
  components/ProcessSteps/src/SubStep.scss
  components/ProcessSteps/src/SubStepMarker.scss
  components/ProcessSteps/src/index.tsx
  components/ProcessSteps/src/stories/react.stories.mdx
  package.json
  proprietary/Components/src/denhaag/process-steps.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: add metadata to ProcessSteps
  components/Link/src/index.tsx
  components/ProcessSteps/src/Step.tsx
  components/ProcessSteps/src/StepBody.scss
  components/ProcessSteps/src/StepBody.tsx
  components/ProcessSteps/src/StepDetails.scss
  components/ProcessSteps/src/StepDetails.tsx
  components/ProcessSteps/src/StepExpandedIcon.tsx
  components/ProcessSteps/src/StepHeader.scss
  components/ProcessSteps/src/StepHeader.tsx
  components/ProcessSteps/src/StepList.tsx
  components/ProcessSteps/src/StepMeta.scss
  components/ProcessSteps/src/StepMeta.tsx
  components/ProcessSteps/src/StepSection.tsx
  components/ProcessSteps/src/SubStepList.scss
  components/ProcessSteps/src/SubStepList.tsx
  components/ProcessSteps/src/index.scss
  components/ProcessSteps/src/index.tsx
  components/ProcessSteps/src/stories/react.stories.mdx
  components/ProcessSteps/src/stories/react.stories.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@3ffc8953dc410cf6c51fb9696c9aec183b89101f 🚀
  iframe.html
  main.050ea1b8.iframe.bundle.js
  main.0ae71a43.iframe.bundle.js
  main.0ae71a43.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: use correct chevron for expanded and collapsed step
  components/ProcessSteps/src/StepHeader.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: make collapsible configurable in ProcessSteps component
  components/ProcessSteps/src/StepHeader.tsx
  components/ProcessSteps/src/index.tsx
  components/ProcessSteps/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@a65fa4e4baae0a59176cc38e9968bcf22ca60bce 🚀
  iframe.html
  main.0ae71a43.iframe.bundle.js
  main.c25c3a7e.iframe.bundle.js
  main.c25c3a7e.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@a5e131393e8fb70de574390bcc997c24f9b261c3 🚀
  iframe.html
  main.42fb7c08.iframe.bundle.js
  main.42fb7c08.iframe.bundle.js.LICENSE.txt
  main.c25c3a7e.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@06efabbca4ece4d9d190ae15df85570eac847757 🚀
  iframe.html
  main.42fb7c08.iframe.bundle.js
  main.dab9f7f8.iframe.bundle.js
  main.dab9f7f8.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

test: use Den Haag specific examples for Process Steps
  components/ProcessSteps/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@774bc130dc27a461c6328798068d0e37365be024 🚀
  iframe.html
  main.8311e6ac.iframe.bundle.js
  main.8311e6ac.iframe.bundle.js.LICENSE.txt
  main.dab9f7f8.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@2c0bba60566756f7dabf4d60909dc1d442f1ce7b 🚀
  iframe.html
  main.2aa64249.iframe.bundle.js
  main.2aa64249.iframe.bundle.js.LICENSE.txt
  main.8311e6ac.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(accordion-anchor): change transition durations
  proprietary/Components/src/denhaag/accordion.tokens.json
  proprietary/Components/src/denhaag/anchor-collapse.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add atomic StepMarker component
  components/StepMarker/package.json
  components/StepMarker/src/index.scss
  components/StepMarker/src/index.tsx
  components/StepMarker/src/stories/bem.stories.mdx
  components/StepMarker/src/stories/react.stories.mdx
  components/StepMarker/tsconfig.json
  proprietary/Components/src/denhaag/step-marker.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor: use atomic StepMarker component
  components/ProcessSteps/package.json
  components/ProcessSteps/src/StepLine.scss
  components/ProcessSteps/src/StepMarker.scss
  components/ProcessSteps/src/StepMarker.tsx
  components/ProcessSteps/src/StepMeta.scss
  components/ProcessSteps/src/SubStepMarker.scss
  components/ProcessSteps/src/SubStepMarker.tsx
  components/ProcessSteps/src/index.scss
  components/ProcessSteps/src/index.tsx
  components/ProcessSteps/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/process-steps.tokens.json
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor: rename StepLine to StepMarkerConnector and move to StepMarker component
  components/ProcessSteps/src/StepLine.scss
  components/ProcessSteps/src/StepLine.tsx
  components/ProcessSteps/src/index.scss
  components/ProcessSteps/src/index.tsx
  components/StepMarker/src/StepMarker.scss
  components/StepMarker/src/StepMarker.tsx
  components/StepMarker/src/StepMarkerConnector.scss
  components/StepMarker/src/StepMarkerConnector.tsx
  components/StepMarker/src/index.scss
  components/StepMarker/src/index.tsx
  proprietary/Components/src/denhaag/process-steps.tokens.json
  proprietary/Components/src/denhaag/step-marker.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor: improve StepHeader logic to represent the design better
  components/ProcessSteps/src/StepDetails.tsx
  components/ProcessSteps/src/StepHeader.scss
  components/ProcessSteps/src/StepHeader.tsx
  components/ProcessSteps/src/StepHeaderToggle.scss
  components/ProcessSteps/src/StepHeaderToggle.tsx
  components/ProcessSteps/src/StepHeading.scss
  components/ProcessSteps/src/StepHeading.tsx
  components/ProcessSteps/src/index.scss
  components/ProcessSteps/src/index.tsx
  components/ProcessSteps/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/process-steps.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: step-marker-connector-warning-outline-color
  proprietary/Components/src/denhaag/step-marker.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@314b69093c840ceb5ede2d41b6fa72db13ec2552 🚀
  iframe.html
  main.66886c12.iframe.bundle.js
  main.66886c12.iframe.bundle.js.LICENSE.txt
  main.d3c1e5f4.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@8557f6cef7b33bd23c91e08b1adf3c8631abfc46 🚀
  iframe.html
  main.650b559c.iframe.bundle.js
  main.650b559c.iframe.bundle.js.LICENSE.txt
  main.66886c12.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(breadcrumb tooltip): refactor + add animation
  components/Breadcrumb/src/index.scss
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
