Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, prettier -c, stylelint

.lintstagedrc.json:

{
  "package.json": "npmPkgJsonLint",
  "*.{ts,tsx}": ["eslint", "prettier -c"],
  "*.css": "stylelint"
}

refactor: rename src/meta-packages to packages
  cypress/tsconfig.json
  package.json
  packages/datadisplay/package.json
  packages/datadisplay/src/index.tsx
  packages/datadisplay/tsconfig.json
  packages/denhaag-component-library/package.json
  packages/denhaag-component-library/src/index.tsx
  packages/denhaag-component-library/tsconfig.json
  packages/input/package.json
  packages/input/src/index.tsx
  packages/input/tsconfig.json
  packages/layout/package.json
  packages/layout/src/index.tsx
  packages/layout/tsconfig.json
  packages/navigation/package.json
  packages/navigation/src/index.tsx
  packages/navigation/tsconfig.json
  packages/surfaces/package.json
  packages/surfaces/src/index.tsx
  packages/surfaces/tsconfig.json
  src/meta-packages/datadisplay/tsconfig.json
  src/meta-packages/input/tsconfig.json
  src/meta-packages/layout/tsconfig.json
  src/meta-packages/navigation/tsconfig.json
  src/meta-packages/surfaces/tsconfig.json
  tsconfig.json
  tsconfig.storybook.json
Due: npmPkgJsonLint, eslint, prettier -c

fix: update cypress paths
  cypress/plugins/index.js
  cypress/support/commands.jsx
  cypress/tsconfig.json
Due: none

fix: update cypress config component folder
  cypress.json
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@c7d523bc8b18ede6baae1926cbba44862bca91ac 🚀
  0.e45bf97e.iframe.bundle.js
  0.f7673cec.iframe.bundle.js
  4.47ea3b16.iframe.bundle.js
  4.47ea3b16.iframe.bundle.js.LICENSE.txt
  4.47ea3b16.iframe.bundle.js.map
  4.b599cd3a.iframe.bundle.js
  4.b599cd3a.iframe.bundle.js.map
  5.081bb844.iframe.bundle.js
  5.47aae9bb.iframe.bundle.js
  6.878f3a85.iframe.bundle.js
  6.878f3a85.iframe.bundle.js.LICENSE.txt
  6.878f3a85.iframe.bundle.js.map
  6.b8fe4f84.iframe.bundle.js
  6.b8fe4f84.iframe.bundle.js.map
  7.3895b864.iframe.bundle.js
  7.f839e7d2.iframe.bundle.js
  iframe.html
  main.1fb480fa.iframe.bundle.js
  main.1fb480fa.iframe.bundle.js.LICENSE.txt
  main.1fb480fa.iframe.bundle.js.map
  main.2271760a.iframe.bundle.js
  main.2271760a.iframe.bundle.js.map
  runtime~main.708a2230.iframe.bundle.js
  runtime~main.f34f85e1.iframe.bundle.js
  vendors~main.5b9961cf.iframe.bundle.js
  vendors~main.5b9961cf.iframe.bundle.js.LICENSE.txt
  vendors~main.5b9961cf.iframe.bundle.js.map
  vendors~main.6090d7f0.iframe.bundle.js
  vendors~main.6090d7f0.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@133c5880df47f7a80d68a40b90a2c99359493c13 🚀
  iframe.html
  main.1fb480fa.iframe.bundle.js
  main.1fb480fa.iframe.bundle.js.map
  main.b77d7e02.iframe.bundle.js
  main.b77d7e02.iframe.bundle.js.LICENSE.txt
  main.b77d7e02.iframe.bundle.js.map
Due: none

fix: removed useless clippath from svg
  components/Icons/src/svg/informational/alert-triangle.svg
Due: none

fix: change tsconfig.build.json rootDir
  tsconfig.build.json
Due: none

fix: made css file naming more consistent
  components/FormControlLabel/src/form-control-label.css
  components/FormControlLabel/src/index.tsx
  components/FormGroup/src/form-group.css
  components/FormGroup/src/index.tsx
  components/IconButton/src/icon-button.css
  components/IconButton/src/index.tsx
  components/List/src/List.tsx
  components/List/src/list-item-icon.css
  components/List/src/list-item-secondary-action.css
  components/List/src/list-item-text.css
  components/List/src/list-item.css
  components/List/src/list-subheader.css
Due: eslint, prettier -c, stylelint

feat: added css only package
  packages/component-library-css/package.json
  packages/component-library-css/src/bem.tsx
  packages/component-library-css/src/index.tsx
  packages/component-library-css/src/root-theme.tsx
  packages/component-library-css/tsconfig.json
  rollup.config.js
  tsconfig.json
  tsconfig.storybook.json
Due: npmPkgJsonLint, eslint, prettier -c

Deploying to gh-pages from @ nl-design-system/denhaag@113805308cf604f0cccb119ff3f33176c9f03da6 🚀
  iframe.html
  main.738bb831.iframe.bundle.js
  main.738bb831.iframe.bundle.js.LICENSE.txt
  main.738bb831.iframe.bundle.js.map
  main.b77d7e02.iframe.bundle.js
  main.b77d7e02.iframe.bundle.js.map
Due: none

fix: removed old html snapshot
  components/Alert/specs/__snapshots__/Alert.spec.jsx.snap
Due: none

build(tests): update test files
  components/Alert/specs/__snapshots__/Alert.spec.jsx.snap
Due: none

fix: removed extract true from postcss for all non-css packages
  packages/component-library-css/package.json
  packages/component-library-css/rollup.config.js
Due: npmPkgJsonLint

feat: css package without design tokens
  packages/component-library-css/package.json
  packages/component-library-css/src/bem.tsx
  packages/component-library-css/src/index.tsx
  packages/component-library-css/src/root-theme.tsx
Due: npmPkgJsonLint, eslint, prettier -c

fix: added color contrast a11y test skip due to issue with axe-core (#524)
  components/Card/specs/Card.spec.jsx
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@0a9bbf257926bd7ac085cdf593b189ae04ef7149 🚀
  iframe.html
  main.738bb831.iframe.bundle.js
  main.738bb831.iframe.bundle.js.map
  main.7686c2d3.iframe.bundle.js
  main.7686c2d3.iframe.bundle.js.LICENSE.txt
  main.7686c2d3.iframe.bundle.js.map
  vendors~main.5b9961cf.iframe.bundle.js
  vendors~main.5b9961cf.iframe.bundle.js.map
  vendors~main.b04532d2.iframe.bundle.js
  vendors~main.b04532d2.iframe.bundle.js.LICENSE.txt
  vendors~main.b04532d2.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@66eb26b9dfe8a81b322052fa5c39e0d56b981514 🚀
  iframe.html
  main.7686c2d3.iframe.bundle.js
  main.7686c2d3.iframe.bundle.js.map
  main.ac0a9436.iframe.bundle.js
  main.ac0a9436.iframe.bundle.js.LICENSE.txt
  main.ac0a9436.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@9a2c86ce49adb2df359b1caf52eadfcc7974974d 🚀
  iframe.html
  main.9c33c3ee.iframe.bundle.js
  main.9c33c3ee.iframe.bundle.js.LICENSE.txt
  main.9c33c3ee.iframe.bundle.js.map
  main.ac0a9436.iframe.bundle.js
  main.ac0a9436.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@6b8dc83e4d99ad063e223601798d5aa735f4521e 🚀
  iframe.html
  main.9c33c3ee.iframe.bundle.js
  main.9c33c3ee.iframe.bundle.js.map
  main.edd20b7f.iframe.bundle.js
  main.edd20b7f.iframe.bundle.js.LICENSE.txt
  main.edd20b7f.iframe.bundle.js.map
Due: none

feat: deprecated drawer
  components/Drawer/README.md
  components/Drawer/src/Drawer.stories.tsx
  components/Drawer/src/index.tsx
  components/Drawer/tsconfig.json
  packages/navigation/package.json
  packages/navigation/src/index.tsx
  packages/navigation/tsconfig.json
  tsconfig.json
  tsconfig.storybook.json
Due: npmPkgJsonLint, eslint, prettier -c

feat: deprecated SwipeableDrawer
  components/SwipeableDrawer/src/SwipeableDrawer.stories.tsx
  components/SwipeableDrawer/src/index.tsx
  components/SwipeableDrawer/tsconfig.json
  packages/navigation/package.json
  packages/navigation/src/index.tsx
  packages/navigation/tsconfig.json
  tsconfig.json
  tsconfig.storybook.json
Due: npmPkgJsonLint, eslint, prettier -c

feat: deprecated AppBar
  components/AppBar/src/AppBar.stories.tsx
  components/AppBar/src/index.tsx
  components/AppBar/tsconfig.json
  packages/surfaces/package.json
  packages/surfaces/src/index.tsx
  packages/surfaces/tsconfig.json
  tsconfig.json
  tsconfig.storybook.json
Due: npmPkgJsonLint, eslint, prettier -c

feat: removed AvatarGroup
  components/Avatar/src/AvatarGroup.tsx
  components/Avatar/src/index.tsx
  components/Avatar/src/stories/AvatarGroup.stories.tsx
Due: eslint, prettier -c

feat: removed Paper
  components/Card/src/Paper/BasePaperProps.ts
  components/Card/src/Paper/Paper.tsx
  components/Card/src/index.tsx
  components/Card/src/stories/Paper.stories.tsx
  packages/surfaces/package.json
Due: npmPkgJsonLint, eslint, prettier -c

feat: deprecated ToolBar
  components/Toolbar/src/index.tsx
  components/Toolbar/tsconfig.json
  packages/surfaces/package.json
  packages/surfaces/src/index.tsx
  packages/surfaces/tsconfig.json
  tsconfig.json
  tsconfig.storybook.json
Due: npmPkgJsonLint, eslint, prettier -c

feat: deprecated Box
  components/Box/src/Box.stories.tsx
  components/Box/src/index.tsx
  components/Box/tsconfig.json
  packages/layout/src/index.tsx
  packages/layout/tsconfig.json
  tsconfig.json
  tsconfig.storybook.json
Due: eslint, prettier -c

feat: deprecated Container
  components/Container/src/Container.stories.tsx
  components/Container/src/index.tsx
  components/Container/tsconfig.json
  packages/layout/package.json
  packages/layout/src/index.tsx
  packages/layout/tsconfig.json
  tsconfig.json
  tsconfig.storybook.json
Due: npmPkgJsonLint, eslint, prettier -c
