Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

style(link): refactor link stlyes
  components/Link/src/index.scss
  components/Link/src/stories/bem.stories.mdx
  components/UnorderedList/src/index.scss
  components/UnorderedList/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/link.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(link): edit stories, set icons 24x24
  components/Link/src/index.scss
  components/Link/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(link): set span with label around label
  components/Link/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@1f6bf11b10b55fa996c34e6ab0087f1571a519d9 🚀
  iframe.html
  main.38addec0.iframe.bundle.js
  main.38addec0.iframe.bundle.js.map
  main.b2614e7e.iframe.bundle.js
  main.b2614e7e.iframe.bundle.js.LICENSE.txt
  main.b2614e7e.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(cta-image-content-accessible): make accessible for screen readers
  components/CtaImageContent/src/index.scss
  components/CtaImageContent/src/index.tsx
  components/CtaImageContent/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/cta-image-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(image): fix link 100% width issue
  components/Image/src/index.scss
  components/Image/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/image.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

build: add form-field package to components-react
  packages/components-react/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@176ac0237522f958db15f62b5b389aaa3185b627 🚀
  iframe.html
  main.4bad5263.iframe.bundle.js
  main.4bad5263.iframe.bundle.js.LICENSE.txt
  main.4bad5263.iframe.bundle.js.map
  main.b2614e7e.iframe.bundle.js
  main.b2614e7e.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(link-group): remove margin inline
  components/LinkGroup/src/index.scss
  proprietary/Components/src/denhaag/link-group.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(image): fix link 100% width issue (#977)
  components/Image/src/index.scss
  components/Image/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/image.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(cta-image-content-accessible): make accessible for screen readers (#976)
  components/CtaImageContent/src/index.scss
  components/CtaImageContent/src/index.tsx
  components/CtaImageContent/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/cta-image-content.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@a85ba7ae5d46db00dd5bb4fc12f212cc9885e5c3 🚀
  iframe.html
  main.017dfe91.iframe.bundle.js
  main.017dfe91.iframe.bundle.js.LICENSE.txt
  main.017dfe91.iframe.bundle.js.map
  main.4bad5263.iframe.bundle.js
  main.4bad5263.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@14097cf5a14c8bf15874d9536de228c243108998 🚀
  iframe.html
  main.017dfe91.iframe.bundle.js
  main.017dfe91.iframe.bundle.js.map
  main.76e442ab.iframe.bundle.js
  main.76e442ab.iframe.bundle.js.LICENSE.txt
  main.76e442ab.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@14097cf5a14c8bf15874d9536de228c243108998 🚀
  iframe.html
  main.37ebac04.iframe.bundle.js
  main.37ebac04.iframe.bundle.js.LICENSE.txt
  main.37ebac04.iframe.bundle.js.map
  main.76e442ab.iframe.bundle.js
  main.76e442ab.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@21692bb5d3e0822fe47690ace07f6599cd0a0761 🚀
  iframe.html
  main.321112e9.iframe.bundle.js
  main.321112e9.iframe.bundle.js.LICENSE.txt
  main.321112e9.iframe.bundle.js.map
  main.37ebac04.iframe.bundle.js
  main.37ebac04.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(link-icons): fix styling in link-icon and reduce duplication
  components/Link/src/index.scss
  components/Link/src/stories/bem.stories.mdx
  components/LinkGroup/src/index.scss
  proprietary/Components/src/denhaag/link.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(link-icons): fix styling in link-icon and reduce duplication (#978)
  components/Link/src/index.scss
  components/Link/src/stories/bem.stories.mdx
  components/LinkGroup/src/index.scss
  proprietary/Components/src/denhaag/link.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@67d385fb2d30d5edbf3b444a7e6ee0fdd6d7fd0f 🚀
  iframe.html
  main.321112e9.iframe.bundle.js
  main.321112e9.iframe.bundle.js.map
  main.5a38b08b.iframe.bundle.js
  main.5a38b08b.iframe.bundle.js.LICENSE.txt
  main.5a38b08b.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

docs(floating-contact): add readme
  components/FloatingContact/README.md
Due: prettier --check

fix(floating-contact): applied js feedback
  components/FloatingContact/package.json
  components/FloatingContact/src/FloatingContact.js
  components/FloatingContact/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

style(floating-contact): export styles
  packages/components-css/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Feature/floating contact (#979)
  components/FloatingContact/README.md
  components/FloatingContact/package.json
  components/FloatingContact/src/FloatingContact.js
  components/FloatingContact/src/index.scss
  components/FloatingContact/src/index.tsx
  components/FloatingContact/src/stories.js
  components/FloatingContact/src/stories/bem.stories.mdx
  components/FloatingContact/src/storybook.scss
  components/FloatingContact/tsconfig.json
  packages/components-css/src/index.scss
  proprietary/Components/src/denhaag/floating-contact.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@9331c10f0ec8e2f8e544b24f50625bd2e6a9da1d 🚀
  iframe.html
  main.5a38b08b.iframe.bundle.js
  main.5a38b08b.iframe.bundle.js.map
  main.5bae7f87.iframe.bundle.js
  main.5bae7f87.iframe.bundle.js.LICENSE.txt
  main.5bae7f87.iframe.bundle.js.map
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern
