Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

docs(release): design system packages (#3)
  .storybook/stories/templates/Login-page.stories.tsx
  .storybook/stories/templates/util.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

ci: automatically use correct Prettier parser
  .prettierrc.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: apply new stylelint fixes
  components/Action/src/index.scss
  components/AnchorCollapse/src/index.scss
  components/AnchorNavigation/src/index.scss
  components/ArticleMeta/src/index.scss
  components/AuthenticationBlock/src/index.scss
  components/Breadcrumb/src/index.scss
  components/ButtonGroup/src/index.scss
  components/CardAuthentication/src/_mixin.scss
  components/CardGroup/src/_mixin.scss
  components/CardGroup/src/index.scss
  components/CardNews/src/index.scss
  components/CtaEvent/src/index.scss
  components/CtaImageContent/src/index.scss
  components/DescriptionList/src/DescriptionList.scss
  components/DescriptionList/src/DescriptionListTitle.scss
  components/DynamicContent/src/index.scss
  components/File/src/index.scss
  components/FloatingContact/src/index.scss
  components/Footer/src/index.scss
  components/FormProgress/src/index.scss
  components/Header/src/index.scss
  components/Hero/src/index.scss
  components/HighlightedLinks/src/index.scss
  components/Image/src/index.scss
  components/LanguageSwitcher/src/index.scss
  components/LinkGroup/src/index.scss
  components/Modal/src/index.scss
  components/Page/src/index.scss
  components/PageButtons/src/index.scss
  components/Pagination/src/index.scss
  components/ResponsiveContent/src/index.scss
  components/Sheet/src/index.scss
  components/Sidenav/src/index.scss
  components/Typography/src/heading.scss
Due: prettier --check, stylelint --allow-empty-input

build: update major versions
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: fix typescript types
  components/Checkbox/src/index.tsx
  components/Datepicker/src/index.tsx
  components/Radio/src/index.tsx
  components/Sheet/src/use-escapekey.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

perf: added new props
  .storybook/stories/templates/Login-page.stories.tsx
  .storybook/stories/templates/util.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: changed order of import
  .storybook/stories/templates/util.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: removed unused imports of objects
  .storybook/stories/templates/Login-page.stories.tsx
  .storybook/stories/templates/util.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: removed lerna bootstrap script
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: removed lerna bootstrap script (#1337)
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor: use proper relative paths
  .storybook/stories/templates/CaseDetail-page.stories.mdx
  .storybook/stories/templates/Login-page.stories.mdx
  .storybook/stories/templates/Overview-page.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add Storybook 7 package
  packages/storybook/babel.config.mjs
  packages/storybook/config/main.ts
  packages/storybook/config/manager.ts
  packages/storybook/config/preview.tsx
  packages/storybook/config/theme.ts
  packages/storybook/package.json
  packages/storybook/tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

ci: do not format `package.json` with Prettier
  .prettierignore
Due: none

ci: remove deprecated `suppressImplicitAnyIndexErrors` TypeScript setting
  tsconfig.build.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: avoid `React.FC`
  components/ProcessSteps/src/SubStepHeading.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: fix markup
  .storybook/stories/Introduction.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: prefer `@storybook/blocks` over `@storybook/addon-docs`
  .storybook/stories/Icons.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove design token tables (already broken anyway)
  components/Action/src/stories/bem.stories.mdx
  components/Action/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove empty `.mdx` files
  components/LanguageSwitcher/src/stories/react.stories.mdx
  components/Pagination/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern
