Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: hide placeholder when user starts typing input
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add date-fns to rollup external dependencies to minimize bundle size
  rollup.config.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: ref changes
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: deprecate old datepickers
  components/Pickers/package.json
  components/Pickers/src/BaseDatePickerProps/BaseDatePickerProps.tsx
  components/Pickers/src/DatePicker.stories.tsx
  components/Pickers/src/DatePicker/DatePicker.tsx
  components/Pickers/src/KeyBoardDatePicker.stories.tsx
  components/Pickers/src/KeyboardDatePicker/KeyboardDatePicker.tsx
  components/Pickers/src/index.tsx
  components/Pickers/tsconfig.json
  components/PickersUtilsProvider/package.json
  components/PickersUtilsProvider/src/index.tsx
  components/PickersUtilsProvider/tsconfig.json
  package.json
  packages/components-css/rollup.config.js
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/components-react/tsconfig.json
  rollup.config.js
  tsconfig.json
  tsconfig.storybook.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: named cleanup function
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added datepicker functionality
  components/Datepicker/package.json
  components/Datepicker/specs/Datepicker.spec.jsx
  components/Datepicker/src/datepicker.css
  components/Datepicker/src/index.tsx
  components/Datepicker/src/locale/index.ts
  components/Datepicker/src/stories/bem.stories.mdx
  components/Datepicker/src/stories/react.stories.mdx
  components/Datepicker/tsconfig.json
  packages/components-react/package.json
  packages/components-react/src/index.tsx
  packages/components-react/tsconfig.json
  tsconfig.json
  tsconfig.storybook.json
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: allow user ref and inputref
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: hide calendar instead of removing it on close
  components/Datepicker/src/datepicker.css
  components/Datepicker/src/index.tsx
  components/Datepicker/src/stories/react.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: hopefully last test changes
  components/Datepicker/specs/Datepicker.spec.jsx
  components/Datepicker/specs/__snapshots__/Datepicker.spec.jsx.snap
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: last fixes for real?
  components/Datepicker/specs/Datepicker.spec.jsx
  components/Datepicker/specs/__snapshots__/Datepicker.spec.jsx.snap
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added datepicker styling
  components/Datepicker/package.json
  components/Datepicker/src/datepicker.css
  components/Datepicker/src/index.tsx
  components/Datepicker/src/stories/react.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: remove baseprops as a reference from tsconfiig
  components/Datepicker/tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix placeholder positioning
  components/Datepicker/src/datepicker.css
Due: prettier --check, stylelint --allow-empty-input

fix: fix iOS default datepicker showing up when clicking input when already opened
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added datepicker tests
  components/Datepicker/specs/Datepicker.spec.jsx
  components/Datepicker/specs/__snapshots__/Datepicker.spec.jsx.snap
  cypress/support/commands.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build(tests): update test files
  components/Datepicker/specs/__snapshots__/Datepicker.spec.jsx.snap
Due: none

feat: added design token implementation
  components/Datepicker/src/datepicker.css
  proprietary/Components/src/denhaag/datepicker.tokens.json
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: better prop name
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: removed unnecessary eslint-disable rule
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added cross-browser placeholder
  components/Datepicker/src/datepicker.css
  components/Datepicker/src/index.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: fix outside click listener
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix datepicker calendar not actually overlaying underlying elements
  components/Datepicker/src/datepicker.css
  proprietary/Components/src/denhaag/datepicker.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: fix keyboard page keys navigation bugs
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fix story height in docs
  components/Datepicker/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: hide firefox clear input button
  components/Datepicker/src/datepicker.css
Due: prettier --check, stylelint --allow-empty-input

fix: remove id which can clash
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fixed broken opened datepicker image snapshot tests
  components/Datepicker/specs/Datepicker.spec.jsx
  components/Datepicker/specs/__snapshots__/Datepicker.spec.jsx.snap
  cypress/support/commands.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: need some more height for the images
  components/Datepicker/specs/Datepicker.spec.jsx
  components/Datepicker/specs/__snapshots__/Datepicker.spec.jsx.snap
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: removed console logging
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added support for user-provided onChange
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add scope col to table headings
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: made aria-labels adjustable through props
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added proper hover and focus testing classes
  components/Datepicker/src/datepicker.css
Due: prettier --check, stylelint --allow-empty-input

feat: better error state handling and change calendar month on typed input
  components/Datepicker/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
