Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: fix rare cases of lots of overflowing texts
  components/Page/src/index.scss
  components/ProcessSteps/src/_StepHeading.scss
Due: prettier --check, stylelint --allow-empty-input

fix: probably only needed for smaller devices
  components/Page/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

chore: bump pnpm versions in workflows
  .github/workflows/cicd-website.yml
  .github/workflows/cicd.yml
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@5f0de2ef62e58e947982425e07e09c019a92a1ad 🚀
  2521.08034183.iframe.bundle.js
  2521.c41f5a3a.iframe.bundle.js
  9618.198d2036.iframe.bundle.js
  9618.378a5ee6.iframe.bundle.js
  css-Page-stories-mdx.2ab52423.iframe.bundle.js
  css-Page-stories-mdx.89aeda73.iframe.bundle.js
  css-ProcessSteps-stories-mdx.095cd582.iframe.bundle.js
  css-ProcessSteps-stories-mdx.0a9b6053.iframe.bundle.js
  iframe.html
  main.1e366c70.iframe.bundle.js
  main.9aa1bd3d.iframe.bundle.js
  project.json
  runtime~main.41df07a9.iframe.bundle.js
  runtime~main.938ff03b.iframe.bundle.js
  templates-01-Login-page-stories.1e72341a.iframe.bundle.js
  templates-01-Login-page-stories.8304515d.iframe.bundle.js
  templates-02-Overview-page-stories.60a4fe56.iframe.bundle.js
  templates-02-Overview-page-stories.d229fec0.iframe.bundle.js
  templates-03-Messages-page-stories.24a8ee54.iframe.bundle.js
  templates-03-Messages-page-stories.c6690171.iframe.bundle.js
  templates-04-Case-overview-page-stories.6ea7cf4b.iframe.bundle.js
  templates-04-Case-overview-page-stories.b9c47fcc.iframe.bundle.js
  templates-05-Case-detail-page-stories.4fa0f913.iframe.bundle.js
  templates-05-Case-detail-page-stories.7cb6dab4.iframe.bundle.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

chore: remove stylelint-config-prettier
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: bump patch versions
  components/BadgeCounter/package.json
  components/ContactTimeline/package.json
  components/Footer/package.json
  components/FormControlLabel/package.json
  components/FormField/package.json
  components/LanguageSwitcher/package.json
  components/Menu/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Typography/package.json
  components/UnorderedList/package.json
  package.json
  packages/keycloak/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: remove unused dependencies
  package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: remove babel-eslint
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: bump minor versions
  components/ContactTimeline/package.json
  package.json
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/css/CardAuthentication.stories.tsx
  packages/storybook/src/css/CardGroupUtils.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

chore: bump engine versions
  .github/workflows/cicd-website.yml
  .github/workflows/cicd.yml
  .gitignore
  .npmrc
  .nvmrc
  .yarnrc
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: contact timeline meta item text overflow
  components/ContactTimeline/src/ContactTimelineMetaTimeItem.tsx
  components/ContactTimeline/src/_ContactTimelineMeta.scss
  components/ContactTimeline/src/_ContactTimelineMetaItem.scss
  components/ContactTimeline/src/_ContactTimelineMetaSeparator.scss
  components/ContactTimeline/src/index.scss
  components/ProcessSteps/src/_StepHeading.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@871271fa29f995fda749e9189c637763184ab3dd 🚀
  327.3e35cb3d.iframe.bundle.js
  327.48a9dc04.iframe.bundle.js
  741.d33d1341.iframe.bundle.js
  741.de8d69ee.iframe.bundle.js
  css-ProcessSteps-stories-mdx.37a527a2.iframe.bundle.js
  css-ProcessSteps-stories-mdx.7c256dac.iframe.bundle.js
  iframe.html
  main.42782bbd.iframe.bundle.js
  main.c68ca118.iframe.bundle.js
  project.json
  runtime~main.24aee123.iframe.bundle.js
  runtime~main.69cac6aa.iframe.bundle.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@f61fe0ee136e74b2e47d5dc66bbc794de7413543 🚀
  iframe.html
  main.192b1797.iframe.bundle.js
  main.fb7934f2.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: broken tokens
  proprietary/Components/src/denhaag/anchor-collapse.tokens.json
  proprietary/Components/src/denhaag/card-authentication.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@ff031927390203f5a5d5a93c301e1dd547981e3c 🚀
  iframe.html
  main.40e70668.iframe.bundle.js
  main.aeabef5c.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add open forms component util
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/open-forms/OpenFormsExample.stories.tsx
  packages/storybook/src/open-forms/story-util.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: add open-forms-checkbox stories
  packages/storybook/src/open-forms/checkbox.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add open-forms-cosign and -columns stories
  packages/storybook/src/open-forms/columns.stories.tsx
  packages/storybook/src/open-forms/cosign.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add open-forms-textfield
  packages/storybook/src/open-forms/OpenFormsExample.stories.tsx
  packages/storybook/src/open-forms/bsn.stories.tsx
  packages/storybook/src/open-forms/story-util.tsx
  packages/storybook/src/open-forms/textfield.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add open-forms-content stories
  packages/storybook/src/open-forms/content.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add more open forms components and use correct casing
  packages/storybook/src/@types/index.d.ts
  packages/storybook/src/open-forms/BSN.stories.tsx
  packages/storybook/src/open-forms/Checkbox.stories.tsx
  packages/storybook/src/open-forms/Columns.stories.tsx
  packages/storybook/src/open-forms/Content.stories.tsx
  packages/storybook/src/open-forms/Cosign.stories.tsx
  packages/storybook/src/open-forms/Currency.stories.tsx
  packages/storybook/src/open-forms/DateField.stories.tsx
  packages/storybook/src/open-forms/DateTimeField.stories.tsx
  packages/storybook/src/open-forms/EditGrid.stories.tsx
  packages/storybook/src/open-forms/Email.stories.tsx
  packages/storybook/src/open-forms/Fieldset.stories.tsx
  packages/storybook/src/open-forms/IBANField.stories.tsx
  packages/storybook/src/open-forms/LicensePlate.stories.tsx
  packages/storybook/src/open-forms/Number.stories.tsx
  packages/storybook/src/open-forms/PhoneNumberField.stories.tsx
  packages/storybook/src/open-forms/PostcodeField.stories.tsx
  packages/storybook/src/open-forms/Radio.stories.tsx
  packages/storybook/src/open-forms/Select.stories.tsx
  packages/storybook/src/open-forms/Selectboxes.stories.tsx
  packages/storybook/src/open-forms/Signature.stories.tsx
  packages/storybook/src/open-forms/StoryUtil.tsx
  packages/storybook/src/open-forms/Textarea.stories.tsx
  packages/storybook/src/open-forms/Textfield.stories.tsx
  packages/storybook/src/open-forms/TimeField.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: move formio configuration to StoryUtil.tsx
  packages/storybook/config/preview.tsx
  packages/storybook/src/open-forms/StoryUtil.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: move react-formio to devDependencies
  packages/storybook/package.json
  packages/storybook/src/open-forms/BSN.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
