Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, stylelint

fixed margins list and subcomponents
  src/components/List/src/List.tsx
  src/components/List/src/bem-mapping.ts
  src/components/List/src/mui-override.module.css
Due: eslint, stylelint

fix typos in icon names
  src/components/Icons/src/index.tsx
Due: eslint

reworked margin/padding of list/subheader
  src/components/List/src/mui-override.module.css
Due: stylelint

fix typos in icon names (#170)
  src/components/Icons/src/index.tsx
Due: eslint

Divider is pretty now.
  src/components/Divider/divider.module.css
  src/components/Divider/src/Divider.stories.tsx
  src/components/Divider/src/index.tsx
Due: eslint, stylelint

Removed redundant CSS variable.
  src/components/Divider/divider.module.css
Due: stylelint

added listitem border
  src/components/List/package.json
  src/components/List/src/ListItem.tsx
  src/components/List/src/listitem.module.css
  src/components/List/src/mui-override.module.css
Due: npmPkgJsonLint, eslint, stylelint

updated global design tokens for focus border
  src/styles/DenHaagBrand/src/denhaag-brand.module.css
Due: stylelint

Moved tokens to base style package and renamed to specific margin type tokens.
  src/components/Divider/divider.module.css
  src/components/Divider/package.json
  src/components/Divider/src/index.tsx
  src/styles/BaseStyles/src/globals.module.css
  src/styles/BaseStyles/src/tokens-divider.css
Due: npmPkgJsonLint, eslint, stylelint

Add hyphen to font-fize css variables
  src/styles/BaseStyles/src/globals.module.css
Due: stylelint

Split margin-{block,inline} into margin-{block,inline}-{end,start} and defined respective design tokens.
  src/components/Divider/divider.module.css
  src/styles/BaseStyles/src/tokens-divider.css
Due: stylelint

added focus border to listitem, removed animation
  src/components/List/src/ListItem.tsx
  src/components/List/src/ListItemSecondaryAction.tsx
  src/components/List/src/bem-mapping.ts
  src/components/List/src/listitem.module.css
  src/components/List/src/mui-override.module.css
Due: eslint, stylelint

Vertical divider demo now uses images.
  src/components/Divider/src/Divider.stories.tsx
Due: eslint

Add custom-properties back in stylelint config
  .stylelintrc.json
Due: none

added design tokens for itemtext
  src/components/List/src/ListItem.tsx
  src/components/List/src/ListItemText.tsx
  src/components/List/src/bem-mapping.ts
  src/components/List/src/listitem.module.css
  src/components/List/src/listitemtext.module.css
  src/components/List/src/mui-override.module.css
Due: eslint, stylelint

focus text and icon color
  src/components/List/src/listitem.module.css
Due: stylelint

Moved card /case design tokens into Basestyles Package
  src/components/Card/src/Card/card.module.css
  src/components/Card/tsconfig.json
  src/styles/BaseStyles/src/globals.module.css
  src/styles/BaseStyles/src/tokens-card.css
Due: stylelint

fixed react css inject error
  src/components/List/src/ListItem.tsx
  src/components/List/src/ListItemIcon.tsx
  src/components/List/src/ListItemSecondaryAction.tsx
  src/components/List/src/ListItemText.tsx
  src/components/List/src/ListSubheader.tsx
Due: eslint

Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

add pull request template
  .github/pull_request_template.md
Due: none

move text to comment
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Use builtin fontsizes
  src/styles/BaseStyles/src/tokens-card.css
Due: stylelint

Fix references to denhaag-font-size token
  .stylelintrc.json
  src/components/Button/src/button.module.css
Due: stylelint

Run prettier on button.stories.tsx
  src/components/Button/src/Button.stories.tsx
Due: eslint

Run formatter on button/src/bem-mapping.ts
  src/components/Button/src/bem-mapping.ts
Due: eslint

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

removed click animation, hover background-color, distinguish action/nav styling
  src/components/List/src/List.stories.tsx
  src/components/List/src/ListItem.tsx
  src/components/List/src/listitem.module.css
  src/components/List/src/mui-override.module.css
Due: eslint, stylelint

Fixed some design token references in Card/Case
  src/components/Card/src/Card/card.module.css
  src/styles/BaseStyles/src/tokens-card.css
Due: stylelint

Add font-family token to globals
  src/styles/BaseStyles/src/globals.module.css
Due: stylelint

move stories
  src/components/Stepper/src/stories/Step.stories.tsx
  src/components/Stepper/src/stories/Stepper.stories.tsx
  src/components/Stepper/tsconfig.json
Due: eslint

add collapsible content for step
  src/components/Stepper/package.json
  src/components/Stepper/src/Step.tsx
  src/components/Stepper/src/stories/Stepper.stories.tsx
Due: npmPkgJsonLint, eslint

add styling template
  src/components/Stepper/package.json
  src/components/Stepper/src/Step.tsx
  src/components/Stepper/src/StepContent.tsx
  src/components/Stepper/src/stories/Stepper.stories.tsx
  src/components/Stepper/src/styles/bem-mapping.ts
  src/components/Stepper/src/styles/mui-override.module.css
  src/components/Stepper/src/styles/stepper.module.css
Due: npmPkgJsonLint, eslint, stylelint

add custom icons to StepIcon
  src/components/Stepper/package.json
  src/components/Stepper/src/Step.tsx
  src/components/Stepper/src/StepIcon.tsx
  src/components/Stepper/src/Stepper.tsx
  src/components/Stepper/src/stories/Step.stories.tsx
  src/components/Stepper/src/stories/Stepper.stories.tsx
Due: npmPkgJsonLint, eslint

Increased height on background::before to remove gap
  src/components/Card/src/Card/card.module.css
Due: stylelint

Rename token folders to Components and Proprietary
  src/styles/Components/package.json
  src/styles/Components/src/globals.module.css
  src/styles/Components/src/index.ts
  src/styles/Components/tsconfig.json
  src/styles/Proprietary/package.json
  src/styles/Proprietary/src/denhaag-brand.module.css
  src/styles/Proprietary/src/index.ts
  src/styles/Proprietary/tsconfig.json
  tsconfig.json
Due: npmPkgJsonLint, eslint, stylelint

Use fix renamed styles package references
  .storybook/preview.js
  tsconfig.json
Due: none

Fix tsconfig.json paths
  tsconfig.json
Due: none

Path conditions:
  npmPkgJsonLint: any of: package.json
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
