Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@4c4789da795454e61ee23a07585a24f0a9e90409 🚀
  iframe.html
  main.b5bb7f56.iframe.bundle.js
  main.b5bb7f56.iframe.bundle.js.LICENSE.txt
  main.b5bb7f56.iframe.bundle.js.map
  main.e68fdb82.iframe.bundle.js
  main.e68fdb82.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(input): changed FormControlLabel for checkboxes and radio buttons
  components/FormControlLabel/src/bem-mapping.ts
  components/FormControlLabel/src/index.scss
  components/FormControlLabel/src/index.tsx
  components/FormControlLabel/src/mui-override.scss
  proprietary/Components/src/denhaag/form-control-label.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(checkbox): added checkbox implementation
  components/Checkbox/package.json
  components/Checkbox/src/index.scss
  components/Checkbox/src/index.tsx
  components/Checkbox/src/stories/bem.stories.mdx
  components/Checkbox/src/stories/react.stories.mdx
  components/Icons/src/svg/functional/checked.svg
  proprietary/Components/src/denhaag/checkbox.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(radio): added radio button implementation
  components/Checkbox/package.json
  components/Radio/package.json
  components/Radio/src/Radio.tsx
  components/Radio/src/RadioGroup.tsx
  components/Radio/src/index.scss
  components/Radio/src/index.tsx
  components/Radio/src/stories/Radio.react.stories.tsx
  components/Radio/src/stories/RadioGroup.react.stories.tsx
  components/Radio/src/stories/bem.stories.mdx
  components/Radio/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/radio.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(form-field): reworked FormField component to export all parts
  components/FormField/package.json
  components/FormField/src/index.scss
  components/FormField/src/index.tsx
  components/FormField/src/stories/react.stories.mdx
  components/TextArea/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/form-field.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat(input): made fields more reusable by seperating background and border-color in different states
  components/Checkbox/package.json
  components/Checkbox/src/index.scss
  components/FormControlLabel/package.json
  components/Radio/package.json
  components/Radio/src/index.scss
  components/Radio/src/index.tsx
  components/Radio/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/checkbox.tokens.json
  proprietary/Components/src/denhaag/radio.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix(tests): removed FormControlLabel test
  components/FormControlLabel/specs/FormControlLabel.spec.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(tests): removed old snapshots
  components/Checkbox/specs/__snapshots__/Checkbox.spec.jsx.snap
  components/FormControlLabel/specs/__snapshots__/FormControlLabel.spec.jsx.snap
  components/FormGroup/specs/FormGroup.spec.jsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(input): fixes from PR feedback
  components/Checkbox/package.json
  components/Checkbox/src/stories/bem.stories.mdx
  components/Checkbox/src/stories/react.stories.mdx
  components/FormField/package.json
  components/FormField/src/stories/react.stories.mdx
  components/Radio/package.json
  components/Radio/src/index.tsx
  components/Radio/src/stories/bem.stories.mdx
  components/Radio/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix(checkbox): fixed leftover tests
  components/Checkbox/specs/Checkbox.spec.jsx
  components/Checkbox/specs/__snapshots__/Checkbox.spec.jsx.snap
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(tokens): small rework to use utrecht design tokens
  components/Checkbox/src/index.scss
  components/Radio/src/index.scss
  proprietary/Components/src/denhaag/checkbox.tokens.json
  proprietary/Components/src/denhaag/radio.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(tokens): added fallback tokens and split utrecht tokens into own file
  components/Checkbox/src/index.scss
  proprietary/Components/src/denhaag/checkbox.tokens.json
  proprietary/Components/src/utrecht/checkbox.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@fcc513b48fec244ace237e62a4e373efe77cc9db 🚀
  iframe.html
  main.7bae95ad.iframe.bundle.js
  main.7bae95ad.iframe.bundle.js.LICENSE.txt
  main.7bae95ad.iframe.bundle.js.map
  main.b5bb7f56.iframe.bundle.js
  main.b5bb7f56.iframe.bundle.js.map
  vendors~main.3186e866.iframe.bundle.js
  vendors~main.3186e866.iframe.bundle.js.LICENSE.txt
  vendors~main.3186e866.iframe.bundle.js.map
  vendors~main.be5eadc4.iframe.bundle.js
  vendors~main.be5eadc4.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(link-group): add style corrections
  components/LinkGroup/src/index.scss
  proprietary/Components/src/denhaag/link-group.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@d30481fab6740a6626ead1624b797219a393a664 🚀
  iframe.html
  main.28a63c92.iframe.bundle.js
  main.28a63c92.iframe.bundle.js.LICENSE.txt
  main.28a63c92.iframe.bundle.js.map
  main.7bae95ad.iframe.bundle.js
  main.7bae95ad.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@2f177936aa0dcf1f4f39d8db20c0c6cfb433ae55 🚀
  iframe.html
  main.28a63c92.iframe.bundle.js
  main.28a63c92.iframe.bundle.js.map
  main.d9cf9ee4.iframe.bundle.js
  main.d9cf9ee4.iframe.bundle.js.LICENSE.txt
  main.d9cf9ee4.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@6e74972768d5719c44147566a7ad126341eb72c8 🚀
  iframe.html
  main.3debcd94.iframe.bundle.js
  main.3debcd94.iframe.bundle.js.LICENSE.txt
  main.3debcd94.iframe.bundle.js.map
  main.d9cf9ee4.iframe.bundle.js
  main.d9cf9ee4.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added home variant for hero
  components/Hero/src/index.scss
  components/Hero/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(hero-theme-page): add hero variant, theme page
  components/Hero/src/index.scss
  components/Hero/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(anchor-collapse): set summary bold instead of normal
  proprietary/Components/src/denhaag/anchor-collapse.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
