Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

style(breadcrumb): change text-decoration
  components/Breadcrumb/src/index.scss
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(anchor-collapse): remove margin
  components/AnchorCollapse/src/index.scss
  proprietary/Components/src/denhaag/anchor-collapse.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(anchor-collapse): move instead of replace margin
  components/AnchorCollapse/src/index.scss
  proprietary/Components/src/denhaag/anchor-collapse.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(breadcrumb): add tokens
  components/Breadcrumb/src/index.scss
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@c5b74dc4c7c48daafa2b43c0173a9c39583ac629 🚀
  iframe.html
  main.4263f7fe.iframe.bundle.js
  main.5b125263.iframe.bundle.js
  main.5b125263.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@21cbb48830881b8c39124356d31c1d16ceaf7b4c 🚀
  iframe.html
  main.5b125263.iframe.bundle.js
  main.f14374fb.iframe.bundle.js
  main.f14374fb.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@25eba7c363c7298e25f03b323112589ad5736231 🚀
  iframe.html
  main.aac7691a.iframe.bundle.js
  main.aac7691a.iframe.bundle.js.LICENSE.txt
  main.f14374fb.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@87af77649e1ba8c3c4947f6cec2196bd7c09ca2a 🚀
  iframe.html
  main.aac7691a.iframe.bundle.js
  main.beac79e0.iframe.bundle.js
  main.beac79e0.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(breadcrumb): change media query
  components/Breadcrumb/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(breadcrumb): wip
  components/Breadcrumb/src/index.scss
  components/Breadcrumb/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(breadcrumb): wip
  components/Breadcrumb/src/index.scss
  components/Breadcrumb/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: remove new spacing rules, which broke many components/templates
  components/Button/src/index.scss
  components/Typography/src/heading.scss
  components/Typography/src/paragraph.scss
Due: prettier --check, stylelint --allow-empty-input

feat: added keycloak package
  packages/keycloak/LICENSE.md
  packages/keycloak/package.json
  packages/keycloak/rollup.config.js
  packages/keycloak/src/_fonts.scss
  packages/keycloak/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

style(breadcrumb): add tooltip, tokens, readme, rm depricated
  components/Breadcrumb/README.md
  components/Breadcrumb/src/index.scss
  proprietary/Components/src/denhaag/breadcrumb.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

build: add cicd for website branch
  .github/workflows/cicd-website.yml
Due: prettier --check

Deploying to gh-pages from @ nl-design-system/denhaag@efe542c09526a5ae18fab59dcc4cf39300d5e04b 🚀
  iframe.html
  main.beac79e0.iframe.bundle.js
  main.d7edc105.iframe.bundle.js
  main.d7edc105.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@b5a51dfd576ad0cc9a022ba1d28022d739f1b62a 🚀
  iframe.html
  main.54db60ab.iframe.bundle.js
  main.54db60ab.iframe.bundle.js.LICENSE.txt
  main.d7edc105.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: fix publishing of website package
  .github/workflows/cicd-website.yml
Due: prettier --check

build: add www.denhaag.nl branch to allowed learna version and publish
  lerna.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: really add www.denhaag.nl branch to allowed learna version and publish
  lerna.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: allow git tags for the website branch
  .github/workflows/cicd-website.yml
Due: prettier --check

ci: update access token for publishing package
  .github/workflows/cicd-website.yml
Due: prettier --check

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
