Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

fix(image): firefox fontweight fix
  components/Image/src/index.scss
  proprietary/Components/src/denhaag/image.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: gdh-1169 | removed gap from card as content already has padding-top
  components/DynamicContent/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: added authorised label to header menu
  .storybook/stories/templates/Overview-page.stories.mdx
  components/Header/src/HeaderLogic.tsx
  components/Sheet/src/index.scss
  proprietary/Components/src/denhaag/sheet.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@de8a4aa8aa263431becb424888f7c20973a7c1b2 🚀
  iframe.html
  main.10a03fb9.iframe.bundle.js
  main.613be9d5.iframe.bundle.js
  main.613be9d5.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@715eb53d37ce111cbbbd6ef42409570142c0336b 🚀
  iframe.html
  main.153f847c.iframe.bundle.js
  main.153f847c.iframe.bundle.js.LICENSE.txt
  main.613be9d5.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(unordered ordered lists): fix for external links
  components/OrderedList/src/stories/bem.stories.mdx
  components/UnorderedList/src/index.scss
  components/UnorderedList/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/unordered-list.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(image figcaption): font-weight correction
  components/Image/src/index.scss
  proprietary/Components/src/denhaag/image.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1008 | UX feedback
  proprietary/Components/src/denhaag/card-calendar.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(link icon): fix icon position inside ul ol lists
  components/UnorderedList/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

refactor(header): update header
  components/Header/src/index.scss
  components/Header/src/stories/bem.stories.mdx
  components/Header/src/storybook.scss
  proprietary/Components/src/denhaag/header.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(header): rename css selector
  components/Header/src/stories/bem.stories.mdx
  components/Header/src/storybook.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(paginatio): html and css changes
  components/Pagination/src/index.scss
  components/Pagination/src/stories/bem.stories.mdx
  components/Pagination/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/pagination.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(pagination): set correct font-size for the arrow
  proprietary/Components/src/denhaag/pagination.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(paginatio): html and css changes (#1268)
  components/Pagination/src/index.scss
  components/Pagination/src/stories/bem.stories.mdx
  components/Pagination/src/stories/react.stories.mdx
  proprietary/Components/src/denhaag/pagination.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Feedback/gdh 1213 (#1269)
  proprietary/Components/src/denhaag/pagination.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: gdh-1105 | news card flex-direction reverse
  components/CardNews/src/index.scss
  components/CardNews/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: gdh-1105 | news card flex-direction reverse
  components/CardNews/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix(pagination): remove aria-label on aria-current, since it's not recognized by screenreaders
  components/Pagination/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Feedback/gdh 1213 (#1271)
  components/Pagination/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(pagination): fix pagination prettier after merge of github
  components/Pagination/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(pagination): fix pagination prettier after merge of github (#1272)
  components/Pagination/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern
