Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, prettier -c, stylelint

feat(card): add inactive styling
  src/components/Card/src/Card/Card.tsx
  src/components/Card/src/Card/card.css
  src/styles/Components/src/denhaag/card/modifier.style-dictionary.json
Due: eslint, prettier -c, stylelint

fix(link): not exported from component library
  src/meta-packages/navigation/src/index.tsx
Due: eslint, prettier -c

Deploying to gh-pages from @ nl-design-system/denhaag@7357005573dc16c871a726b2011c75c5e93b6526 🚀
  iframe.html
  main.37234640.iframe.bundle.js
  main.37234640.iframe.bundle.js.map
  main.b571d490.iframe.bundle.js
  main.b571d490.iframe.bundle.js.LICENSE.txt
  main.b571d490.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@6deb1aad87b7572228b7ffdaa8e15757957eb21e 🚀
  iframe.html
  main.6d23f018.iframe.bundle.js
  main.6d23f018.iframe.bundle.js.LICENSE.txt
  main.6d23f018.iframe.bundle.js.map
  main.b571d490.iframe.bundle.js
  main.b571d490.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@b5c496149a3644ac158e277a05e5a09c26b88289 🚀
  iframe.html
  main.42918deb.iframe.bundle.js
  main.42918deb.iframe.bundle.js.LICENSE.txt
  main.42918deb.iframe.bundle.js.map
  main.6d23f018.iframe.bundle.js
  main.6d23f018.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@026811559562ea56bb2f5869b3d9fda5014450ae 🚀
  iframe.html
  main.42918deb.iframe.bundle.js
  main.42918deb.iframe.bundle.js.map
  main.950702e4.iframe.bundle.js
  main.950702e4.iframe.bundle.js.LICENSE.txt
  main.950702e4.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@1952f4530da1a8647d41d1930b0e70b34bc2c63b 🚀
  iframe.html
  main.950702e4.iframe.bundle.js
  main.950702e4.iframe.bundle.js.map
  main.fb3c82bb.iframe.bundle.js
  main.fb3c82bb.iframe.bundle.js.LICENSE.txt
  main.fb3c82bb.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@0efb0a5fa9abd11f859c4962590992ce8ff2902d 🚀
  iframe.html
  main.cda4600c.iframe.bundle.js
  main.cda4600c.iframe.bundle.js.LICENSE.txt
  main.cda4600c.iframe.bundle.js.map
  main.fb3c82bb.iframe.bundle.js
  main.fb3c82bb.iframe.bundle.js.map
Due: none

refactor: rename card inactive state to archived
  src/components/Card/src/Card/Card.tsx
  src/components/Card/src/Card/card.css
  src/styles/Components/src/denhaag/card/modifier.style-dictionary.json
Due: eslint, prettier -c, stylelint

fix(card): contrast issue on case card text
  src/styles/Components/src/denhaag/card/element-modifier.style-dictionary.json
  src/styles/Components/src/denhaag/card/element.style-dictionary.json
Due: none

fix(card): remove unnecessary preventDefault on card click
  src/components/Card/src/Card/Card.tsx
Due: eslint, prettier -c

Deploying to gh-pages from @ nl-design-system/denhaag@bb37bc8701d38c020716f8d651fbdbeb856f2236 🚀
  iframe.html
  main.740dc721.iframe.bundle.js
  main.740dc721.iframe.bundle.js.LICENSE.txt
  main.740dc721.iframe.bundle.js.map
  main.cda4600c.iframe.bundle.js
  main.cda4600c.iframe.bundle.js.map
  vendors~main.69af3351.iframe.bundle.js
  vendors~main.69af3351.iframe.bundle.js.LICENSE.txt
  vendors~main.69af3351.iframe.bundle.js.map
  vendors~main.7415ea69.iframe.bundle.js
  vendors~main.7415ea69.iframe.bundle.js.map
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@5bedfde4b1f7fc5753482ded326321749d95d370 🚀
  iframe.html
  main.20c9afdc.iframe.bundle.js
  main.20c9afdc.iframe.bundle.js.LICENSE.txt
  main.20c9afdc.iframe.bundle.js.map
  main.740dc721.iframe.bundle.js
  main.740dc721.iframe.bundle.js.map
Due: none

fix: changes to button test
  src/components/Button/specs/Button.spec.jsx
Due: none

feat: changes to test functions and new screenshots for button and card due to these changes
  cypress.json
  cypress/support/commands.jsx
  src/components/Button/specs/__image_snapshots__/Button #0.png
  src/components/Button/specs/__image_snapshots__/Button--focus #0.png
  src/components/Button/specs/__image_snapshots__/Button--hover #0.png
  src/components/Card/specs/Card.spec.jsx
  src/components/Card/specs/__image_snapshots__/Card #0.png
  src/components/Card/specs/__image_snapshots__/Card--focus #0.png
  src/components/Card/specs/__image_snapshots__/Card--hover #0.png
Due: none

feat: alert tests
  src/components/Alerts/specs/Alerts.spec.jsx
  src/components/Alerts/specs/__image_snapshots__/Alerts #0.png
  src/components/Alerts/specs/__image_snapshots__/Alerts #1.png
  src/components/Alerts/specs/__image_snapshots__/Alerts #2.png
  src/components/Alerts/specs/__image_snapshots__/Alerts #3.png
  src/components/Alerts/specs/__image_snapshots__/Alerts--focus #0.png
  src/components/Alerts/specs/__image_snapshots__/Alerts--focus #1.png
  src/components/Alerts/specs/__image_snapshots__/Alerts--hover #0.png
  src/components/Alerts/specs/__image_snapshots__/Alerts--hover #1.png
  src/components/Alerts/specs/__snapshots__/Alerts.spec.jsx.snap
Due: none

feat: added tests for BadgeCounter
  src/components/BadgeCounter/specs/BadgeCounter.spec.jsx
  src/components/BadgeCounter/specs/__image_snapshots__/BadgeCounter #0.png
  src/components/BadgeCounter/specs/__snapshots__/BadgeCounter.spec.jsx.snap
Due: none

feat: added tests for Checkbox
  src/components/Checkbox/specs/Checkbox.spec.jsx
  src/components/Checkbox/specs/__image_snapshots__/Checkbox #0.png
  src/components/Checkbox/specs/__image_snapshots__/Checkbox--focus #0.png
  src/components/Checkbox/specs/__image_snapshots__/Checkbox--hover #0.png
  src/components/Checkbox/specs/__snapshots__/Checkbox.spec.jsx.snap
  src/components/Checkbox/src/checkbox.css
Due: stylelint

feat: actually commit all files for Checkbox tests
  src/components/Checkbox/specs/__image_snapshots__/FormControlLabel #0.png
  src/components/Checkbox/specs/__image_snapshots__/FormControlLabel #1.png
  src/components/Checkbox/specs/__image_snapshots__/FormControlLabel--focus #0.png
  src/components/Checkbox/specs/__image_snapshots__/FormControlLabel--focus #1.png
  src/components/Checkbox/specs/__image_snapshots__/FormControlLabel--hover #0.png
  src/components/Checkbox/specs/__image_snapshots__/FormControlLabel--hover #1.png
  src/components/Checkbox/specs/__image_snapshots__/FormGroup #0.png
Due: none

feat: added tests for Divider
  src/components/Divider/specs/Divider.spec.jsx
  src/components/Divider/specs/__image_snapshots__/Divider tests  a11y and snapshots #0.png
  src/components/Divider/specs/__image_snapshots__/Divider tests  a11y and snapshots #1.png
  src/components/Divider/specs/__snapshots__/Divider.spec.jsx.snap
Due: none

feat: added tests for DotIndicator
  src/components/DotIndicator/specs/DotIndicator.spec.jsx
  src/components/DotIndicator/specs/__image_snapshots__/DotIndicator #0.png
  src/components/DotIndicator/specs/__image_snapshots__/DotIndicator #1.png
  src/components/DotIndicator/specs/__snapshots__/DotIndicator.spec.jsx.snap
Due: none

feat: added tests for FormControlLabel
  src/components/FormControlLabel/specs/FormControlLabel.spec.jsx
  src/components/FormControlLabel/specs/__image_snapshots__/FormControlLabel #0.png
  src/components/FormControlLabel/specs/__image_snapshots__/FormControlLabel--hover #0.png
  src/components/FormControlLabel/specs/__snapshots__/FormControlLabel.spec.jsx.snap
  src/components/FormControlLabel/src/formcontrollabel.css
  src/components/FormControlLabel/src/mui-override.css
Due: stylelint

feat: added tests for FormGroup
  src/components/FormGroup/specs/FormGroup.spec.jsx
  src/components/FormGroup/specs/__image_snapshots__/FormGroup #0.png
  src/components/FormGroup/specs/__snapshots__/FormGroup.spec.jsx.snap
Due: none

feat: added tests for Typography
  src/components/Typography/specs/Typography.spec.jsx
  src/components/Typography/specs/__image_snapshots__/Heading1 #0.png
  src/components/Typography/specs/__image_snapshots__/Heading2 #0.png
  src/components/Typography/specs/__image_snapshots__/Heading3 #0.png
  src/components/Typography/specs/__image_snapshots__/Heading4 #0.png
  src/components/Typography/specs/__image_snapshots__/Heading5 #0.png
  src/components/Typography/specs/__image_snapshots__/LeadParagraph #0.png
  src/components/Typography/specs/__image_snapshots__/Paragraph #0.png
  src/components/Typography/specs/__snapshots__/Typography.spec.jsx.snap
  src/components/Typography/src/index.tsx
Due: eslint, prettier -c

feat: added tests for IconButton
  src/components/IconButton/specs/IconButton.spec.jsx
  src/components/IconButton/specs/__image_snapshots__/IconButton #0.png
  src/components/IconButton/specs/__image_snapshots__/IconButton--focus #0.png
  src/components/IconButton/specs/__image_snapshots__/IconButton--hover #0.png
  src/components/IconButton/specs/__snapshots__/IconButton.spec.jsx.snap
  src/components/IconButton/src/iconbutton.css
  src/components/IconButton/src/mui-override.css
Due: stylelint

feat: added tests for Link
  src/components/Link/specs/Link.spec.jsx
  src/components/Link/specs/__image_snapshots__/Link #0.png
  src/components/Link/specs/__image_snapshots__/Link #1.png
  src/components/Link/specs/__image_snapshots__/Link--focus #0.png
  src/components/Link/specs/__image_snapshots__/Link--focus #1.png
  src/components/Link/specs/__image_snapshots__/Link--hover #0.png
  src/components/Link/specs/__image_snapshots__/Link--hover #1.png
  src/components/Link/specs/__snapshots__/Link.spec.jsx.snap
Due: none

feat: added tests for List
  src/components/List/specs/List.spec.jsx
  src/components/List/specs/__image_snapshots__/List #0.png
  src/components/List/specs/__image_snapshots__/List--focus #0.png
  src/components/List/specs/__image_snapshots__/List--hover #0.png
  src/components/List/specs/__snapshots__/List.spec.jsx.snap
Due: none

feat: added tests for Menu
  src/components/Menu/specs/Menu.spec.jsx
  src/components/Menu/specs/__image_snapshots__/Menu #0.png
  src/components/Menu/specs/__image_snapshots__/Menu--focus #0.png
  src/components/Menu/specs/__image_snapshots__/Menu--hover #0.png
  src/components/Menu/specs/__snapshots__/Menu.spec.jsx.snap
  src/components/Menu/src/MenuButton.tsx
Due: eslint, prettier -c

feat: added tests for Timeline
  src/components/Timeline/specs/Timeline.spec.jsx
  src/components/Timeline/specs/__image_snapshots__/Timeline tests  a11y and snapshots #0.png
  src/components/Timeline/specs/__image_snapshots__/undefined--focus #0.png
  src/components/Timeline/specs/__image_snapshots__/undefined--hover #0.png
  src/components/Timeline/specs/__snapshots__/Timeline.spec.jsx.snap
Due: none

feat(storybook): configure addon-status with button
  .storybook/main.js
  .storybook/preview.js
  src/components/Button/src/stories/Button.stories.mdx
Due: none

feat: add @etchteam/storybook-addon-status
  package.json
  yarn.lock
Due: npmPkgJsonLint

fix: adjusted link tests to correspond to new changes
  src/components/Link/specs/__image_snapshots__/Link #1.png
  src/components/Link/specs/__image_snapshots__/Link--focus #1.png
  src/components/Link/specs/__image_snapshots__/Link--hover #1.png
  src/components/Link/specs/__snapshots__/Link.spec.jsx.snap
Due: none

fix: card classes
  src/components/Card/src/Card/Card.tsx
  src/components/Card/src/Card/bem-mapping.jsx
Due: eslint, prettier -c

Path conditions:
  npmPkgJsonLint: any of: package.json
  eslint: any of: *.{ts,tsx}
  prettier -c: any of: *.{ts,tsx}
  stylelint: any of: *.css
