Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, ts-standard, stylelint

Add GitHub actions yml (#9)
  .github/workflows/cicd.yml
Due: none

Deploy jobs must wait for build to finish
  .github/workflows/cicd.yml
Due: none

Add new line at end of file
  .github/workflows/cicd.yml
Due: none

Add name for cicd yml
  .github/workflows/cicd.yml
Due: none

Build feature branches
  .github/workflows/cicd.yml
Due: none

Remove standard and install prettier
  package.json
  yarn.lock
Due: npmPkgJsonLint

Bring linting inline with nl-design-system
  .eslintrc
  .prettierignore
  .prettierrc
  package.json
  yarn.lock
Due: npmPkgJsonLint

Upgrade eslint packages
  .eslintrc
  package.json
  yarn.lock
Due: npmPkgJsonLint

Remove building feature branches
  .github/workflows/cicd.yml
Due: none

Update loading order and fix scripts
  .eslintrc
  package.json
  yarn.lock
Due: npmPkgJsonLint

Add typescript specific config
  src/.eslintrc
Due: none

Update lint staged command
  .lintstagedrc.json
Due: none

Fix all js, ts linter errors
  src/components/BaseProps/BaseProps.tsx
  src/components/datadisplay/ListItemIcon/ListItemIcon.tsx
  src/components/datadisplay/ListItemSecondaryAction/ListItemSecondaryAction.tsx
  src/components/datadisplay/ListItemText/ListItemText.tsx
  src/components/datadisplay/Typography/Typography.tsx
  src/components/input/Checkbox/Checkbox.tsx
  src/components/input/FormControl/FormControl.tsx
  src/components/input/Pickers/DatePicker/DatePicker.tsx
  src/components/input/Radio/Radio.tsx
  src/components/input/RadioGroup/RadioGroup.tsx
  src/components/input/Select/Select.tsx
  src/components/layout/Box/Box.tsx
  src/components/layout/GridListTileBar/GridListTileBar.tsx
  src/components/navigation/Drawer/Drawer.tsx
  src/components/navigation/Menu/Menu.tsx
  src/components/navigation/MenuItem/MenuItem.tsx
  src/components/navigation/MobileStepper/MobileStepper.tsx
  src/components/navigation/Popover/Popover.tsx
  src/components/navigation/Popper/Popper.tsx
  src/components/navigation/StepConnector/StepConnector.tsx
  src/components/navigation/StepContent/StepContent.tsx
  src/components/navigation/SwipeableDrawer/SwipeableDrawer.tsx
  src/components/navigation/TabList/TabList.tsx
  src/components/navigation/Tabs/Tabs.tsx
  src/components/surfaces/Accordion/Accordion.tsx
  src/components/surfaces/AccordionDetails/AccordionDetails.tsx
  src/components/surfaces/AccordionSummary/AccordionSummary.tsx
  src/components/surfaces/Paper/Paper.tsx
  src/stories/navigation/Drawer.stories.tsx
  src/stories/navigation/Menu.stories.tsx
  src/stories/navigation/Tab.stories.tsx
  src/stories/navigation/Tabs.stories.tsx
  src/typings.d.ts
Due: ts-standard

Fix issue with select component
  src/components/input/Select/Select.tsx
Due: ts-standard

Added eupl license which mentions mdh-component-library (instead of nlds-react-components)
  LICENSE.md
  README.md
Due: none

Add upload and download artifact steps
  .github/workflows/cicd.yml
Due: none

Add github actions yml (#16)
  .github/workflows/cicd.yml
Due: none

Fix cicd.yaml
  .github/workflows/cicd.yml
Due: none

indent cicd.yml
  .github/workflows/cicd.yml
Due: none

Feature/GitHub actions (#30)
  .github/workflows/cicd.yml
Due: none

Add download path for cicd.yml
  .github/workflows/cicd.yml
Due: none

Feature/GitHub actions (#31)
  .github/workflows/cicd.yml
Due: none

Add directories to .prettierignore
  .prettierignore
Due: none

Add lerna-debug to prettierignore
  .prettierignore
Due: none

Add files to .prettierignore
  .prettierignore
Due: none

first design token component poc
  src/components/input/Button/Button.tsx
  src/components/input/Button/style.tsx
  src/stories/input/Button.stories.tsx
Due: ts-standard

Fix ListItem button prop not usable
  src/components/datadisplay/ListItem/ListItem.tsx
  src/stories/datadisplay/List.stories.tsx
  yarn.lock
Due: ts-standard

Remove checked property from example story
  src/stories/datadisplay/List.stories.tsx
Due: ts-standard

Second design token component poc in Radio.tsx
  src/components/input/Button/button-design-tokens.module.css
  src/components/input/Radio/Radio.tsx
  src/components/input/Radio/design-tokens.css
  src/components/input/Radio/style.tsx
Due: ts-standard, stylelint

Path conditions:
  npmPkgJsonLint: any of: package.json
  ts-standard: any of: *.{ts,tsx}
  stylelint: any of: *.css
