Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

Feature/gdh 84 (#905)
  components/Hero/src/index.scss
  components/Hero/src/stories/bem.stories.mdx
  components/Hero/src/storybook.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@d0a17d92d5cb59fcbfcfea0c8785845096f72343 🚀
  iframe.html
  main.64be33b7.iframe.bundle.js
  main.64be33b7.iframe.bundle.js.map
  main.b936ff43.iframe.bundle.js
  main.b936ff43.iframe.bundle.js.LICENSE.txt
  main.b936ff43.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

build: generate `dist/index.css` for components
  components/ProcessSteps/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: use StepContext for all classes, reworked structure, added border style
  components/ProcessSteps/src/Step.scss
  components/ProcessSteps/src/Step.tsx
  components/ProcessSteps/src/StepHeader.scss
  components/ProcessSteps/src/StepHeader.tsx
  components/ProcessSteps/src/StepHeading.scss
  components/ProcessSteps/src/StepHeading.tsx
  components/ProcessSteps/src/StepMarker.scss
  components/ProcessSteps/src/StepMarker.tsx
  components/ProcessSteps/src/StepSection.tsx
  components/ProcessSteps/src/SubStep.scss
  components/ProcessSteps/src/SubStepList.tsx
  components/ProcessSteps/src/SubStepMarker.scss
  components/ProcessSteps/src/index.scss
  components/ProcessSteps/src/index.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(button): add styling correction
  proprietary/Components/src/denhaag/button.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(button): token units from px to space token refs
  proprietary/Components/src/denhaag/button.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(hero-theme-page): height scaling hero theme-page, depending on amount of content
  components/Hero/src/index.scss
  components/Hero/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@a2dac93c960e47332b9707ee77b5cd033af93c87 🚀
  iframe.html
  main.b936ff43.iframe.bundle.js
  main.b936ff43.iframe.bundle.js.map
  main.ce7cc07c.iframe.bundle.js
  main.ce7cc07c.iframe.bundle.js.LICENSE.txt
  main.ce7cc07c.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(hero-storybook): reduce margins
  components/Hero/src/storybook.scss
Due: prettier --check, stylelint --allow-empty-input

fix(process-steps): font-weight value for current is overwritten
  components/ProcessSteps/src/StepHeading.scss
Due: prettier --check, stylelint --allow-empty-input

refactor(process-steps): remove unused modifier
  components/ProcessSteps/src/StepHeader.scss
  components/ProcessSteps/src/StepHeading.scss
  components/ProcessSteps/src/StepHeadingLabel.scss
  components/ProcessSteps/src/StepMarker.scss
Due: prettier --check, stylelint --allow-empty-input

feat(process-steps): allow font styling for header modifiers
  components/ProcessSteps/src/StepHeading.scss
Due: prettier --check, stylelint --allow-empty-input

feat: update design tokens
  proprietary/Components/src/denhaag/process-steps.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(hero-storybook): reduce margins (#913)
  components/Hero/src/storybook.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@dbf54d7d9e0f25723d62043d109096a0ba2d12e4 🚀
  iframe.html
  main.0d97cbea.iframe.bundle.js
  main.0d97cbea.iframe.bundle.js.LICENSE.txt
  main.0d97cbea.iframe.bundle.js.map
  main.ce7cc07c.iframe.bundle.js
  main.ce7cc07c.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@3ff2d352841ab56a075c67b076003c6993865c1b 🚀
  iframe.html
  main.0d97cbea.iframe.bundle.js
  main.0d97cbea.iframe.bundle.js.map
  main.3fac7fd5.iframe.bundle.js
  main.3fac7fd5.iframe.bundle.js.LICENSE.txt
  main.3fac7fd5.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(process-steps): add step expanded icon
  components/ProcessSteps/src/StepExpandedIcon.tsx
  components/ProcessSteps/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@68313916a8d9f2d29899867a98e5688e8d158074 🚀
  iframe.html
  main.3fac7fd5.iframe.bundle.js
  main.3fac7fd5.iframe.bundle.js.map
  main.40d604f7.iframe.bundle.js
  main.40d604f7.iframe.bundle.js.LICENSE.txt
  main.40d604f7.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(process-steps): show pointer cursor on step-heading
  components/ProcessSteps/src/StepHeader.scss
  components/ProcessSteps/src/index.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(hero-theme-page): add tokens, refactor css
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(process-steps): missing component exports
  components/ProcessSteps/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@3d33e3c080b2af6cfea1b92f121dfbd3d8b9d98f 🚀
  iframe.html
  main.40d604f7.iframe.bundle.js
  main.40d604f7.iframe.bundle.js.map
  main.7a6cdcf5.iframe.bundle.js
  main.7a6cdcf5.iframe.bundle.js.LICENSE.txt
  main.7a6cdcf5.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(hero-overflow): remove overflow properties, since they're redundant
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@cf9177ac4ddb77c630b58522acd87d578bbf5b52 🚀
  iframe.html
  main.37e31033.iframe.bundle.js
  main.37e31033.iframe.bundle.js.LICENSE.txt
  main.37e31033.iframe.bundle.js.map
  main.7a6cdcf5.iframe.bundle.js
  main.7a6cdcf5.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(highlighted-links): add bem, css, tokens
  components/HighlightedLinks/README.md
  components/HighlightedLinks/package.json
  components/HighlightedLinks/src/index.scss
  components/HighlightedLinks/src/index.tsx
  components/HighlightedLinks/src/stories/bem.stories.mdx
  components/HighlightedLinks/tsconfig.json
  packages/components-css/src/index.scss
  proprietary/Components/src/denhaag/highlighted-links.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor(highlighted-links): rm unnecessary html + tokens + css
  components/HighlightedLinks/src/index.scss
  components/HighlightedLinks/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/highlighted-links.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(highlighted-links): change tokens + css
  components/HighlightedLinks/src/index.scss
  proprietary/Components/src/denhaag/highlighted-links.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern
