Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: gdh-1259 | Swiper fullwidth variants
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | slider controls with autoplay
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  components/FullwidthSlider/src/stories/icons.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | fullwidth slider slide slice animation
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | latest hotfixes
  components/FullwidthSlider/README.md
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | PR Feedback
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | version update
  components/FullwidthSlider/package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: gdh-1259 | PR feedback Robbie
  components/FullwidthSlider/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Feature/gdh 1259 fullwidth slider swiper (#1284)
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | Last PR feedback UX
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | prettier for javascript
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Feature/gdh 1259 fullwidth slider swiper (#1285)
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | added prefers reduced motion
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | storybook prefer reduced motion improvement
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: gdh-1258 | inline carousel
  components/InlineCarousel/package-lock.json
  components/InlineCarousel/package.json
  components/InlineCarousel/src/InlineCarousel.js
  components/InlineCarousel/src/index.scss
  components/InlineCarousel/src/stories/bem.stories.mdx
  components/InlineCarousel/src/stories/icons.stories.mdx
  components/InlineCarousel/src/storybook.scss
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Feature/gdh 1259 fullwidth slider swiper (#1286)
  components/FullwidthSlider/src/index.scss
  components/FullwidthSlider/src/scripts/FullwidthSlider.js
  components/FullwidthSlider/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | dynamic bullets
  .stylelintignore
  components/InlineCarousel/src/InlineCarousel.js
  components/InlineCarousel/src/index.scss
  components/InlineCarousel/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(external link): fix inside unordered list
  components/UnorderedList/src/index.scss
  proprietary/Components/src/denhaag/unordered-list.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1258 | added readme
  components/InlineCarousel/README.md
Due: prettier --check

feat: gdh-1258 | inline carousel variants
  components/InlineCarousel/src/InlineCarousel.js
  components/InlineCarousel/src/index.scss
  components/InlineCarousel/src/stories/bem.stories.mdx
  components/InlineCarousel/src/stories/notification.stories.mdx
  components/InlineCarousel/src/storybook.scss
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1258 | PR Feedback
  components/InlineCarousel/package-lock.json
  components/InlineCarousel/package.json
  package-lock.json
  packages/components-css/src/index.scss
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: gdh-1258 | removed redundant token
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Feature/gdh 1258 swiper inline carousel (#1288)
  .stylelintignore
  components/InlineCarousel/README.md
  components/InlineCarousel/package-lock.json
  components/InlineCarousel/package.json
  components/InlineCarousel/src/InlineCarousel.js
  components/InlineCarousel/src/index.scss
  components/InlineCarousel/src/index.tsx
  components/InlineCarousel/src/stories/bem.stories.mdx
  components/InlineCarousel/src/stories/icons.stories.mdx
  components/InlineCarousel/src/stories/notification.stories.mdx
  components/InlineCarousel/src/story.js
  components/InlineCarousel/src/storybook.scss
  components/InlineCarousel/tsconfig.json
  package-lock.json
  packages/components-css/src/index.scss
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: gdh-1258 | UX Feedback
  components/InlineCarousel/src/index.scss
  components/InlineCarousel/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | pagination a11y feedback fullwidth slider
  components/FullwidthSlider/src/index.scss
  proprietary/Components/src/denhaag/fullwidth-slider.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1259 | UX pagination feedback inline & fullwidth slider
  components/FullwidthSlider/src/index.scss
  components/InlineCarousel/src/InlineCarousel.js
  components/InlineCarousel/src/index.scss
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1258 | caption animation UX feedback
  components/InlineCarousel/src/index.scss
  proprietary/Components/src/denhaag/inline-carousel.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
