Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

feat: breadcrumb atomic components + responsive content changes
  components/Breadcrumb/package.json
  components/Breadcrumb/src/BreadcrumbLink.tsx
  components/Breadcrumb/src/BreadcrumbList.tsx
  components/Breadcrumb/src/BreadcrumbListItem.tsx
  components/Breadcrumb/src/BreadcrumbNavigation.tsx
  components/Breadcrumb/src/BreadcrumbText.tsx
  components/Breadcrumb/src/index.tsx
  components/ResponsiveContent/src/index.scss
  components/ResponsiveContent/src/index.tsx
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: atomic page and linkgroup components
  components/LinkGroup/src/LinkGroup.tsx
  components/LinkGroup/src/LinkGroupList.tsx
  components/LinkGroup/src/LinkGroupListItem.tsx
  components/LinkGroup/src/index.tsx
  components/Page/src/Page.tsx
  components/Page/src/PageFooter.tsx
  components/Page/src/PageHeader.tsx
  components/Page/src/index.scss
  components/Page/src/index.tsx
  components/Sidenav/src/index.scss
  proprietary/Components/src/denhaag/page.tokens.json
  proprietary/Components/src/denhaag/sidenav.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: button error + add ref option
  components/Button/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: updated login page template with new atomic components
  .storybook/stories/templates/Login-page.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@be29d34f731aba732cf1b33a5abfd82a0e888285 🚀
  iframe.html
  main.890c2e67.iframe.bundle.js
  main.b0c9c1ec.iframe.bundle.js
  main.b0c9c1ec.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@5343ff5a438adcc53b6bb3e8fd2c5f1b861190c7 🚀
  iframe.html
  main.28bc3b8e.iframe.bundle.js
  main.28bc3b8e.iframe.bundle.js.LICENSE.txt
  main.b0c9c1ec.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added sheet component
  components/Sheet/README.md
  components/Sheet/package.json
  components/Sheet/src/Sheet.tsx
  components/Sheet/src/SheetCloseButton.tsx
  components/Sheet/src/SheetContainer.tsx
  components/Sheet/src/SheetDialog.tsx
  components/Sheet/src/SheetOverlay.tsx
  components/Sheet/src/index.scss
  components/Sheet/src/index.tsx
  components/Sheet/src/stories/bem.stories.mdx
  components/Sheet/src/stories/react.stories.tsx
  components/Sheet/src/use-escapekey.tsx
  components/Sheet/src/use-screensize.tsx
  components/Sheet/tsconfig.json
  proprietary/Components/src/denhaag/sheet.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: removed empty bem story
  components/Sheet/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@21c7bed1dbd348d2a5ae6c72d6c57d006fe54d9d 🚀
  iframe.html
  main.28bc3b8e.iframe.bundle.js
  main.c5c7e8bc.iframe.bundle.js
  main.c5c7e8bc.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(alert and conditions): style corrections
  components/Alert/src/index.scss
  components/Conditions/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/alert.tokens.json
  proprietary/Components/src/denhaag/conditions.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(hero theme image): add corrections, tokens, css
  components/Hero/src/index.scss
  proprietary/Components/src/denhaag/hero.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

build(conditions): token reference correction
  proprietary/Components/src/denhaag/conditions.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(hero theme image): css refactor
  components/Hero/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@ff02d0dd3538ad2b337ad44826f8194c22acf0ea 🚀
  iframe.html
  main.81292e46.iframe.bundle.js
  main.81292e46.iframe.bundle.js.LICENSE.txt
  main.c06513d5.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: language switcher + sidenav changes
  components/LanguageSwitcher/README.md
  components/LanguageSwitcher/package.json
  components/LanguageSwitcher/src/LanguageSwitcher.tsx
  components/LanguageSwitcher/src/LanguageSwitcherList.tsx
  components/LanguageSwitcher/src/LanguageSwitcherListItem.tsx
  components/LanguageSwitcher/src/LanguageSwitcherTitle.tsx
  components/LanguageSwitcher/src/index.scss
  components/LanguageSwitcher/src/index.tsx
  components/LanguageSwitcher/src/stories/react.stories.mdx
  components/LanguageSwitcher/tsconfig.json
  components/Sidenav/src/index.scss
  proprietary/Components/src/denhaag/language-switcher.tokens.json
  proprietary/Components/src/denhaag/sidenav.tokens.json
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Deploying to gh-pages from @ nl-design-system/denhaag@8fa8ff7670184adcba497b07be87745bd1f575da 🚀
  iframe.html
  main.32d51c56.iframe.bundle.js
  main.32d51c56.iframe.bundle.js.LICENSE.txt
  main.81292e46.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@719a4bee63ac9b48c9f3efee8ccb06adc3609db4 🚀
  iframe.html
  main.32d51c56.iframe.bundle.js
  main.fe3a9b94.iframe.bundle.js
  main.fe3a9b94.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added mobile menu, improved menu component
  components/Menu/package.json
  components/Menu/src/MenuButton.tsx
  components/Menu/src/index.scss
  components/Menu/src/index.tsx
  components/Menu/src/menu-button.scss
  components/Menu/src/mobile/MobileMenu.tsx
  components/Menu/src/mobile/MobileMenuButton.tsx
  components/Menu/src/mobile/MobileMenuLink.tsx
  components/Menu/src/mobile/MobileMenuList.tsx
  components/Menu/src/mobile/MobileMenuListItem.tsx
  components/Menu/src/mobile/MobileSubMenu.tsx
  components/Menu/src/mobile/use-togglestate.tsx
  proprietary/Components/src/denhaag/menu.tokens.json
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: use the title prop from ButtonHTMLAttributes for the menu button
  components/Menu/src/MenuButton.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern
