Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

fix: single button group should also be full width on mobile
  components/ButtonGroup/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: added button group wrapper around CardAuthentication buttons
  components/CardAuthentication/src/story-template.tsx
  components/CardGroup/src/story-template.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: change path to images in story templates
  components/CardAuthentication/src/story-template.tsx
  components/CardGroup/src/story-template.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: implement design changes to the CardAuthentication component + fixed spacing within card
  components/CardAuthentication/src/_mixin.scss
  proprietary/Components/src/denhaag/card-authentication.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: remove margin around body in keycloak package
  packages/keycloak/src/_keycloak.scss
  packages/keycloak/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat: try to add chromatic viewport to login template
  .storybook/stories/templates/Login-page.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove padding bottom from button group if its the last item in the CardAuthentication
  components/CardAuthentication/src/_mixin.scss
Due: prettier --check, stylelint --allow-empty-input

fix: added design token instead of hardcoded margin
  components/CardAuthentication/src/_mixin.scss
  proprietary/Components/src/denhaag/card-authentication.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: removed unused button-group--single and button-group--multiple classes
  components/Button/src/stories/bem.stories.mdx
  components/ButtonGroup/src/stories/bem.stories.mdx
  components/CardAuthentication/src/story-template.tsx
  components/CardGroup/src/story-template.tsx
  components/Table/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added visual testing to complete template file, added extra resolutions
  .storybook/stories/templates/Login-page.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(margins): wip
  components/Accordion/src/stories/bem.stories.mdx
  components/Button/src/index.scss
  components/Button/src/stories/bem.stories.mdx
  components/Typography/src/paragraph.scss
  components/Typography/src/stories/paragraph.bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(margins): wip, paragraphs
  components/Typography/src/paragraph.scss
  components/Typography/src/stories/paragraph.bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: add of-anchor-button-fg
  proprietary/Components/src/openforms/button.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@ab3331c3d888cb4eafae3536e7317539eda29c9a 🚀
  iframe.html
  main.08650308.iframe.bundle.js
  main.08650308.iframe.bundle.js.LICENSE.txt
  main.0e5b9e8e.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@3205fc37d1dc469d22657d59d7def4a9cde5b152 🚀
  iframe.html
  main.08650308.iframe.bundle.js
  main.cdd959c1.iframe.bundle.js
  main.cdd959c1.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(button): cleanup and add motion
  components/Button/src/index.scss
  components/Button/src/stories/bem.stories.mdx
  proprietary/Common/src/denhaag/motion.tokens.json
  proprietary/Components/src/denhaag/button.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(button): rename global motion to component specific
  components/Button/src/index.scss
  proprietary/Common/src/denhaag/motion.tokens.json
  proprietary/Components/src/denhaag/button.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Feature/gdh 912 (#1141)
  components/Button/src/index.scss
  components/Button/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/button.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(accordion): add animations
  components/Accordion/src/AccordionToggle.js
  components/Accordion/src/index.scss
  components/Accordion/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(accordion): cleanup
  components/Accordion/src/AccordionToggle.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat(anchor-collapse): start applying the same as accordions
  components/AnchorCollapse/src/index.scss
  components/AnchorCollapse/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/anchor-collapse.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat(anchor-collapse): finish animations
  components/AnchorCollapse/src/anchorCollapses.js
  components/AnchorCollapse/src/index.scss
  proprietary/Components/src/denhaag/anchor-collapse.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(external-link): fix for external links
  components/Link/src/index.scss
  components/Link/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Feature/gdh 916 (#1142)
  components/Accordion/src/AccordionToggle.js
  components/Accordion/src/index.scss
  components/Accordion/src/stories/bem.stories.mdx
  components/AnchorCollapse/src/anchorCollapses.js
  components/AnchorCollapse/src/index.scss
  components/AnchorCollapse/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/accordion.tokens.json
  proprietary/Components/src/denhaag/anchor-collapse.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(breadcrumb): set media-query and reorden alpha~
  components/Breadcrumb/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

style(breadcrumb): set media-query and reorden alpha~ (#1145)
  components/Breadcrumb/src/index.scss
Due: prettier --check, stylelint --allow-empty-input
