Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: update with pnpm
  README.md
  components/File/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: react file component
  components/File/src/File.tsx
  components/File/src/index.scss
  components/File/src/index.tsx
  components/File/src/stories/bem.stories.mdx
  components/File/src/stories/react.stories.mdx
  components/Icons/src/index.tsx
  components/Icons/src/svg/objects/file.svg
  components/Icons/src/svg/objects/image.svg
  proprietary/Components/src/denhaag/file.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

WIP: tab refactor
  components/Tab/src/Tab.tsx
  components/Tab/src/TabContext.tsx
  components/Tab/src/TabIndicator.tsx
  components/Tab/src/TabList.tsx
  components/Tab/src/TabPanel.tsx
  components/Tab/src/TabScrollButton.tsx
  components/Tab/src/TabText.tsx
  components/Tab/src/Tabs.tsx
  components/Tab/src/TabsContainer.tsx
  components/Tab/src/index.tsx
  components/Tab/src/react.stories.tsx
  components/Tab/src/styles/_tab.scss
  components/Tab/src/styles/_tabs.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

WIP: Tab refactor
  components/Tab/src/Tab.tsx
  components/Tab/src/TabIndicator.tsx
  components/Tab/src/TabPanel.tsx
  components/Tab/src/TabText.tsx
  components/Tab/src/Tabs.tsx
  components/Tab/src/index.tsx
  components/Tab/src/react.stories.tsx
  components/Tab/src/styles/_tab-panel.scss
  components/Tab/src/styles/_tab.scss
  components/Tab/src/styles/_tabs.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

WIP Tab refactor
  components/Tab/src/Tab.tsx
  components/Tab/src/TabList.tsx
  components/Tab/src/TabPanel.tsx
  components/Tab/src/TabsContainer.tsx
  components/Tab/src/index.tsx
  components/Tab/src/react.stories.tsx
  components/Tab/src/styles/_tab-panel.scss
  components/Tab/src/styles/_tab.scss
  components/Tab/src/styles/_tabs.scss
  proprietary/Components/src/denhaag/tabs.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

WIP Tab refactor
  components/Tab/src/Tab.tsx
  components/Tab/src/TabList.tsx
  components/Tab/src/TabPanel.tsx
  components/Tab/src/TabText.tsx
  components/Tab/src/TabsContainer.tsx
  components/Tab/src/index.tsx
  components/Tab/src/react.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: refactored tab component, removed mui and alligned to newest design
  components/Tab/package.json
  components/Tab/src/Tab.tsx
  components/Tab/src/TabList.tsx
  components/Tab/src/TabPanel.tsx
  components/Tab/src/index.tsx
  components/Tab/src/react.stories.tsx
  components/Tab/src/styles/_tab.scss
  components/Tab/src/styles/_tabs.scss
  proprietary/Components/src/denhaag/tabs.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: cleanup tab react stories: disabled will be added later
  components/Tab/src/react.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: fixed issue with tab size on focus
  components/Tab/src/styles/_tab.scss
Due: prettier --check, stylelint --allow-empty-input

fix: resolve wrongly merged conflicts
  components/Tab/src/TabList.tsx
  components/Tab/src/Tabs.tsx
  components/Tab/src/styles/_mui-override.scss
  pnpm-lock.yaml
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: add link to case detail page
  .storybook/stories/templates/CaseDetail-page.css
  .storybook/stories/templates/CaseDetail-page.scss
  .storybook/stories/templates/CaseDetail-page.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: css lint
  components/File/src/stories/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: rename to `index.scss` so rollup builds Tab CSS
  components/Tab/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: build
  packages/components-css/package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

1305 react + css file component (#1309)
  .storybook/stories/templates/CaseDetail-page.css
  .storybook/stories/templates/CaseDetail-page.scss
  .storybook/stories/templates/CaseDetail-page.stories.mdx
  README.md
  components/File/README.md
  components/File/package.json
  components/File/src/File.tsx
  components/File/src/index.scss
  components/File/src/index.tsx
  components/File/src/stories/bem.stories.mdx
  components/File/src/stories/react.stories.mdx
  components/File/tsconfig.json
  components/Icons/src/index.tsx
  components/Icons/src/svg/objects/file.svg
  components/Icons/src/svg/objects/image.svg
  components/Note/src/stories/bem.stories.mdx
  packages/components-css/package.json
  packages/components-css/src/index.scss
  packages/components-react/src/index.tsx
  pnpm-lock.yaml
  proprietary/Components/src/denhaag/file.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
