Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor(card-news): refactor due to accessibility feedback
  components/CardNews/src/index.scss
  components/CardNews/src/stories/bem.stories.mdx
  components/CardNews/src/storybook.scss
  proprietary/Components/src/denhaag/card-news.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style: add style correction link padding ul
  components/UnorderedList/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@acdb31d17cf719f004ac444f3d37cf06ab61035e 🚀
  iframe.html
  main.6262d046.iframe.bundle.js
  main.6262d046.iframe.bundle.js.map
  main.e752294f.iframe.bundle.js
  main.e752294f.iframe.bundle.js.LICENSE.txt
  main.e752294f.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(breadcrumb): add styling correction enable text wrap
  components/Breadcrumb/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/denhaag@ae68546a657aef6706cccb8ea3084398c101f74d 🚀
  iframe.html
  main.c8dc0ac8.iframe.bundle.js
  main.c8dc0ac8.iframe.bundle.js.LICENSE.txt
  main.c8dc0ac8.iframe.bundle.js.map
  main.e752294f.iframe.bundle.js
  main.e752294f.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@d92b02356b24f3d0261b1c42ef8c8a42f368e25f 🚀
  iframe.html
  main.c8dc0ac8.iframe.bundle.js
  main.c8dc0ac8.iframe.bundle.js.map
  main.db6409cf.iframe.bundle.js
  main.db6409cf.iframe.bundle.js.LICENSE.txt
  main.db6409cf.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(accordion): refactor for screen readers accessibility
  components/Accordion/src/AccordionToggle.js
  components/Accordion/src/index.scss
  components/Accordion/src/stories/bem.stories.mdx
  components/Accordion/src/story.js
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

refactor(accordion): remove console.log
  components/Accordion/src/AccordionToggle.js
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor(card-news): refactor due to accessibility feedback (#949)
  components/CardNews/src/index.scss
  components/CardNews/src/stories/bem.stories.mdx
  components/CardNews/src/storybook.scss
  proprietary/Components/src/denhaag/card-news.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@412c63db14b0cd391ac24be8bb38b7680b8be4f6 🚀
  iframe.html
  main.06dcd95f.iframe.bundle.js
  main.06dcd95f.iframe.bundle.js.LICENSE.txt
  main.06dcd95f.iframe.bundle.js.map
  main.db6409cf.iframe.bundle.js
  main.db6409cf.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@d61a2bf5807bd3bb10ea0f5ff97712b5bc9696ac 🚀
  iframe.html
  main.06dcd95f.iframe.bundle.js
  main.06dcd95f.iframe.bundle.js.map
  main.5b391beb.iframe.bundle.js
  main.5b391beb.iframe.bundle.js.LICENSE.txt
  main.5b391beb.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(list): add className prop support
  components/List/src/List.tsx
  components/List/src/ListItem.tsx
  components/List/src/ListItemIcon.tsx
  components/List/src/ListItemSecondaryAction.tsx
  components/List/src/ListItemText.tsx
  components/List/src/ListSubheader.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add posttypelabel react component
  components/PosttypeLabel/package.json
  components/PosttypeLabel/src/index.tsx
  components/PosttypeLabel/src/stories/react.stories.mdx
  packages/components-react/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor(accordion): additional accessibility attributes, some styling
  components/Accordion/src/index.scss
  components/Accordion/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/accordion.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@2a0e63b2b8c37811b8a089fa1855e7230ead6bef 🚀
  iframe.html
  main.5b391beb.iframe.bundle.js
  main.5b391beb.iframe.bundle.js.map
  main.8e1b55a3.iframe.bundle.js
  main.8e1b55a3.iframe.bundle.js.LICENSE.txt
  main.8e1b55a3.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(posttypelabel): add props.className support
  components/PosttypeLabel/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@7d1de38106728dcc91698ada115c076fe92834af 🚀
  iframe.html
  main.8e1b55a3.iframe.bundle.js
  main.8e1b55a3.iframe.bundle.js.map
  main.a6fdd573.iframe.bundle.js
  main.a6fdd573.iframe.bundle.js.LICENSE.txt
  main.a6fdd573.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@e0b15789de45c4c20cc69d10c36d1cc883d7ea7c 🚀
  iframe.html
  main.a6fdd573.iframe.bundle.js
  main.a6fdd573.iframe.bundle.js.map
  main.e5a889dc.iframe.bundle.js
  main.e5a889dc.iframe.bundle.js.LICENSE.txt
  main.e5a889dc.iframe.bundle.js.map
Due: prettier --check, eslint --no-error-on-unmatched-pattern

style(card-news): fix focus styles after refactor
  components/CardNews/src/index.scss
  components/CardNews/src/index.tsx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix(card-news): re-add empty index.tsx
  components/CardNews/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(anchor-collapse): refactor HTML to button with aria- attributes instead of details
  components/AnchorCollapse/src/stories/bem.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix(anhcor-collapse): new JS and modify styles
  components/AnchorCollapse/src/anchorCollapses.js
  components/AnchorCollapse/src/index.scss
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

style(anchor-collapse): add alignment token
  proprietary/Components/src/denhaag/anchor-collapse.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Path conditions:
  prettier --check: (((any of: *.md) or (any of: *.{yaml,yml})) or (any of: *.{css,scss})) or (any of: *.{js,jsx,json,mdx,ts,tsx})
  stylelint --allow-empty-input: any of: *.{css,scss}
  eslint --no-error-on-unmatched-pattern: any of: *.{js,jsx,json,mdx,ts,tsx}
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
