Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, stylelint

Fix improper imports in surfaces Storybook.
  src/stories/surfaces/Accordion.stories.tsx
  src/stories/surfaces/AppBar.stories.tsx
  src/stories/surfaces/Card.stories.tsx
  src/stories/surfaces/Paper.stories.tsx
Due: eslint

Show code showing actual code in layout Storybook.
  src/stories/layout/Box.stories.tsx
  src/stories/layout/Container.stories.tsx
  src/stories/layout/Grid.stories.tsx
  src/stories/layout/GridList.stories.tsx
  src/stories/layout/GridListTile.stories.tsx
  src/stories/layout/GridListTileBar.stories.tsx
  src/stories/layout/Hidden.stories.tsx
Due: eslint

Show code showing actual code in navigation Storybook.
  src/stories/navigation/Drawer.stories.tsx
  src/stories/navigation/Link.stories.tsx
  src/stories/navigation/Menu.stories.tsx
  src/stories/navigation/MenuItem.stories.tsx
  src/stories/navigation/MenuList.stories.tsx
  src/stories/navigation/Stepper.stories.tsx
  src/stories/navigation/SwipeableDrawer.stories.tsx
  src/stories/navigation/Tab.stories.tsx
  src/stories/navigation/Tabs.stories.tsx
Due: eslint

Show code showing actual code in surfaces Storybook.
  src/stories/surfaces/Accordion.stories.tsx
  src/stories/surfaces/AppBar.stories.tsx
  src/stories/surfaces/Card.stories.tsx
  src/stories/surfaces/Paper.stories.tsx
Due: eslint

Show code showing actual code in data display Storybook.
  src/stories/datadisplay/Avatar.stories.tsx
  src/stories/datadisplay/AvatarGroup.stories.tsx
  src/stories/datadisplay/Badge.stories.tsx
  src/stories/datadisplay/Divider.stories.tsx
  src/stories/datadisplay/List.stories.tsx
  src/stories/datadisplay/Typography.stories.tsx
Due: eslint

Show code showing actual code in input Storybook.
  src/stories/input/Button.stories.tsx
  src/stories/input/ButtonGroup.stories.tsx
  src/stories/input/Checkbox.stories.tsx
  src/stories/input/DatePicker.stories.tsx
  src/stories/input/FormControlLabel.stories.tsx
  src/stories/input/FormGroup.stories.tsx
  src/stories/input/IconButton.stories.tsx
  src/stories/input/KeyBoardDatePicker.stories.tsx
  src/stories/input/Radio.stories.tsx
  src/stories/input/RadioGroup.stories.tsx
  src/stories/input/Select.stories.tsx
  src/stories/input/Switch.stories.tsx
  src/stories/input/TextField.stories.tsx
Due: eslint

Magical sudden build fail fixed.
  src/components/StepLabel/StepLabel.tsx
Due: eslint

Another magical sudden build fail fixed, maybe hopefully
  src/stories/surfaces/AppBar.stories.tsx
Due: eslint

Fix consistent imports in story files
  src/stories/datadisplay/Avatar.stories.tsx
  src/stories/datadisplay/AvatarGroup.stories.tsx
  src/stories/datadisplay/Badge.stories.tsx
  src/stories/datadisplay/Divider.stories.tsx
  src/stories/datadisplay/Typography.stories.tsx
  src/stories/input/Button.stories.tsx
  src/stories/input/ButtonGroup.stories.tsx
  src/stories/input/DatePicker.stories.tsx
  src/stories/input/FormControlLabel.stories.tsx
  src/stories/input/FormGroup.stories.tsx
  src/stories/input/IconButton.stories.tsx
  src/stories/input/KeyBoardDatePicker.stories.tsx
  src/stories/input/Radio.stories.tsx
  src/stories/input/RadioGroup.stories.tsx
  src/stories/input/Switch.stories.tsx
  src/stories/layout/Container.stories.tsx
  src/stories/layout/Grid.stories.tsx
  src/stories/layout/GridList.stories.tsx
  src/stories/layout/GridListTile.stories.tsx
  src/stories/layout/GridListTileBar.stories.tsx
  src/stories/navigation/Drawer.stories.tsx
  src/stories/navigation/Link.stories.tsx
  src/stories/navigation/Menu.stories.tsx
  src/stories/navigation/MenuItem.stories.tsx
  src/stories/navigation/MenuList.stories.tsx
  src/stories/navigation/Stepper.stories.tsx
  src/stories/navigation/SwipeableDrawer.stories.tsx
  src/stories/navigation/Tab.stories.tsx
  src/stories/navigation/Tabs.stories.tsx
  src/stories/surfaces/Accordion.stories.tsx
  src/stories/surfaces/AppBar.stories.tsx
  src/stories/surfaces/Card.stories.tsx
  src/stories/surfaces/Paper.stories.tsx
Due: eslint

Import fixes in Link and steplabel
  src/components/Link/Link.tsx
  src/components/StepLabel/StepLabel.tsx
Due: eslint

fix import
  src/components/StepLabel/StepLabel.tsx
Due: eslint

add dependency to steplabel
  src/components/StepLabel/package.json
Due: npmPkgJsonLint

updated package.json jsx flag
  src/components/Button/package.json
Due: npmPkgJsonLint

Experimental commit, providing different types of code docs per component to properly display its implementation.
  src/stories/datadisplay/Avatar.stories.tsx
  src/stories/datadisplay/AvatarGroup.stories.tsx
  src/stories/datadisplay/Badge.stories.tsx
  src/stories/datadisplay/Divider.stories.tsx
  src/stories/datadisplay/List.stories.tsx
  src/stories/datadisplay/Typography.stories.tsx
Due: eslint

Add DH Design System variants to button props
  .husky/post-merge
  .husky/pre-commit
  src/components/Button/Button.tsx
  src/stories/input/Button.stories.tsx
Due: eslint

add production key to microbundle
  src/components/Button/package.json
Due: npmPkgJsonLint

Redefined code examples of components based on best possible overview
  src/stories/datadisplay/Badge.stories.tsx
  src/stories/input/Button.stories.tsx
  src/stories/input/ButtonGroup.stories.tsx
  src/stories/input/Checkbox.stories.tsx
  src/stories/input/DatePicker.stories.tsx
  src/stories/input/FormControlLabel.stories.tsx
  src/stories/input/FormGroup.stories.tsx
  src/stories/input/IconButton.stories.tsx
  src/stories/input/KeyBoardDatePicker.stories.tsx
  src/stories/input/Radio.stories.tsx
  src/stories/input/RadioGroup.stories.tsx
  src/stories/input/Select.stories.tsx
  src/stories/input/Switch.stories.tsx
  src/stories/input/TextField.stories.tsx
Due: eslint

Add bem-mapping
  src/components/Button/Button.tsx
  src/components/Button/bem-mapping.ts
Due: eslint

Add bem-mapping
  .stylelintrc.json
  src/components/Button/Button.tsx
  src/components/Button/bem-mapping.ts
  src/components/Button/button.module.css
  src/components/Button/mui-override.module.css
  src/styles.module.css
Due: eslint, stylelint

Add base styles package
  src/components/BaseStyles/globals.module.css
  src/components/BaseStyles/package.json
Due: npmPkgJsonLint, stylelint

Add css as default export
  src/components/BaseStyles/index.ts
  src/components/BaseStyles/package.json
Due: npmPkgJsonLint, eslint

Change tsx in basestyles/package.json to ts
  src/components/BaseStyles/package.json
Due: npmPkgJsonLint

Experimental commit: Show possibility of providing custom code documentation for each component variant in Storybook
  src/stories/input/DatePicker.stories.tsx
Due: eslint

Added initial version of card and cardheader styling
  src/components/Card/bem-mapping.jsx
  src/components/Card/card.module.css
  src/components/Card/mui-override.module.css
  src/components/CardHeader/bem-mapping.jsx
  src/components/CardHeader/cardHeader.module.css
  src/components/CardHeader/mui-override.module.css
Due: stylelint

Changed colour hex values to hsl (Hue Saturation Luminesence)
  .stylelintrc.json
  src/components/BaseStyles/globals.module.css
Due: stylelint

Experimental commit: custom code docs per component.
  .storybook/preview.js
  src/stories/datadisplay/Avatar.stories.tsx
  src/stories/datadisplay/AvatarGroup.stories.tsx
  src/stories/datadisplay/Badge.stories.tsx
  src/stories/datadisplay/Divider.stories.tsx
  src/stories/datadisplay/List.stories.tsx
  src/stories/input/DatePicker.stories.tsx
Due: eslint

Fix incorrect HSL value for --denhaag-green-1
  src/components/BaseStyles/globals.module.css
Due: stylelint

Fix css pattern to use denhaag instead of mdh
  .stylelintrc.json
Due: none

Add BaseStyles dependency to button and remove styles.module.css
  src/components/Button/Button.tsx
  src/components/Button/package.json
  src/styles.module.css
Due: npmPkgJsonLint, eslint, stylelint

Applied styling to Card and changed card's hex values to hsl
  src/components/Card/Card.tsx
  src/components/Card/bem-mapping.jsx
  src/components/Card/card.module.css
  src/components/Card/mui-override.module.css
Due: eslint, stylelint

Fix colors for primary and secondary hover and focus states. Add focus dashed outlined for accessibility
  src/components/Button/Button.tsx
  src/components/Button/bem-mapping.ts
  src/components/Button/button.module.css
  src/components/Button/mui-override.module.css
Due: eslint, stylelint

Fix stylelint bug
  .stylelintrc.json
Due: none

switching cardstyle based on the variant.
  src/components/Card/Card.module.css
  src/components/Card/Card.tsx
  src/components/Card/bem-mapping.jsx
  src/components/Card/card.module.css
  src/components/Card/package.json
  src/stories/surfaces/Card.stories.tsx
Due: npmPkgJsonLint, eslint, stylelint

Styled small and medium variants
  src/components/Button/Button.tsx
  src/components/Button/bem-mapping.ts
  src/components/Button/button.module.css
  src/components/Button/mui-override.module.css
Due: eslint, stylelint

picker potential fix
  src/components/Pickers/index.tsx
  src/components/Pickers/src/BaseDatePickerProps/BaseDatePickerProps.tsx
  src/components/Pickers/src/DatePicker/DatePicker.tsx
  src/components/Pickers/src/KeyboardDatePicker/KeyboardDatePicker.tsx
  src/components/Pickers/src/index.tsx
Due: eslint

pickers index cleanup
  src/components/Pickers/src/index.tsx
Due: eslint

pickerutilsprovider fix
  src/components/PickersUtilsProvider/src/index.tsx
Due: eslint

Path conditions:
  npmPkgJsonLint: any of: package.json
  eslint: any of: *.{ts,tsx}
  stylelint: any of: *.css
