Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

feat: add index.scss to all index.tsx
  components/AnchorCollapse/src/index.tsx
  components/AnchorNavigation/src/index.tsx
  components/ArticleMeta/src/index.tsx
  components/Blockquote/src/index.tsx
  components/ButtonGroup/src/index.tsx
  components/CardAuthentication/src/index.tsx
  components/CardNews/src/index.tsx
  components/ContactTimeline/src/index.tsx
  components/CtaDownload/src/index.tsx
  components/DescriptionList/src/index.tsx
  components/DynamicContent/src/index.tsx
  components/EventDate/src/index.tsx
  components/FloatingContact/src/index.tsx
  components/Hero/src/index.tsx
  components/HighlightedLinks/src/index.tsx
  components/Image/src/index.tsx
  components/List/src/index.tsx
  components/Menu/src/index.tsx
  components/Note/src/index.tsx
  components/OrderedList/src/index.tsx
  components/ProcessSteps/src/index.tsx
  components/Tab/src/index.tsx
  components/Table/src/index.tsx
  components/Typography/src/index.tsx
  components/UnorderedList/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: moved story-templates to storybook package, convert stories to tsx and fix typecheck issues
  packages/storybook/package.json
  packages/storybook/src/css/CardAuthentication.stories.mdx
  packages/storybook/src/css/CardAuthentication.stories.tsx
  packages/storybook/src/css/CardGroup.stories.mdx
  packages/storybook/src/css/CardGroup.stories.tsx
  packages/storybook/src/css/CardGroupUtils.tsx
  packages/storybook/src/templates/01-Login-page.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: step marker import
  packages/storybook/src/react/StepMarker.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: imports in react stories
  packages/storybook/src/react/Alert.stories.mdx
  packages/storybook/src/react/Button.stories.mdx
  packages/storybook/src/react/Checkbox.stories.mdx
  packages/storybook/src/react/IconButton.stories.mdx
  packages/storybook/src/react/Radio.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: issue with text outside the card border
  components/Card/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: footer styling with list, link, link-group
  components/Footer/package.json
  components/Footer/src/index.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: ctadownload styling
  components/CtaDownload/package.json
  components/CtaDownload/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: cta image content styling
  components/CtaImageContent/package.json
  components/CtaImageContent/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: card authentication styling
  components/CardAuthentication/package.json
  components/CardAuthentication/src/index.tsx
  packages/storybook/src/css/CardAuthentication.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

build: add SCSS and custom CSS to denhaag-theme
  proprietary/Components/package.json
  proprietary/Components/rollup.config.mjs
  proprietary/Components/src/theme/index.scss
  proprietary/Components/transcript.txt
  style-dictionary.config.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

ci: explicitly configure stylelint config
  package.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

refactor: remove interfering CSS
  components/Typography/src/heading.scss
  components/Typography/src/paragraph.scss
  proprietary/Components/src/custom.scss
  proprietary/Components/src/utrecht/heading-1.tokens.json
  proprietary/Components/src/utrecht/heading-2.tokens.json
  proprietary/Components/src/utrecht/heading-3.tokens.json
  proprietary/Components/src/utrecht/heading-4.tokens.json
  proprietary/Components/src/utrecht/heading-5.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

fix: set chromatic viewport
  packages/storybook/config/preview.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: show correct button group styling in button css story
  packages/storybook/src/css/Button.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: dynamic content styling
  components/DynamicContent/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: update pnpm-lock
  pnpm-lock.yaml
Due: prettier --check

feat: new pageheader tokens added
  proprietary/Components/src/utrecht/pageheader.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: breadcrumbs tokens updated
  proprietary/Components/src/utrecht/breadcrumb.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: anchor navigation styling
  components/AnchorNavigation/package.json
  components/AnchorNavigation/src/index.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: action storybook styling
  packages/storybook/src/css/Action.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: button html syntax in storybook
  packages/storybook/src/css/Button.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: checkbox storybook styling
  packages/storybook/src/css/Checkbox.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: modal storybook styling
  packages/storybook/src/css/Modal.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: radio storybook styling
  packages/storybook/src/css/Radio.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: table storybook styling
  packages/storybook/src/css/Table.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: card styling issue
  components/Card/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: sidenav storybook styling
  packages/storybook/src/css/Sidenav.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: footer storybook styling
  components/Footer/package.json
  components/Footer/src/index.tsx
  packages/storybook/src/css/Footer.stories.mdx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: storybook styling for multiple components
  packages/storybook/src/css/ButtonGroup.stories.mdx
  packages/storybook/src/css/Hero.stories.mdx
  packages/storybook/src/css/HighlightedLinks.stories.mdx
  packages/storybook/src/css/LinkGroup.stories.mdx
  packages/storybook/src/css/Note.stories.mdx
  packages/storybook/src/css/PageButtons.stories.mdx
  packages/storybook/src/css/Sidenav.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: buttongroup storybook styling
  packages/storybook/src/css/ButtonGroup.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: action to tsx
  packages/storybook/package.json
  packages/storybook/src/react/Action.stories.mdx
  packages/storybook/src/react/Action.stories.tsx
  packages/storybook/src/react/ActionMultiple.stories.tsx
  pnpm-lock.yaml
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: convert Alert into tsx
  packages/storybook/config/main.ts
  packages/storybook/src/react/Alert.stories.mdx
  packages/storybook/src/react/Alert.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: badgecounter tsx
  packages/storybook/src/react/BadgeCounter.stories.mdx
  packages/storybook/src/react/BadgeCounter.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: removed types
  packages/storybook/src/react/Action.stories.tsx
  packages/storybook/src/react/ActionMultiple.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: button tsx
  packages/storybook/src/react/Button.stories.mdx
  packages/storybook/src/react/Button.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: card tsx
  components/Card/README.md
  packages/storybook/src/react/BadgeCounter.stories.tsx
  packages/storybook/src/react/Button.stories.tsx
  packages/storybook/src/react/Card.stories.tsx
  packages/storybook/src/react/CaseCard.stories.tsx
  packages/storybook/src/react/SubjectCard.stories.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern
