Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, eslint, prettier -c, stylelint

test: split link components
  components/Link/src/Link.stories.mdx
  components/Link/src/css.stories.mdx
Due: none

test: rename labels
  components/Link/src/css.stories.mdx
  components/Link/src/link.css
Due: stylelint

build: configure nvm to automatically use correct Node.js and npm version
  .nvmrc
Due: none

ci: remove deprecated stylelint rule
  .stylelintrc.json
Due: none

build: update to latest minor versions
  components/Pickers/package.json
  package-lock.json
  package.json
Due: npmPkgJsonLint

build: upgrade to Material UI 4.12.3
  components/Accordion/package.json
  components/Avatar/package.json
  components/Button/package.json
  components/Card/package.json
  components/Divider/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/List/package.json
  components/Pickers/package.json
  components/PickersUtilsProvider/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  package-lock.json
  package.json
Due: npmPkgJsonLint

ci: upgrade ESLint and plugins
  package-lock.json
  package.json
Due: npmPkgJsonLint

chore: fix lint errors detected by new ESLint
  .storybook/stories/Introduction.stories.mdx
Due: none

build: update to latest patch versions
  package-lock.json
  package.json
Due: npmPkgJsonLint

build: allow any React 17 minor version as peerDependency
  components/Accordion/package.json
  components/Alert/package.json
  components/Avatar/package.json
  components/BadgeCounter/package.json
  components/BaseDataDisplayProps/package.json
  components/BaseProps/package.json
  components/Button/package.json
  components/Card/package.json
  components/Checkbox/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/Link/package.json
  components/List/package.json
  components/Menu/package.json
  components/Pickers/package.json
  components/PickersUtilsProvider/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  components/Typography/package.json
  package-lock.json
  packages/denhaag-component-library/package.json
Due: npmPkgJsonLint

fix: align button api with link for icons
  components/Button/specs/Button.spec.jsx
  components/Button/src/index.tsx
  components/Button/src/stories/button.react.stories.mdx
Due: eslint, prettier -c

fix: button snapshots
  components/Alert/specs/__snapshots__/Alert.spec.jsx.snap
  components/Alert/src/index.tsx
  components/Button/specs/Button.spec.jsx
  components/Button/specs/__snapshots__/Button.spec.jsx.snap
  components/Button/src/button.css
  components/Button/src/index.tsx
  components/Card/specs/__snapshots__/Card.spec.jsx.snap
  components/DotIndicator/specs/__snapshots__/DotIndicator.spec.jsx.snap
  cypress/fixtures/example.json
Due: eslint, prettier -c, stylelint

fix: button--large icon size
  components/Button/src/button.css
Due: stylelint

docs: change button.react.stories.mdx title to react components
  components/Button/src/stories/button.react.stories.mdx
Due: none

ci: add updated snapshots for {alert,button,card,dot-indicator}
  components/Alert/specs/__snapshots__/Alert.spec.jsx.snap
  components/Button/specs/__snapshots__/Button.spec.jsx.snap
  components/Card/specs/__snapshots__/Card.spec.jsx.snap
  components/DotIndicator/specs/__snapshots__/DotIndicator.spec.jsx.snap
Due: none

ci: remove outdated {alert,button,card,dot-indicator} snapshots
  components/Alert/specs/__snapshots__/Alert.spec.jsx.snap
  components/Button/specs/__snapshots__/Button.spec.jsx.snap
  components/Card/specs/__snapshots__/Card.spec.jsx.snap
  components/DotIndicator/specs/__snapshots__/DotIndicator.spec.jsx.snap
Due: none

refactor: remove mui from button
  components/Button/src/bem-mapping.ts
  components/Button/src/button.css
  components/Button/src/index.tsx
  components/Button/src/mui-override.css
  components/Button/src/stories/Button.stories.mdx
Due: eslint, prettier -c, stylelint

fix: add denhaag-button__label element back to button component
  components/Button/src/index.tsx
Due: eslint, prettier -c

refactor: remove button--primary-action modifier and use as default
  components/Button/src/button.css
  components/Button/src/index.tsx
  components/Button/src/stories/button.bem.stories.mdx
  components/Button/src/stories/button.react.stories.mdx
Due: eslint, prettier -c, stylelint

docs: add bem stories for button
  components/Button/src/stories/button.bem.stories.mdx
Due: none

Deploying to gh-pages from @ nl-design-system/denhaag@1ebac81578e97fd5138dcc55c27ac96a38cefee9 🚀
  iframe.html
  main.010c4975.iframe.bundle.js
  main.010c4975.iframe.bundle.js.map
  main.dfb1173f.iframe.bundle.js
  main.dfb1173f.iframe.bundle.js.LICENSE.txt
  main.dfb1173f.iframe.bundle.js.map
  vendors~main.9e0064d6.iframe.bundle.js
  vendors~main.9e0064d6.iframe.bundle.js.LICENSE.txt
  vendors~main.9e0064d6.iframe.bundle.js.map
  vendors~main.d161d3c2.iframe.bundle.js
  vendors~main.d161d3c2.iframe.bundle.js.map
Due: none

ci: revert submodule branch name to master in cicd.yml
  .github/workflows/cicd.yml
Due: none

ci: revert to correct submodule branch name in cicd.yml
  .github/workflows/cicd.yml
Due: none

build: switch to fixed npm dependencies
  .npmrc
  components/Accordion/package.json
  components/Alert/package.json
  components/Avatar/package.json
  components/BadgeCounter/package.json
  components/BaseDataDisplayProps/package.json
  components/BaseProps/package.json
  components/Button/package.json
  components/Card/package.json
  components/Checkbox/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/Link/package.json
  components/List/package.json
  components/Menu/package.json
  components/Pickers/package.json
  components/PickersUtilsProvider/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  components/Typography/package.json
  package.json
  packages/denhaag-component-library/package.json
  proprietary/Common/package.json
  proprietary/Components/package.json
  yarn.lock
Due: npmPkgJsonLint

build: update to latest minor versions
  components/Accordion/package.json
  components/Avatar/package.json
  components/Button/package.json
  components/Card/package.json
  components/Divider/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/List/package.json
  components/Pickers/package.json
  components/PickersUtilsProvider/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  package.json
  yarn.lock
Due: npmPkgJsonLint

build: allow any React 17 minor version as peerDependency
  components/Accordion/package.json
  components/Alert/package.json
  components/Avatar/package.json
  components/BadgeCounter/package.json
  components/BaseDataDisplayProps/package.json
  components/BaseProps/package.json
  components/Button/package.json
  components/Card/package.json
  components/Checkbox/package.json
  components/Divider/package.json
  components/DotIndicator/package.json
  components/FormControl/package.json
  components/FormControlLabel/package.json
  components/FormGroup/package.json
  components/IconButton/package.json
  components/Icons/package.json
  components/InputLabel/package.json
  components/Link/package.json
  components/List/package.json
  components/Menu/package.json
  components/Pickers/package.json
  components/PickersUtilsProvider/package.json
  components/Radio/package.json
  components/Select/package.json
  components/StylesProvider/package.json
  components/Switch/package.json
  components/Tab/package.json
  components/TextField/package.json
  components/Timeline/package.json
  components/Typography/package.json
  packages/denhaag-component-library/package.json
Due: npmPkgJsonLint

build: install correct yarn version as devDependency so npx uses it
  package.json
  yarn.lock
Due: npmPkgJsonLint

Path conditions:
  npmPkgJsonLint: any of: package.json
  eslint: any of: *.{ts,tsx}
  prettier -c: any of: *.{ts,tsx}
  stylelint: any of: *.css
