Repository nl-design-system/denhaag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

.lintstagedrc.json:

{
  "*.md": ["prettier --check"],
  "*.{yaml,yml}": ["prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"],
  "*.{js,jsx,json,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "package.json": "npmPkgJsonLint --allowEmptyTargets"
}

Deploying to gh-pages from @ nl-design-system/denhaag@64666b7d73861bce49829279ce26dd57b5a68272 🚀
  iframe.html
  main.1722ab54.iframe.bundle.js
  main.1722ab54.iframe.bundle.js.LICENSE.txt
  main.4daefbac.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: remove default appearance
  components/ProcessSteps/src/Step.tsx
  components/ProcessSteps/src/StepHeading.tsx
  components/StepMarker/src/StepMarker.tsx
  components/StepMarker/src/StepMarkerConnector.tsx
  proprietary/Components/src/denhaag/step-marker.tokens.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: make current property optional
  components/ProcessSteps/src/Step.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

refactor: move status stories to separate directory
  components/ProcessSteps/src/stories/status/bem.stories.mdx
  components/ProcessSteps/src/stories/status/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: remove shorthand outline property and fix design token naming
  components/StepMarker/src/StepMarkerConnector.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: export types to solve rollup errors
  components/StepMarker/src/StepMarkerConnector.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: add procedure component
  components/ProcessSteps/src/Procedure.tsx
  components/ProcessSteps/src/index.tsx
  components/ProcessSteps/src/stories/procedure/bem.stories.mdx
  components/ProcessSteps/src/stories/procedure/react.stories.mdx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add style to StepMarker component
  components/StepMarker/src/index.tsx
  yarn.lock
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add step-marker css
  packages/components-css/src/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: add step-marker react component
  packages/components-react/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@4a3123e2fcffd3318239040d7ed70e7cd9f1c81d 🚀
  iframe.html
  main.1722ab54.iframe.bundle.js
  main.d2965231.iframe.bundle.js
  main.d2965231.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@329158ae47a4bfafb424741b2699f8c254ffd671 🚀
  iframe.html
  main.205a1352.iframe.bundle.js
  main.205a1352.iframe.bundle.js.LICENSE.txt
  main.d2965231.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: added more flexibility with option to use custom link in the breadcrumb component logic
  components/Breadcrumb/src/index.tsx
  components/Header/src/HeaderLogic.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

wip
  components/Breadcrumb/src/BreadcrumbLink.tsx
  components/Breadcrumb/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: add deprecated ProcessSteps export
  components/ProcessSteps/src/index.tsx
Due: prettier --check, eslint --no-error-on-unmatched-pattern

fix: storybook watch on scss changes
  components/Breadcrumb/tsconfig.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@42cd99d62d2cef189e9837058c86389d62bec106 🚀
  iframe.html
  main.205a1352.iframe.bundle.js
  main.45c78b5d.iframe.bundle.js
  main.45c78b5d.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@09bcc996ccadbe5c73975c23d204d72ee354e50c 🚀
  iframe.html
  main.45c78b5d.iframe.bundle.js
  main.712508e3.iframe.bundle.js
  main.712508e3.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: made it possible to show breadcrumbs without current page + fix issue with long breadcrumbs
  components/Breadcrumb/src/index.scss
  components/Breadcrumb/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

build: patch updates for npm packages
  components/Breadcrumb/package.json
  components/Footer/package.json
  components/Menu/package.json
  components/Sheet/package.json
  components/StepMarker/package.json
  package.json
  packages/components-react/package.json
  packages/keycloak/package.json
  packages/open-forms/package.json
  yarn.lock
Due: prettier --check, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

feat: gdh-1093 | basic setup for link grid component
  components/LinkGrid/README.md
  components/LinkGrid/package.json
  components/LinkGrid/src/index.scss
  components/LinkGrid/src/index.tsx
  components/LinkGrid/src/stories/bem.stories.mdx
  components/LinkGrid/tsconfig.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

build: minor updates for npm packages
  components/Datepicker/package.json
  components/Pagination/src/index.scss
  package.json
  yarn.lock
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern, npmPkgJsonLint --allowEmptyTargets

fix: moved header border above breadcrumbs, support current page breadcrumb in react component
  .storybook/stories/templates/Login-page.stories.mdx
  .storybook/stories/templates/Overview-page.stories.mdx
  components/Breadcrumb/src/index.scss
  components/Breadcrumb/src/index.tsx
  components/Header/src/HeaderContentContainer.tsx
  components/Header/src/HeaderLogic.tsx
  components/Header/src/index.scss
  components/Header/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: added more flexibility with option to use custom link in the br… (#1227)
  .storybook/stories/templates/Login-page.stories.mdx
  .storybook/stories/templates/Overview-page.stories.mdx
  components/Breadcrumb/src/BreadcrumbLink.tsx
  components/Breadcrumb/src/index.scss
  components/Breadcrumb/src/index.tsx
  components/Breadcrumb/src/stories/bem.stories.mdx
  components/Breadcrumb/tsconfig.json
  components/Header/src/HeaderContentContainer.tsx
  components/Header/src/HeaderLogic.tsx
  components/Header/src/index.scss
  components/Header/src/stories/bem.stories.mdx
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@482c9a2529a39aed64b133ec65c8a8d11269e374 🚀
  iframe.html
  main.36db99a7.iframe.bundle.js
  main.36db99a7.iframe.bundle.js.LICENSE.txt
  main.712508e3.iframe.bundle.js
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

Deploying to gh-pages from @ nl-design-system/denhaag@4b1fa67ef4c97082c2ddba0beb73c833ff82d45c 🚀
  iframe.html
  main.36db99a7.iframe.bundle.js
  main.f889c222.iframe.bundle.js
  main.f889c222.iframe.bundle.js.LICENSE.txt
  project.json
Due: prettier --check, eslint --no-error-on-unmatched-pattern

feat: gdh-1093 | link grid component variations
  components/LinkGrid/src/index.scss
  components/LinkGrid/src/stories/bem.stories.mdx
  components/LinkGrid/src/storybook.scss
  proprietary/Components/src/denhaag/link-grid.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1093 | Updated container layout
  components/LinkGrid/src/index.scss
  proprietary/Components/src/denhaag/link-grid.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1093 | link grid ready for review
  components/LinkGrid/src/index.scss
  components/LinkGrid/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/link-grid.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern

feat: gdh-1093 | link grid ready for review
  components/LinkGrid/src/storybook.scss
Due: prettier --check, stylelint --allow-empty-input

fix(procedure): additional link styling + refactor
  components/Procedure/src/index.scss
  components/Procedure/src/stories/bem.stories.mdx
  proprietary/Components/src/denhaag/procedure.tokens.json
Due: prettier --check, stylelint --allow-empty-input, eslint --no-error-on-unmatched-pattern
